[2018-10-19 18:48] #90 closed

[2018-10-19 18:55] gibsonjc commented on #159
In languages/en.ini:

change the entry for

Warning: These citations may not always be 100% accurate = "Warning: These citations may not always be 100% accurate"

to

Warning: These citations may not always be 100% accurate = "These citations may not conform precisely to your selected citation style. Please use this display as a guideline and modify as needed."

[2018-10-19 19:09] gibsonjc commented on #326
@cedelis Marking this as priority for now so you can think on this and let us know if you have any ideas for a similar kind of implementation.

Users in the local catalog can now repeat their search with no results in the I-Share catalog (#281).
And users in the I-Share catalog can use the Institution facet to get to a local catalog, but that might require a few clicks to drill down to their insti

[2018-10-19 19:10] gibsonjc commented on #383
@cedelis Marking this as priority for now so you can research the text message length and see if anything can be done on our end.  Thanks!

[2018-10-22 16:42] gibsonjc commented on #379
The options are now displaying as expected on MFHDs w/o call numbers, and no Call Number line is displaying.  Ready for Prod.

[2018-10-22 16:47] gibsonjc commented on #232
Looks good. Ready for Prod.

A good example that has multiple libraries with multiple holdings each is title "Harry Potter and the Chamber of Secrets" Book, First edition, 1999, (OCoLC)ocm40043650
https://i-share-test.carli.illinois.edu/all/vf-uiu/Record/327837132

[2018-10-22 19:23] cedelis commented on #379
In PROD

[2018-10-22 19:23] #379 closed, assigned to nobody

[2018-10-22 19:24] cedelis commented on #232
In PROD

[2018-10-22 19:24] #232 closed, assigned to nobody

[2018-10-22 21:49] cedelis commented on #337
In TEST.

[2018-10-22 22:31] dmcmpbll commented on #337
This looks good for both local and I-Share items.

I like how the status is now listed for all checked out items, with the 4 statuses that require patron action being set as "alert" statuses.

[2018-10-23 14:47] gibsonjc commented on #337
This is a great improvement to the item statuses of checked out items, nice work! Ready for Prod.

[2018-10-23 14:55] gibsonjc commented on #252
At our meeting on 10/18 we discussed the new format of reserves data that is needed for this new Course Reserves method, including when one or more of the fields is null.  Gordon changed the query that produces the data file accordingly. Sorting defaults look good!  Next we'll try to change the text on the page:

**Search For Items on Reserve**
to
**Course Reserves**

And

**Your search terms**
to

[2018-10-23 14:57] cedelis commented on #337
In PROD

[2018-10-23 14:57] #337 closed, assigned to nobody

[2018-10-23 15:25] cedelis commented on #252
@gibsonjc Label changes are now in TEST.

[2018-10-23 16:10] gibsonjc commented on #320
@cedelis New code from StackMap for DPU. Can you try this on vf-dpu TEST when you get a moment?  Thanks!

Code Snippet

[code]

[2018-10-23 16:30] cedelis commented on #320
@gibsonjc Looks better now. I wonder if it's because this time I decided to also include:

https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js

which is an older version of the library that vufind4 core uses. BTW, I am not sure how to replace the new with the old, so I didn't; I simply added it alongside the new version. Might want to test across different browsers.

Here's the lates

[2018-10-23 17:01] gibsonjc commented on #320
@cedelis The Map button appears correctly (it seems to me), but unfortunately I'm still seeing the display problems with our "Exclude" check boxes under Narrow Search on the Results page.  In Firefox they look like missing characters, in Chrome the check boxes aren't checked when you have applied them, etc. as documented above in my screenshots of July 25.  I wonder why DPU isn't working like UIC

[2018-10-23 18:57] cedelis commented on #320
@gibsonjc There's the difference between their implementations in that UIC's works with the more recent version of jquery (v2.1.1) wheras DPU's does not. I was able to get DPU's to almost work by including the older jquery library:  https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js

I wonder if it would be in DPU's interest to migrate their code so that it works with v2.1.1? Or bet

[2018-10-23 19:17] cedelis commented on #320
@gibsonjc I decided to re-use UIC's boilerplate stackmap code and kept only DPU's StackMap object. It seems to work a lot better now. I wonder if they'd mind it if we used this version instead. It's currently hosted on our server ( https://i-share-test.carli.illinois.edu/vf-dpu/themes/carli/js/vendor/dpu_stackmap.js?_=1540322006 ), but they can host it on theirs if they wish.

[2018-10-24 15:37] gibsonjc opened #389 "Google Analytics in New VuFind"
We currently allow libraries to embed Google Analytics in VuFind 0.6 (header or footer?)  Can we also enable this to be done in New VuFind?

[2018-10-24 15:49] cedelis commented on #159
In TEST

[2018-10-24 15:53] eschell commented on #389
This is something we can do yes. If you want to assign this to me, please
do.

On Wed, Oct 24, 2018 at 10:40 AM gibsonjc <notifications@github.com> wrote:

[2018-10-24 19:11] gibsonjc commented on #323
This Issue should have been closed with the implementation of Phase 2 of the improved Request Functionality on Aug. 27.  Closing now, belatedly.

[2018-10-24 19:36] cedelis commented on #326
In TEST

[2018-10-25 18:49] gibsonjc commented on #389
There was a decision in 2014 by the CARLI Board that Google Analytics may not be run in Voyager search interfaces. Closing.

[2018-10-25 18:49] #389 closed, assigned to nobody

[2018-10-26 14:38] nmswanson opened #390 "Improvements to format identification/faceting logic"
WHE expressed concern that the current display makes it difficult to see the difference between an electronic book and a book with supplementary electronic content.

The following search shows some individual examples of title with CD-ROMs, and you are correct in that CD-ROM displays simultaneously with Electronic: [https://i-share.carli.illinois.edu/vf-whe/Search/Results?lookfor=common+core&type=

[2018-10-26 14:40] nmswanson commented on #390
UIU request: When a book comes with an accompanying musical recording, and when both the text and the recording are cataloged on the same bib record, the resource is not listed if a patron limits their search results in VuFind to "Musical Recording." We have checked CARLI's facets page and see that the "Musical Recording" facet is only based on RecType=j. We tested adding an 006 to the record for

[2018-10-26 14:46] nmswanson commented on #390
Technical Services Committee: Combine the format icon display name when electronic is triggered with a second format.

Details: Use conventional terminology (as in VuFind 0.6) rather than FORMAT + ELECTRONIC. (e.g. eBook, eJournal, eMap, eVideo, eAudiobook, etc.

[Appendix ](https://www.carli.illinois.edu/sites/files/files/Project_TechServices.pdf)to the Committee's 2017-2018 Annual Project lists

[2018-10-26 14:52] nmswanson commented on #124
Technical Services Committee supports the creation of this facet.

2017-2018 Annual Project recommendation 16

[2018-10-26 14:54] nmswanson commented on #124
Other format facet enhancement requests are included in issue [390](https://github.com/CARLI/vufind/issues/390).

[2018-10-30 16:52] cedelis commented on #252
In PROD

[2018-10-30 16:52] #252 closed, assigned to nobody

[2018-10-30 19:09] gibsonjc commented on #191
in /languages/en.ini:
let's change

On Reserve - Ask at Circulation Desk = "On Reserve - Ask at Circulation Desk"
on_reserve = "Reserves - Ask at Circulation"

to

On Reserve - Ask at Circulation Desk = "On Reserve"
on_reserve = "Reserves"

[2018-10-30 20:55] cedelis commented on #191
In TEST

[2018-10-31 14:26] gibsonjc commented on #159
@cedelis It looks like there is an extra period at the very end of the text after the word
**needed..**

If you can remove that, this will be ready for Prod :)
![screen shot 2018-10-31 at 9 24 09 am](https://user-images.githubusercontent.com/17598357/47794682-e8270a80-dcee-11e8-96ba-f37816b9fd53.png)

[2018-10-31 14:27] gibsonjc commented on #191
Reserves wording looks good, ready for Prod!

[2018-10-31 14:48] cedelis commented on #159
In PROD.

[2018-10-31 14:48] #159 closed, assigned to nobody

[2018-10-31 14:48] cedelis commented on #191
In PROD

[2018-10-31 14:48] #191 closed, assigned to nobody

[2018-10-31 19:35] gibsonjc commented on #114
@cedelis In the spirit of "it can't hurt to ask", is there any remote chance of semi-easily porting whatever was added to version 5 for Syndetic TOCs and Summaries (#113 ) into our version 4.1.3?  (https://github.com/vufind-org/vufind/pull/456)  If the answer is "no, don't be daft", that's fair.

[2018-11-01 18:21] gibsonjc opened #391 "Allow user to adjust the number of results on the page from 20"
KNX - It would be nice to have a toggle to change the number of results displayed on a page. I suppose the number "20" is fixed for all results pages, including reserves.

[2018-11-05 21:36] cedelis commented on #277
In TEST.

[2018-11-07 19:19] gibsonjc opened #392 "User is not returned to the page they were on after logging in"
SIC - There are a few scenarios when in Vufind 4 we are unable to use the browser's back button after logging into shibboleth. Is there any way that when the user goes through Shibboleth, the VuFind session is not broken up by VuFind authentication? The VuFind authentication results in the user having only one browser tab with the account info and no way to get back to the search results.

Here ar

[2018-11-08 15:41] nmswanson commented on #227
Issue #363 also includes the request to index the 852 field.

[2018-11-08 15:41] cedelis commented on #392
In TEST

[2018-11-08 21:15] gibsonjc commented on #114
Some additional examples of TOCs:
https://vufind.carli.illinois.edu/vf-uiu/Record/uiu_8148754/TOC
https://vufind.carli.illinois.edu/vf-uiu/Record/uiu_7610090/TOC
https://vufind.carli.illinois.edu/vf-uiu/Record/uiu_8035821/TOC

[2018-11-08 21:16] gibsonjc commented on #113
Some additional examples of Summaries:
https://vufind.carli.illinois.edu/vf-uiu/Record/uiu_7794547/Description
https://vufind.carli.illinois.edu/vf-uiu/Record/uiu_7610090/Description
https://vufind.carli.illinois.edu/vf-uiu/Record/uiu_8035821/Description

[2018-11-12 16:53] cedelis commented on #114
In TEST

[2018-11-12 16:54] cedelis commented on #113
In TEST

[2018-11-13 19:44] dmcmpbll commented on #388
@cedelis I have some examples for this scenario set up on test and devel as a part of https://github.com/CARLI/vufind/issues/277; you can let me know when you're ready for me to send the specific details along for testing.

[2018-11-13 20:49] dmcmpbll opened #393 "Sorting on Requested Items Tab"
Currently the default sort for the Requested Items tab seems to be a combination of request scenario (whether it's an AAA, AAB, ABB, ABA, or ABC), and request status.
(Let me know if you'd like me to list that specific list-order I'm seeing).

Is it possible to set the the default sort to request status then item title, and/or to allow patrons to apply a sort?

[2018-11-14 15:10] gibsonjc commented on #113
Summaries ready for prod!

[2018-11-14 15:10] gibsonjc commented on #114
TOCs ready for prod!

[2018-11-14 15:16] gibsonjc commented on #392
Login improvements and fixes to return users to the page they came from ready for prod!

[2018-11-14 15:22] cedelis commented on #392
In PROD

[2018-11-14 15:22] #392 closed, assigned to nobody

[2018-11-14 15:23] cedelis commented on #114
In PROD

[2018-11-14 15:24] cedelis commented on #113
In PROD

[2018-11-14 22:26] dmcmpbll commented on #221
The above past example from devel for "Arrival" is no longer double-displaying, and the other examples from my past emails are no longer available. Similarly, I am unable to find any additional, current examples of this issue to report.
I think we can close this ticket.

[2018-11-14 22:26] cedelis commented on #277
In PROD

[2018-11-14 22:26] #277 closed, assigned to dmcmpbll

[2018-11-14 22:27] cedelis commented on #388
In PROD

[2018-11-14 22:27] #388 closed, assigned to nobody

[2018-11-15 13:45] #221 closed, assigned to nobody

[2018-11-15 18:49] gibsonjc commented on #112
This was resolved with the work on #113 and #114 . Closing!

[2018-11-15 19:19] gibsonjc commented on #245
KNX - RT 102927

[2018-11-16 18:52] gibsonjc commented on #112
I was wrong about closing this one... It looks like we got the note to display in the new Summaries and TOCs in #113 and #114, but it is still not displaying for Authors or Reviews.
@cedelis Can it be added in the same way to those?

Examples:
https://i-share-devel.carli.illinois.edu/all/vf-uiu/Record/335461105#reviews
https://i-share-test.carli.illinois.edu/all/vf-uiu/Record/274953845#reviews
"pa

[2018-11-16 18:56] gibsonjc commented on #284
@cedelis This enhancement needs research. Let us know what you think or if you have any questions!

[2018-11-16 18:58] gibsonjc commented on #293
@dmcmpbll Was this one improved or solved by the work on and Closing of #388 ?

[2018-11-16 19:00] gibsonjc commented on #338
@cedelis Needs research, so while you are thinking about sorting the lists of items on different pages, any chance of sorting the Saved Items list?

[2018-11-16 19:02] gibsonjc commented on #342
This Issue was made irrelevant by #252 , the new Course Reserves search and display format. Closing.

[2018-11-16 19:02] #342 closed, assigned to nobody

[2018-11-16 19:48] cedelis commented on #112
In TEST

[2018-11-16 21:53] gibsonjc commented on #112
@nmswanson Could you have a look at the above and other examples and let us know if this looks good to you?  Thanks!

[2018-11-16 22:16] nmswanson commented on #112
These look good! "Descriptive content provided by Syndetics™, a Bowker service" is displaying on test but not devel.

This seems fine, but I just want to point out one difference between New VuFind and 0.6 in regard to the Summary and Author Notes. In New VuFind, the Summary now displays higher on the page, ahead of the Physical Description/Bibliography/ISBN, but Author Notes display after them. I

[2018-11-19 13:47] gibsonjc commented on #112
Thanks, @nmswanson !  This is ready for Prod!
Side note: We can likely address the order of field display with the other field display improvements we are working on.

[2018-11-19 17:59] cedelis commented on #112
In PROD

[2018-11-19 17:59] #112 closed

[2018-11-20 20:12] cedelis commented on #393
In TEST

[2018-11-20 21:01] gibsonjc commented on #114
Interesting side effect: when the TOC text is from the record's MARC 505 field and not from Syndetic Solutions, it now displays

Provider: RecordDriver

after the contents.
Examples:
https://i-share-test.carli.illinois.edu/all/vf-aru/Record/276933342#toc
https://i-share.carli.illinois.edu/vf-sai/Record/SAIdb.195970#toc
https://i-share.carli.illinois.edu/vf-whe/Record/WHEdb.650998#toc

Is there an

[2018-11-20 21:11] cedelis commented on #114
In TEST

[2018-11-20 21:25] gibsonjc commented on #114
That seems to have fixed it and has not disturbed the Syndetics note.  Ready for Prod!

[2018-11-20 21:27] cedelis commented on #114
In PROD

[2018-11-26 21:10] cedelis commented on #338
@nmswanson @gibsonjc This would require more than a little "tweaking" and/or configuration setting changes. The reason for this has to do with the fact that "Saved Items" are stored separately from the Solr index, which has call number data available. They are instead stored in mysql, which does not have call number data available. Here is an example row of data available to us in the mysql databa

[2018-11-26 21:22] gibsonjc commented on #393
Request Items Tab improvements Ready for Prod

[2018-11-26 21:23] gibsonjc commented on #338
Thanks @cedelis , that answers that!  Moving to Inactive.

[2018-11-26 21:25] gibsonjc commented on #326
"Show results for" toggle seems to be working at expected; Ready for Prod

[2018-11-26 22:18] cedelis commented on #393
In PROD

[2018-11-26 22:18] #393 closed, assigned to nobody

[2018-11-26 22:19] cedelis commented on #326
In PROD

[2018-11-26 22:19] #326 closed, assigned to nobody

[2018-11-28 18:25] cedelis commented on #284
In TEST

[2018-11-29 15:09] gibsonjc commented on #349
@cedelis Can we make the multiple locations and multiple call numbers lines that appear on the Results page when there are multiple copies with different information into clickable links to the record's Holdings tab (similar to VuFind 0.6)?

For example:
![screen shot 2018-11-29 at 9 06 13 am](https://user-images.githubusercontent.com/17598357/49230782-0d726b80-f3b6-11e8-9d50-18f60a629e9f.png)

15

[2018-11-29 15:15] gibsonjc commented on #94
@cedelis Can you look into creating an "exclude" function for Government Publications using the "gpub" solr field?  It should work like the Exclude Electronic and Exclude Microform features already in place.  It should appear on the Advanced search page and the Narrow Search option on the right hand side (under Exclude Microform).

[2018-11-29 15:19] gibsonjc commented on #94
I forgot to include the specification!
If gpub is [blank] then it is NOT a government publication.
If gpub is [any letter] then it IS a government publication.

[2018-11-29 19:30] gibsonjc opened #394 "Reconciliation before Refresh"
Perform reconciliation of OAI with MST and of MST Normalization with MST Aggregation on PROD before TEST and DEVEL server refreshes.

[2018-11-29 19:33] gibsonjc commented on #282
Discussed at 11/29/2018 meeting: more research is needed on which other sources offer **curated** image sets. We do not want to link to uncurated images that may be incorrect and potentially problematic.

[2018-11-29 19:35] gibsonjc commented on #304
The word "filter" is used consistently in several places through the New VuFind interface; changing this would necessitate finding all instances and adjusting them. This is a very low priority right now.

[2018-11-29 19:36] gibsonjc commented on #303
Possibly "Keyword" as in 0.6

[2018-11-29 19:43] gibsonjc commented on #110
This should have been closed a long time ago... Closing.

[2018-11-29 19:43] #110 closed

[2018-11-29 19:48] gibsonjc commented on #109
This should have been closed some time ago...  Closing.

[2018-11-29 19:48] #109 closed

[2018-11-29 19:54] #92 closed

[2018-11-29 20:23] gibsonjc commented on #243
Only 520 $a is available in the default configuration:

module/VuFind/src/VuFind/View/Helper/Root/RecordDataFormatterFactory.php:
`$spec->setLine('Summary', 'getSummary');`

module/VuFind/src/VuFind/RecordDriver/SolrDefault.php:
`    public function getSummary()`
`   {`
`      // We need to return an array, so if we have a description, turn it into an`
`        // array as needed (it should be a f

[2018-11-29 20:24] gibsonjc commented on #243
I think we could add the 520 $c by changing to this:

module/VuFind/src/VuFind/RecordDriver/SolrMarc.php:
`    public function getSummary()`
`    {`
`        return $this->getFieldArray('520', ['a', 'c'], true);`
`    }`

[2018-11-29 21:31] cedelis commented on #349
In TEST

[2018-12-04 17:31] cedelis commented on #243
In TEST

[2018-12-04 18:47] gibsonjc commented on #243
@cedelis Great! Can you adjust this function a bit more so we can see how this looks and works?  (If it's good, I have a whole bunch of edits and additions like this that I will be sending you shortly.) Thanks!

`public function getSummary()`
`{`
`return $this->getFieldArray('520', ['3', 'a', 'b', 'c'], true);`
`}`

[2018-12-05 18:55] gibsonjc commented on #243
This works great.  The order of the subfields being displayed is controlled by their placement in the MARC record, not this list, which is perfect. Ready for Prod

[2018-12-05 19:02] cedelis commented on #243
In PROD

[2018-12-05 19:02] #243 closed, assigned to gibsonjc

[2018-12-06 15:35] gibsonjc commented on #320
@cedelis StackMap staff report: "We've concluded our work on the detail record buttons! We noticed that the code snippet is being loaded in by copying the contents of DePaul's VuFind
v4 javascript <http://stackmap.com/integration/depaul_vufindv4/StackMap.js>
and CSS <http://stackmap.com/integration/depaul_vufindv4/StackMap.css>
files that we're hosting. Is this format being used for testing purpos

[2018-12-10 14:47] gibsonjc commented on #276
SIC - I just wanted to report that when you do an author search for Toews, David in the catalog it displays information at the top of the screen from Wikipedia that is inaccurate.
https://i-share.carli.illinois.edu/all/vf-sic/Author/Home?author=Toews%2C+David%2C
The picture and information provided are for hockey player David Toews.

[2018-12-10 22:14] cedelis commented on #378
In TEST

[2018-12-11 15:43] gibsonjc commented on #265
Emailed spec for Phase 1 on 12/7/2018.

**Phase 1** includes:
E1. 521, 385 - Audience
E2. 440, 830 - Series
E3. 500, 515, 550 - General Notes
E4. 506 - Restrictions
E5. 538 - System Details
E6. 586 - Awards
E7. 555 - Index/Finding Aids
S1. 255 - Scale
S2. 386 - Creator Characteristics
S3. 502 - Thesis/Dissertation
S4. 546 - Language Notes
S5. 511 - Performer
S6. 518 - Event
S7. 510 - References
S8

[2018-12-11 17:50] gibsonjc commented on #284
On TEST, I have tested this on myself and as a user from ELM.  My preferences were saved as expected in my New VuFind Profile and showed my preference as the default during a Request (which I could also adjust in the Request pop-up box).  I placed some ABC, AAB, and ABB requests, and I also filled some of those requests at the lending library and confirmed that the preferred library and location w

[2018-12-11 20:43] gibsonjc commented on #349
The "Click for details" links appear to be in the correct places and they do make links, but they go to the top of the single record page instead of the Holdings tab where the Call Number and Location info are.

The Holdings tab appears to be accessible if you use the base bib record URL with
**/Holdings#tabnav**
at the end, so
https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.274066/Hol

[2018-12-11 21:44] cedelis commented on #349
@gibsonjc I added "/Holdings#tabnav" to the links.

[2018-12-12 14:17] gibsonjc commented on #349
Yes, that did it! Ready for Prod!

[2018-12-12 17:27] cedelis commented on #349
In PROD

[2018-12-12 17:27] #349 closed, assigned to nobody

[2018-12-12 20:09] dmcmpbll commented on #284
I have also tested this and found that the correct pickup library/location information was passed in to Voyager with the call slip, and the requests processed/routed as expected.
My preference settings were correctly retained from one login to the next.

[2018-12-12 20:16] gibsonjc commented on #284
Ready for Prod

[2018-12-12 20:24] cedelis commented on #284
In PROD

[2018-12-12 20:24] #284 closed, assigned to nobody

[2018-12-12 21:55] gibsonjc commented on #378
All items in Saved Items lists will now click through to the appropriate bib record.  The catalog view (header/branding) will remain the same as the catalog the user was in when he/she clicked.

Ready for Prod

[2018-12-12 21:57] cedelis commented on #378
In PROD

[2018-12-12 21:57] #378 closed, assigned to nobody

[2018-12-13 22:25] cedelis commented on #94
@gibsonjc This issue will need to be tabled until we reindex. We currently do not index gpub; we only store it for (potential) display purposes. This means we cannot search on it:

Our current schema.xml:

`   <field name="gpub" type="string" indexed="false" stored="true"/>
`
We need to either change the name of "gpub" to  something like "gpub_str" and re-index, making use of dynamic field naming

[2018-12-14 18:00] gibsonjc opened #395 "MFHD 856 data should display once per holdings record, not per Item"
When a MFHD has an 856 field (or multiple 856 fields), each 856 field is displaying in the Holdings tab once for every Item.  This unnecessarily repeats the same data.

We'd like for any MFHD 856 data to display once per MFHD, preferably above any/all Items like 852$z (Notes:) and 866 or 853/863 data (Volume Holdings:) do.

Examples:
https://i-share-devel.carli.illinois.edu/vf-npu/Record/NPUdb.201

[2018-12-17 17:03] cedelis commented on #395
In TEST

[2018-12-18 21:36] gibsonjc commented on #395
This has corrected the problem and does not seem to have caused any other problems.  The MFHD URLs are only displaying once per MFHD now.  Ready for Prod

Examples:
https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.490799
https://i-share-test.carli.illinois.edu/vf-alp/Record/ALPdb.20422
https://i-share-test.carli.illinois.edu/vf-alp/Record/ALPdb.63187
https://i-share-test.carli.illinois.

[2018-12-18 21:59] cedelis commented on #395
In PROD

[2018-12-18 21:59] #395 closed, assigned to nobody

[2018-12-19 20:17] gibsonjc opened #396 "Convert tags to Saved Items List"
If tags are applied by a particular user, are they associated with that user in the database, and can we programmatically "convert" a set of records with the same tag into a List that belongs to that user?

[2019-01-03 22:54] cedelis commented on #265
Phase 1 is ready for testing

[2019-01-04 20:22] gibsonjc commented on #298
No action to take, just leaving a note here that ILC is concerned about Available being red instead of green in RT 102400.

[2019-01-04 20:25] gibsonjc opened #397 "Display MFHD 852$t copy number when no Items attached"
In Issues #169 and #299 , we adjusted New VuFind defaults so that it would display the copy number from the MFHD 852$t.  However, the copy number information only displays when there are Items attached.  Some I-Share libraries do not create Items for their non-circulating serials, but they would still like to see the Copy number information displaying to the user.

Can we display the 852$t copy nu

[2019-01-11 18:30] gibsonjc commented on #265
Phase 1 is Ready for Prod

[2019-01-11 19:21] cedelis commented on #265
Phase 1 in Prod

[2019-01-16 16:25] gibsonjc opened #398 "Add new Technical Specifications field to Description Tab"
This is to add a new field to the Description tab in CARLI's RecordDataFormatterFactory.php similar to the "Description of Work" field (SolrMarc.php function getDescriptionOfWork):

M5. New suggested function name: getTechnicalSpecifications

Field Label: Technical Specifications

Fields [Indicators] [Subfields] to display:

344 [any indicators] ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
345 [any in

[2019-01-16 16:30] gibsonjc commented on #398
Example records on Test/Devel:

344 - https://i-share-test.carli.illinois.edu/vf-aru/Record/ARUdb.451171#description
345 - https://i-share-test.carli.illinois.edu/vf-aru/Record/ARUdb.451176#description
346 - https://i-share-test.carli.illinois.edu/vf-aru/Record/ARUdb.451176#description
347 - https://i-share-test.carli.illinois.edu/vf-aru/Record/ARUdb.451171#description
348 - ?

[2019-01-16 16:53] gibsonjc opened #399 "Add 690 to subjects displaying in core single record"
The 690 field is for local subject headings.  This field needs to be added to the single record display under the label "Subject" in the core record information to appear along with other subject headings (6XX fields) when present in the **Local Catalog Only**.

690 is already indexed in the "topic" solr field, but it isn't currently displaying...

In SolrMarc.php:

    public function getAllSubje

[2019-01-16 17:59] gibsonjc opened #400 "Add 020 $q to display in ISBN field"
We would like for the 020 $q, when present, to display in the field labeled ISBN in the Description tab after the $a data, such as:

020 __ $a 9781613731024 $q (trade paper)
ISBN:  9781613731024 (trade paper)

However, we do not want to change the marc.properties indexing of
isbn = 020a
because the $q does not need to be indexed.

Examples of 020 with $q:
https://i-share-test.carli.illinois.edu/vf

[2019-01-16 18:00] gibsonjc commented on #400
It feels similar to what is going on with "Edition" or "Series" but not exactly.  For example, in marc.properties these are defined as
edition = 250a, first
and
series = 440ap:800abcdfpqt:830ap
respectively, but in RecordDataFormatterFactory.php the setLine for "Edition" adds some hidden HTML to the line, and the setLine for "Series" uses the SolrMarc.php getSeries and ultimately the protected fun

[2019-01-16 19:21] cedelis commented on #398
In TEST

[2019-01-16 19:26] gibsonjc commented on #136
Coming back to this one.  I wonder if we can use the method that /SolrDefault/core.phtml does in Line 35

`<h3 property="name"><?=$this->escapeHtml($this->driver->getShortTitle() . ' ' . $this->driver->getSubtitle() . ' ' . $this->driver->getTitleSection())?></h3>`

to append on the getTitleSection info in /SolrDefault/result-list.phtml Line 24

`          <?=$this->record($this->driver)->getTitle

[2019-01-16 19:45] cedelis commented on #399
In TEST

[2019-01-16 20:09] cedelis commented on #400
In TEST

[2019-01-16 20:29] cedelis commented on #136
In TEST

@gibsonjc Your idea is not bananas at all. It's a great one! And it appears to do just the trick, e.g.,

https://i-share-test.carli.illinois.edu/vf-isu/Search/Results?lookfor=units+of+study+in+argument&type=Title&limit=20&sort=relevance

Here's the "gold standard" in version 0.6: https://vufind.carli.illinois.edu/vf-isu/Search/Home?lookfor=units+of+study+in+argument&type=title&start_over=

[2019-01-17 14:53] gibsonjc commented on #193
Several of these requested fields were added to **Bib** record displays in Phase 1 on 1/11/2019 as part of Issue #265 :

510$abc3
515$a
524$a3- Local only
525$a - Local only
541$abcdefno3 - Local only with indicator display logic
544$abcden3 - Local only
545$abu - Local only
550$a
561$a3 - Local only
562$abcd3 - Local only
563$a3 - Local only
581$a3 - Local only
583$abcdefhijklnouz3 - Local only
5

[2019-01-17 15:31] gibsonjc commented on #340
Parking lot list of other indexing changes:

add 245$fgks
add 254$a to edition
add $b3 to 250 in edition
add $3 to 300 in physical
create date1 as 008[07-10]
remove 530 from physical
separate out 111 from author_corporate and create author_meeting

remove 041$h from language
add LNKnnn to existing fields for 880 display and access

[2019-01-17 21:12] gibsonjc commented on #398
@cedelis Thanks, your part looks good!  We have three changes to make to my specification:

1. I have improperly conflated too many fields together here. Please remove 347 and 348 from getTechnicalSpecifications, leaving 344, 345, and 346 only.  (347 will be addressed below; 348 will be addressed at another time in another way.)

2. We'd like to change the Field Label: Technical Specifications to

[2019-01-17 21:25] cedelis commented on #398
@gibsonjc I've made these changes and they are now in TEST

[2019-01-18 14:35] gibsonjc opened #401 "Specification for Bib 856 field display on New VuFind single record page"
Bibliographic 856 fields do not display in the New VuFind union catalog but do display in local catalogs.

A Bib may have multiple 856 fields.  Each one should display independently with its own label.

In RecordDataFormatterFactory.php, the Bib 856s seem to be controlled by default by:

`$spec->setTemplateLine('Online Access', true, 'data-onlineAccess.phtml');`

**Subfields**

This is the same as

[2019-01-18 15:11] gibsonjc commented on #398
This looks good, Ready for Prod

[2019-01-18 16:08] gibsonjc commented on #399
Looks good, Ready for Prod

Additional examples:
https://i-share-test.carli.illinois.edu/vf-rou/Record/ROUdb.163788#details
https://i-share-test.carli.illinois.edu/vf-rou/Record/ROUdb.170249#details
https://i-share-test.carli.illinois.edu/vf-rou/Record/ROUdb.265714#details

[2019-01-18 16:19] gibsonjc commented on #400
Unfortunately, with this new getISBNsForDescriptionTab function solution we are getting an unintended consequence: the 020$q is displaying anywhere that it occurs.  020$q can occur without $a (that is, with another subfield like $z), but we only want $q to display if $a is present as well.

Example:
https://i-share-test.carli.illinois.edu/vf-eiu/Record/EIUdb.1446160#description
there is a line
020

[2019-01-22 16:37] cedelis commented on #399
In PROD

[2019-01-22 16:37] #399 closed, assigned to nobody

[2019-01-22 16:38] cedelis commented on #398
In PROD

[2019-01-22 16:38] #398 closed, assigned to nobody

[2019-01-22 17:14] cedelis commented on #400
@gibsonjc I've added the requirement of 020$a to be present to the getISBNsForDescriptionTab function.

In TEST

[2019-01-23 17:30] cedelis commented on #401
In TEST

[2019-01-23 20:14] gibsonjc commented on #400
This looks good, Ready for Prod!

Other examples, for the record:
https://i-share-test.carli.illinois.edu/vf-eiu/Record/EIUdb.1463596#details
https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.8188247#details
https://i-share-test.carli.illinois.edu/vf-eiu/Record/EIUdb.1465451#details

(Side note: It appears that Normalization manipulates 020 fields so that only 020$a's are retained in the

[2019-01-23 20:39] cedelis commented on #400
In PROD

[2019-01-23 20:39] #400 closed, assigned to nobody

[2019-01-23 21:52] gibsonjc commented on #136
This looks good, Ready for Prod!

[2019-01-23 22:28] cedelis commented on #136
In PROD

[2019-01-23 22:28] #136 closed, assigned to gibsonjc

[2019-01-24 14:07] gibsonjc commented on #401
@cedelis  1. There was an oversight on my part in this specification.  For the four conditions (first indicator 7) that cause the label "Connect via _subf2_:" the text should not actually include the word "subf2".  That's a placeholder for text found in the 856 field's subfield 2, whatever that may be, so for example:

856 70 $u http://www.carli.illinois.edu $2 **Text string**
Connect via **Text s

[2019-01-24 15:36] cedelis commented on #401
@gibsonjc Actually, I do reference the value of the $2. I figured you did not intend to have 'subf2' as a label ;-)

[2019-01-24 15:40] gibsonjc commented on #396
This script exists on DEVEL and is waiting for more testing.

[2019-01-24 15:49] gibsonjc commented on #371
Field 546 was added to the Description Tab display in Phase 1 of #265  on Jan. 11, 2019.
Field 538 already displayed on the Description Tab.
Languages from 041 already displayed in the Core section of the single record.
We do not have plans to move either 546 or 538 to the Core section of the single record display.
Closing this Issue.

[2019-01-24 15:49] #371 closed, assigned to nobody

[2019-01-24 20:24] gibsonjc commented on #199
As of today, New VuFind currently displays:

First Name:
Last Name:
Preferred Pick Up Library:
Preferred Pick Up Location:
Address 1: [line 1 only, it seems]
Zip:
City:
Group: [patron group]

[2019-01-24 21:02] cedelis commented on #199
In TEST

[2019-01-24 21:14] nmswanson commented on #390
Blu-ray and DVD logic enhancements

1) Blu-ray logic enhancement
Request: add 347b to both the first and last AND (the term "bluray"...) statements as depicted below:

((007ab="vd" OR 245h="video...") AND (the term "bluray" OR "blu ray" OR "blu-ray" appears in the 300a, 300b, 300e, 305a, 305b, 305c, 338a, 347b, 538a, or 690a))
OR
((RecType="g" AND 007a="v" AND (the term "bluray" OR "blu ray" OR "b

[2019-01-25 14:48] gibsonjc commented on #401
Looks GREAT! Ready for Prod!

[2019-01-25 14:54] gibsonjc commented on #391
This needs research.  Is there a setting somewhere already defined that we can turn on?  If not, could this be a bad idea for performance reasons and that's why they limited it to 20?

[2019-01-25 14:57] gibsonjc commented on #397
This needs research to know if it is possible or a good/bad idea.  Note that some MFHDs will not have an 852$t at all because in the past they've been omitted and previous OPACs have displayed a Copy 1 if no 852$t was present.

[2019-01-25 15:03] gibsonjc commented on #211
@cedelis Is this still the case or of concern?  I can't seem to see any myself when searching in I-Share /all/vf/ or /all/vf-abc/

(If not, we can close this Issue.)

[2019-01-28 16:02] gibsonjc commented on #211
Chris said he was not concerned about this so Closing.

[2019-01-28 16:02] #211 closed, assigned to nobody

[2019-01-28 16:41] gibsonjc commented on #199
This Issue has widened in scope to also include which mailing address is shown in the Profile: Permanent or Temporary, and how/if HOLD MAIL should play into display.

[2019-01-28 19:14] gibsonjc opened #402 "Add new Credits field to Description Tab"
Add a new field to the Description tab area in CARLI's RecordDataFormatterFactory.php with a new function in SolrMarc.php similar to many of the other new fields we have recently added.

S11. New suggested function name: getCredits

Field Label: Credits

Field [Indicators] [Subfields] to display:
508 [any indicators] ['a']

Placement of new $spec line: before Performer

    /**
     * Get an array

[2019-01-28 22:14] gibsonjc opened #403 "Move "Description of Work" from Description tab to Core"
We'd like to move

`$spec->setLine('Description of Work', 'getDescriptionOfWork'); // CARLI added new method`

from the Description tab section up to the Core section for display on the record page.  It should be positioned after "Other Authors" and before "Format".

[2019-01-29 15:52] cedelis commented on #401
In PROD

[2019-01-29 15:52] #401 closed, assigned to nobody

[2019-02-11 17:37] cedelis commented on #403
In TEST

[2019-02-11 17:38] cedelis commented on #402
In TEST

[2019-02-13 17:41] gibsonjc commented on #396
@cedelis Debbie and I have set up our tags on DEVEL and are ready for you to run the script again to see how they convert to lists at your convenience.

[2019-02-13 17:52] gibsonjc commented on #402
This looks good, Ready for Prod!

Example: https://i-share-test.carli.illinois.edu/vf-aru/Record/ARUdb.451177#description

[2019-02-13 17:57] cedelis commented on #396
@gibsonjc I ran the script on DEVEL.

[2019-02-13 17:58] gibsonjc commented on #403
Made-up example: https://i-share-test.carli.illinois.edu/vf-aru/Record/ARUdb.451176#description
looks good but...
@nmswanson Does this general placement look ok to you? Do you have any other examples of real data we could evaluate?  Thanks!

[2019-02-13 19:10] cedelis commented on #402
In PROD

[2019-02-13 19:10] #402 closed, assigned to nobody

[2019-02-13 19:42] gibsonjc commented on #396
@dmcmpbll tags-to-lists on DEVEL is ready for testing (sorry I forgot to "at" you on my earlier comment)

[2019-02-14 15:57] nmswanson commented on #403
This example looks good, I'll add a few others: [(https://i-share-test.carli.illinois.edu/vf-rou/Record/ROUdb.270744#details)](https://i-share-test.carli.illinois.edu/vf-rou/Record/ROUdb.270744#details)

[2019-02-14 16:13] nmswanson commented on #403
Other author examples:
[https://i-share-test.carli.illinois.edu/vf-rou/Record/ROUdb.343833](https://i-share-test.carli.illinois.edu/vf-rou/Record/ROUdb.343833)

[https://i-share-test.carli.illinois.edu/vf-rou/Record/ROUdb.358472](https://i-share-test.carli.illinois.edu/vf-rou/Record/ROUdb.358472)

[2019-02-14 16:16] gibsonjc commented on #403
Ready for Prod

[2019-02-15 13:53] gibsonjc opened #404 "Make I-Share logo a link to the splash page"
In the header, change the link of the CARLI I-Share logo on all _https://i-share.carli.illinois.edu/all/vf-xxx_ catalogs and the _https://i-share.carli.illinois.edu/all/vf/_ catalog.

Currently, the link is back to the catalog itself, so if you are in the /all/vf-sai/ view clicking this logo takes you back to the front page of this same view.  Instead, we'd like it to be a link to https://i-share.

[2019-02-19 15:52] gibsonjc opened #405 "Why is there one Item line above the Most Recent Received Issues line(s) in Holdings tab?"
In Issue #150 , we changed the VoyagerRestful.ini setting so that the Most Recent Received Issues appear with each MFHD instead of below all the holdings.  This is still working correctly, however, it seems that ONE Item Record line is always appearing before the Most Recent Received Issues line, which looks very odd.

Can we figure out why the system is doing this and maybe correct it so that in

[2019-02-19 16:10] cedelis commented on #405
In TEST

[2019-02-19 19:34] cedelis commented on #404
In TEST

[2019-02-20 14:38] gibsonjc commented on #355
MFHD 863 enumeration data display in the Volume Holdings area without their corresponding 853 caption data.

NIU - RT 104375

[2019-02-20 16:18] cedelis commented on #355
@gibsonjc Just an FYI, VuFind currently handles this in a very crude fashion. It simply pulls maps fields and subfields that you supply. I.e., It does not do processing whatsoever regarding "pairs". E.g., here's what we have defined today:

; Fields to include in notes. Default is "852z".
notes = "845a:852az" ; CARLI
; Fields to include in summary. Default is "866a".
summary = "863abiz:866az" ; CA

[2019-02-21 16:05] cedelis commented on #403
In PROD

[2019-02-21 16:05] #403 closed, assigned to nobody

[2019-02-21 17:42] gibsonjc commented on #355
@cedelis As promised at our meeting today, here are some examples of MFHDs with "standard-ish" 853/863 pairs:

https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.39530 - MFHD IDs 5225244 and 5225236 and 8155868 and 8706304 and 8029317
https://i-share-test.carli.illinois.edu/vf-niu/Record/NIUdb.247589 - MFHD ID 283662
https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.3505294 - MF

[2019-02-21 18:19] cedelis commented on #355
@gibsonjc , I have translated 0.6 code into the new VuFind. Things look better for some cases, e.g., https://i-share-test.carli.illinois.edu/vf-sic/Record/SICdb.1139538

However, for others, it seems we need to suppress more of the 866az fields, because there are still lots of ugly data showing (e.g., https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.39530 ). BTW, I'm currently only supp

[2019-02-21 18:22] gibsonjc commented on #396
Testing completed on DEVEL. It went well.
Currently awaiting feedback from selected users and committees.

To Do:
- look for configuration file on/off
- decide on automatically generated text
- decide if this is a "go" and if so, when

[2019-02-21 18:25] cedelis commented on #355
@gibsonjc FYI, for fun, I decided to *keep* 866az iff ind2 = _, 0, or 1, but it made no difference to bib https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.39530

[2019-02-21 18:29] cedelis commented on #355
@gibsonjc Never mind my previous questions (for now). Apparently, I need to fix some of the new code since the 0.6 code seems to display much better https://vufind-test.carli.illinois.edu/vf-uiu/Record/uiu_39530

[2019-02-21 18:57] gibsonjc commented on #404
This works as desired and can go to PROD, my only concern is that on TEST I expected it to go to the TEST splash page i-share-test.carli.illinois.edu but instead it goes to the PROD splash page i-share.carli.illinois.edu.  (Other things on TEST go to TEST, things on DEVEL go to DEVEL, etc. so I just want to make sure that this won't cause a hiccup for us later down the line.)

[2019-02-21 19:04] gibsonjc commented on #405
Looks good, Ready for Prod!

[2019-02-21 19:08] gibsonjc commented on #199
New SQL in place as of 2/18 and initial testing went well.
As of today, awaiting more complete testing and testing of the new logic that will not display empty temp addresses.

[2019-02-21 20:10] cedelis commented on #355
In TEST

[2019-02-21 20:46] cedelis commented on #405
In PROD

[2019-02-21 20:46] #405 closed, assigned to nobody

[2019-02-21 20:47] cedelis commented on #404
In PROD

[2019-02-21 20:47] #404 closed, assigned to nobody

[2019-02-21 21:57] gibsonjc commented on #193
Bib 508 is now displaying after #402 .  Bib 530 still pending.

[2019-02-21 21:59] gibsonjc commented on #94
@cedelis With this gpub field indexed now on DEVEL, can you revisit this one and see if it's enough to add this option?

[2019-02-25 19:08] gibsonjc commented on #193
MFHD fields 506, 538, 541, 561, 562, 563, 583, 843, 845 display in holdings tab and ready for testing.

[2019-02-25 19:12] gibsonjc commented on #355
Changes include:
- caption data now appears with enumeration data
- 863 second indicator of 2 or 3 now suppresses field from display
- MFHD notes fields that we had in 0.6 display with custom labels (506, 538, 541, 561, 562, 563, 583, 843, 845), see also Issue #193
- separated the 866s displays from the 853/863s displays with labels “Library Has (Summary)” vs. “Library Has (Volumes)”
- Indexes 867

[2019-02-25 19:22] gibsonjc commented on #265
Phase 2, put into Production in separate Issues from Jan. 15 to Feb. 13, included:
- Credits field (MARC 508 field) added to local and uc catalogs #402
- All Bib 856 fields now display on the record page and have labels specific to their indicators #401 - MFHD 856 fields in the Holdings tab now have labels specific to their indicators #401
- 245$np now display on the Results page #136
- The qualif

[2019-02-27 13:41] gibsonjc commented on #387
@eschell Can you prioritize your investigations on this Issue so that we can find out if it is doable or not?  UIC is asking about adding an image and would like to move to New VuFind in mid-March.  Single-sign on is already configured but they have not yet filled out the shibboleth customization form; I will ask them to do that now.  The link to the library-hosted image that UIC would like to use

[2019-02-28 16:50] gibsonjc commented on #199
All agreed in email that this is Ready for Prod

[2019-02-28 16:55] cedelis commented on #199
In PROD

[2019-02-28 16:55] #199 closed, assigned to nobody

[2019-02-28 21:32] gibsonjc commented on #355
This all looks great. Ready for Prod!

Added today:
- Logic added so that MFHD 541 first indicator 1 is the only one that displays.
- 863$z notes now displaying
- 852$z notes fixed

[2019-02-28 21:51] cedelis commented on #355
In PROD

[2019-02-28 21:51] #355 closed, assigned to nobody

[2019-03-01 14:08] gibsonjc commented on #368
NBY - When using New VuFind I noticed an issue with retrieving some materials that were published before 1500.

I searched for "Terence" as author in the Basic search and excluded HathiTrust, Electronic and Microforms. I selected "Terence" from the author facet and sorted by oldest first. Nothing earlier than 1501 appeared at the beginning of the list. Although one manuscript with a questionable p

[2019-03-01 14:09] gibsonjc commented on #368
Early testing on DEVEL shows that using the getPublicationDate function for publishDate and publishDateSort (instead of the default getDates and getFirstDate, respectively) will improve some of these situations.

[2019-03-01 19:41] gibsonjc commented on #193
MFHD fields 506, 538, 541 (Ind1=1 only), 561, 562, 563, 583, 843, 845 all display in holdings tab with the closing of #355

BIB 530 currently displays under the label "Physical Description" because it is part of the default definition for "physical" (along with 300), but we are planning to remove that when we reindex.  We will need to decide if we want to display 530 in its own field or in the gen

[2019-03-01 19:41] #193 closed, assigned to gibsonjc

[2019-03-04 17:21] gibsonjc commented on #366
These stats are available. Closing this issue.

[2019-03-04 17:21] #366 closed, assigned to fellowsgl

[2019-03-04 17:40] gibsonjc commented on #396
If/when we turn off tags we'll need to adjust the following settings:

In config.ini

Line 1226-1228
[code]
Line 1546-1566
[code]

In searches.ini
Line 106-125

[code]

[2019-03-11 20:08] cedelis commented on #397
In TEST

[2019-03-11 20:09] cedelis commented on #397
@gibsonjc I was not able to place this in the ideal location, however.

[2019-03-12 16:05] gibsonjc commented on #276
SVC - I found that a wikipedia link to an author bio is not correct.
https://i-share.carli.illinois.edu/all/vf-svc/Author/Home?author=Smith%2C+Amber%2C+1982-
The link is to a model with the same name but she is not the author of the books.

RT 104685

[2019-03-15 20:09] gibsonjc opened #406 "Library default pick-up location not being honored in UB requests starting in Jan. 2019"
Each library has a default pick-up location established in SysAdmin.  This location should be used by the system for local and UB requests when a user has not specifically chosen another location and Saved it in their New VuFind Profile.

Problem:
BHC's default location is .QUAD CITIES LIBRARY.  They are reporting that the default is appearing correctly for local requests and those default to .QUA

[2019-03-18 17:22] cedelis commented on #406
In TEST

[2019-03-19 19:02] cedelis commented on #391
In TEST

Yes, this is configurable:

https://github.com/CARLI/vufind/blob/carli-release-4.1/config/vufind/searches.ini#L27

; This section controls the result limit options for search results. default_limit
; sets the default number of results per page. limit_options is a comma-separated
; list of numbers to be presented to the end-user. If only one limit is required,
; set default_limit and leave

[2019-03-20 18:35] cedelis commented on #94
Since we haven't reindexed the TEST server yet, I've put this on DEVEL for now.  I was able to easily add this option.

facets.ini

[CheckboxFacets]
-gpub:* = "Exclude Government Publications"

[Results]
gpub = "Government Publications"

EDIT: I was able to create an alias for gpub so that the facet applied label looks much better ("Government Publications" instead of "Other"):

~~There is one not

[2019-03-21 16:55] dmcmpbll commented on #406
This looks good on test to me. I think it is ready for prod.

[2019-03-21 17:14] gibsonjc commented on #406
Thanks @dmcmpbll! Ready for Prod!

[2019-03-21 17:22] cedelis commented on #406
In PROD

[2019-03-21 17:22] #406 closed, assigned to nobody

[2019-03-22 12:51] gibsonjc commented on #397
This looks much better, ready for Prod!

[2019-03-22 14:14] cedelis commented on #397
In PROD

[2019-03-22 14:14] #397 closed, assigned to nobody

[2019-04-03 14:06] gibsonjc commented on #387
I'm going to remove "priority issue" label on this but leave as Accepted. This is done and complete for UIC (uses SSO) on https://i-share.carli.illinois.edu/vf-uic/MyResearch/UserLogin?auth_method=ILS but it not currently offered on the standard or SSO customization form. If another library asks about it, we'll evaluate it at that time.

[2019-04-03 14:29] gibsonjc commented on #276
I don't foresee us making any large scale changes to how this feature "works" at this point, so it would be better to turn it off entirely so that it does not provide bad data.  Please comment out

;authors = Wikipedia

in config.ini:

[Content]
; You can select from Wikipedia
; See also the AuthorInfo recommendation module setting in searches.ini; this
; includes notes on improving the accuracy o

[2019-04-04 15:41] gibsonjc commented on #288
Discussed at April 4 meeting; @cedelis will look into it and if it can be changed for some libraries but not all.

[2019-04-04 15:42] gibsonjc commented on #276
Discussed at April 4 meeting; @cedelis will look into linking it with authorities first.

[2019-04-04 15:43] gibsonjc commented on #394
Discussed at April 4 meeting. @gibsonjc @cedelis @fellowsgl will look at past emails and meeting notes for indications of how this was accomplished last time.

Refresh of TEST environment is scheduled for last two weeks of May.

[2019-04-04 15:52] gibsonjc commented on #390
Blu-ray and DVD logic enhancements are currently in place on DEVEL (as of end of Feb. 2019) awaiting move to TEST with all other indexing changes and other things in Phase 3.

Examples:

DVD:
https://i-share.carli.illinois.edu/vf-bhc/Record/BHCdb.34946#details
DVD and Blu-ray:
https://i-share.carli.illinois.edu/vf-csc/Record/CSCdb.44801#details
bluray:
https://i-share.carli.illinois.edu/vf-mck/Rec

[2019-04-04 16:00] gibsonjc opened #407 "Results list sometimes shows word "Published" with no date on DEVEL"
The change we made on DEVEL to use getPublicationDate in the marc properties definitions for publishDate and publishDateSort has been an improvement.  However, there is one place with dates in the results list displays where I didn’t see everything that I expected.

Example:
https://i-share-devel.carli.illinois.edu/vf-nby/Search/Results?sort=year+asc&filter%5B%5D=-institutions%3A%22HAT%22&filter%5

[2019-04-04 20:20] cedelis commented on #276
In TEST. It seems that the VuFind integration with VIAF and Wikipedia have changed recently. I had to make minor adjustments to VuFind code. I think this feature behaves better now. (It's obviously still not perfect). Let me know if you think this patch is worth moving into PROD. Otherwise, we can simply turn the feature off.  Chris

E.g.,

Current (PROD) contains false positive Wikipedia bios:
ht

[2019-04-09 14:49] cedelis commented on #288
@gibsonjc Turns out it's much easier to make this change for all libraries (vs. one-at-a-time).

~~NOTE: For advanced searches in webvoyage, I chose to simply redirect to New VuFind's advanced search page. I did not attempt to translate the search because the format between the two interfaces is wildly different (webvoyage and vufind0.6 were much more similar). It's not impossible to translate, bu

[2019-04-15 15:28] gibsonjc commented on #276
I haven't found any searches in TEST that are worse off because of these changes.  Ready for Prod!

[2019-04-15 15:39] gibsonjc commented on #288
This seems to be working well to redirect searches from webvoyage-test to i-share-test. I will draft up a note to Liaisons to explain the change and declare a deadline by which they must tell us they want to opt out.

[2019-04-15 15:54] gibsonjc commented on #391
The number of results options seems to be working well in searches and in Reserves. Will wait for @dmcmpbll to weigh in on her testing before next step.

Anyone have opinions on the number of choices? There's nothing wrong with 10 20 40 60 80 100, but maybe 10 20 50 100 would be enough?

[2019-04-15 15:56] gibsonjc commented on #94
Looks good.  This new Gov Pubs option will move to TEST when we move the whole group of DEVEL improvements to TEST.

[2019-04-15 19:10] cedelis commented on #276
In PROD

[2019-04-15 19:10] #276 closed, assigned to nobody

[2019-04-16 18:56] cedelis commented on #407
@gibsonjc in result-list.phtml, you're correct in that it calls getPublicationDates:

, which in turn calls upon the indexed field, publishDate:

 https://github.com/CARLI/vufind/blob/carli-release-4.1/module/VuFind/src/VuFind/RecordDriver/SolrDefault.php#L1113

, which in turn calls upon SolrMarc's pre-defined method, getPublishedDate:

https://github.com/solrmarc/solrmarc/blob/master/src/org/sol

[2019-04-17 14:32] gibsonjc commented on #407
@cedelis getPublishedDate seems to work well in all other respects.  Before we scrap it entirely, what is this "map" line supposed to do, do you think?  Normalize the date numbers somehow?

In this example NBYdb.172745, yes, I'd have expected it to show Published 1489 because the 008[7-10] is present and comes first in the list of
`AbstractValueIndexer<?> indexer =
getOrCreateIndexerFullSpec("008[

[2019-04-17 18:00] cedelis commented on #407
@gibsonjc I'm running a few tests comparing two bibs, where the first bib displays correctly and the second incorrectly displays an empty Published date.

First, let me attempt to answer your questions: I do not believe the comments in the code are accurate. I am pretty certain that order or precedence is based on the order in which they are listed in spec, e.g., 008[7-11] takes precedence over 00

[2019-04-22 15:02] cedelis commented on #407
@gibsonjc I finally figured it out. It had to do with the date being older than 1500, the following map regex was clobbering it:

`publishDate = 008[7-10]:008[11-14]:260c:264c?(ind2=1||ind2=4),clean, first, map("(^|.*[^0-9])((20|1[5-9])[0-9][0-9])([^0-9]|$)=>$2",".*[^0-9].*=>")
`
When I change the "1[5-9]" to "1[0-9]" below, things work as expected:

`publishDate = 008[7-10]:008[11-14]:260c:264c?(

[2019-04-25 16:13] gibsonjc commented on #391
At our 4/25 meeting we decided to make the choices: 10, 20, 40, 60

[2019-04-25 16:16] gibsonjc commented on #407
Yes, dates look better!

At our 4/25 meeting we decided to move this and all DEVEL changes (indexing changes, searchspecs.yaml changes, 880s displays, and Issue #94 ) to TEST.  @cedelis will start a reindex of TEST today.

[2019-05-09 14:35] gibsonjc opened #408 "Remove subfields from getDescriptionOfWork"
I believe the current definition in /usr/local/vufind/module/CARLI/src/CARLI/RecordDriver/SolrMarc.php :

    public function getDescriptionOfWork()
    {
        $results = $this->getFieldArray('383', ['a', 'b', 'c', 'd', 'e', '3']);
        $results = array_merge($results, $this->getFieldArray('384', ['a', '3']));
        $results = array_merge($results, $this->getFieldArray('380', ['a', '3']));

[2019-05-09 21:33] nmswanson opened #409 "Add UPC to Syndetics Solutions image URLs"
Through ftp to Syndetics Solutions, EIU has shared Folkmanis puppet images with UPCs in the file names with Syndetics and the images were added to Syndetics cover image database. The identifier to display these puppet images within EIU’s MARC records is not ISBN like we see with many Syndetics cover images, but instead the UPC itself noted in the MARC record’s 024a containing a first indicator=1 (

[2019-05-09 21:48] nmswanson commented on #409
Additional example:

Search result display:
[https://i-share.carli.illinois.edu/vf-eiu/Search/Results?lookfor=Camel+puppet&type=Title&limit=20&sort=relevance](https://i-share.carli.illinois.edu/vf-eiu/Search/Results?lookfor=Camel+puppet&type=Title&limit=20&sort=relevance)
Record display:
[https://i-share.carli.illinois.edu/vf-eiu/Record/EIUdb.1462844](https://i-share.carli.illinois.edu/vf-eiu/Reco

[2019-05-10 14:22] gibsonjc commented on #394
At 5/9 meeting we decided that this work was not feasible to accomplish at this time and was not as necessary given the future of New VuFind, so I will close this Issue.

[2019-05-10 14:22] #394 closed, assigned to nobody

[2019-05-10 14:24] gibsonjc commented on #396
At our 5/9 meeting we decided that given the short life of New VuFind, the work necessary to turn off tags now is not worth the payoff.  I will close this Issue.

[2019-05-10 14:24] #396 closed, assigned to dmcmpbll

[2019-05-10 14:58] gibsonjc commented on #288
Email sent to Liaisons today, 5/10.  Deadline to opt-out is 5/31.  Implement change on 6/7.

[2019-05-13 15:43] gibsonjc commented on #391
@cedelis can you adjust these choices on TEST to: 10, 20, 40, 60
Thanks!

[2019-05-13 15:50] cedelis commented on #391
@gibsonjc These have been adjusted. Thanks

[2019-05-15 12:58] gibsonjc commented on #391
This is ready for Prod!

[2019-05-15 12:59] gibsonjc commented on #94
Rechecked on TEST. Is working as expected and ready for Prod!

[2019-05-16 12:40] gibsonjc commented on #409
This was completed with the reindex on 5/13/19.

[2019-05-16 12:40] #409 closed, assigned to nobody

[2019-05-16 12:41] gibsonjc commented on #407
This was completed with the reindex on 5/13/19.

[2019-05-16 12:41] #407 closed, assigned to nobody

[2019-05-16 20:15] gibsonjc commented on #368
Reindexing Phase 3 performed on 13May2019 now uses the 008 date and new indicator definitions for all scenarios of 260/264 data.  This greatly improves sorting.

Indicator data is also now used for display placement in the record and to customize the labels:

Label | MARC tag | First Indicator | Second Indicator | Subfields to display | Core or Description Tab?
Published | 260 | Blank | any | abc

[2019-05-16 20:15] #368 closed, assigned to nobody

[2019-05-16 20:20] gibsonjc commented on #308
880 vernacular data were already displaying for 780/785 fields by default.  Reindexing Phase 3 on 13May2019 has introduced 880 display for Title, Main Author, Corporate Author, Other Author, Published, and Series fields beneath the Romanized data.  (These are not all fields that may have 880 data associated with them, but they are some of the most common fields.)

In addition, 880 data are now sea

[2019-05-16 20:20] #308 closed, assigned to gibsonjc

[2019-05-16 20:36] gibsonjc commented on #340
Changes implemented in reindexing Phase 3, 13May2019:

- removed 041$h from language
- added 254$a to edition
- added $b3 to 250 in edition
- added $3 to 300 in physical
- added handling for 008[07-10] dates and all scenarios of 260/264 dates
- removed 530 from physical
- added 880 fields to indexes for Title and Author and Series

We do not currently have plans to make any additional changes to i

[2019-05-16 20:47] gibsonjc commented on #390
Blu-Ray and DVD formats implemented with reindexing on 13May2019.

We do not have any plans to make any additional changes to CARLI Custom Formats at this time.

[2019-05-16 23:20] cedelis commented on #391
In PROD

[2019-05-16 23:20] #391 closed, assigned to nobody

[2019-05-16 23:20] cedelis commented on #94
In PROD

[2019-05-16 23:20] #94 closed

[2019-05-17 14:37] gibsonjc opened #410 "Uncomment getDateSpan"
In the recent work on "Published" data, it looks like getDateSpan was accidentally commented out of the CARLI SolrMarc.php file

        //$spec->setLine('Published', 'getDateSpan');

This is for displaying the 362 field, not the 260/264 fields, and needs to be uncommented so it will display.  To avoid confusion, let's change the label to "Dates of Publication"

        $spec->setLine('Dates of Pu

[2019-05-21 15:22] gibsonjc commented on #288
I grabbed copies of these two files from vufind-test today prior to the Test system refresh, just in case:
[code]

[2019-05-22 12:37] gibsonjc opened #411 "Add Google Fi to list of cell carriers for Text Me function"
Google Fi user would like Text Me option (UIC - RT 105984)

vufind/config/vufind/sms.ini

Google Fi Help - Send and receive emails over text message:
https://support.google.com/fi/answer/6356597?hl=en

[2019-05-22 18:21] gibsonjc commented on #411
Can we just port the list of carriers currently used by VuFind 0.6?  It has even more choices.

[2019-06-04 18:44] gibsonjc commented on #288
8 libraries have requested an exception to this change:
CSU
JUD
LLC
NBY
NEI
SML
UIU
WHE

[2019-06-11 15:06] gibsonjc opened #412 "Suppress Bib 852 from staff view?"
UIC has noticed that, unlike VuFind 0.6, the Bib 852 field displays in the Staff View of New VuFind.  They sometimes use 852 $x notes to record rush order information, which includes patron contact info.

Example:
https://i-share.carli.illinois.edu/vf-uic/Record/UICdb.3106961#details

Is it possible to suppress only the Bib 852 from the display in the Staff View tab?

On the ticket, RT 106089, we

[2019-06-18 14:57] cedelis commented on #410
@gibsonjc Can you please provide an e.g. bib that has a 362 field? Thanks

[2019-06-18 15:23] gibsonjc commented on #410
https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.4114809
https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.3891432

[2019-06-18 15:41] cedelis commented on #410
Ready for Testing

[2019-06-20 14:39] gibsonjc opened #413 "adjust UIC stackmap setup"
UIC needs to test some change to their StackMap.  Please make this change on TEST first:

Change these two stackmap files:

* https://www.stackmap.com/integration/uic-vufindv4/StackMap.css
* https://www.stackmap.com/integration/uic-vufindv4/StackMap.js

To these two stackmap files:

* https://library.webhost.uic.edu/stackmap/test_files/StackMap.css
* https://library.webhost.uic.edu/stackmap/test_f

[2019-06-24 15:06] cedelis commented on #408
In TEST

[2019-06-24 15:28] cedelis commented on #413
@gibsonjc I made the change to TEST and the new files simply do not work. No error messages. They just do not work. You can compare the current version in DEVEL (which works: https://i-share-devel.carli.illinois.edu/vf-uic/Record/UICdb.1082396 ) to the new version in TEST (which does not work: https://i-share-test.carli.illinois.edu/vf-uic/Record/UICdb.1082396 ).

[2019-06-26 18:55] gibsonjc commented on #413
For the record, I sent this information to UIC on RT 106579 and he said they'll look into it and why it doesn't work.

[2019-06-26 19:09] cedelis commented on #411
In TEST (can't really test it though, unless someone actually has a Google Fi phone).

[2019-06-26 19:17] gibsonjc commented on #408
Ready for Prod!

Found examples with 382 $s now correctly not displaying:
https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.8421034#details
https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.8326066#details
https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.8421041#details

[2019-06-26 19:18] gibsonjc commented on #410
Looks good, ready for Prod!

[2019-06-26 19:26] gibsonjc commented on #411
@cedelis Can you also see about adding the others that are in VuFind 0.6 but aren't in New? (see list below)  If you can just copy the config definitions from 0.6 to New I was hoping that might be easy enough to do.  If not, oh well. Thanks!
Boost Mobile
Cellular One
Cingular
SunCom
US Celluar
Ting CDMA
Ting GSM

[2019-06-26 19:41] cedelis commented on #411
@gibsonjc Yes, my mistake. I have now added all of the definitions from 0.6 into New VuFind

[2019-06-27 15:03] cedelis commented on #410
In PROD

[2019-06-27 15:03] #410 closed, assigned to nobody

[2019-06-27 15:03] cedelis commented on #408
In PROD

[2019-06-27 15:03] #408 closed, assigned to nobody

[2019-06-27 15:16] cedelis commented on #411
In PROD.

[2019-06-27 15:16] #411 closed, assigned to nobody

[2019-06-27 17:39] cedelis commented on #288
In TEST

[2019-07-01 14:48] gibsonjc commented on #288
There are two kinds of search redirects to the I-Share catalog in WebVoyage:
1. the repeat-search offer you get when you've done a search with no results in the WebVoyage local catalog and
2. the find-other-copies offer you get when the item you are looking at isn't available for some reason.

The no-results-repeat-search redirect from WebVoyage to VuFind for the 8 libraries that opted out (except

[2019-07-01 18:57] cedelis commented on #288
@gibsonjc I added the missing scenarios. I think it is again ready for Testing. Thanks!

[2019-07-10 13:37] gibsonjc commented on #288
@cedelis Very close! All searches are redirecting from WebVoyage TEST to New VuFind TEST now where they should/shouldn't as far as I can tell, but the search for OCLC number (035 field) needs to be updated slightly because in New VuFind, the index you have to search to find it is different.  In VuFind 0.6 you could find it with **type=all**, but in New VuFind you cannot find it with **type=AllFiel

[2019-07-10 14:57] cedelis commented on #288
@gibsonjc Thanks, Jessica. I believe those two scenarios are now fixed. Good eye!

[2019-07-11 14:13] gibsonjc commented on #288
@cedelis This has been fixed for OCLC numbers (035 field) now, it's ready for prod, thanks!

[2019-07-11 14:20] gibsonjc opened #414 "Remove 856s with text "sample" from Results page"
New VuFind is currently configured to display links on the Results page for Bibliographic 856 fields with first indicator 1, 4 or 7 AND second indicator 0 or 1. (See indicator definitions at
<http://www.loc.gov/marc/bibliographic/bd856.html>.) We specifically suppress 856s with text "Table of Contents" from the Results List even if they match these indicator criteria because TOCs are very clearly

[2019-07-12 23:52] cedelis commented on #288
In PROD

[2019-07-12 23:52] #288 closed, assigned to nobody

[2019-08-16 14:10] gibsonjc opened #415 "Update Syndetics subscriptions for FY20"
@cedelis It's time again to update the subscriptions in New VuFind and VuFind 0.6!
(Did this last year and the year before in #360 and #228, respectively.)

Some libraries added, some libraries dropped.
Some libraries changed what they subscribe to.
See the spreadsheet that I sent you directly via email (to protect the innocent).

[2019-09-04 16:10] gibsonjc commented on #415
Looks good on Test, ready for Prod!

[2019-09-04 16:14] cedelis commented on #415
In PROD

[2019-09-04 16:14] #415 closed, assigned to nobody

[2019-09-04 16:17] gibsonjc opened #416 "Update I-Share Catalog button links in WebVoyage"
We completed #288 but forgot to have @fellowsgl change the I-Share Catalog button links.  Gordon needs to do this on voyager-prod for all libraries except the 8 that opted out:
CSU, JUD, LLC, NBY, NEI, SML, UIU, WHE

Example of change for WIU:

voyager-prod:/m1/voyager/custom_webs/WIU_webvoyage/etc/webvoyage/local/opac.ini

Btn02Text=Search all I-Share libraries" TITLE="Search all I-Share librarie

[2019-09-05 13:49] gibsonjc opened #417 "I-Share uc phrase search with quotes and "Hide e-resources..." returns zero results"
Two recent reports/questions about this from SAI and ILC.  Summary of problem seems to be that All Fields, Subject,  and Title searches with a phrase in quotes AND the "Hide e-resources..." filter applied return zero results every time even though not all of the results are e-resources to be hidden.
Doesn't seem to happen to Author searches, however, as demonstrated in Example 1b below. (All examp

[2019-09-05 17:10] cedelis commented on #417
@gibsonjc , I think I know what's happening here. It has to do with the fact that in searchspecs.yaml, *most* of our queries are using the edismax handler in Solr. The ones that do not use this "enhanced" (the "e" part of "dismax") version are "ExactSettings" definitions (searches that contain quotation marks in the search terms).

Here's an example:

[code]

Notice above that the edismax is indee

[2019-09-05 18:16] gibsonjc commented on #417
@cedelis I have tried several different All Fields searches, both with and without quotes, and with and without "hide e-resources..." checked, and yes, this seems to be behaving more correctly now and providing results instead of zero.  I also tried phrase searches with Title, Subject, and Author, and used other filters along with "hide e-resources...", and got reasonable results.  This is ready f

[2019-09-05 18:37] cedelis commented on #417
In PROD

[2019-09-05 18:37] #417 closed, assigned to nobody

[2019-09-05 19:52] fellowsgl commented on #416
This has been completed for all 83.

[2019-09-09 17:34] gibsonjc opened #418 "Suppress local requesting for COL (not SAI)"
COL (not SAI) is using New VuFind as of this summer but does not support local requesting. Please disable local requesting for COL (not SAI)  Thanks!

Last I knew there was a list of institutions is in create_local_vufind_instances.sh under "my %not_requestable" according to Issue #59

[2019-09-09 17:38] gibsonjc commented on #418
@cedelis I somehow bungled the creation of this issue, sorry about that.  I have edited it accordingly to have actual details! :)

COL (not SAI) RT 108453

[2019-09-09 18:12] cedelis commented on #418
In PROD.

[2019-09-09 18:22] cedelis commented on #418
Just making sure we mean SAIdb and not COLdb. Re-opening...

[2019-09-09 18:40] gibsonjc commented on #418
@cedelis We definitely mean COL, I got really mixed up. Please undo SAI and set up for COL.

[2019-09-09 18:43] cedelis commented on #418
In PROD

[2019-09-09 18:43] #418 closed, assigned to nobody

[2019-10-03 15:01] #416 closed, assigned to fellowsgl

[2019-10-04 13:43] gibsonjc commented on #413
Allan sent additional files in Sept. on RT 106579 that Chris added to Test.  Allan approved and Chris moved them to Prod on 10/3. Closing.

[2019-10-04 13:43] #413 closed, assigned to nobody