[2018-02-07 14:08] gibsonjc commented on #260
Thanks @dmcmpbll !  I think that this works fine as is without the blank cover image placeholder gif after all since a cover image will never ever display in this list.  Ready for Prod.

[2018-02-07 14:26] gibsonjc commented on #214
@dmcmpbll and I discussed this a bit today and below are some questions to investigate.  We will likely need @eschell to comment on possible customization options:

1. Is the “Login/Institutional Login” wording in the upper left of the page customizable with the library’s terminology for what their campus calls logging in?
Like for UIUC, could it say “Log in with your NetID and password”
And for M

[2018-02-07 15:08] gibsonjc commented on #208
To start, on Feb. 2 we introduced a different font size for the Institution and Location lines, and have made the Location: label bolded.

Before:
![screen shot 2018-02-03 at 6 38 27 am](https://user-images.githubusercontent.com/17598357/35923508-0df2d3fa-0be6-11e8-80a7-a936ae08cae8.png)

After:
![screen shot 2018-02-03 at 6 38 19 am](https://user-images.githubusercontent.com/17598357/35923545-2b7

[2018-02-08 03:33] dmcmpbll commented on #208
This "After" change is an improvement!

[2018-02-09 23:30] dmcmpbll commented on #277
Will email a new example set to @cedelis and @gibsonjc
Thanks!

[2018-02-12 15:08] gibsonjc commented on #249
This was fixed in December. HathiTrust records appear in prod, test, and devel. Closing this issue.

[2018-02-12 15:08] #249 closed, assigned to nobody

[2018-02-12 20:49] dmcmpbll commented on #194
Adding in that ALP may begin using Aeon as well.

[2018-02-13 16:59] cedelis commented on #95
Ready for Testing

[2018-02-14 16:52] cedelis commented on #169
Here's the SQL that the Voyager driver (parent class of VoyagerRestful) uses to collect data for Holdings information in the Detailed Record page (e.g., https://i-share-test.carli.illinois.edu/vf-sie/Record/SIEdb.374518 ):

SELECT BIB_ITEM.BIB_ID, MFHD_ITEM.MFHD_ID, ITEM_BARCODE.ITEM_BARCODE, ITEM.ITEM_ID, ITEM.ON_RESERVE, ITEM.ITEM_SEQUENCE_
NUMBER, ITEM.RECALLS_PLACED, ITEM.HOLDS_PLACED, ITEM_ST

[2018-02-14 19:05] gibsonjc commented on #169
@cedelis Thanks for this query information and good to know we can tweak it if we want to!

I want to clarify that you say that _Currently VuFind treats ITEM_ENUM as "copy number."_ but I don't think that's true because the MFHD_ITEM.ITEM_ENUM data for SIE BIB 374518 is actually "1975 (v.35)", not "30". The "Copy 30" appears to be some kind of incrementing number that VuFind is building outside of

[2018-02-14 19:31] cedelis commented on #169
@gibsonjc , you are correct about ITEM_ENUM not being treated as "copy number." My mistake. (ITEM_ENUM is, in fact, volume.

It's actually ITEM_SEQUENCE_NUMBER

References:

SQL: https://github.com/CARLI/vufind/blob/carli-release-4.1/module/VuFind/src/VuFind/ILS/Driver/Voyager.php#L619

"copy number" variable assignment: https://github.com/CARLI/vufind/blob/carli-release-4.1/module/VuFind/src/VuFi

[2018-02-15 15:00] gibsonjc commented on #169
Ah, yes, I can see these ITEM.ITEM_SEQUENCE_NUMBER numbers when I look at the Voyager tables. These control, not surprisingly, which order the Items are displayed in the list in Voyager clients, and can continue to be used for determining the order which the items should display here in VuFind as well, but it is decidedly NOT the copy number information that we want to show.

Is there a way that w

[2018-02-15 15:39] cedelis commented on #169
@gibsonjc I made the change to DEVEL (compare  https://i-share-devel.carli.illinois.edu/vf-whe/Record/WHEdb.27108  vs. https://i-share.carli.illinois.edu/vf-whe/Record/WHEdb.27108 , which has two "Copy 1"s).

Could the solution really be this simple? :-) Great catch! I wonder if others using the Voyager (and/or VoyagerRestful) driver never noticed this? And/or did they almost always have only one

[2018-02-15 17:09] cedelis commented on #169
Ready for Testing

[2018-02-15 22:18] dgree1 commented on #294
Let me know if I can assist with this issue. The SFX Systems comm. discussed it 2/14 and agreed this is a big deal for I-Share libs with multiple Circ desks, branch libraries, more than one campus and the like.

[2018-02-15 22:27] dgree1 commented on #268
Can I help with the research? Still on SFX committee's radar.

[2018-02-16 14:20] gibsonjc commented on #268
I believe this search type is already defined in searchspecs.yaml and searches.ini.  Let's uncomment the two JournalTitle lines in searches.ini **as seen in bold below** and see if the option appears in the search type dropdown list and how it works.  Thanks!

; This section shows which search types will display in the basic search box at
; the top of most pages.  The name of each setting below co

[2018-02-16 14:30] gibsonjc commented on #289
@eschell Can you experiment with adding a line of explanatory text to the NewItem page
(i.e. https://i-share.carli.illinois.edu/vf-uiu/Search/NewItem)
for all catalog instances that reads:

Select a range, then click the Find button.

[2018-02-16 14:38] gibsonjc commented on #286
This is a change in functionality, not a bug, and libraries may wish to revisit the OPAC Display names for their Circ happening locations in Voyager SysAdmin. We will document it on the differences page .

[2018-02-16 14:50] gibsonjc commented on #262
This has been documented on the Differences page at:
https://www.carli.illinois.edu/products-services/i-share/opac/opac_differences
We do not currently intend to change how this works so I am setting this Issue to Inactive for now.

[2018-02-16 15:02] dgree1 commented on #268
Good idea.
I’m glad to test.
Denise

From: gibsonjc [mailto:notifications@github.com]
Sent: Friday, February 16, 2018 8:20 AM
To: CARLI/vufind <vufind@noreply.github.com>
Cc: Green, Denise D <dgree1@uillinois.edu>; Comment <comment@noreply.github.com>
Subject: Re: [CARLI/vufind] Add Journal Title to search options (#268)

I believe this search type is already defined in searchspecs.yaml and search

[2018-02-16 15:28] cedelis commented on #268
Ready for Testing

Caveat: I had to also modify searchspecs.yaml because we catalog formats differently than the default VuFind index specs:

 Original:

  **FilterQuery: "format:Journal OR format:Article"**

<pre>
# This field definition is a compromise that supports both journal-level and
# article-level data.  The disadvantage is that hits in article titles will
# be mixed in.  If you are build

[2018-02-16 16:19] gibsonjc commented on #268
Thanks, this looks fantastic, and the format change to searchspecs.yaml you describe makes perfect sense.
But I only see it in the search dropdown on TEST in local catalogs.
https://i-share-test.carli.illinois.edu/vf-eiu/
Can it also be added for I-Share uc catalogs?
https://i-share-test.carli.illinois.edu/all/vf-eiu/
https://i-share-test.carli.illinois.edu/all/vf/

[2018-02-16 16:26] dgree1 commented on #268
I did some quick testing too and looked and worked well.
May I share with SFX Committee?
Thanks.

[2018-02-16 16:34] cedelis commented on #268
@gibsonjc I've added the Journal Title search to the I-Share catalogs, too.

[2018-02-16 16:39] dgree1 commented on #268
Looks and functions as expected. I also tested the SFX button appearing in UC/all I-Share if the patron had either logged in and/or come to UC from a local catalog.

Ex. Via SIUC catalog with correct SFX SIUC buttons;

https://i-share-test.carli.illinois.edu/all/vf-sic/Search/Results?lookfor=%22wall+street+journal%22&type=JournalTitle&limit=20&sort=relevance

[2018-02-16 21:17] gibsonjc commented on #169
This fix at least uses a predictable piece of information now to display after the word Copy: the copy number as found in the Voyager Item Record.  It isn't our ideal, which would be the copy number as found in the MFHD 852 $t, but it is a major improvement, so let's move this to Production!

[2018-02-16 21:24] gibsonjc commented on #268
The new Journal Title search type is ready for Prod!

[2018-02-16 21:49] gibsonjc commented on #225
With New VuFind 4.1 on Dec. 12, 2017, ISSN indexes have been updated in New VuFind to only 022a and 022l (no longer including 440x, 490x, 730x, 773x, 776x, 780x, 785x) and this seems to have solved the problem reported on this Issue that links were appeared when they were not expected to appear (and didn't then link to full text).  Closing this Issue.

[2018-02-16 21:49] #225 closed, assigned to nobody

[2018-02-16 22:29] gibsonjc opened #295 "Custom Login text not displaying in /all/vf-xxx/"
IIT - The login screen that pops up when students request a book via I-Share is different than the screen that pops up when requesting in the local catalog and does not include our custom help text. Students have been very confused about what their barcode is because of this. It is also not clear to them if they have an account already or not.

![screen shot 2018-02-16 at 4 27 30 pm](https://user-

[2018-02-19 14:00] gibsonjc commented on #223
This was completed in early February, closing.

[2018-02-19 14:00] #223 closed, assigned to nobody

[2018-02-19 14:00] gibsonjc commented on #222
This was completed as a result of the launch of New VuFind (4.1), closing.

[2018-02-19 14:00] #222 closed, assigned to nobody

[2018-02-19 14:12] gibsonjc commented on #164
Let's try to remove the Call Number limit option from the Advanced Search screen.  Is it enough to simply comment out its line in facets.ini @cedelis ?

; These facets will be displayed as limiters on the advanced search search screen
; NOTE: To make changes take effect immediately, you may need to clear VuFind's
; cache after changing this section.
[Advanced]
**callnumber-first = "Call Number"**

[2018-02-19 15:33] cedelis commented on #164
Ready for Testing.

diff:

diff --git a/LOCAL_VF_TEMPLATE/config/vufind/facets.ini b/LOCAL_VF_TEMPLATE/config/vufind/facets.ini
index 088a3e6..996fab4 100644
--- a/LOCAL_VF_TEMPLATE/config/vufind/facets.ini
+++ b/LOCAL_VF_TEMPLATE/config/vufind/facets.ini
@@ -127,7 +127,7 @@ topic_facet = "Related Subjects"
 ; NOTE: To make changes take effect immediately, you may need to clear VuFind's
 ; cache a

[2018-02-19 20:20] dgree1 commented on #76
Let me know if I can assist. SFX committee discussed Feb. 14.

[2018-02-19 20:36] cedelis commented on #292
@gibsonjc I am no longer able to reproduce this scenario. Are you able to?

[2018-02-19 20:53] gibsonjc commented on #292
Today IMS still has an ampersand (that displays correctly) but LAC has "and".  Given that they use both versions on their own website http://www.lc.edu/discover/ , it is probably fine to use "and" in the dropdown name to avoid the problem altogether!  Let's close this!
![screen shot 2018-02-19 at 2 48 29 pm](https://user-images.githubusercontent.com/17598357/36396535-54c57466-1584-11e8-9a25-3eef5c

[2018-02-19 20:57] cedelis commented on #76
"Suggested Topics" have been removed from the top of the Search Results page.

Ready for Testing.

Diff:

diff --git a/LOCAL_VF_TEMPLATE/config/vufind/facets.ini b/LOCAL_VF_TEMPLATE/config/vufind/facets.ini
index 996fab4..80e3f73 100644
--- a/LOCAL_VF_TEMPLATE/config/vufind/facets.ini
+++ b/LOCAL_VF_TEMPLATE/config/vufind/facets.ini
@@ -22,7 +22,7 @@
 ; recommendations module is used.  See the [To

[2018-02-19 20:59] dgree1 commented on #76
Great, thanks. Since its on "test" I'll let the SFX committee know.

[2018-02-19 22:02] dgree1 commented on #281
How about this text:

Your search - fjfjfu68 - did not match any resources. Check your spelling. Try using less words or a wildcard symbol at the end of the text like "mary tod*"

Possibly add too:  "Try your search in all I-Share libraries rather than your home library."

[2018-02-19 22:11] dgree1 commented on #273
How about text like "Must have box by title to have renewal options."
![checkboxes_helptext_ex](https://user-images.githubusercontent.com/29785703/36399018-9360a64a-158f-11e8-873a-592d02bd66cd.GIF)

[2018-02-19 22:12] dgree1 commented on #273
Or something simpler like
"No box, no option to renewal."

[2018-02-19 22:14] dgree1 commented on #278
Jessica, do you mean this help text?

https://i-share.carli.illinois.edu/vf-uiu/Help/Home?topic=search

[2018-02-20 17:04] gibsonjc commented on #286
Documented here: https://www.carli.illinois.edu/products-services/i-share/opac/opac_differences
@dmcmpbll - please feel free to adjust the wording there!
Closing this Issue.

[2018-02-20 17:04] #286 closed, assigned to gibsonjc

[2018-02-20 18:03] cedelis commented on #260
In prod

[2018-02-20 18:03] #260 closed, assigned to nobody

[2018-02-20 18:06] cedelis commented on #169
In prod

[2018-02-20 18:06] #169 closed, assigned to nobody

[2018-02-20 19:08] gibsonjc commented on #95
Documented on differences page.  Ready for Prod!

[2018-02-20 19:11] gibsonjc commented on #76
Looks good, ready for Prod!

[2018-02-20 19:12] gibsonjc commented on #164
Good, ready for Prod!
This already looks to be in prod, actually.

[2018-02-20 20:21] #164 closed, assigned to nobody

[2018-02-20 20:24] #76 closed

[2018-02-20 20:25] #268 closed, assigned to nobody

[2018-02-20 20:26] #95 closed

[2018-02-20 20:49] tschwitz commented on #244
I know this is closed, but I'm curious about whether 300$e should be examined as well.

Thinking about this with respect to [RT97737](https://support.carli.illinois.edu/Ticket/Display.html?id=97737).

Nevermind. I see that it's there.

[2018-02-20 21:06] nmswanson commented on #244
The 300e is included in CD-ROM and also Audio CD.

[2018-02-21 14:13] gibsonjc commented on #58
I confirmed with Demian via the email list on Feb. 16, 2018 that this is currently the best way to hide a tab like Similar Items:

[2018-02-21 15:11] cedelis commented on #58
Ready for Testing

[2018-02-21 16:14] gibsonjc commented on #58
@cedelis I'm glad you knew what Demian was talking about!  :-)

Similar Items tab is appropriately gone from /vf-xxx/
https://i-share-test.carli.illinois.edu/vf-eiu/Record/EIUdb.1106653
and appropriately gone from /all/vf-xxx/
https://i-share-test.carli.illinois.edu/all/vf-eiu/Record/274291074
but still showing in /all/vf/ -- can we get this one removed as well?
https://i-share-test.carli.illinois

[2018-02-21 16:31] cedelis commented on #58
@gibsonjc Good catch. My 'clear cache' script was skipping all/vf/ (and vf/). I've updated my script and have cleared out the server-side cache objects. Now, the all/vf/ instance is up-to-date with the new Record Tab definitions, i.e., the Similar Items tab is gone now.

[2018-02-21 18:53] gibsonjc commented on #58
That did it, the Similar Items tab is now appropriately gone everywhere! Ready for Prod!

[2018-02-22 17:16] gibsonjc opened #296 "How can Shibboleth-enabled library staff view account information for I-Share items/patrons?"
UIU - how will staff be able to view account information for I-Share items and I-Share patrons?  Right now, we either use web Voyage (Classic) to view account info, or set up a “new” VuFind account. The latter is necessary when we have to request items for I-Share patrons, or occasionally when we have to request I-Share  items for patrons.

email 2/21/2018

[2018-02-22 19:19] eschell commented on #289
How about something like this:

https://vufind4-mockup.carli.illinois.edu/vf-uiu/Search/NewItem

[2018-02-22 19:38] gibsonjc opened #297 "Neutralize default green accents"
Discovered while investigating suggestion on RT 95599.  Please investigate making these defaults a neutral color.

1. The highlighted selections on the “Browse the catalog” page default to green.
Example:
https://i-share.carli.illinois.edu/vf-elm/Browse/Home

It may be easy to customize this to be the same color as the highlighted Narrow Search option, ifso, we can do that. If it is possible to ju

[2018-02-22 19:52] eschell commented on #255
In the footer template (footer.phtml) I used the same logic that is used to suppress 'Browse Alphabetically' for the 'New Items' link.

https://vufind4-mockup.carli.illinois.edu/all/vf-uiu/Search
vs.
https://vufind4-mockup.carli.illinois.edu/vf-uiu/Search

[2018-02-23 15:36] cedelis commented on #214
@dmcmpbll and @gibsonjc : I've refactored some of the Auth templates ( a6cf2a5516696805300c15d5b94b9eaae8e1f3c8 ), which solved the last bullet point below. This refactoring was also done to hopefully make it easier for @eschell to accomplish the remaining [ I've included comments/suggestions to @eschell below ]:

   [ @eschell , I see that you've already pulled down this refactoring into your dev

[2018-02-26 13:48] gibsonjc commented on #295
This was fixed with the customization updates of 2/23.  Closing.

[2018-02-26 13:48] #295 closed, assigned to eschell

[2018-02-26 13:49] gibsonjc commented on #289
Looks good!
![screen shot 2018-02-22 at 1 44 56 pm](https://user-images.githubusercontent.com/17598357/36560566-b0a62cfe-17d6-11e8-93ff-f70459390f7f.png)
This was fixed with the customization updates on 2/23. Closing.

[2018-02-26 13:49] #289 closed, assigned to eschell

[2018-02-26 13:54] gibsonjc commented on #255
The New Items link was suppressed in all I-Share uc views with the customization updates on 2/23/18.  However, I'm going to leave this Issue open in hopes that in future we might be able to make the link "smart" enough to know that when the URL /all/vf-xxx/ is being used that it should present a link for New Items for vf-xxx.
/all/vf/ should never present New Items.

[2018-02-26 13:55] gibsonjc commented on #254
The Course Reserves link was suppressed in all I-Share uc views with the customization updates on 2/23/18.  However, I'm going to leave this Issue open in hopes that in future we might be able to make the link "smart" enough to know that when the URL /all/vf-xxx/ is being used that it should present a link Course Reserves for vf-xxx.
/all/vf/ should never present Course Reserves.

[2018-02-26 15:38] gibsonjc commented on #58
In prod 2/23. Closing.

[2018-02-26 15:38] #58 closed

[2018-02-26 19:48] cedelis commented on #77
In Test.

[2018-02-26 22:24] cedelis commented on #78
In Test.

[2018-02-27 20:05] cedelis commented on #77
In prod.

[2018-02-27 20:06] cedelis commented on #77
This one is very trivial. Closing issue.

[2018-02-27 20:07] cedelis commented on #78
This one is very trivial. Closing issue.

[2018-02-27 20:07] #78 closed

[2018-02-27 22:05] gibsonjc commented on #163
@cedelis Can you look into what it would take to change the Call Number link on the "Browse the Catalog" page (Ex: https://i-share.carli.illinois.edu/vf-cod/Browse/Home)
![screen shot 2018-02-27 at 3 59 11 pm](https://user-images.githubusercontent.com/17598357/36757532-7a040f36-1bd7-11e8-84b9-edb69689dced.png)

from
https://i-share.carli.illinois.edu/vf-xxx/Browse/LCC
to
https://i-share.carli.illi

[2018-02-27 22:07] gibsonjc commented on #294
@cedelis Ideally, the Voyager system default pick-up location will be the one displayed when one goes into Your Account Profile the first time (and thereafter until you change it to something else).  Currently it seems to be defaulting to the first one alphabetically, which isn't always the system default one.  (See IIT example above.)

If it can't be set to the system default, can the selection b

[2018-02-27 22:16] cedelis commented on #250
In TEST.

[2018-02-27 22:19] cedelis commented on #163
@gibsonjc The easiest thing would be to use apache "magic" (modrewrite) to do this behind the scenes.

[2018-02-28 15:53] gibsonjc commented on #250
Looks good, ready for Prod!

[2018-02-28 15:55] cedelis commented on #163
In Test.

[2018-02-28 15:59] cedelis commented on #250
In Prod.

[2018-02-28 15:59] #250 closed, assigned to nobody

[2018-02-28 16:03] cedelis commented on #150
@gibsonjc I can't seem to find an example that illustrates Purchase History. Can you share an example or two? Thanks!

[2018-02-28 16:53] gibsonjc commented on #150
@cedelis
"Most Recent Received Issues"
https://i-share-test.carli.illinois.edu/vf-isu/Record/ISUdb.494649
https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.3920282

[2018-02-28 17:42] gibsonjc commented on #163
This redirect is working as expected in all local catalogs /vf-xxx/ and is in Production now.

I won't close this yet because "Browse the Catalog" is still present in the I-Share uc /all/vf/ and /all/vf-xxx catalogs and is browsing LC numbers only.  "Browse Alphabetically" is not an option in the I-Share uc /all/vf/ and /all/vf-xxx/ catalogs.  @cedelis Is this because we do not/cannot have the spe

[2018-02-28 18:05] cedelis commented on #163
@gibsonjc Not sure what to do about this because Alphabrowse is set up to work in the local catalogs only. In order for the Alphabrowse feature to work in the I-Share (/all/vf) catalog, we would need to create a separate Alphabrowse index for it (do not confuse this index w/ Solr; it's its own separate index). I do not know offhand if this would be a difficult (or easy) thing to do; I would need t

[2018-03-02 13:00] gibsonjc commented on #264
The 'Search Alternatives' popup no longer appears to be displaying.  This might have been a change between VuFind 3 and VuFind 4, or perhaps it is related to #280 .  Either way, it is gone/done, so I'll close this Issue!

![searchalternatives1 002](https://user-images.githubusercontent.com/17598357/36900054-55dddc92-1de7-11e8-8193-f20e9993e170.GIF)

[2018-03-02 13:00] #264 closed, assigned to nobody

[2018-03-02 15:43] gibsonjc commented on #281
IIT - In VuFind 4 when someone enters a search with no results in the local
catalog they get a No Results! message that doesn't mention I-Share at all.
Could we get a link for the user to redo the search in I-Share? This
functionality exists in the VuFind .6 catalog.  RT 97919

[2018-03-05 20:34] gibsonjc commented on #80
ISU - Library staff would like an Advance Search limiting option similar to the current "Version" options of Any Version, Electronic, Electronic or Print (anything but microform), Print (neither electronic nor microform), or Microform.

I have had two responses on why this is requested. The first would be to have print only limiter. The second is when a person wants to limit to electronic books, i

[2018-03-05 20:43] gibsonjc commented on #80
LIMITS available on the Advanced Search page are
combined with OR by default, so this is Book OR Electronic (OR seems to be indicated by the tilde ~)

https://i-share.carli.illinois.edu/vf-isu/Search/Results?sort=relevance&join=AND&lookfor0%5B%5D=history&type0%5B%5D=AllFields&bool0%5B%5D=AND&filter%5B%5D=~format%3A%22Book%22&filter%5B%5D=~format%3A%22Electronic%22&illustration=-1&daterange%5B%5D=p

[2018-03-05 20:46] gibsonjc opened #298 "Items at libraries that don't allow local requests say "Not Charged" instead of "Available""
NCC - We noticed that all the other schools' records have the status "Available," while ours is "Not Charged."

RT 97879

[2018-03-05 20:48] gibsonjc commented on #298
@dmcmpbll suggests a reason with some examples:  the difference I think is that NCC doesn't allow local call slip, so the status mapping/display is different.

MIL allows local call slip, so it's mapped to "Available":
https://i-share.carli.illinois.edu/vf-mil/Record/MILdb.385986

NCC does not allow local call slip, so it's showing base status of "Not charged":
https://i-share.carli.illinois.edu/v

[2018-03-05 21:05] cedelis commented on #298
The default text for available items (ones which may be Requested) is "Available" (hard-coded in the RecordTab/holdingsils.phtml template).

For items which are *not* available, the actual status value (which comes from Voyager) is used for the text, which happens to be "Not Charged" for the example cited in this issue.

This could be changed. But to what, exactly? A hard-coded string? Does this n

[2018-03-06 21:20] gibsonjc opened #299 "Can copy number display come from MFHD 852 $t"
We improved the Copy number display in Issue #169 from being a hidden-and-not-useful sequence number to the Voyager Item record's Copy number, but ideally, we'd like to be able to display the Copy number found in the MFHD 852 $t instead of the Voyager Item record Copy number.

[2018-03-06 21:21] gibsonjc commented on #299
WHE - I also believe that ideally, copy number should come from the MFHD 852 $t as it apparently did in VuFind 0.6.   RT 96009

[2018-03-06 22:19] cedelis commented on #294
In Test.

[2018-03-07 15:21] dgree1 commented on #294
Chris, did you set the default to be the system default one?
That's what it looked like in
https://i-share-test.carli.illinois.edu/all/vf-iit/MyResearch/Profile

thanks.

[2018-03-07 15:37] gibsonjc commented on #163
@cedelis I think that removing/suppressing the "Call Number" facet from "Browse the Catalog" in the I-Share catalogs (that is /all/vf/ **and** /all/vf-xxx/ ) is the best option at the moment.  We can look into if Alphabrowse index for the uc is a good idea or not later.  Thanks!

[2018-03-07 16:02] cedelis commented on #294
@dgree1 It appears that this feature only works for "valid" patrons.

The API call I make, UBPickupLibService, depends on a "valid" patron. The example you gave me (offline) was a patron who was "blocked from making requests:"

response to UBPickupLibService:

<?xml version="1.0" encoding="UTF-8"?>
<ser:voyagerServiceData xmlns:ser="http://www.endinfosys.com/Voyager/serviceParameters"><ser:message

[2018-03-07 16:11] gibsonjc commented on #80
@cedelis What can you tell me about the way these "Version" advanced search options were implemented in VuFind 0.6?
![screen shot 2018-03-07 at 9 42 36 am](https://user-images.githubusercontent.com/17598357/37103428-d0c84940-21ef-11e8-9251-345cc1e3b7eb.png)

Is there a chance that we can do something similar in New VuFind?

What are the specs in VuFind 0.6 for determining each "version" or where c

[2018-03-07 16:50] gibsonjc commented on #294
If the patron isn't "valid", they can't place a request anyway, so the default pick-up location seems like it might be the least of their worries!

If the patron record is expired, I tested that once the patron record was made to be unexpired, the default pick-up location worked as expected or it honored their choice if they'd made one (as in, it didn't reset it when they were unexpired), so that

[2018-03-07 16:51] cedelis commented on #80
Here are solr log entries on vufind-test for UIU for the various advanced "version" queries. I will put the important parameters (fq, "filter query") beside each "version" query in parens, below:

**Any** (fq=):

INFO: [] webapp=/solr path=/select/ params={fl=*,score&indent=yes&fq=libraryStr:"uiu"+OR+libraryStr:"ebl"+OR+libraryStr:"otl"+OR+libraryStr:"hat"&fq=&fq=&q=*:*+AND+searchable:true&rows=20

[2018-03-07 17:02] gibsonjc commented on #80
Thank you!  So this really was just using the "Electronic" and "Microform" formats that were defined and combining them accordingly with AND, OR, and NOT in the query.

How do you think we might duplicate this functionality in New VuFind?  Can we do something similar and present it on the Advanced search page?  Or something like you did for excluding HathiTrust?  Or do we make some "super formats"

[2018-03-07 17:22] gibsonjc commented on #287
@cedelis We talked about this in email a little bit on August 17, 2017 (Subj: Library data with periods at the end).  At the time, one idea was to look into stripping punctuation from the end of the strings when Alphabrowse makes its index so it didn't see them as separate entries.

https://vufind.org/wiki/indexing:alphabetical_heading_browse
has a page on Alphabrowse that talks about normalizatio

[2018-03-07 21:54] jenhm commented on #42
MBI - Moody is also interested in location limit groups, as they have multiple campuses in multiple physical locations. RT 97891

[2018-03-09 21:25] gibsonjc commented on #207
GSU - Replication Steps: New VuFind
Go to https://i-share.carli.illinois.edu/vf-gsu/ (New VuFind)
Search for the title Someone to watch over me
Receive 4 results
Review hit number 2 says Book
Click on to see more details
Notice Copy 1 says Overdue 03-01-2018

https://i-share.carli.illinois.edu/vf-gsu/Search/Results?lookfor=someone+to+watch+over+me&type=Title&limit=20&sort=relevance

RT 98074

[2018-03-12 19:52] dmcmpbll commented on #273
We asked the CARLI Instruction Committee to weigh in on possible wording and suggestions for placement. Their suggested wording is:

"Items without checkboxes are not eligible for renewal."

Their suggested placement is either directly below, or directly above the space with the renewal buttons, marked "B" and "C" in this screenshot. Some preference was given to "C" over "B", if both locations wer

[2018-03-12 19:54] dmcmpbll commented on #281
We asked the CARLI Instruction Committee to weigh in on possible wording.
Their suggested wording is:

No results.
Your search - SEARCH TERMS HERE - did not match any resources.

You may be able to get more results by adjusting your search terms:
o	Check your spelling.
o	Revise your phrase by removing some words.
o	Repeat your search in the I-Share catalog. (link)
o	Review the Search Tips. (link)

[2018-03-14 17:16] dgree1 commented on #81
Relaying message from SFX committee discussion today. Librarians from ILC, SIM and SIC confirming still a major issue to them. ILC not likely to switch until can filter out other library's e-resource holdings in searching all I-Share.

[2018-03-14 17:20] dgree1 commented on #219
SFX committee members ask about status of this issue. IIT and SIC librarians wondering if had any local control on order of facets. Would like to bump up publication date facet.

[2018-03-15 21:31] dmcmpbll opened #300 "Ability to select multiple search results for same action"
In WebVoyage Classic, it was possible to select multiple search results for the same, simultaneous action (Print/Download/Email).  Would it be possible for New VuFind to have similar "select multiple" functionality?

RT98185- RSH

**WebVoyage screenshots:**
1) Selection checkboxes:
![image](https://user-images.githubusercontent.com/20848151/37492022-b2372058-286d-11e8-8b8e-9f952bbadeed.png)

2) Op

[2018-03-15 21:37] dmcmpbll opened #301 "Update default wording for newly created list"
When someone creates a list in New VuFind and the list contains no items, the terminology at the top of the new list says, "You do not have any saved resources. Perform a search and use the Add to Favorites button to save items."

VuFind 0.6 called the "save" option- "Add to Favorites."
New VuFind calls the "save" option- "Save to List."

Can the default wording when a new list is created be updat

[2018-03-20 13:38] gibsonjc commented on #273
On March 7, 2018, we implemented a different API to obtain Voyager data which presents the renew checkboxes on the New VuFind Your Checked Out Items page for all items at all times even when the item is not renewable, so this wording is no longer necessary.  If  user checks the box and tries to renew an item that cannot be renewed, it will present the message: "This item could not be renewed. Not

[2018-03-20 13:38] #273 closed, assigned to nobody

[2018-03-20 20:35] cedelis commented on #299
In Test.

[2018-03-21 15:07] dgree1 commented on #43
SIC, ILC and KNX all interested in "Request 1st Available" in new VuFind.

[2018-03-21 15:52] cedelis commented on #43
I thought it might be useful if I put together a comparison of the steps for requesting items between the old and new versions of VuFind.

In the old version of VuFind, the "Request 1st Available," (which is a feature that exists only in the Union Catalog) works like the following:

1. In the Holdings display ("Location & Availability" tab), If there exists a holding for the patron's library, the

[2018-03-22 18:01] gibsonjc commented on #299
Here is an example where using the MFHD copy number is an big improvement:

https://i-share.carli.illinois.edu/vf-whe/Record/WHEdb.906627
https://i-share-test.carli.illinois.edu/vf-whe/Record/WHEdb.906627
(Note that in TEST three items are in the same location, but only two are in the same location on PROD)
https://vufind.carli.illinois.edu/vf-whe/Record/whe_906627

[2018-03-23 14:28] cedelis commented on #299
This fix was put into production this morning (along w/ another fix).

[2018-03-23 14:29] cedelis commented on #258
This was tested and put into production today. After tonight's record updates, this issue should be resolved (early tomorrow).

[2018-03-23 14:31] cedelis commented on #294
In production.

[2018-03-23 14:31] #294 closed, assigned to nobody

[2018-03-23 14:35] cedelis commented on #258
Here's an example to test/verify (a Course Reserves bib that is OPAC suppressed):

Accessible: https://i-share-test.carli.illinois.edu/vf-uic/Record/UICdb.3713223

But not searchable: https://i-share-test.carli.illinois.edu/vf-uic/Search/Results?lookfor=%22CYN+531+ERes+Website%22&type=AllFields&limit=20&sort=relevance

[2018-03-23 14:36] #299 closed, assigned to nobody

[2018-03-23 14:40] cedelis commented on #258
Today, on PROD:

Accessible: https://i-share.carli.illinois.edu/vf-uic/Record/UICdb.3713223

But *IS* (incorrectly) searchable: https://i-share.carli.illinois.edu/vf-uic/Search/Results?lookfor=%22CYN+531+ERes+Website%22&type=AllFields&limit=20&sort=relevance

Tomorrow, on PROD, it should be:

Accessible: https://i-share.carli.illinois.edu/vf-uic/Record/UICdb.3713223

But not searchable: https://i-

[2018-03-26 15:41] gibsonjc commented on #301
@dmcmpbll New VuFind seems to consistently use the word List or Items in the following places:

"Save to List" with a yellow star (results list and single record page)
"Your Lists" "Create a List" "Edit List" "Delete List" (Your Account)
"Saved Items" with a yellow star (Your Account)

Are you suggesting that all of these instances of "List" should be changed to "Favorites"?
Is there some indicati

[2018-03-26 15:52] dmcmpbll commented on #301
Sorry for any confusion, I'm suggesting that we update the help-text wording that appears when someone creates a new list in New VuFind to say "Save to List" instead of "Add to Favorites".

[2018-03-26 15:53] dmcmpbll commented on #301
![image](https://user-images.githubusercontent.com/20848151/37917382-e6892a26-30e3-11e8-878f-3fb7d1043585.png)

[2018-03-26 15:54] gibsonjc opened #302 "Suppressed Course Reserves bibs display in general search results"
UIC- RT 98136 We have some older records for electronic reserves that are suppressed from our OPAC but seem to be showing in VuFind 4. If you perform an "All Fields" search for "eres website" you'll find 901 records. An example of an individual record is bib #1954631. I tried another suppressed record for a regular book (bib #601782) and it didn't show in VuFind 4.

A Course Reserves bib that is O

[2018-03-26 15:55] gibsonjc commented on #302
@cedelis You were commenting on #258 ("Course Reserves showing inactive lists") but this problem of suppressed Course Reserves items showing up in regular search results is a different problem, so I've created a new Issue here for that.

[2018-03-26 15:57] gibsonjc commented on #302
Text moved from #258 :

3/23 - This was tested and put into production today. After tonight's record updates, this issue should be resolved (early tomorrow).

Here's an example to test/verify (a Course Reserves bib that is OPAC suppressed):

Accessible: https://i-share-test.carli.illinois.edu/vf-uic/Record/UICdb.3713223

But not searchable: https://i-share-test.carli.illinois.edu/vf-uic/Search/Res

[2018-03-26 15:57] gibsonjc commented on #302
This change was backed out this morning because it had the unintended consequence of breaking the Advanced Search function.

[2018-03-26 16:02] gibsonjc commented on #301
Got it!  You want the text that displays in an empty list

You do not have any saved resources. Perform a search and use the **Add to Favorites** button to save items.

changed to

You do not have any saved resources. Perform a search and use the **Save to List** button to save items.

[2018-03-26 18:25] andimre commented on #267
Libraries in Germany using 4.1.2  also have the facets collapsed.  It is either built into that Vufind release or is just adopted by all German academic libraries that implemented the newer version. examples: https://katalog.fh-erfurt.de/Search/Results?lookfor=oboe&type=AllFields

https://find.bibliothek.tu-ilmenau.de/Search/Results?lookfor=Mozart%2C+Wolfgang+Amadeus+%2F+1756-1791+%2F+Criticism+an

[2018-03-26 18:40] andimre commented on #218
Several German libraries have a "broaden your search" option in VuFind 4.1.2 (on the right under narrow search options)
https://katalog.fh-erfurt.de/Search/Results?lookfor=oboe&type=AllFields

I wonder if it would be possible to provide a link to I-Share from this Broaden search box in 4.1 (or when we eventually upgrade to 4.1.2) rerunning the most recent query that the user performed in the local

[2018-03-26 19:51] cedelis commented on #267
Setting this to collapse by default would require commenting-out this config:

https://github.com/CARLI/vufind/blob/carli-master/config/vufind/facets.ini#L110

i.e., change this:

;collapsedFacets = *

to this:

collapsedFacets = *

[2018-03-30 18:06] gibsonjc commented on #270
KIS - the drop down will say Kishwaukee only not local catalog only right?  RT 98013

[2018-03-30 18:08] gibsonjc opened #303 "Change "All Fields" drop-down option to user-friendly language"
KIS - Change "All Fields" drop-down option to user-friendly language; maybe "General Search," "Basic Search," or something like that?  RT 98103

[2018-03-30 18:11] gibsonjc opened #304 "Reword "Retain current filters" to more user-friendly language"
KIS - Reword "Retain current filters" to more user-friendly language. Maybe "Keep current search options"?  RT 98013

[2018-03-30 18:14] gibsonjc commented on #265
KIS - If possible, remove the "Subjects" field from the display for each record. This doesn't help much, and adds noise to the interface.  RT 98013

[2018-03-30 18:16] gibsonjc commented on #219
KIS - Move the Year of Publication slider up near the top of the facet list. Maybe after the Format facet.  RT 98013

[2018-03-30 18:58] gibsonjc opened #305 "Customize "Library Catalog Profile" page"
SIC - We use Shibboleth for VuFind authentication but the very first time a user tries to access Vufind4, users are asked to establish a catalog profile with their barcode and last name (this is to link the Vufind authentication to the Voyager backend).

Is any of the text customizable on this page?

![sic_profile_page](https://user-images.githubusercontent.com/17598357/38149978-6894c444-3422-11e8

[2018-03-30 19:32] gibsonjc commented on #285
KNX - It would be really lovely if, after clicking on a link to an
e-resource, the link would open in a new tab/page. That way one doesn't
lose one's place in the catalog search.   RT 98459

[2018-03-30 19:40] gibsonjc commented on #300
In config.ini, I think this might be:
https://github.com/vufind-org/vufind/blob/c02b20dd4a628bd83a062b91cd49c56f0ecb2eca/config/vufind/config.ini#L133

[code]

Change to **true** and checkboxes will appear for each item in the search results list along with export/save options somewhere on the page?

[2018-03-30 19:43] gibsonjc opened #306 "need more export options from My List"
KNX - There is no way to get a list in plain text format of items saved in My List. Also, for the export feature from My List, will you be adding options for RIS format and/or Zotero? (RIS is close to plain text, though not exactly; plain text is preferable.)

RT 98459

[2018-03-30 20:54] gibsonjc commented on #306
I believe if we change the options we want to be exportable to **record,bulk** instead of just **true** the same export options will appear on the single record page and the My List page (which appears to be have bulk options by default).  (See also #300 about turning on bulk options.)

https://github.com/vufind-org/vufind/blob/c02b20dd4a628bd83a062b91cd49c56f0ecb2eca/config/vufind/config.ini#L130

[2018-04-02 18:46] gibsonjc commented on #296
LFC - In the old VuFind, we used a proxy account to gain access to patrons' records in I-Share. It was/is just a username and password. In the new VuFind, are we able to proxy?

RT 98485

[2018-04-02 18:46] gibsonjc commented on #296
This should be addressed when we complete #214 .

[2018-04-02 20:06] cedelis commented on #163
This option has been disabled for /all/vf/ and /all/vf-xxx/ in Test.

[2018-04-04 21:02] gibsonjc commented on #163
Removal of "Call Number" facet from "Browse the Catalog" in /all/vf/ and /all/vf-xxx/ looked as I expected.

[2018-04-04 21:03] gibsonjc commented on #247
The problem described by this Issue is Ready for Prod.  I will spin off a new Issue for enhancing the display of enumeration and chronology data.

[2018-04-04 21:05] gibsonjc commented on #302
Suppressed Course Reserves fix ready for Prod.

[2018-04-04 21:06] gibsonjc commented on #246
Multiple MFHDs are no longer grouping together in display. Ready for prod.

[2018-04-04 21:07] gibsonjc commented on #81
Filter to "Hide eResources to which I don't have access" is working as expected as part of the Narrow Search options on the right hand side.  Ready for prod.

[2018-04-04 21:07] gibsonjc commented on #42
Voyager Location Limit Groups now displaying as expected, when present.  When not present, no local locations will display as facets, only CARLI eBooks and HathiTrust (if they are in local catalogs).  Ready for prod.

[2018-04-04 21:16] cedelis commented on #302
In prod, commit 96f5d9dcdf21148a044feb754b1db93d0e6070ff

[2018-04-04 21:16] #302 closed, assigned to nobody

[2018-04-04 21:20] cedelis commented on #247
In prod, commit 69a7f2a652008f033ab12baf568e78d6739ceba4 (I accidentally referenced Issue #147 instead of Issue #247 in the comments).

[2018-04-04 21:21] cedelis commented on #246
In prod, commit 11733f3d120a2737f84847b6fd3f8e98222f0355

[2018-04-04 21:21] #246 closed, assigned to nobody

[2018-04-04 21:22] cedelis commented on #163
In prod. No reference to commit since it was a change to our custom scripts (outside of this git repo).

[2018-04-04 21:22] #163 closed, assigned to gibsonjc

[2018-04-04 21:24] cedelis commented on #81
In prod.

Commits
40287d77cded98667db8bbbe81ee7b45df1ac595
d1139f3449cb3ff5bc1ec39feda462ee8f6541d5
a8bf3cd20773542de22332209f9264674a795561

[2018-04-04 21:24] #81 closed

[2018-04-04 21:28] cedelis commented on #42
In prod.

Commits f7d725e6db86197c9d0ab01168b2c5e176cfe65e
028b353d871f7bc11baace20c0ff50b47795d72b
56f05422a45bcd2c842e612092c9bfeed6e5e47c
357fd459a27eeffb9c53ade5ea9706f7064fe36d
c756ad435aa0a63e368543d9fed9d73b7ae7c30e
8647d6da1959e0133f59f126d21371c995d6aa44
ba1a06bd1c4b859f1db53836c924f5a9615a8ce8
c9aac9241e36b7e9a3c08790f38e6c7d14262088

[2018-04-04 21:28] #42 closed

[2018-04-05 21:25] cedelis commented on #258
The relevant SQL for this issue is presented below. Can someone make them more accurate?

## There are 3 SQL used to populate the drop down lists for Course, Instructor, and Department

### Course:

<code>
select COURSE.COURSE_NUMBER || \\\': \\\' || COURSE.COURSE_NAME as NAME, COURSE.COURSE_ID from MILDB.RESERVE_LIST, MILDB.RESERVE_LIST_COURSES, MILDB.COURSE where RESERVE_LIST.RESERVE_LIST_ID = R

[2018-04-06 13:56] gibsonjc opened #307 "Plain text export option"
KNX - There is no way to get a list in plain text format of items saved in My List. ... (RIS is close to plain text, though not exactly; plain text is preferable.) ... I do think a plain text option (CSV?) might be useful for exporting.   RT 98459

[2018-04-06 13:57] gibsonjc commented on #307
Related to #306 .  RIS will be enabled in 306.  There isn't a separate built-in plain text option or CSV option.

[2018-04-06 14:54] gibsonjc opened #308 "Field 880 data does not display"
UIU - Non-Latin script data is not displaying at all in New VuFind. Here is an example:

Record in New VuFind: https://i-share.carli.illinois.edu/vf-uiu/Record/UIUdb.7792055

Same record in VuFind 0.6: https://vufind.carli.illinois.edu/vf-uiu/Record/uiu_7792055

Same record in Classic Catalog: https://webvoyage.carli.illinois.edu/uiu/cgi-bin/Pwebrecon.cgi?DB=local&v1=1&BBRecID=7792055

I do have a

[2018-04-06 15:17] gibsonjc commented on #242
Not only Item Status, but also the call number and copy number and MFHD 853/863 or 866 holdings and notes.  This bib has a MFHD and an Item, but the Item does not have a barcode:
https://i-share.carli.illinois.edu/vf-aru/Record/ARUdb.407433

<img width="883" alt="screen shot 2018-04-06 at 10 16 08 am" src="https://user-images.githubusercontent.com/17598357/38429305-9f5813b2-3983-11e8-85ad-0e5e56fb

[2018-04-06 16:14] gibsonjc commented on #300
@cedelis When you get a chance, could you make this change on DEVEL so we can see what it looks like and how it works?  I'm not sure if we'll want it or not so don't want it on TEST yet.

In config.ini, change
[code]
to

**showBulkOptions = true**

[2018-04-09 14:55] gibsonjc commented on #274
EIU - While logged into "your account," checked out items default sort is by local library then by due date, hence, any I-share borrowed items do not get listed until the locally borrowed items are exhausted. Primary sort should be due date regardless of supplying library.

RT 98580

[2018-04-09 23:05] dmcmpbll commented on #258
I added in the "Having" line which includes a date range based on the "Now" criteria.
But admittedly, I am unsure if New VuFind uses the "<>Now()" convention.

I am surprised that there were no SQL-coded joins between the tables in the three subqueries.
Should there be joins established in the subqueries?
Example of the table joins I expected to see in the *Course subquery*:
-RESERVE_LIST.RESERVE_

[2018-04-10 17:58] gibsonjc commented on #242
GSU - I have a holdings record that I can't figure out why it is showing that we don't have any holdings available in New VuFind, but is fine in 0.6.

Replication Steps in New VuFind:
Do a title search for Hispania
Receive two records (1 print and 1 microform)
Click on the first result record and see holdings information
Click on the second result record and see "The catalog cannot display locatio

[2018-04-10 18:14] gibsonjc commented on #242
GSU BIBS in question are:
- 85695 with MFHD 87247. Three Items attached but only one has a barcode (that one displays in the holdings area; the other two do not)
- 736228 with MFHD 828558. One Item attached but it is without a barcode (nothing displays in holdings area).

A MFHD must have at least one Item attached with a barcode in order for the MFHD data (call number, copy number, notes, holding

[2018-04-10 20:06] cedelis commented on #80
In TEST...

[2018-04-10 20:45] gibsonjc commented on #270
Variable added 4/6. Awaiting addition of customization form option.

[2018-04-10 20:50] cedelis commented on #258
In DEVEL...

I've added the following constraints to the getCourses(), getInstructors(), and getDepartment() queries in VuFind DEVEL:

    RESERVE_LIST.EFFECT_DATE<SYSDATE
    RESERVE_LIST.EXPIRE_DATE>SYSDATE

...and it seems to have done the trick:  https://i-share-devel.carli.illinois.edu/vf-sei/Search/Reserves

Let me know when/if I should move this over to TEST

[2018-04-11 15:43] gibsonjc commented on #214
Customization templates/variables have been set up were pushed to production on 4/6.

Customization form now available at https://www.carli.illinois.edu/newvufind-shibboleth-login-customization.

Today I emailed contacts from ILC, LFC, MIL, NCC, NIU, NPU, SIC, UIC, UIS, UIU to let them know the options and customization form are now available.  This form will be sent to any library that enables si

[2018-04-11 15:43] #214 closed, assigned to cedelis, eschell

[2018-04-11 15:46] gibsonjc commented on #296
#214 has been completed, so once a single sign-on enabled library customize the new options there, library staff will also be able to use it to troubleshoot user accounts.  Closing.

[2018-04-11 15:46] #296 closed, assigned to nobody

[2018-04-11 21:10] dmcmpbll commented on #258
Yes, I've completed some tests, I think this is ready to move to TEST.

[2018-04-12 15:06] cedelis commented on #258
In TEST.

[2018-04-12 15:17] gibsonjc commented on #242
See email thread with Subject "RE: SCJ and VuFind4 all" on 4/6/2018 for Gordon's suggested SQL?

[2018-04-12 16:09] gibsonjc commented on #270
Option now available on customization form.  Closing.

[2018-04-12 16:09] #270 closed, assigned to eschell

[2018-04-12 16:16] gibsonjc commented on #80
@slknight We have a new "Version" limit on the Advanced Search page of the TEST New VuFind catalog https://i-share-test.carli.illinois.edu/vf-eiu/Search/Advanced if you'd like to check it out and let us know what you think.

[2018-04-13 01:16] gibsonjc commented on #207
RSH - Many records like the one below are for print resources with a related URL to online access.  However, when a link appears in the brief record, the cue for “Available” does not display.  Not all our members have access to the database for the full text.  It appears confusing then for the end-user as to whether print is available unless the full record is opened.

Is this on the dockit  for i

[2018-04-13 01:50] gibsonjc commented on #242
@cedelis I also wanted to point out that there are two levels of problem reported here on this single Issue.  They may be related or not once you dig into it.  If we need to spin off a separate Issue, we can.

1. The data from a Voyager MFHD (Location, Call Number, Copy Number, any notes) is not displaying if there is not an Item records with a barcode attached to it.  Example: https://i-share-tes

[2018-04-13 13:55] cedelis commented on #287
@gibsonjc Yes, there appears to be a known solution. SolrMarc has added new features to its scripting language:

https://github.com/solrmarc/solrmarc/wiki/Index-Specification-Language

<pre>
join    or  join(" : ") -- concatenate the matching subfields producing one output line per matching datafield
separate                -- do not concatenate matching subfields, instead output one line per matc

[2018-04-16 16:39] slknight commented on #80
John Whisler and I have played with this, and it seems there are some issues still.

Comments from John:
Any Version seems okay
Electronic only seems okay
Not Micro retrieves a lot of micro
Print only (no micro, no e) retrieves lots of micro and electronic
Micro only seems to be okay.

I agree with John's summary. Print Only gets Hathi items and microforms.  Here's an example from EIU, search for

[2018-04-17 19:58] dmcmpbll commented on #277
Hi! I'll resend the examples from Feb 9th; they are still be entered in Test.
Please let me know if you'd like a set of examples on Devel instead.

Screenshots from the text examples in VuFind 0.6 and New VuFind are below.

![vufind0 6examples](https://user-images.githubusercontent.com/20848151/38893307-8fa2de8c-424f-11e8-87c9-bbf4249e8fcb.PNG)

![newvufindexamples](https://user-images.githubuserc

[2018-04-18 14:59] cedelis commented on #80
Turns out we really do need to offer a "NOT" operator for both Microform and Electronic formats. So, I decided to do just that. And I've found that the best way to do this in VuFind4+ is to offer these "NOT" operators via "Exclude" checkboxes, which happen to be available in both Basic and Advanced searches.

Therefore, if you wish to perform the same [VuFind 0.6] Advanced search of "Electronic or

[2018-04-18 15:23] gibsonjc commented on #161
I did more testing on this.  The "Live Status Unavailable" indicator displays in the Results list for a title when:

1.  the BIB does not have an 856 field
2. there is not an SFX button presented (no BIB 022 field or 022 field present did not match)
3. a MFHD exists attached to the BIB (it doesn't matter if it has an 856 field or not)
4. there is no Item record

_Notes to self:_
Evidence/example:

[2018-04-18 15:26] slknight commented on #80
Beautiful! The faculty request for this feature was: "I want printed books with early imprints and not get tangled up with digital or microfilm versions of the titles." Applying the electronic and microfilm exclude filters accomplishes this. Results looked good on a quick test.

[2018-04-18 16:03] gibsonjc commented on #72
SAI - We really don't like the bright yellow highlight that appears in search results page. Is there a way to get rid of that OR tone it down by using a different hex color? I don't see that option in the New VuFind Customization form.
RT 98490

SAI - can we also make a plea for getting rid of the obnoxious yellow highlighting of terms? That should either be able to be tailored to your color schem

[2018-04-19 12:40] gibsonjc commented on #242
NBY - Our holdings records also include a url for our users to request an item for use in the building. While we hope to replace those urls,  for now we can't promote the New VuFind for our staff and users.
Examples:
https://i-share.carli.illinois.edu/vf-nby/Record/NBYdb.263203
https://i-share.carli.illinois.edu/vf-nby/Record/NBYdb.772883

RT 98774

[2018-04-19 12:54] gibsonjc opened #309 "Remove "Interlibrary Loan" wording from display when item being requested is not available"
ISU - Similar to the issue of using the term "Interlibrary Loan" that was resolved in GitHub #157 and #156, my colleagues are reporting the term is still being used in the message that pops up when a requested item is not available "You do not have sufficient privileges to place an interlibrary loan request on this item".

![screen shot 2018-04-19 at 7 51 36 am](https://user-images.githubuserconte

[2018-04-19 13:03] gibsonjc opened #310 "change number of I-Share libraries to 90 in footer"
@eschell New VuFind Production, Test, Devel, and vufind4-mockup all still say 86 libraries in the footer. Please change to 90.

[2018-04-19 13:17] gibsonjc opened #311 "Add "clear" button to Simple Search box"
JKM - open call 4/17/2018
Would it be possible to add a "clear" button to the Simple Search box area to clear the text in the search box and any filters applied?

There is a Clear button on the Advanced Search page.

[2018-04-19 13:18] gibsonjc commented on #187
JKM - open call 4/17/2018
Topic and Subject are used in different places.  He prefers for Topic.

[2018-04-19 13:23] gibsonjc opened #312 "New VuFind footer link to "About I-Share" is not for end-users"
JKM - open call 4/17/2018
The link in the global footer to "About I-Share" seems technical and aimed at libraries or library staff.  He'd prefer to see the link for "About I-Share" that would go to a page describing I-Share for end-users.

[2018-04-19 16:39] gibsonjc opened #313 "Display more data from Voyager Item record"
EIU - It appears that New VuFind does not display data from the Voyager item record’s chronology field.  Can this be added?

Here is an example of a serial that uses only the chronology field to identify issues.
https://i-share.carli.illinois.edu/vf-eiu/Record/EIUdb.670182

The second example below is a case where both enumeration and chronology are needed to identify items.
https://i-share.carli.

[2018-04-19 17:00] gibsonjc commented on #313
The Item enumeration data that are displaying is coming from MFHD_ITEM.ITEM_ENUM

Can we also make MFHD_ITEM.CHRON data display here after MFHD_ITEM.ITEM_ENUM, if present?

So then example https://i-share.carli.illinois.edu/vf-eiu/Record/EIUdb.670182
which currently looks like before:
  Copy 1
  Copy 1
  Copy 1
would show this after:
  Copy 1  (2014-2015)
  Copy 1  (2013-2014)
  Copy 1  (2012-2013

[2018-04-20 15:17] gibsonjc commented on #309
In fact, please change all four of these variables in /languages/en.ini to the following to remove the words "interlibrary loan":

ill_request_empty_selection = "No requests were selected"
ill_request_error_blocked = "You do not have sufficient privileges to place a request on this item"
ill_request_error_unknown_patron_source = "Patron library not identified in request."
ill_request_profile_html

[2018-04-20 15:22] gibsonjc commented on #301
In /languages/en.ini please change this variable to this wording:

You do not have any saved resources = "You do not have any saved resources. Perform a search and use the Save to List button to save items."

[2018-04-20 15:38] cedelis commented on #309
In Test.

[2018-04-20 15:42] gibsonjc commented on #107
@dmcmpbll I believe that this particular wording in the original report will never be seen now that we have switched to the different driver (which calls everything Interlibrary Loan instead of Storage Request) and because all transactions are treated like UB.  See #309  However, because we can control the wording of this message, it seems likely that we could add a link to an external page that h

[2018-04-20 15:44] cedelis commented on #301
In Test.

[2018-04-20 17:00] dmcmpbll commented on #301
I think it looks good on test.

![image](https://user-images.githubusercontent.com/20848151/39063973-5de15a14-4492-11e8-96af-7bbf6f2c4fc1.png)

[2018-04-20 19:55] gibsonjc commented on #258
Ready for Prod!

[2018-04-20 19:56] gibsonjc commented on #301
Ready for Prod!

[2018-04-20 19:57] gibsonjc commented on #309
Ready for Prod!

[2018-04-20 19:58] gibsonjc commented on #80
Ready for Prod!

[2018-04-20 21:21] #309 closed, assigned to nobody

[2018-04-20 21:22] #301 closed, assigned to nobody

[2018-04-20 21:22] #258 closed, assigned to nobody

[2018-04-23 13:22] gibsonjc commented on #313
Ideally, we'd like the data to display a bit differently, too, like this:

Copy # MFHD_ITEM.ITEM_ENUM (MFHD_ITEM.CHRON)

Examples of above "after" examples:

Copy 1 (2014-2015)
Copy 1 v.80 (2009 Dec 15)

changing the parentheses () that are being included by VuFind--I assume, because they are NOT in the Item record data--to only appear around MFHD_ITEM.CHRON data when present, and otherwise don't

[2018-04-23 21:33] gibsonjc opened #314 "change Internet to Online Resources in Holdings tab"
We'd like to change the label in the Holdings tab that currently says "Internet" to say "Online Resources" instead.

In the /languages/en.ini file, I see
Internet = "Internet"

Is this the "Internet" label in the Holdings tab on the single record page?  I'll mark this "could be simple" to start in case it is!

[2018-04-23 21:50] gibsonjc commented on #217
Unfortunately, that word "Search" on the single record page might also be this word "Search" on the Results page:
![screen shot 2018-04-23 at 4 34 05 pm](https://user-images.githubusercontent.com/17598357/39154554-3007a9e8-4714-11e8-8316-9a668047c31d.png)

Maybe we can suppress that display of the line "Search: history" on the results page since what one searched for is already in the line below t

[2018-04-23 21:58] gibsonjc commented on #281
There seem to be defaults in place, but I think these can be further refined in the no results area in searches.ini

; Available modules recommended for use in the "no results" area:
;
; AlphaBrowseLink:index
;       Use the query to generate a link to the specified alphabrowse index
; DOI:[prefix]
;       Detect DOIs in the user search query. If a DOI makes up part of the search,
;       display

[2018-04-25 13:34] gibsonjc commented on #310
This appears to be changed to 90 now, so I'll close this Issue. Thanks!

[2018-04-25 13:40] gibsonjc opened #315 "Number of I-Share libraries on splash page"
![screen shot 2018-04-25 at 8 39 59 am](https://user-images.githubusercontent.com/17598357/39249448-5118d2fa-4864-11e8-93fb-3fe290746549.png)

The choose-a-library splash page at
https://i-share.carli.illinois.edu/
says 86 libraries at the bottom and needs to be changed to 90 libraries on DEVEL, TEST, and PROD (probably vufind4-MOCKUP also, although I see that one is out of sync and different from

[2018-04-25 13:49] eschell commented on #315
that file is found at /var/www/html/index.html I updated it on vufind4-mockup but as you mention that one is out of sync.

Since this file is not part of the git repo I can see how the various versions are out of sync.

[2018-04-25 15:33] gibsonjc commented on #107
UIC - call on 4/25/2018 - Would like more descriptive text to explain why a request fails to help the user to understand it probably isn't them, it is probably the item.

[2018-04-25 15:42] gibsonjc opened #316 "Improve the "Saved Searches" label in Your Account"
UIC - 4/25/2018 conference call - They asked about search history, thinking that New VuFind did not offer search history anymore.  They didn't realize that the search history is in Your Account under "Saved Searches".  It is there and records your searches for that session.  This is where you can perform the action to Save that search, and where you can find the saved search in future.  They sugge

[2018-04-26 18:28] gibsonjc opened #317 ""Internet" section of Holdings tab shows Bib 856 data"
The "Internet" subsection of the Holdings tab on the single record page displays the SFX button, or if that's not available (or a library doesn't have SFX), Bib 856 data, or if that's not available, the subsection doesn't display at all.

There is a setting in config.ini :
; This setting controls whether we should display an OpenURL link INSTEAD OF other
; URLs associated with a record (true) or I

[2018-04-26 19:26] gibsonjc commented on #217
Unfortunately, that word "Search" on the single record page might also be this word "Search" on the Results page:
![screen shot 2018-04-23 at 4 34 05 pm](https://user-images.githubusercontent.com/17598357/39154554-3007a9e8-4714-11e8-8316-9a668047c31d.png)

Maybe we can suppress that display of the line "Search: history" on the results page since what one searched for is already in the line below t

[2018-04-26 19:35] gibsonjc commented on #316
Random thoughts:

Recent Searches do appear to be limited to your current session.

Hoping this wording is in languages/en.ini:
history_saved_searches = "Saved Searches"

Maybe call it "Saved Searches and History"?
"Saved Searches and Search History" might be too long for the sidebar in Your Account.

@dmcmpbll Do you have any suggestions or do you wish to ask the Instruction Committee?

![screen

[2018-04-26 19:36] gibsonjc commented on #242
To sum up what we want:

The MFHD record data (852 field Location, Call Number, Copy Number, notes, and all 85X/86X data) should always display in the Holdings tab.  It should not matter if there are any Items attached to the MFHD or if those Items have barcodes or not.

All Item records' data should always display, even if the Item does not have a barcode in it.  I can spin this off into a separa

[2018-04-27 22:06] dmcmpbll commented on #316
Looks like the sidebar wraps at 35 characters (from a test using a saved list name).

My first thought for phrasing is "Recent and Saved Searches"

I will query the Instruction Committee to see if they have recommendations.

[2018-05-02 20:24] cedelis commented on #317
In TEST.

[2018-05-02 20:29] cedelis commented on #315
In TEST.

[2018-05-02 21:15] cedelis commented on #287
Turns out we needed to amend our indexing scripts to trim trailing punctuation on the author_browse and topic_browse Solr fields. We also needed to adjust the authority Solr fields, heading, use_for, and see_also.

Since this requires a complete re-indexing of the local catalog, for now, this is available only on our development server (which is firewalled). Eventually, this will be done on TEST,

[2018-05-03 14:53] gibsonjc commented on #315
Splash page looks good, ready for Prod

[2018-05-03 14:59] gibsonjc commented on #317
I do not see any change in TEST from production.  I might not have described this well enough.

https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.4904630
https://i-share.carli.illinois.edu/vf-uiu/Record/UIUdb.4904630

https://i-share-test.carli.illinois.edu/vf-niu/Record/NIUdb.2727947
https://i-share.carli.illinois.edu/vf-niu/Record/NIUdb.2727947

The config.ini already has replace_other

[2018-05-03 17:01] dmcmpbll commented on #316
Instruction Committee had votes for:

Recent and Saved Searches
Saved Searches and Recent History
Saved Searches/Recent History

[2018-05-03 17:34] gibsonjc commented on #316
In languages/en.ini, please change
history_saved_searches = "Saved Searches"
to
history_saved_searches = "Recent and Saved Searches"

[2018-05-03 18:19] gibsonjc opened #318 "investigate using a Local Call Slip method and a UB method instead of just UB method for everything"
Reopen investigation to see if we must use UB mechanisms for both local and UB requests.

[2018-05-03 18:35] gibsonjc opened #319 "Strip punctuation from ends of *_facet fields"
Creating an Issue for an improvement discussed in today's meeting.  It is already in place on DEVEL.

Compare the Author facet on
https://i-share-test.carli.illinois.edu/vf-uiu/Search/Results?lookfor=pratchett%2C+terry&type=Author
to
https://i-share-devel.carli.illinois.edu/vf-uiu/Search/Results?lookfor=pratchett%2C+terry&type=Author
and note the consolidated headings

[2018-05-03 18:37] gibsonjc commented on #265
ISU - Uniform titles  RT 97003

[2018-05-03 18:37] gibsonjc commented on #265
UIU - I've had a couple of comments about inclusion of Uniform Title in the record display. Currently, in VuFind 0.6, the Uniform Title is included in the More Details Tab. In VuFind 4.1, we are not seeing Uniform Title displayed in the Fuller Record display or in the Description Tab.

Is there anyway we can get Uniform Title to show in either 1) larger record display or 2) in the Description Tab.

[2018-05-03 18:38] gibsonjc commented on #71
UIU - The other comment I've gotten recently involves the order of the facets. In VuFind 0.6, Format is the first facet in the list on the left side. In VuFind 4.1, the first facet is Location. Again, from our Music Library, is there the ability to make Format the first format in this new version.

email 5/2/2018

[2018-05-03 19:17] cedelis commented on #318
This is now on TEST.

Commit 30219a2b4178a447055cc9e2252a27b94ad91e59

[2018-05-03 19:17] cedelis commented on #318
commit 30219a2b4178a447055cc9e2252a27b94ad91e59

[2018-05-03 19:32] cedelis commented on #317
In TEST (again).

[2018-05-04 21:00] gibsonjc commented on #310
This is needed on the index page https://i-share.carli.illinois.edu

This is on TEST but not on Production, so I'm reopening the Issue until it is.  (I thought it was good on Prod when I looked before but who knows, I might have been looking in the wrong place!)

[2018-05-04 21:05] gibsonjc commented on #317
This looks good on TEST, it is ready for PROD.
Whatever you did seems to have suppressed or removed the "Internet" label from the top of the Holdings tab altogether.  As it turns out, we like it being gone very much, so please don't bring it back!  Having "Internet" removed also resolves #314 , so we don't need to worry about changing the label wording to something else and can close it as a resul

[2018-05-04 21:41] cedelis commented on #310
In prod.

[2018-05-04 21:41] #310 closed, assigned to eschell

[2018-05-04 22:01] gibsonjc commented on #232
Seems to sort by Call Number (including prefix) first
then alphabetically by Location Code or OPAC Display Name?
then by MFHD ID or create date?

Needs more testing to figure out the lower sort levels.
I'm a bit surprised that the prefix would be included in a call number sort as well.

[2018-05-08 18:47] cedelis commented on #313
This is now in TEST.

[2018-05-08 22:39] gibsonjc commented on #313
More Item data looks GREAT! Ready for Prod!

[2018-05-08 22:49] gibsonjc commented on #242
IIT - RT 99170

[2018-05-08 22:56] gibsonjc commented on #234
IWU- RT 99180
It looks like a link displays on the results list if there is a url in the
856 field on the Bib record. If the url is in the MFHD, then you do not see
the link unless you click on the full record.

We have quite a few bad links in our bib records which we need to cleanup.
Most of these are links to book images, tables of contents, and links to
resources which do not include our proxy

[2018-05-11 17:28] gibsonjc opened #320 "StackMap for DPU and UIC"
@cedelis @eschell @fellowsgl (I'm not sure which of you to tag.)

DPU asked on RT 99262 if we could try putting the same StackMap code that they already have in VuFind 0.6 into the header of New VuFind to see if it will work "as is".

[code]

For background, we implemented this for them in VuFind 0.6 in [RT 82442](https://support.carli.illinois.edu/Ticket/Display.html?id=82442)

[2018-05-11 19:03] gibsonjc opened #321 "New Items results limited to 10 pages (200 items)"
EIU - It looks to me like I only get a maximum of 200 items in the New Items list.  We frequently have many more than 200 in the 5-day and monthly time spans.

RT 99291

Indeed, in searches.ini:

[2018-05-11 19:41] gibsonjc commented on #321
EIU - I'm not sure how much of a "problem" this really is.  We currently maintain a New Book Shelf which doesn't contain all new books (just the pretty ones), and we get the static monthly lists that you folks generate.  And we have mechanisms in place to deliver new books when they arrive to patrons who have expressed an interest in them.  I'm not sure a patron needs to be able to plod through a

[2018-05-14 14:13] gibsonjc opened #322 "Linking functions use record IDs but record IDs are not persistent in I-Share union catalog"
In the I-Share union catalog, the record ID numbers are not persistent.  In New VuFind, the functions for Cite this, Text this, Email this, Export record, and Save to List all use the record ID to link back to the item.

Example:
https://i-share.carli.illinois.edu/all/vf-eiu/Record/274664087

Can these functions be adjusted to use the 035 field instead?

Can the 035 field be used to go directly to

[2018-05-14 17:49] gibsonjc commented on #43
ROU, MBI, and a third institution - requested this feature at the 5/9/2018 webinar

[2018-05-14 17:51] gibsonjc commented on #43
Let's further discuss adding a tab/option/feature to request a system-selected copy in the near future.

[2018-05-14 19:10] gibsonjc commented on #319
This change to the facet fields to strip commas at the end looks good on DEVEL.  Please put in place on TEST when you get a chance.  Thanks!

[2018-05-15 14:19] gibsonjc opened #323 "Don't display 'Request Item' link for items that are not requestable"
LCC - Greetings!  I discovered today that in the New VuFind, serials holdings are showing an option to request the item.  An example may be viewed for Time Magazine <https://i-share.carli.illinois.edu/vf-lcc/Record/LCCdb.59193>. Thankfully, if you log-in and try to request the item the request fails.  I re-checked the Voyager Matrix and Serials N is listed as non circulation for all of our patron

[2018-05-15 20:48] nmswanson commented on #274
SAI - Checked out Items order -- currently the order of items checked out/due
is by institution. This makes it hard for people to see what is coming due
first and for those with lots of books checked out, requires them to scroll
and search ALOT.

RT 99380

[2018-05-15 20:55] nmswanson commented on #43
SAI - No Request First Available. This is especially hard with records with
MANY items in the I-Share catalog. Additionally the flag is not very
pronounced and is hard to find amongst the layout.

RT 99380

[2018-05-15 21:12] nmswanson commented on #117
SAI - Once logged in, no name appears at the top. In the previous iteration
the users full name displayed in the top right hand corner where it said
logged in. In the new version, there is no way to see what user is logged
in. The fear is that on public computers people will have access to
sensitive information and that people may start requesting materials to the
wrong account.

RT 99380

[2018-05-16 16:34] cedelis commented on #319
Related to Issue #287

This is currently merged in an issue-specific branch. It would be easier to pull this specific change ( commit b81d359e4633d587ad542ecc55ece45c52a0d777 ) along with Issue #287 , since the modification to file schema.xml contains other changes (which are not ready to do right now). In the meantime, I can (and will, at the time of this writing) manually edit this on TEST tempo

[2018-05-16 19:22] nmswanson commented on #207
SAI - When doing this search :
https://i-share.carli.illinois.edu/vf-sai/Search/Results?lookfor=weil%2C+simone&type=Author

Some items show the availability status, and others do not on the search
results page -- is there a reason for this?
My guess is that the system is pulling the links to descriptions/table of
content links and placing those in the results page, not leaving room for
the availab

[2018-05-16 20:02] nmswanson commented on #217
JKM - Suggestion: please consider renaming 'Search' in the Search [Title]
Holdings link to 'Back to Search Results'
RT 99414

JKM - Please change 'Search' to 'Return to search results' option when viewing an individual record.
RT99919

[2018-05-17 14:07] nmswanson commented on #113
SAI - We've discovered a number of missing Summaries in the Description pages in
our new VuFind catalog. We do purchase ProQuest Bowker Syndetics' Summaries
and Annotations through CARLI.

Here's one example:

correct display in old VuFind (0.6)
https://vufind.carli.illinois.edu/vf-sai/Record/sai_341448/Description

missing summary in New VuFind (4.1)
https://i-share.carli.illinois.edu/vf-sai/Reco

[2018-05-17 15:01] cedelis commented on #315
In PROD.

[2018-05-17 15:01] #315 closed, assigned to nobody

[2018-05-21 13:57] gibsonjc commented on #320
To be clearer: let's try to put DPU's StackMap code on the TEST server for /vf-dpu/ to start to see if it works "as is" or not.

[2018-05-21 14:04] gibsonjc commented on #322
In the I-Share union catalog views /all/vf/ or /all/vf-xxx/, the Cite-Text-Email-Export-Save functions at the very top of the record link to the union catalog record ID, which will not be persistent.

However, the Cite-Text-Email-Export-Save functions present with each Holding link to the local catalog record for that library's holding via Voyager Bib ID which will be persistent (for as long as we

[2018-05-21 14:51] gibsonjc commented on #265
SAI - Old catalog included what is called the statement of responsibility from the MARC record after the title (like this):

Three paths to the lake / stories by Ingeborg Bachmann ; translated by Mary Fran Gilbert ; with an introduction by Mark Anderson.

new catalog: https://i-share.carli.illinois.edu/vf-sai/Record/SAIdb.163476
old one: https://vufind.carli.illinois.edu/vf-sai/Record/sai_163476

[2018-05-21 19:11] cedelis commented on #318
In PROD.

[2018-05-21 19:11] #318 closed, assigned to nobody

[2018-05-21 19:12] cedelis commented on #317
In Prod.

[2018-05-21 19:12] #317 closed, assigned to nobody

[2018-05-21 19:12] cedelis commented on #313
In Prod.

[2018-05-22 17:45] dmcmpbll commented on #274
UIU- Is it possible for patrons to view their checked out items arranged (toggled) by due dates in New VuFind 4.1? The previous version of VuFind allowed (still allows) patrons to arrange by Title, Library, Due (date), and Status.

RT 99535

[2018-05-22 18:26] dmcmpbll commented on #172
SAI- It might be confusing for patrons who try and renew, especially because you can often renew an overdue item, but not a "lost" item. As of now in the new VuFind "lost" items (both ours and I-Share) only show up as overdue and don't indicate they have gone in to lost status.

RT 99531

[2018-05-22 20:25] dmcmpbll commented on #242
Would it be helpful if I paste in an example of server SQL for the "SQL for bibs w/ item records" portion that accounts for items without barcodes?
Looking at the SQL they use is complicated because it doesn't contain normal table joins. <-- edit I see that they're joining in the criteria instead (when reviewing in Access). Will try to write with that method.

[2018-05-24 18:33] nmswanson commented on #274
LNC- I was wondering if it would be possible to add the option of sorting
checked out items by due date to VuFind 4. On the old VuFind this was
available and is very useful. Thank you!

RT99600

[2018-05-24 18:52] gibsonjc commented on #274
UIU - We went live with VuFInd 4.1 on May 21st. Our users are starting to encounter and send in suggestions for improvements. One of the most frequent ones we are getting involves sorting checked out items in their My Account. Several have asked for the capability to sort on Due Date while others want the ability to sort alphabetically.

Here is one comment:

"I have a long list of Checked Out Ite

[2018-05-24 21:15] dmcmpbll commented on #277
UIU- "I'm forwarding you this request we had from patron asking about the inclusion of status of Requested items. It was a feature of VuFind 0.6 but the status information is not included in the initial list of requested items. Someone showed up at the desk of one of our libraries today at UIUC but the requests had not been processed."

RT 99607

[2018-05-24 21:44] dmcmpbll opened #324 "Customize/Enlarge login button"
5/9/2018 - During the New VuFind Overview Webinar Q &A, attendees inquired whether it might be possible to make the New VuFind patron login button larger/more prominent/customizeable.

[2018-05-24 23:09] dmcmpbll opened #325 "Enable "Hide EResources To Which I don't have access" as default"
5/9/2018 - During the New VuFind Overview Webinar Q &A, attendees inquired whether it might be possible to make the “Hide eResources to which I don’t have access” limit be set as “checked” by default

[2018-05-25 13:08] gibsonjc commented on #324
@eschell is already able to customize the text of the button per library and will be adding an option to the Customization Form in future.  He will need to look into if it is possible and desirable to make the whole thing larger.  We would want to maintain consistency between all libraries, so the location and size may need to remain standardized.

[2018-05-25 18:43] gibsonjc opened #326 "Add "Show local catalog results only/Show all libraries" option"
SIC - Add a similar "Results for…"  feature (like the one currently available in VuFind 0.6) to promote easy toggling back and forth between the local and the union catalogs.

If a user is in the I-Share union catalog, it is not currently easy to narrow to your local library’s holdings only.  The Institution facet lists results by number of libraries that hold an item so your institution may be an

[2018-05-25 18:48] gibsonjc commented on #218
SIC suggested that making the Institution facet smarter so that your local institution is always at the top of the list of institutions (when known) would be an improvement to this facet (assuming your institution has any results, of course); however, #326 would probably be better at facilitating movement between the local catalog and the union catalog if that is possible.

And perhaps if #326 is

[2018-05-25 18:50] gibsonjc commented on #281
SIC would like to see the option to search I-Share added to the no results text

Added 6/12/2018:
RT 99929 - We would like to have a link on the local catalog "No results page" instructing patrons to repeat search in I-Share.

This is what we get in Vufind 4.1 when no result is found. It would be great to have a link to I-Share that executes the same search as the one that failed but if that is no

[2018-05-25 19:20] gibsonjc opened #327 "Location facet sort order"
TIU - We have come across a specific question regarding location limits in the new vu-find.

In the current instance [0.6], it appears that location limits are "in descending order by the number of records to which they will reduce the result set," however, in new vu-find this is not (or does not appear to be) the case.

We have conducted the same search "Green" in both instances of vu-find (speci

[2018-05-25 19:42] gibsonjc commented on #327
These are not sorted by number of hits, ID, Code, or Name.
We are unable to sort them by number of hits in New VuFind.
We will sort them by Name.

[2018-05-25 21:14] gibsonjc opened #328 ""Request failed due to system error" message during request by UB ineligible user"
When a patron that is not UB enabled (UB eligible checkbox not checked, so patron group not mapped into other I-Share libraries) attempts to place an I-Share request, they see this screen:

![req_failed_due_to_system_error](https://user-images.githubusercontent.com/17598357/40566403-139bcf6a-6036-11e8-96f8-299188d87b6d.jpg)

If the patron then attempts to place the request, they see the same messa

[2018-05-25 21:17] gibsonjc opened #329 ""You have no available requests in this database" message during local request"
When a local patron attempts to place a local request (AAA) and the SysAdmin> Circulation> Policy Definition> Patrons Tab> patron group> “Place Call Slip Requests Using the OPAC” checkbox is not checked for their patron group (even if all matrix entry settings are enabled), the patron receives the message, “You have no available requests in this database.”

![you_have_no_available_reqs](https://us

[2018-05-25 21:18] gibsonjc opened #330 ""Patron is not authorized to place a call slip on this particular item" message during request"
If the patron is eligible to place local call slip requests (SysAdmin> Circulation> Policy Definition> Patrons Tab> patron group> “Place Call Slip Requests Using the OPAC” checkbox is checked), but the Call Slip checkbox is not checked in the matrix entry, the patron receives the message "Patron is not authorized to place a call slip on this particular item" for their AAA request.

![patron_is_not

[2018-05-25 21:21] gibsonjc opened #331 ""You do not have sufficient privileges..." message during request"
If the UB checkbox is unchecked for the UB-eligible patron’s matrix entry in an I-Share library, the patron receives the message "You do not have sufficient privileges to place a request on this item."

![you_do_not_have_sufficient_privs](https://user-images.githubusercontent.com/17598357/40566675-71ec92b0-6037-11e8-9fb4-e0b8efc72193.jpg)

We should change this error message to be more helpful.

e

[2018-05-25 22:00] dmcmpbll commented on #331
UIU- "Items with local circulation that are non-requestable by I-share patrons seem to be requestable, listing the home institution as the only pick-up location. (Patrons may ask why can't they change the library pick up location.) This may confuse patrons because they think should be able to request the item but no reason is given why the item request location is only for the local institution."

[2018-05-29 20:16] Rolfing-Library commented on #274
TIU - We would also like to see the ability to sort books by due date. Ideally, it should default to due date - not home library and then I-Share libraries. b

[2018-05-30 17:41] gibsonjc commented on #327
Need to determine if it is more efficient/possible for Gordon to try to sort the data alphabetically by Name in loc_limit_grps.txt before giving it to Chris, or for Chris to sort the data in loc_limit_grps.txt after receiving it from Gordon.

[2018-05-30 17:50] cedelis commented on #327
@gibsonjc I've already sorted it in code. In Test.

[2018-05-30 17:53] gibsonjc commented on #314
This label was removed with the implementation of #317. Closing.

[2018-05-30 17:53] #314 closed, assigned to nobody

[2018-05-30 19:49] fellowsgl commented on #167
Here is my first cut at sql to return the eitem.  It has all the fields the item query returns with my best guess at values for fields that don't have equivalents in the eitem context.

SELECT
BIB_MFHD.BIB_ID,
BIB_MFHD.MFHD_ID,
' ' as ITEM_BARCODE,
EITEM.EITEM_ID as ITEM_ID,
'Y' as ON_RESERVE,
EITEM.SEQUENCE as ITEM_SEQUENCE_NUMBER1,
0 as RECALLS_PLACED,
0 as HOLDS_PLACED,
'eitem' as status,
MFHD_

[2018-05-30 21:39] Rolfing-Library commented on #325
Yes! TIU was one of those requesting this change. It would be very helpful so that our users are not confused by/wasting time trying to access these resources.

[2018-05-31 14:12] nmswanson commented on #242
UIU's example with no barcode-

https://i-share.carli.illinois.edu/vf-uiu/Record/UIUdb.7863500#description

Patrons seem to have no way to request this item in VuFind 4.1

Compare to VuFind 0.6: request option present:

https://vufind.carli.illinois.edu/vf-uiu/Record/uiu_7863500/Request

One more note about this record. This title is part of the Purchase on Demand collection of records we have loa

[2018-05-31 14:40] cedelis commented on #327
In prod.

[2018-05-31 14:40] #327 closed, assigned to nobody

[2018-05-31 14:41] cedelis commented on #319
In prod.

[2018-05-31 14:41] cedelis commented on #287
In prod.

[2018-05-31 14:41] #287 closed, assigned to nobody

[2018-05-31 15:52] gibsonjc commented on #319
Done in local catalogs but I'm reopening this Issue because it still needs to be done for the uc catalog.  Aim to start work Tue. June 5.

[2018-05-31 16:11] cedelis commented on #320
I added the StackMap code on TEST for DPU. It does not work "as is":

https://i-share-test.carli.illinois.edu/vf-dpu/Search/Results?lookfor=&type=AllFields

So, it appears that there need to be customizations made to the following (javascript and/or CSS) in order for it to work probably with this new version of VuFind:

https://www.stackmap.com/integration/depaul_vufind/StackMap.js
https://www.sta

[2018-06-01 18:01] gibsonjc commented on #277
UIU - Patron reported being confused by "Created:" dates for requested items. Note the dates are in the future.

Also note that the dates correspond to the Voyager-side "Expires" dates for their in-transit requests.

The dates in the "future" seem potentially confusing for patrons.

RT 99717

[2018-06-01 18:26] gibsonjc opened #332 "Checked Out Items do not show serial volume information"
UIU - Patrons with multiple volumes of same serial can't tell which specific volume number is in their account.  See "North nord" and "House beautiful;" examples in one patron's account:

![screen shot 2018-06-01 at 1 07 09 pm](https://user-images.githubusercontent.com/17598357/40856218-b75f0da4-659c-11e8-8c64-7f8c13d1d32c.png)

![screen shot 2018-06-01 at 1 22 39 pm](https://user-images.githubuse

[2018-06-01 20:01] nmswanson commented on #57
TIU -
We've noticed some differences with the new VuFind and we're wondering if
you can explain why. We've done some title searches (using exact title
names) in both the old and new versions and have gotten different results.
For example, when searching for "Nurture that is Christian" in the new
VuFind, it comes up second, with the most recent edition showing up
*seventh* down the list. In the old

[2018-06-01 20:40] dmcmpbll commented on #238
SAI-
"When I use my Zotero Chrome plugin to add items from the library catalog to my Zotero library, I get poorly formatted bibliographic information from the catalog's metadata. For example, place of publisher is not included, and there are extraneous marks like commas after the publisher and a slash at the end of book titles. Do you know if there are ways to improve this translation - or whether

[2018-06-05 16:18] gibsonjc opened #333 "Default pick-up location for library is not being honored"
UIU - RT 99594

[2018-06-05 18:35] cedelis commented on #333
In Test

[2018-06-07 14:31] gibsonjc commented on #207
TIU - RT 99852 It seems that the green available button is usually there, but not always. The first item in this results list does not have it, but when you click on the item it says it is available. This is confusing for students who are just scrolling and looking for available books.
Example:
https://i-share.carli.illinois.edu/vf-tiu/Search/Results?lookfor=through+the+darkly&type=AllFields

[2018-06-07 15:46] cedelis commented on #242
Debbie's SQL improvements have been moved to PROD.

5435efceb333ab7e1feaaf47604798fab2e504bd

[2018-06-07 15:46] #242 closed, assigned to nobody

[2018-06-07 15:50] cedelis commented on #333
Added code to pre-select the system-wide default if patron hasn't yet chosen their own preferred pickup location

cd4682ac7029162d493ce370579377cf2d2787c2

[2018-06-07 20:14] gibsonjc commented on #282
EIU - RT 99872
Our Teachers Center librarian would like to have cover images available for kits and other unusual items in her collection.

Looking at the VuFind documentation, it appears to be possible to set a secondary source for cover images in config.ini. Is this a customization that the 4.1 team is willing to try? The cover image section in the config.ini file starts at line 621 in the CARLI

[2018-06-08 13:17] gibsonjc commented on #298
@cedelis I like this simple idea of a translation mapping for "Not Charged" -> "Available".  Could you try this on DEVEL and we can see what it looks like?

[2018-06-08 13:40] gibsonjc commented on #207
Newly prioritized issue.  On the Results page, when a Bib 856 field is present, the system seems to  hide the Status/Availability icon that usually appears after the blue Format Icon.

We want the Status/Availability icon to display on the Results page at all times when it is possible; we do not want it suppressed for any reason.  Is there any logic that might be affecting this display of informat

[2018-06-08 14:27] cedelis commented on #298
@gibsonjc Yes, adding a translation mapping works:

https://i-share-devel.carli.illinois.edu/vf-ncc/Record/NCCdb.100797

[2018-06-08 15:38] gibsonjc commented on #298
Thanks!  Hmmm, it does change the words from "Not Charged" to "Available" on the single record page, but might have the unintended consequence of duplicating the item line display.  See how there is now one Copy 1 with no status and another Copy 1 with "Available" in red text on
https://i-share-devel.carli.illinois.edu/vf-ncc/Record/NCCdb.100797 ?
<img width="693" alt="screen shot 2018-06-08 at 10

[2018-06-08 15:43] cedelis commented on #298
@gibsonjc This is a red herring. The change I made only translates text; it does not affect any other data associated with Holdings.

It's more likely related to Issue #242 or some other Holdings related issue.

[2018-06-08 18:01] gibsonjc commented on #298
Ok, yes, that extra line was a red herring due some extra code on DEVEL that was being tested before #242 was solved.  Once it was removed the display returned to a single line!

So, yes, the translation of the words works great, but I'm not sure if we need the words ["Not Charged" translated now to "Available"] to be in GREEN text instead of RED.  I will consult with others.

[2018-06-12 13:47] gibsonjc opened #334 "RETURNDATE not providing useful information in Holdings tab display SQL"
RT 99886 - This information may be useful for simple transactions, but for overdue items, the date remains the last time the item was discharged from a patron's account, which is confusing.

The "returned date" from circ_trans_archive was in the original SQL that was used by New VuFind.

Debbie added in an "AS" before the "RETURNDATE" alias label because it was missing. Did adding in that "as" act

[2018-06-12 15:07] cedelis commented on #334
Commit f5b748ecd2c96e155ce60bbc6d8124c66d0db409
[I accidentally referenced Issue #344 instead of #334 (typo) in comments.]

[2018-06-12 15:07] #334 closed, assigned to nobody

[2018-06-12 15:09] cedelis commented on #334
@gibsonjc This was a simply one-liner. It's in PROD. [btw, I commented-out the RETURNDATE column; the inclusion (or omission) of 'AS' does not affect anything.]

[2018-06-12 18:14] dgree1 opened #335 "SFX button displaying when should not since title NOT active in SFX local instance"
SFX button displaying in New VuFind when no corresponding active title in SFX knowledge base for the library.
Examples.
1. "Contents of contemporary mathematical journals" ISSN 0010-759X
 https://i-share.carli.illinois.edu/vf-uiu/Record/UIUdb.43001
 https://vufind.carli.illinois.edu/vf-uiu/Record/uiu_43001
 UIU bib 43001: has 022 ‡a 0010-759X
and no 022 subfield l.

2. Journal of mathematics and a

[2018-06-12 19:00] cedelis commented on #319
Last week, we reindexed the uc catalog.

[2018-06-12 19:00] #319 closed, assigned to nobody

[2018-06-12 19:10] cedelis commented on #316
In TEST.

[2018-06-12 19:43] gibsonjc opened #336 "Renew box for individual items in Your Checked Out Items not showing on mobile/small size"
New VuFind is supposed to have responsive design so that the screen scales at any size.  However, when you view Your Checked Out Items on Mobile, the checkbox to renew an individual item is missing.

You can reproduce this if you slowly shrink a full size browser window:

<img width="771" alt="screen shot 2018-06-12 at 2 40 45 pm" src="https://user-images.githubusercontent.com/17598357/41313128-b1

[2018-06-12 19:48] gibsonjc commented on #336
This is a problem on the vufind.org Demo site as well:

![screen shot 2018-06-12 at 2 48 23 pm](https://user-images.githubusercontent.com/17598357/41313506-b8befad6-6e4f-11e8-8a0f-62a6d0ae8096.png)

[2018-06-12 19:55] gibsonjc commented on #336
https://vufind.org/jira/browse/VUFIND-1119 says this was fixed on the "Holds" page but it appears to be broken again if you go to the example given for the Demo.  It has the same problem that the Your Checked Out Items page has.

[2018-06-12 21:38] nmswanson commented on #265
NIU College of Law:

-I would definitely like the 590 field to display in the local New VuFind OPAC in the description tab; it's not as important to me that it show up in the UC, since those displays are shared between all the libraries that hold an item.

-I would also like to suggest displaying the 690 field on the main record display in the local New VuFind. Since it is a searchable field, I th

[2018-06-13 18:26] cedelis commented on #300
In TEST.

[2018-06-13 18:29] cedelis commented on #306
In TEST.

[2018-06-14 12:43] gibsonjc commented on #261
https://www.carli.illinois.edu/logs/ files for January-May were posted June 2 and will remain posted until August 1. June and beyond will be posted for two months on the regular schedule.

https://i-share.carli.illinois.edu/acrlstats/ files still need to be done.

[2018-06-14 19:21] gibsonjc commented on #300
This change works as I expected it to, providing checkboxes for each item in the results list and the Email|Export|Print|Save options (it doesn't look like we have any control over these; it's all of them or nothing).  But in the I-Share uc, the links generated to the records with these functions use the uc MST MAS IDs, which we know are not permanent.  In the local catalogs, this works fine becau

[2018-06-14 21:12] cedelis commented on #207
In TEST.

I've removed the code that checks for empty 856 URLs; so now the availability status always displays.

However, there is going to be a side-effect (unintended consequence?) for doing so.

E.g., compare TEST vs. PROD and notice how in TEST there is now potential for statuses to take on the value of 'Live Status Unavailable'. Is this an acceptable tradeoff?

https://i-share-test.carli.illi

[2018-06-15 13:57] nmswanson opened #337 "Checked Out Item status display hierarchy (was: Recall status missing from Your Checked Out Items screen)"
UIU- patrons can not see that an item has been recalled in their checked-out items in VuFind 4.1 (like they can in 0.6).

Examples of New VuFind and 0.6 are included in RT100007.

[2018-06-15 15:30] gibsonjc commented on #306
These new Export options seem to work as I expected from the Results page list or from a Saved list in Your Account except for trying to Export more than one record at a time **in RDF**.  One record exported in RDF works fine, more than one record exported to RDF always produces an error like this:

![screen shot 2018-06-14 at 2 35 37 pm](https://user-images.githubusercontent.com/17598357/41434081

[2018-06-15 15:56] cedelis commented on #306
@gibsonjc : I made the change (RDF = true).

[2018-06-15 16:49] gibsonjc commented on #316
I think this is Ready for Prod.
This isn't perfect, but I'm willing to live with the duplicate headings of "**Recent** and Saved Searches" followed by "**Recent** Searches" on this page because it makes the label in the right-hand menu more accurate.  If there is a lot of confusion about this, we can try to address it in future.

![screen shot 2018-06-15 at 11 20 21 am](https://user-images.githubu

[2018-06-15 16:59] gibsonjc commented on #298
At our meeting on 6/14, the decision was made to translate the words "Not Charged" to "Available" even though "Available" will be in red font.  If the color of the word "Available" presents a problem, we can attempt to address the color in a new, future Issue.

@cedelis Please translate "Not Charged" to "Available" on TEST and let us know when it is ready for final testing.  Thanks!

[2018-06-15 17:06] cedelis commented on #298
In TEST

[2018-06-15 20:36] nmswanson opened #338 "Sort Saved Items list"
JKM- In the Saved Items list, please provide the option to sort by call number.

RT 99919

[2018-06-18 13:35] gibsonjc commented on #322
Let's remove the Cite-Text-Email-Export-Save functions at the very top of the record in the union catalog views /all/vf/ and /all/vf-xxx/ on TEST and see how that works.  As I mentioned, we need to do some testing as to how that affects a user who is affiliated with and logged into one institution but saving records from another institution.

[2018-06-18 15:26] cedelis commented on #322
In TEST.

[2018-06-18 18:04] gibsonjc opened #339 "Add New VuFind link to Shelflister 2 and 3"
EIU - RT 100027

[2018-06-18 20:41] nmswanson opened #340 "Adjust bib indexed fields/subfields"
UIU- We are noticing that the Language facet in VuFind 4.1 is pulling in works that don't match the predominant language, particularly works in translation. It is also pulling in languages listed in subfield h in the 041 field. And, this is causing some confusion by the user why other language materials are showing in the results.

For example, when searching for Orwell's 1984, when you click on E

[2018-06-18 20:47] gibsonjc commented on #333
UIU - We've found that the issue reported in CARLI Support ticket #99594 (where patron's default pickup location for items was UIUC ACES DESK rather than UIUC MAIN STACKS DESK) appears to not have been corrected for our courtesy card users (patron group code LL, LH, LB).

A courtesy card patron reported this this afternoon and the error has been tested by staff using LL account 20112000204387 Whoo

[2018-06-19 13:55] nmswanson commented on #199
JKM- Please add a category for email in the Profile page.

[2018-06-19 14:24] nmswanson commented on #150
JKM-The way in which serial holdings appear in VuFind 4.1 are rather unhelpful; e.g.: Most Recent Received Issues appear at the bottom, and the list of Volume Holdings is preceded by the copy number. Is listing the volume holdings on a separate 'tab' possible?

RT99919

[2018-06-19 14:25] nmswanson commented on #150
LCC- In the old catalog
<https://vufind.carli.illinois.edu/vf-lcc/Record/lcc_59193>, our newest
publications were displayed at the top.
In the new catalog
<https://i-share.carli.illinois.edu/vf-lcc/Record/LCCdb.59193>, these are
displayed at the bottom which isn't as useful.

[This is a good example of what libraries are use to seeing - Most Recent Received Issues (Latest)  at the top.]

RT100068

[2018-06-19 15:26] cedelis commented on #333
@gibsonjc  I think I know what's happening here.

First of all: The only Voyager API service that I know of that can retrieve the system-wide default pickup location is: https://developers.exlibrisgroup.com/voyager/apis/XMLoverHTTPWebServices/UBPickupLibService

But that service seems to only work for "UB-enabled" patrons, because:

a) For patrons who are not "UB-enabled," I get an error message:

[2018-06-19 16:24] dmcmpbll commented on #172
I've updated my suggested ranking to put "Recall Request" as the highest priority status.

Debbie Draft RANK | ITEM_STATUS_TYPE-ITEM_STATUS_DESC
1 | 5-Recall Request
2 | 14-Lost--System Applied
3 | 13-Lost--Library Applied
4 | 17-Withdrawn
5 | 12-Missing
6 | 4-Overdue
7 | 3-Renewed
8 | 15-Claims Returned
9 | 2-Charged
10 | 7-On Hold
11 | 10-In Transit On Hold
12 | 9-In Transit Discharged
13 | 6-Ho

[2018-06-19 16:26] dmcmpbll commented on #172
EIU- "Lost-System Applied" should be a priority-displayed status.

RT 100075

[2018-06-19 16:37] cedelis commented on #298
in PROD

[2018-06-19 16:37] #298 closed, assigned to nobody

[2018-06-19 16:38] cedelis commented on #316
In PROD.

[2018-06-19 16:38] #316 closed, assigned to nobody

[2018-06-20 14:40] nmswanson commented on #305
JKM- Would it be possible to add [customized text to the profile page if not using single sign-on?]

RT99919 - includes customized text request and profile page URL.

[2018-06-20 14:57] cedelis commented on #333
The best solutions is to simply honor the defaultPickUpLocation value in VoyagerRestful.ini.

In PROD.

[2018-06-20 14:57] #333 closed, assigned to cedelis

[2018-06-20 15:11] cedelis commented on #322
In PROD.

[2018-06-20 15:11] #322 closed, assigned to nobody

[2018-06-20 20:51] cedelis commented on #306
In PROD.

[2018-06-20 20:51] #306 closed, assigned to nobody

[2018-06-20 20:52] cedelis commented on #300
In PROD.

[2018-06-20 20:52] #300 closed, assigned to nobody

[2018-06-20 20:57] cedelis commented on #207
In PROD.

[2018-06-20 20:57] #207 closed, assigned to nobody

[2018-06-21 14:03] nmswanson commented on #265
BEN- [When 856 $u, $y, and $z are present in the bib URL, display both $y (hyperlinked with $u URL) and $z as text only on the main record view. Right now, only $y (hyperlinked) displays on the main record view. This change would be more in line with the holdings view display which pulls both $y and $z from the holdings 856.]

Example files are available in RT 99966

[2018-06-21 14:22] dgree1 commented on #43
Principia PRC also supports adding "Request First Available", see RT 100110.

[2018-06-21 16:05] nmswanson opened #341 "Improve holdings tab display for multiple 856s"
If multiple 856s in MFHD, New VuFind holdings display data does not match Voyager MFHD 856 data:
Note, all test records are viewable at: https://i-share-test.carli.illinois.edu/vf-npu/Record/NPUdb.201801 and in the attached file.
[856 holdings test records_180621.docx](https://github.com/CARLI/vufind/files/2124428/856.holdings.test.records_180621.docx)

In short, if a MFHD has multiple 856 field i

[2018-06-21 16:38] dgree1 commented on #276
Amanda Pippitt at MIL reported similar case with "John Adams" composer versus Pres. John Adams.
from #100131: new VF question

Searched for: Nixon in China
Clicked on: Adams, John, 1947-
Got this: https://i-share.carli.illinois.edu/vf-mil/Author/Home?author=Adams%2C+John%2C+1947- (item results are appropriate, but Wikipedia entry given is for President, not composer John Adams).

[2018-06-21 18:24] nmswanson commented on #161
As a consequence of fixing issue 207, this status now displays with more frequency.

BEN suggestions-

To a student or patron it is likely the wording "unavailable" would be interpreted as the ebook is unavailable. How about something like " Unable to determine status", or "Status Undetermined" or just display "Status". I'm sure you all can come up with something less confusing than unavailable.

[2018-06-21 19:36] cedelis commented on #161
We can change the "Live Status Unknown" message to something else via the languages/en.ini file.

To be more precise, we can change the translation of the internal code "status_unknown_message" from "Live Status Unknown" to a different value with this setting:

https://github.com/CARLI/vufind/blob/master/languages/en.ini#L918

So, the question then becomes, what is an acceptable value?

[2018-06-21 22:17] dmcmpbll commented on #323
SIC - "Ideally non-requestable items would not even let the patron proceed to the request item page."

RT 100076

[2018-06-21 22:17] dmcmpbll commented on #331
SIC- "Ideally non-requestable items would not even let the patron proceed to the request item page. If that is not possible to implement, would it be possible to add a sentence to the request page to inform patrons that items where pick up location cannot be changed are not requestable? This is not ideal but it is better than the current set up."

RT 100076

[2018-06-21 22:19] dmcmpbll commented on #331
CSC-  Improving the error message should help to inform patrons as well as library staff why an item is not requestable/not able to be picked up at another I-Share library.

RT 100054

[2018-06-22 17:45] nmswanson commented on #119
ISU - Similar Items listing is not very helpful

Often times, Similar Items brings up items that aren't actually
related to the current item or are not helpful. Examples = The
Audubon Society Field Guide to North American Shells
(https://i-share.carli.illinois.edu/vf-isu/Record/ISUdb.21868; brings
up other Audubon guides on unrelated topics, when it would make
more sense to have more identificatio

[2018-06-22 18:15] nmswanson opened #342 "Consolidate three "Find" buttons on Course Reserve page"
ISU- Request to consolidate the three “Find” on the [Course Reserve search page](https://i-share.carli.illinois.edu/vf-isu/Search/Reserves) to one, folks found the multiple buttons confusing, especially when choosing items from more than one drop down box

Details:
The Course Reserves page has Find buttons after every dropdown
menu (course, instructor, department). It seems confusing to have
a Fin

[2018-06-22 18:40] nmswanson opened #343 "Simple title list for Course Reserve results"
ISU would prefer the Course Reserve results page be a simple title list, like in 0.6,

[New VuFind:
[https://i-share.carli.illinois.edu/vf-isu/Search/Reserves?course=&inst=&dept=8&submit=Find](https://i-share.carli.illinois.edu/vf-isu/Search/Reserves?course=&inst=&dept=8&submit=Find)
VF 0.6: [https://vufind.carli.illinois.edu/vf-isu/Search/Reserves?course=&inst=&dept=8&submit=Find](https://vufind.

[2018-06-22 18:58] nmswanson commented on #252
ISU would prefer course and/or Instructor were listed on Course Reserve results page.

4/19/18 email

[2018-06-22 19:26] nmswanson commented on #232
ISU-Additional examples:
VF0.6: https://vufind.carli.illinois.edu/vf-isu/Record/isu_79277
New VF: https://i-share.carli.illinois.edu/vf-isu/Record/ISUdb.79277

email 4/19/18

[2018-06-22 19:56] nmswanson opened #344 "Alternative terms for Item Status Charged"
ISU - prefer the terms "Checked Out" instead of "Charged" for item status represented on the holdings tab. Also, closed ticket [#173](https://github.com/CARLI/vufind/issues/173) changed red “Checked Out” icon to “Not Available”, for consistency should item record page say the same?

Details:
I like that the new VuFind uses colors to help show whether an item
is checked out or not (green = availabl

[2018-06-22 21:04] nmswanson commented on #98
ISU [liked this feature]- It is very helpful that you can narrow to books with illustrations,
since there are definitely questions where people need books
containing pictures showing a specific subject (ex. clothes from a
specific time period, antique cooking utensils, etc.).

email 4/19/18 p. 10

[2018-06-25 13:59] nmswanson opened #345 "Customize “Your Profile” page"
JKM- Would it be possible to add [some library-specific customized text to the profile page]?

[This is the "Profile" page that a logged in user of any kind sees when you are logged into Your Account and click Profile from the right-hand menu.]

RT99919 includes JKM's customized text request and profile page URL.

Question: Would it be possible to add a note to the Profile page informing the user

[2018-06-25 19:57] nmswanson opened #346 "Local catalog "Browse the catalog" tag browse not limited to local tags"
ISU- When you try to browse by tag, no matter which of the three categories you choose, clicking a tag takes you to a search page listing links that almost all give you error messages.

4/19/18 email, page 13

[NS- The browse the catalog tag search in the local catalog displays a list of tags in one of three categories (by alphabetical, popularity, or recent). When a tag in any of these lists is s

[2018-06-25 20:39] dmcmpbll opened #347 ""Too-fast" requesting leads to PICKUP_LOCATION_ID of zero"
UIU reported in RT 99951 that they had received a call slip with no Pick Up Location in the request.

It appears it is possible to click the "Place Request" button in the request screen when the Pick Up Location box is not yet populated with the default/preference in account. When a patron clicks that fast, the request is created with the pick up location as "0" (zero).

![requestwpickuplocnotread

[2018-06-25 20:47] nmswanson opened #348 "Browse Alphabetically is slow"
ISU - Browse Alphabetically is slow

email 4/19/18 page 13

[on 6/25/18 ISU local browse alphabetically searches were usually around 10-15 seconds, some were longer ex. Tchaikovsky (about 29 sec.) or much shorter (4 sec.)]

[2018-06-25 21:11] nmswanson commented on #233
ISU - Change in metadata has copies displaying differently.  Our preference would be to not have individual items display.

Copy 1 (v.117) 	Available Request Item
Copy 1 (v.115(1998:Jan.-June)) 	Available Request Item

[Record page](https://i-share.carli.illinois.edu/vf-isu/Record/ISUdb.177875) and [Screenshot](https://s3.amazonaws.com/files.formstack.com/uploads/2990514/61834415/396383923/6183441

[2018-06-25 22:04] nmswanson opened #349 "Add link if multiple locations / multiple call numbers"
ISU requests “multiple locations” be a link to Item record [main record display with holdings tab selected], like the “Click for details” is in 0.6 [VF 0.6 links to the similar record display with the location & availability tab selected].

[Note, in 0.6 “multiple call numbers” also has the same linking capability to the main record display with holdings information.]

[VuFind 0.6 display](https:/

[2018-06-26 17:43] dmcmpbll commented on #305
ILC is also interested in being able to customize the "one-time" profiling page that patrons see when logging in for the first time using their single-sign-on credentials--- specifically to be able to tell patrons how/where to locate their barcode number.

RT 99873

[2018-06-26 19:13] gibsonjc opened #350 "I-Share catalog view /all/vf/ shouldn't have "Local Catalog Only" option"
The I-Share catalog view at https://i-share.carli.illinois.edu/all/vf/ presents the two options after the search box for "All I-Share Libraries" and "Local Catalog Only".  RT 100111  Doing a search and choosing "Local Catalog Only" provides results in I-Share only, and switches the drop-down to say "All I-Share Libraries" on the results page, so a user is getting the correct results, but it may be

[2018-06-26 19:41] cedelis commented on #348
Yes, it seems that the further along you page through results, the slower the Alphabrowse response becomes. The algorithm in the stock browse-handler code does have room for improvement: for each "Next" page click, the browse-handler executes the original search query (e.g., Tchaikovsky) each time and then skips the required offset number (which depends on the page number) of records from the orig

[2018-06-27 15:08] nmswanson commented on #150
ISU- In 0.6 “most recent issues’ are identified by location Floor 2 Current Periodicals [under label “Latest Issues”]
Note: [https://vufind.carli.illinois.edu/vf-isu/Record/isu_177875](https://vufind.carli.illinois.edu/vf-isu/Record/isu_177875)
[In New VuFind: [https://i-share.carli.illinois.edu/vf-isu/Record/ISUdb.177875](https://i-share.carli.illinois.edu/vf-isu/Record/ISUdb.177875)) these are d

[2018-06-27 16:25] nmswanson opened #351 "Advanced search location limits"
ISU- In advanced [search], the selections to limit to Milner-specific locations doesn’t seem to be available.

email 4/19/18 pg. 29

[2018-06-27 16:31] nmswanson commented on #351
This capability was part of the "More Limits" option in WebVoyage that could be applied to a search.

[2018-06-27 16:43] nmswanson commented on #281
ISU - add repeat search in I-Share catalog to no result screen.

email 4/19/18 pg 31

[2018-06-27 18:37] gibsonjc commented on #335
@cedelis I added this one to priority issues.  I believe that SFX buttons were displaying properly before, but now they are displaying more often than they should be.  The SFX button displays in the Search Results List and in the Holdings Tab on a single record page and is behaving the same way (that is, showing up when it shouldn't) in both places.

I can't say exactly when the behavior changed,

[2018-06-27 18:44] gibsonjc commented on #345
https://i-share.carli.illinois.edu/vf-uiu/MyResearch/Profile

[2018-06-27 19:30] gibsonjc commented on #161
@cedelis Let's try this:
change
status_unknown_message = "Live Status Unavailable"
to
status_unknown_message = "Status Unknown"
on TEST.  Thanks!

[2018-06-27 19:31] cedelis commented on #335
We currently have no custom rules for OpenURL resolvers (SFX, in our case), therefore we are using the default settings, which I believe are set in: https://github.com/CARLI/vufind/blob/carli-release-4.1/config/vufind/OpenUrlRules.json

So, it looks like our default rule is to display the SFX link (button) whenever an ISSN is available in the record. You can see the precise getCleanISSN method her

[2018-06-27 19:39] cedelis commented on #161
@gibsonjc Seems like a reasonable value to me (for status_unknown_message to be "Status Unknown"  ;-)

In TEST.

[2018-06-27 20:12] cedelis commented on #335
I think the problem is with C:

**C. There is at least one currently active title/object portfolio in your library's SFX instance for the title that matches the ISSN from 022 field.**

We are currently always displaying the SFX graphic (and link) if a bib has an ISSN.

In the past (version 0.6), we had repurposed a WebVoyage perl script to generate a dynamic SFX graphic. This script first queries

[2018-06-27 20:38] dmcmpbll commented on #161
Would New VuFind actually know if the "Live Status" was broken, or would it only know if it is unknown since login/an external site is usually required?

[2018-06-27 21:01] cedelis commented on #161
@dmcmpbll  (NOTE: I edited this Wed Jun 27 4:14PM CDT):

This is a driver-specific question. It appears that status_unknown_message is only being used/set with Voyager drivers:

https://github.com/vufind-org/vufind/search?q=use_unknown_message&unscoped_q=use_unknown_message

There are two SQL queries that the Voyager driver uses to retrieve Holdings information. The first one, getStatusSQL(), whic

[2018-06-28 15:22] cedelis commented on #161
In our discussion this morning, we decided to change the translation of "Status Unknown" to an empty string "". This isn't perfect as it does reveal the background color of the label (looks like a little gray rectangle. But it's "better" than "Status Unknown," I think. We can create another issue to attempt at removing this display altogether.

[2018-06-28 17:44] nmswanson commented on #341
Ted looked into multiple 856 $z examples and pointed out that Voyager's typical approach to displaying URLs in the OPAC depends on the ELINK_INDEX table. He noticed when looking at UIU's data that sometimes the link_text field picks only the second 856 $z and other times it picks the first $z.

[2018-06-28 20:08] gibsonjc commented on #235
KNX - I noticed something different between the old and the new VuFind in the way the display looks in a results list related to links to full text. It looks like the "get full text" link is displayed if there is any URL in the bib record's 856.

New VuFind
https://i-share.carli.illinois.edu/vf-knx/Search/Results?lookfor=journal+of+american+history&type=JournalTitle&limit=20&sort=relevance

In thi

[2018-06-29 18:54] gibsonjc commented on #271
EIU - We have an image map on our banner in VuFind 4.1. The map is not resizing with the image. At 100% the map is fine, but when it scales to 732px the map breaks. Is it possible to put HTML links and images in instead of a mapped image?  RT 100315

[2018-06-29 19:19] gibsonjc opened #352 "Update voyager.ini documentation to include New VuFind SearchURI"
CARLI's guide on Voyager.ini file at:
https://www.carli.illinois.edu/products-services/i-share/execute/secure/ModifyVoyagerINI
needs to be modified to add [SearchURI] entry for New VuFind

#Name=VuFind
#URI=https://vufind.carli.illinois.edu/vf-xxx
#Copy=Y
#SearchSyntax=/Search/Home?type=title&start_over=1&submit=Find&lookfor=

Could also add to FAQ under URLs section?

[2018-06-29 19:27] nmswanson opened #353 "Make Course Reserves, etc. in Footer more visible"
KNX –

One thing that is significantly different in VuFind 4 is the lack of visibility of the search options Course Reserves, Search History, New Titles, etc. In VuFind v. 0.6 these are links directly underneath the search box. In VuFind 4 they are in the page footer. Do you have plans to make some of these search options more visible? …

I'd like to see an option to include--at the very least--a

[2018-06-29 19:39] gibsonjc commented on #344
Unfortunately, "Charged" does NOT appear to be in languages/en.ini

[2018-06-29 19:53] nmswanson commented on #323
KNX - In the Union catalog, When you attempt to request something that's not requestable
(e.g., anything from the Newberry Library) you don't know that it's not
requestable until you click "Request Item" then in the pop-up window you
click the Place Request button, and only then do you get a message "You do
not have sufficient privileges to place a request on this item" (but,
there's still a Place

[2018-07-02 18:41] nmswanson commented on #57
ISU expressed concern about search results order / relevancy in 4/19/18 email. Example searches (email p. 9) included “Japanese Folklore” and “Marketing” (email p. 32).

Of note, the result counts difference of 12 for “Japanese Folklore” reflects the differences in the separate Hathi Trust sets between the two catalogs. With the Hathi location facet applied:
[New VuFind ](https://i-share.carli.ill

[2018-07-02 18:46] gibsonjc commented on #281
BRA - ...I also noticed that VuFind 4 does not automatically generate a "Repeat search in the I-Share catalog?" when nothing is found from a local OPAC.  I used a book Bradley does not have as an example: "Safe handling and restraint of
animals: a comprehensive guide".
   Old VuFind 0.6:
   https://vufind.carli.illinois.edu/vf-bra/Search/Home?lookfor=Safe+handling+and+restraint+of+animals&type=tit

[2018-07-02 18:49] gibsonjc commented on #323
BRA - While testing SFX link to VuFind 4, I noticed something my colleagues and I overlooked:  The "request item" link is always there, even on local OPAC for locally available items, and for non-circulating items.

Here are examples.
1. For journal "Nature"
Old VuFind 0.6:
https://vufind.carli.illinois.edu/vf-bra/Record/bra_200691/Holdings
New VuFind 4: https://i-share.carli.illinois.edu/vf-bra/R

[2018-07-02 18:58] nmswanson commented on #75
ISU - "eBook" is now under two descriptions, "book" and "electronic". If we could get an eBook" description back, that would be good.

email 4/19/18 (p. 32)

[2018-07-02 19:00] cedelis commented on #57
New VuFind and VuFind 0.6 are fundamentally different in how searches are configured (and everything else about VuFind, really).

New VuFind's search settings are made in a config file called searchspecs.yaml. The default setting can be seen here:

https://github.com/CARLI/vufind/blob/carli-master/config/vufind/searchspecs.yaml

We have only very slightly modified the default. I will cut and paste

[2018-07-02 19:27] nmswanson opened #354 "Simple search by tag unnecessary"
ISU – Tag field unnecessary

Email 4/18/19, page 32

Description: [In doing a few searches on different topics] I liked that there were more fields to choose from, but I’m not sure that “tag” is a good field or good term to include. I think most non-library users would be confused by that.

Local discussion of the pros and cons, and questions on whether CARLI has any data from 0.6 that supports it

[2018-07-02 19:47] nmswanson commented on #265
ISU- Subjects run together in record view. Something more prominent than a period to delineate, especially for subject runs that take more than one line. 0.6 uses | pipe.

[New VuFind example](https://i-share.carli.illinois.edu/vf-isu/Record/ISUdb.1946695)
[Screenshot](https://s3.amazonaws.com/files.formstack.com/uploads/2990514/61834415/396666134/61834415_image1.png)

4/19/18 email, page 35

[2018-07-03 14:27] gibsonjc commented on #161
This is currently on TEST.

Adding some screenshots "for the record":

BEFORE:
![screen shot 2018-07-03 at 9 24 59 am](https://user-images.githubusercontent.com/17598357/42225828-0f2b7fee-7ea3-11e8-91d3-988cbe5cf523.png)

AFTER:
![screen shot 2018-07-03 at 9 24 49 am](https://user-images.githubusercontent.com/17598357/42225835-1408ca8a-7ea3-11e8-8624-554ec27bf4ad.png)

[2018-07-03 14:31] gibsonjc commented on #335
For the record, we discussed this at our meeting on 6/28 and Denise is gathering feedback from the SFX Committee (email sent 6/29).

[2018-07-03 18:22] nmswanson opened #355 "Modify holdings tab display - 866 and 853/863 pairs"
SIC requests New VuFind holdings display of 853/863 exclude 863’s with a second indicator of 2 like the logic in VuFind 0.6: [https://www.carli.illinois.edu/products-services/i-share/opac/vf-hldg-cfg](https://www.carli.illinois.edu/products-services/i-share/opac/vf-hldg-cfg).

SIC has included 866 summaries in a holdings level above 853/863 pairs in MFHDs, and only wants the 866s to display in the

[2018-07-05 18:44] gibsonjc commented on #191
in /languages/en.ini:

On Reserve = "On Reserve"
On Reserve - Ask at Circulation Desk = "On Reserve - Ask at Circulation Desk"
on_reserve = "Reserves - Ask at Circulation"

[2018-07-05 20:02] gibsonjc opened #356 "Suppress Department dropdown from Course Reserves page"
UIU - We've received feedback that the search by department option in New VuFind is confusing and incomplete:

![screen shot 2018-07-05 at 3 00 56 pm](https://user-images.githubusercontent.com/17598357/42345226-422a8a44-8064-11e8-989a-de7b2392684e.png)

It seems to be pulling this information from the linked courses for each individual course reserve list. Our current training materials instruct s

[2018-07-06 16:31] gibsonjc commented on #305
Customization option is now live on https://www.carli.illinois.edu/newvufind-shibboleth-login-customization. Closing.

[2018-07-06 16:31] #305 closed, assigned to eschell

[2018-07-09 18:52] gibsonjc commented on #271
@eschell Please see RT 100315 for include code to try. Thanks!

[2018-07-11 18:20] nmswanson commented on #285
KNX continued-  In VuFind .6 the link opens in a new tab/window. I think it's preferable for users to have the links open in a new tab/window.
RT100556

[2018-07-11 18:29] gibsonjc opened #357 "Remove color of former "Live Status Unavailable" gray box on results page"
In #161 we decided to remove the wording from the "Live Status Unavailable" box on the results page because it was confusing and didn't add any value.  However, that will leave us with a small, gray box (see example in 11 and 12 in screenshot below).  Can we remove the color from that box or hide it?

![screen shot 2018-07-03 at 9 24 49 am](https://user-images.githubusercontent.com/17598357/425922

[2018-07-11 19:26] gibsonjc opened #358 "Remove Classic Search link from footer?"
PRK -  We are a bit concerned that this [Classic Webvoyage] is a back way into a less secure login.  ...  Could we hide it [the Classic WebVoyage link] a little better by removing it from the footer of our new VuFind page?  RT 100489

![screen shot 2018-07-11 at 2 15 00 pm](https://user-images.githubusercontent.com/17598357/42594447-d7225942-8514-11e8-9313-91c7b1bef01c.png)

[2018-07-11 19:42] dmcmpbll commented on #191
MIL - RT100421

MIL uses the "Reserves" method for managing a display/new books list:
https://www.carli.illinois.edu/products-services/i-share/circ/secure/DisplayLocation

They report that:
"On the one hand, it is nice that the new VF displays the message "On reserve- ask at circulation desk" when the item is an actual course reserve. Much clearer and noticeable, we think. However, it causes a pro

[2018-07-11 20:36] gibsonjc commented on #189
On April 10, 2018, Michael Norman said in an email to us that UIUC plans to use the built-in VuFind API with their Easy Search Bento.  No additional development work appears to be needed, so I will close this Issue.

[2018-07-11 20:36] #189 closed, assigned to gibsonjc

[2018-07-12 12:13] gibsonjc opened #359 "Update SFX libraries for FY19"
Remove CTU and ELM as of July 1 2018.

[2018-07-12 12:14] gibsonjc opened #360 "Update Syndetics subscriptions for FY19"
Some libraries dropped.
Some libraries added.
In the spreadsheet, note that Harper College is now under H in FY19 where previously in FY18 it was William Rainey Harper College under W.

[2018-07-12 13:42] gibsonjc opened #361 "option to save phone number and carrier for easier text-me-the-call-number"
UIU - Are there any plans to enhance the patron profile in VuFind 4.1 to include the option to save phone number and carrier for easier text-me-the-call-number ?

RT 100584

[2018-07-12 18:54] CorinneStevens commented on #196
Can we locally define facets? Can we reorder them? and can we not display some facets, such as location: CARLI ebooks, Ebooks, HathiTrust -- these distinctions aren't very useful for most of our patrons.

[2018-07-12 20:07] nmswanson commented on #265
Technical Services Committee-
Display Bib tags 561, 562, 563, 585 and 590 in Description tab in local catalogs.
Details: These fields display copy-specific information that is important to individual institutions and their users.

Annual Project Recommendation no. 2

[2018-07-12 20:12] nmswanson commented on #265
Technical Services Committee-
Display other Bib 5XX fields (501, 502, 505, 511, 515, 525, 530, 533, 546, 550, and 586) in Description tab.
Details: Since 5XX note fields are generally not required, catalogers use them to communicate important information about a resource to users. This information can significantly help users in evaluating and selecting resources. These MARC fields generally do no

[2018-07-12 20:14] nmswanson commented on #265
Technical Services Committee-
Display Bib tags 510, 524, 541 (first indicator "1" or blank), 544, and 545 in Description tab.
Details: These fields, especially 545, are commonly used when cataloging archival and special collections. Appropriate labels would also be useful for display: 510 = References; 524 = Preferred citation of materials; 541 = Source of acquisition; 544 = Other archival materia

[2018-07-12 20:33] nmswanson commented on #136
Technical Services Committee-
245 $n and $p in bib record should display in results list.
Details: In New VuFind, $n and $p do not display in results list. Adding the display of this field will make it easier to choose the correct record the first time instead of having to click on each individual record, especially since there is no ability to click on "Next Record." The result list should displa

[2018-07-12 20:35] nmswanson commented on #193
Technical Services Committee-
Display MFHD tags 541, 561, 562, 563, and 583 as “notes” in the holdings display of the local catalog.
Details: Libraries use these fields to add copy-specific notes that are beneficial to users. These notes should display alongside holdings information in local catalogs.

Annual Project Recommendation no.8

[2018-07-12 20:52] nmswanson commented on #265
Technical Services Committee-
Modify field label for bib tag 555 when first indicator is blank.
Details: The current label "Finding Aid" is misleading for cumulative indexes. Use label "Indexes" or similar instead when first indicator is blank. Continue to use "Finding Aid" for first indicator "0."

Annual Project Recommendation no. 17

[2018-07-12 21:00] nmswanson commented on #265
Technical Services Committee-
Display bib tags 385/386 in search results.
Details: Fields for audience and creator/contributor characteristics, e.g. Boolean search for 385 HIV Long-Term Survivors AND Caregivers or 385 HIV-positive persons AND Caregivers to find “Health care and HIV”

Annual Project Recommendation #19

[2018-07-12 21:03] nmswanson commented on #145
Technical Services Committee-
Display bib tags 385/386 in search results.
Details: Fields for audience and creator/contributor characteristics, e.g. Boolean search for 385 HIV Long-Term Survivors AND Caregivers or 385 HIV-positive persons AND Caregivers to find “Health care and HIV”

Annual Project Recommendation #19

[2018-07-13 14:36] dmcmpbll opened #362 "AAA "On Hold" and "In Transit-On Hold" requested items able to be canceled by patron"
UIU- RT 100504

New VuFind is allowing local call slips [AAA] to be cancelled after the call slip request has been filled (so the item is either in an "In Transit-On Hold" or an "On Hold" status). This is an undesirable change in behavior.

New VuFind should not allow requested items with a status of "In Transit-On Hold", or "On Hold" to be canceled by the patron from the Requested Items tab.

(Ne

[2018-07-17 16:20] nmswanson commented on #193
PRC- Will the MFHD 541 fields be displayed in the future?

Ex. The bolshevik persecution of Christianity.
Main Author: McCullagh, Francis.
Published: New York, E.P. Dutton, 1924.

MFHD: 541 1_ ‡a David Anderson Collection on the Russian Revolution

VF 0.6 displayis label "Source of material" before data:
[https://vufind.carli.illinois.edu/vf-prc/Record/prc_109536 ](https://vufind.carli.illinois.ed

[2018-07-17 18:30] gibsonjc commented on #320
This page reinforces that DPU needs to get new custom URLs from StackMap and describes where the code should be inserted:
https://vufind.org/wiki/administration:third-party_add-ons:stackmaps

[2018-07-17 18:51] gibsonjc commented on #247
I thought this Issue where the MFHD data wasn't being parsed correctly for display was fixed by something else we did a while back, but I have just had two reports of it still occurring in UIUdb.

Upon closer examination of the example bib we were using in April 2018, UIUdb.3556566, it may be that we didn't fix it but some editing that UIU did to their MFHD actually changed the data and fixed it a

[2018-07-17 18:54] gibsonjc commented on #247
UIU - ...while looking at several serial records just now, I'm seeing some issues with the serials display.

For the serial, English Historical Review, https://i-share.carli.illinois.edu/vf-uiu/Record/UIUdb.989310 the information showing in the Volume Holdings field, it looks like it is no longer showing Enumeration or Chronology information from the MFHD, it looks like it is pulling garbled infor

[2018-07-17 18:59] gibsonjc commented on #313
Reopening this Issue because the work done to display the chronology data along with the enumeration data from the Item record is no longer working.

See original examples from above now only showing enumeration data again:
https://i-share.carli.illinois.edu/vf-eiu/Record/EIUdb.670182
https://i-share.carli.illinois.edu/vf-eiu/Record/EIUdb.497552

and a new example:
https://i-share.carli.illinois.e

[2018-07-17 20:10] cedelis commented on #360
In TEST.

[2018-07-18 15:06] gibsonjc commented on #346
EIU - I'm finding tags a challenge to understand. I did a Browse The Catalog search for a tag called "Social"
https://i-share.carli.illinois.edu/vf-eiu/Search/Results?lookfor=social&type=tag&limit=20&sort=title
and retrieved this result:
![screen shot 2018-07-18 at 10 03 00 am](https://user-images.githubusercontent.com/17598357/42890180-c9fe034e-8a71-11e8-94d2-d68285518dbf.png)

The three titles w

[2018-07-18 15:09] gibsonjc commented on #346
Is there a way to make the search for "Tags" obey the Local Catalog Only dropdown choice?

This same search in the post above in All I-Share Libraries produces the same three results and the links work.
https://i-share.carli.illinois.edu/all/vf-eiu/Search/Results?lookfor=social&type=tag&limit=20&sort=title

[2018-07-18 19:21] gibsonjc commented on #360
I checked some that added and some that deleted and all seems well.  Ready for Prod.

[2018-07-19 14:42] gibsonjc commented on #170
The problem with  displaying the ampersand for LAC and IMS is back again in the Institution facet.  Reopening this Issue.
![screen shot 2018-07-19 at 9 40 11 am](https://user-images.githubusercontent.com/17598357/42949703-f679e318-8b37-11e8-965f-7ba5e1c0de2a.png)

[2018-07-19 14:46] gibsonjc commented on #292
Reopening. The problem displaying the ampersand in the drop-down list of libraries for item pick-up is back again for IMS, showing
![screen shot 2018-07-19 at 9 44 25 am](https://user-images.githubusercontent.com/17598357/42949890-7502691c-8b38-11e8-9103-3ddeda1a435e.png)
but LAC is fine because it uses "and" instead.

[2018-07-19 19:59] dmcmpbll commented on #331
JKM- This may additionally be the message that patrons receive when they've reached a Voyager block threshhold.
Will want to do further testing to see additional instances of when this message is presented to patrons.
RT 100769

[2018-07-20 17:15] nmswanson commented on #136
Technical Services Committee-
Display bib 245 $a, $b, $n, $p in proper order in results list.
Details: In New VuFind, the 245 $a, $b, $n, $p are not sorting in the correct order, which causes the results to be incorrectly sorted. The same title and year, but different editions, should appear next to each. Currently, if a title is cataloged with the exact same title, but differs in edition statemen

[2018-07-20 17:19] nmswanson commented on #340
Technical Services Committee-
Index relationship designators in the Bib tags 100e, 110e, 700e, and 710e.
Details: The ability to search and filter results by relationship designator would narrow down results to a specific role when the creator queried as multiple roles. For example, Benjamin Franklin is both an author and an artist, and the user would select the proper relationship designator to d

[2018-07-20 17:23] nmswanson commented on #340
Technical Services Committee-
Index the Bib 880 fields as fielded searches (e.g., title, author).
Details: 880 fields with non-Latin script are currently indexed in VuFind for keyword searching only, so users cannot perform fielded searches (title, author) in non-Latin script. If they do, the result is always 0 returns.

Annual Project Recommendation no.5

[2018-07-20 17:29] nmswanson opened #363 "Index MFHD fields/subfields"
Technical Services Committee-
Fully index MFHDs.
Details: Fully index MFHDs, including the 541, 561, 562, 563, 583, and 852 fields. Allow for searching these fields through a “Holdings Record Search” option in the local catalog.

Annual Project Recommendation no. 7

[2018-07-20 17:31] nmswanson commented on #363
Technical Services Committee-
Search via 852 $k with Call Number search selected in local New VuFind catalog.
Details: Currently, you can search via subfield k entries by selecting the All Fields, but we recommend it be part of the Call Number Search.

Annual Project Recommendation no. 7

[2018-07-20 17:37] nmswanson commented on #57
Technical Services Committee-
Identify how relevance is determined.
The Committee is willing to assist in determining relevance ranking, including performing test searches for a variety of titles/formats and identifying other use cases.

Annual Project Recommendation no. 10

[2018-07-20 17:39] nmswanson commented on #57
Technical Services Committee-
Title keyword search should be by order of the input words.
Details: In New VuFind, the Title keyword search does not display results in the proper relevance order which causes the desired title to be buried amongst the retrieved results. In VuFind 0.6, the Title search maintains the order at which the words are input within the search box, resulting in fewer results.

[2018-07-23 16:00] cedelis commented on #360
In PROD.

[2018-07-23 16:00] #360 closed, assigned to nobody

[2018-07-23 16:36] cedelis commented on #161
In PROD.

[2018-07-23 16:36] #161 closed, assigned to nobody

[2018-07-23 18:33] cedelis commented on #292
Changed "&amp;" to "&" in languages.ini for both LAC and IMS

In TEST.

[2018-07-24 15:54] gibsonjc commented on #274
I received a reply from Demian to the question I posed on the vufind list:

https://github.com/vufind-org/vufind/blob/master/module/VuFind/src/VuFind/Controller/MyResearchController.php#L1194
... then the pagination controls are applied to the array.

[2018-07-24 16:22] gibsonjc opened #364 "Reports of users with saved items in VuFind 0.6?"
UIU - Is there any way you can get a count on how many UIUC users have Saved records to their Account. I don't know where those records are stored or if they are stored somewhere where you can run a report against. If we could determine how many users have used their account to Save Records or build up a bibliography, that could help us.

This is one of the complaints we are getting that when they

[2018-07-24 16:23] gibsonjc commented on #364
SXU - We are almost ready to migrate our primary catalog access from the old Voyager public interface to the new 4.0 interface (which has been working well for months).
As part of this plan, we need to notify the people who have favorites in the old system that they will need to manually copy any favorites to the new interface.
(Charges will transfer, but not favorites and saved searches).
Is it p

[2018-07-24 19:16] gibsonjc commented on #292
The Pick-Up Library list is displaying **Illinois Math & Science Academy** now.
The Pick-Up Library list also contains
**Lewis and Clark Community College**
and
**Spertus Institute of Jewish Learning & Leadership**
Ready for Prod.

[2018-07-24 19:20] gibsonjc commented on #233
This code received from UofC to collapse the list of Items when there are over 5 and present the "View more items" and "Hide items" links is working well and Ready for Prod.

[2018-07-25 14:29] eschell commented on #357
Added to /themes/carli/css/carli.css

/* 'Live Status Unavailable' box was removed so the box behind it needed to be removed */
.status .label-default {
  background-color: transparent;
}

Will move to test prior to production.

[2018-07-25 15:21] cedelis commented on #313
In TEST

[2018-07-25 15:35] eschell commented on #357
This change has been moved to production.

[2018-07-25 15:36] gibsonjc commented on #320
On 7/20, I received a personal email from UIC (due to RT 100143) that said that StackMap staff are going to work on scripts for DPU and UIC for the VuFind version 4.x catalog.  (As we suspected, StackMap staff said the scraping logic in DPU's existing 0.6 script is specific to 0.6.)

[2018-07-25 15:53] #357 closed, assigned to eschell

[2018-07-25 16:43] gibsonjc commented on #320
@cedelis and if needed, @eschell :
Please try to install the two scripts below on TEST for UIC and DPU, respectively, according to the instructions at https://vufind.org/wiki/administration:third-party_add-ons:stackmaps

_From StackMap staff on RT 100868:_
"So we've finished creating the VuFind v4 scripts for both DePaul and UIC! Would you be so kind as to pass the script along to CARLI so that De

[2018-07-25 16:51] cedelis commented on #320
In Test.

[2018-07-25 18:19] gibsonjc commented on #320
This script works to add the Map indicator to the Location on the Results Page, but it seems to have a nasty side effect of make the "check boxes" next to the Exclude facets look like broken characters in Firefox, and a little funny in Chrome.   Neither shows the nicely rounded check boxes anymore.

Even more importantly, the visual toggling on and off of the check boxes do not work in either Fire

[2018-07-27 12:38] gibsonjc commented on #320
UIC has updated code for VuFind 4 now per RT 100868.  (No changes to DPU code.) Please replace what is on TEST for UIC with the following:

[code]

[2018-07-27 13:45] gibsonjc opened #365 "Version 4.1.3 update"
We need to update our environment to 4.1.3

[2018-07-27 13:51] gibsonjc opened #366 "ACRL stats for New VuFind"
We need ACRL stats for https://www.carli.illinois.edu/products-services/i-share/stats/acrlstat_interp

[2018-07-27 15:50] gibsonjc commented on #276
KNX - I'd rather see it either work properly or turned off.

RT 100515

[2018-07-27 21:56] gibsonjc commented on #43
@cedelis Wording updates as discussed at our 7/26 meeting:

In local catalogs, the button text for this feature should say:
Request Item

In I-Share union catalog, the button text for this feature should say:
Request from I-Share Libraries

Change the "Request Item" link text that appears with every Item in the list under each MFHD to say:
Request This Item

Debbie will be performing final end-to-

[2018-07-30 15:27] cedelis commented on #43
I have changed the labeling. In TEST now.

[2018-07-30 16:40] eschell commented on #297
Take a look at the test of the changes:

1. https://vufind4-mockup.carli.illinois.edu/vf-elm/Browse/Home
2. https://vufind4-mockup.carli.illinois.edu/vf-elm/Search/Results?lookfor=cat&type=AllFields
3. https://vufind4-mockup.carli.illinois.edu/vf-elm/Search/Advanced
4. https://vufind4-mockup.carli.illinois.edu/vf-elm/Search/Results?lookfor=cat&type=AllFields
5. https://vufind4-mockup.carli.illinoi

[2018-07-31 14:33] gibsonjc commented on #281
SIC - This is very important to SIC
RT 99929

[2018-07-31 14:38] gibsonjc commented on #356
MBI - Also, for the Reserves search screen (https://i-share.carli.illinois.edu/vf-mbi/Search/Reserves), there are three options for searching -- By Course, By Instructor, By Department.  We are not using the Department field for our course reserves, so there are no department options to select. Is it possible to suppress By Department altogether so the only search options are By Course and By Inst

[2018-07-31 16:50] dmcmpbll commented on #323
WHE is interested in having this functionality enabled.

RT 100948

[2018-07-31 22:45] dmcmpbll commented on #274
WHE would like the ability to sort by due date, and would prefer due date to be the default-applied sort.

RT 100996

[2018-08-01 16:36] cedelis commented on #335
This is now in TEST.

I implemented a simple PHP dynamic image script (see below) that serves an "empty" (hidden) PNG image when/if SFX returns a "No Full text available" message. Otherwise, it will serve the standard library-specific SFX image.

<code>

$sfx_url = 'https://sfx.carli.illinois.edu/sfx' . $_SERVER['VUFIND_LIBRARY'] . '?' . $_SERVER['QUERY_STRING'];
$sfx_graphic_url = 'https://sfx.ca

[2018-08-01 18:41] dgree1 commented on #335
Isn’t working consistently to limit to only active portfolios in SIUC. Did work in examples sent by UIU.
I’m investigating further to see any SFX related reasons and differences in set up.

From: cedelis <notifications@github.com>
Sent: Wednesday, August 1, 2018 11:36 AM
To: CARLI/vufind <vufind@noreply.github.com>
Cc: Green, Denise D <dgree1@uillinois.edu>; Author <author@noreply.github.com>
Subj

[2018-08-01 18:52] gibsonjc commented on #353
MBI - please add MBI to issue #353 to get the course reserves link moved up to the top of the page

RT 100968

[2018-08-02 15:54] nmswanson commented on #150
UIU - reporting on disconnect between latest issues and the holding to which they are linked. Probably this is not an issue in smaller libraries with fewer locations, but for UI, it's a big mess:
https://i-share.carli.illinois.edu/vf-uiu/Record/UIUdb.3899420

The new issues are at ACES, but it looks like they are at Oak because they display at the bottom of the record.

RT101038

[2018-08-02 17:32] nmswanson commented on #192
I believe 5 of 8 scenarios for single 856 40 displays are broken or not displaying as expected; please view the attached chart
[856 Bib_MFHD display.xlsx](https://github.com/CARLI/vufind/files/2308218/856.Bib_MFHD.display.xlsx)
for details and examples. This may affect both bib and MFHD 856 displays, or just bib 856s
 depending.

Also, please note, the logic noted above for 856 u3yz and u3y was wr

[2018-08-06 17:02] gibsonjc commented on #297
@eschell These changes to remove the green accents look good to me, thank you!  Please move them along at your convenience!

[2018-08-06 17:09] gibsonjc commented on #313
Chronology data is displaying again after the adjusted section of SQL was put back in, this is ready for Prod!

[2018-08-08 13:37] jenhm commented on #245
Also noted at MIL. (https://support.carli.illinois.edu/Ticket/Display.html?id=101144)

Currently when an item is in the order process (ordered/received) VuFind displays just the location.

https://i-share.carli.illinois.edu/vf-mil/Record/MILdb.460229

From New VuFind:

![image](https://user-images.githubusercontent.com/20780451/43840318-05553488-9ae6-11e8-93d4-1fe1e109efb5.png)

From Cataloging:

[2018-08-08 14:34] gibsonjc commented on #245
To investigate: May be addressable with revision to "second query" (holdings without items) in #242 .

[2018-08-08 18:04] jenhm commented on #245
Here are some results of my investigations with Line Item Copy Status in Acq and subsequent display in WebVoyage (since I was in Training (149xx) -- the end result is the same as VuFind 0.6.

LINE_ITEM_STATUS |  
-- | --
LINE_ITEM_STATUS_DESC | OPAC Display
Pending | In the Pre-Order Process
Received Complete | 1 Copy Received as of (Date)
Backordered | ?
Returned | Blank (but does display)
Claime

[2018-08-09 22:08] dmcmpbll opened #367 ""Not Needed After" date field on request form"
The New VuFind request form contains a "Not Needed After" field where the patron can enter a date after which they no longer need the item, or go with the default-entered date. The value in the request form is in a MM-DD-YYYY format, with the default being a month after the request date.

Currently, for requests submitted through New VuFind, Voyager is receiving only the year from the "Not Needed

[2018-08-09 23:36] fellowsgl commented on #261
The older than 60 days logs have been removed

[2018-08-09 23:36] #261 closed, assigned to fellowsgl

[2018-08-10 15:36] eschell commented on #297
These changes have been moved to production.

[2018-08-10 20:05] #297 closed, assigned to eschell

[2018-08-13 15:31] cedelis commented on #292
In PROD.

[2018-08-13 15:31] #292 closed, assigned to nobody

[2018-08-13 15:33] cedelis commented on #313
In Prod (again).

[2018-08-13 15:33] #313 closed, assigned to nobody

[2018-08-13 15:34] cedelis commented on #233
In PROD.

[2018-08-13 15:34] #233 closed, assigned to nobody

[2018-08-13 15:37] cedelis commented on #335
In PROD.

[2018-08-13 15:37] #335 closed, assigned to nobody

[2018-08-14 15:16] gibsonjc commented on #288
Initial development of "Repeat Search in the I-Share catalog?" going to VuFind 0.6 in RT 42158 (June 2010 when the I-Share union catalog was switched to be available only through VuFind 0.6 and WebVoyage Classic version of UC was disabled)

See also changecontrol email on 8/10/2010 referring to /m1/voyager/custom_webs/common_web/webvoyage/cgi-bin/webrecon.exe

2017 changes to account for F5 replac

[2018-08-14 15:46] gibsonjc commented on #43
Phase 1 in production as of 8/13/2018.
https://www.carli.illinois.edu/improved-request-functionality-new-vufind-catalog

[2018-08-14 15:56] gibsonjc commented on #247
Sometimes this also happens to the display of Item records:
https://i-share.carli.illinois.edu/vf-uiu/Record/UIUdb.2637600
![screen shot 2018-08-14 at 10 50 17 am](https://user-images.githubusercontent.com/17598357/44102672-e4717af0-9faf-11e8-9349-d80ae95b2a6e.png)

The MFHD data itself is garbled (or VuFind is somehow garbling it). The 'Copy' data comes from the 852$t from the MFHD:

The mfhd ID

[2018-08-14 19:44] cedelis commented on #247
This bug was introduced in commit 5435efceb333ab7e1feaaf47604798fab2e504bd in fix for https://github.com/CARLI/vufind/issues/242

I applied the fix for 247 again.

It's now in TEST.

[2018-08-15 14:56] nmswanson commented on #167
PRK - Help! We have brought up new VuFind and just hit our first hurdle. Our ereserves links are not in the new system.

Here's an example, on reserve for OTA111.
Old VuFInd Record
[https://vufind.carli.illinois.edu/vf-prk/Record/prk_116943](https://vufind.carli.illinois.edu/vf-prk/Record/prk_116943)

New VuFind Record
[https://i-share.carli.illinois.edu/vf-prk/Record/PRKdb.116943](https://i-share

[2018-08-15 15:17] gibsonjc commented on #247
Yes!  All previous examples with problems are corrected on Test now and I don't see anything else like this at the moment. Ready for Prod.

[2018-08-15 15:20] nmswanson opened #368 "Results Page Sort Newest First not showing all 264 field dates"
EIU- I think the problem has to do with the value in 264, second indicator. New books with 264 _1 sort properly when we ask for Newest to Oldest, but our theses are coded with 264 _0 (date of production rather than publication) and New VuFind seems not to use this data. Old VuFind works as expected, and I think it does not use the 264 second indicator as a criterion. I can see that if multiple 264

[2018-08-15 15:22] nmswanson commented on #368
Jessica confirmed that publishDate and publishDateSort currently only look at 260 (any), 264 _1, and 264 _4.

VF 0.6 looked at Date 1 (008 bytes 07-10).

[2018-08-15 16:57] nmswanson commented on #368
If Date1 can't be used in the logic, EIU recommends improving the 264 second indicator logic to pull dates in the following order: 1,4,0,2,3

[2018-08-15 18:26] cedelis commented on #167
Added a (tweaked) version of Gordon's SQL from May into TEST.

[2018-08-15 21:08] cedelis commented on #247
In PROD.

[2018-08-15 21:08] #247 closed, assigned to nobody

[2018-08-15 23:02] bbwalter commented on #184
We just implemented New VuFind this month (August 2018), and I was wondering why my Public Services people were complaining about this issue. My testing has shown that it happens with Chrome, but not Edge or Firefox.

[2018-08-16 14:22] gibsonjc commented on #325
One can easily and safely prelimit to apply the filter for "Hide eResources to which I don't have access" in the I-Share union catalog using a custom search box that can be embeded into any webpage.

Below is a very basic example search box.  To modify this for your library, replace the "xxx" in "vf-**xxx**" in the "form action" with your library's three-letter I-Share code in lower case:

[code]

[2018-08-16 14:51] cedelis commented on #170
@gibsonjc I cannot reproduce this today.

[2018-08-16 14:54] cedelis commented on #184
I have confirmed this behavior. This would require a javascript solution that when triggered by a catalog change would strip out the filter parameters.

[2018-08-16 15:23] cedelis commented on #167
In production

[2018-08-16 15:23] #167 closed, assigned to fellowsgl

[2018-08-16 15:58] gibsonjc commented on #43
Phase 2 in TEST as of 8/13/2018 includes:

- new "Check Requestability" link (in place of "Request This Item" in the item listings) that returns immediate feedback if the item chosen is not able to be requested

- ability to select more than one item or a range of items in "Select Item:" list for multi-part titles

[2018-08-16 17:36] jenhm opened #369 ""Recently Received Issues" Display even when MFHD is suppressed from OPAC"
SIC - Reported in RT 100915. It appears that if a MFHD is suppressed the details of the MFHD (like Location and Call number) do not display, but the Label "Most recently Received Issues": and any issues checked in via Acquisitions client Serials Check in and set to "Display in OPAC"=YES WILL Display (for an example see https://i-share-test.carli.illinois.edu/vf-ctu/Record/CTUdb.87517)

![image](ht

[2018-08-16 18:23] gibsonjc commented on #284
UIU - I just noticed a difference in the setup options for preferred library in the new VuFind: UIUC people can choose only UIUC pickup locations-they can do it for individual requests, but not as a saved preference.  Many staff in the Prairie Research Institute are permanently located at field stations that are much closer to other I-Share Libraries than UIUC. In VF.6, they are able to set a pref

[2018-08-16 18:30] eschell commented on #271
I've added "A native JavaScript solution for creating responsive image-maps that rerender on image or viewport changes."
usr/local/vufind/themes/carli/js/image-map.js

https://github.com/clarketm/image-map

This script is included in the head of the CARLI base theme via theme.config.php:
[code]
the script is then called **_after_** the image-map is implemented in the header template
usr/local/vufi

[2018-08-16 18:40] gibsonjc commented on #271
In Prod. Closing.

[2018-08-16 18:40] #271 closed, assigned to eschell

[2018-08-21 14:23] #170 closed, assigned to nobody

[2018-08-21 14:42] gibsonjc commented on #172
@cedelis Can you change the [StatusRanking] stanza in VoyagerRestful.ini to the following list on DEVEL or TEST so we can see how this works?  Thanks!

[code]

[2018-08-21 15:13] cedelis commented on #172
@gibsonjc I made this change to DEVEL.

[2018-08-21 16:06] nmswanson commented on #245
ROU - the status of on order item records are no longer working properly in New VuFind. I am not seeing "one copy on order" nor "one copy received".
RT101470

[2018-08-21 18:32] gibsonjc commented on #281
vufind/themes/bootstrap3/templates/search/results.phtml seems to define the nohit_heading as size `<h2>`

This entry in languages/en.ini might be a place we can add an html-based link to repeat the search in the I-Share catalog without having to define something new:

`nohit_lookfor_html = "Your search - <strong>%%lookfor%%</strong> - did not match any resources."`

The "lookfor" search term is al

[2018-08-21 20:23] gibsonjc commented on #341
@cedelis New priority issue.  New VuFind Holdings tab 856 processing for display needs to be refined to handle a MFHD with multiple 856 fields in it, which likely have different combinations of $u $y $z and $3 subfields.  Can you look into making them smarter?

I think there also may be a fix in here to something that I told you to do wrongly in #192 .  The list of what VuFind 0.6 displays for eac

[2018-08-21 20:24] nmswanson commented on #274
LFC- A faculty member with 2+ pages of checked out items noticed that the sort order is not by those due first. Can that be changed?
RT101490

[2018-08-23 13:24] dgree1 commented on #274
ROU- faculty member request due to long list of items checked out from several I-Share libs.
RT 101536

[2018-08-23 16:04] gibsonjc commented on #321
This setting was changed for all databases to 50 pages for a total of 1000 items on 8/22/2018 during work to correct  RT 101480 where no results were displaying in EIU's New Titles list.  Closing.

[2018-08-23 16:04] #321 closed, assigned to nobody

[2018-08-27 16:12] gibsonjc commented on #43
Phase 2 in PRODUCTION as of 8/27/2018.
https://www.carli.illinois.edu/improved-request-functionality-phase-2-new-vufind-catalog
Closing.

[2018-08-27 16:12] #43 closed

[2018-08-27 16:26] cedelis commented on #274
in TEST.

[2018-08-27 20:43] emwille opened #370 "VuFind currently does not use authority data to check 4xx fields for alternate, non-preferred search terms."
ISU - VuFind currently does not use authority data to check 4xx fields for alternate, non-preferred search terms.

Examples:

LCSH: When a patron does a subject search for “mental retardation” or “mental deficiency”, VuFind should return results that includes records with subject headings (650s) for “mental retardation” or “mental deficiency” (MARC 450s, variant terms) or “intellectual disability”

[2018-08-27 21:02] ridinger5 commented on #370
Priority issue for ISU

[2018-08-27 21:24] dmcmpbll commented on #274
This is a great start!
If a patron has more than 50 items checked out, their charged items are listed on multiple pages of 50 items each.

Is there a way to:
1) Show all of their charged items on one page?
OR
2) Have the sorting apply across all of the patron's charged items instead of being applied to the 50 items listed on the page they are viewing when the sort is changed?

I will send a privat

[2018-08-27 21:30] cedelis commented on #274
@dmcmpbll I didn't realize Checked-out items was paged. My mistake. This most likely means that a client-side solution will probably not work. I think I need to scrap this version and work on a server-side solution.

Edit (Aug 27 2018 4:58 PM CST): Since the Voyager API is returning all of the charged item results, anyway, it might make more sense to just show all of the results on one page instea

[2018-08-27 21:58] nmswanson commented on #252
LFC-  In the old VuFind, if you look up reserves by professor, it would designate which item was on reserve for which course. This was very useful for students, as many of them don't know their course number, but do know their professor's name. (Example)<[https://vufind.carli.illinois.edu/vf-lfc/Search/Reserves?course=&inst=570&dept=&submit=Find](https://vufind.carli.illinois.edu/vf-lfc/Search/Res

[2018-08-28 13:14] gibsonjc commented on #184
After doing a bit more testing, what MBI is reporting on RT 101316 is not just that the "Retain current filters" stays checked _by default_ when moving from local to I-Share--that is true--but if the user realizes that the box "Retain current filters" is checked by default and purposefully UNchecks it before rerunning the search in the I-Share catalog, the filters are usually retained anyway.

It

[2018-08-28 14:45] cedelis commented on #184
In TEST, I resolved the issue of unchecking "Retain current filters" not being recognized when switching from local catalog to I-Share catalog (see below in "Replication steps").

However, as per the original issue, do we want to automatically (forcefully) remove certain filters when switching between local and I-Share catalogs? I suppose when switching from local to I-Share, the "Location" facet

[2018-08-28 14:49] CorinneStevens opened #371 "Media subtitles (546) and region information"
Example: https://i-share.carli.illinois.edu/vf-lfc/Record/LFCdb.484445

- This DVD has German and English audio, and English and Spanish subtitles (see field 546).
- It is also a Region 1 DVD (see field 538).

Even in the "description" tab, the language doesn't display.

Contrast this with the old vufind's "more details" display:
https://vufind.carli.illinois.edu/vf-lfc/Record/lfc_484445/Descripti

[2018-08-28 16:32] cedelis commented on #184
I've added the following actions (also in TEST):

    When switching from local to I-Share, the "Location" facet is removed.
    When switching from I-Share to local, the "Institution" filter is removed.

[2018-08-28 21:23] dmcmpbll opened #372 "If Single Sign-On patron logs in before requesting, patron is not automatiaclly prompted to profile account with Voyager credentials"
This workflow does not result in the SSO patron being prompted to profile their New VuFind account with their Voyager credentials:
1) Patron logs into their to their account (New VuFind forwards to SSO for authentication); patron is then on basic favorites screen.
2) Patron searches for item.
3) Patron clicks "check to see if item is requestable" link, or the "Request Item" or "Request from I-Shar

[2018-08-28 23:03] dmcmpbll commented on #172
Can you tell if there is a second status priority list that controls the display in the checked out items list?

I've begun double-checking that the hierarchy above has been implemented accurately, and initial testing shows the status in the item record view is being adjusted, but the status in the checked out items list is not yet being adjusted.

https://i-share-devel.carli.illinois.edu/vf-mil/R

[2018-08-29 13:10] gibsonjc commented on #372
In contrast, here are two workflows found that do correctly result in the SSO patron being prompted to profile with their barcode:

Workflow 1:
1) Patron searches for item.
2) Patron clicks "check to see if item is requestable" link, or the "Request Item" or "Request from I-Share Libraries" buttons.
3) Patron is prompted to login.
4) Patron is next prompted to profile their account with their Voya

[2018-08-29 13:13] gibsonjc opened #373 "Internet Explorer (IE) does not finish checking for requestability process"
BRA - I tried requesting items through VuFind yesterday and this morning & it still got stuck on the "checking". I refreshed the page & it still got stuck. I was using Internet Explorer. I moved over to Chrome to request the item and got an immediate response when I asked to check availability. Before the update, I was able to request items through VuFind from Internet Explorer.

RT 101616

[2018-08-29 13:43] gibsonjc opened #374 "Local or I-Share catalog dropdown choice box doesn't work in Safari"
In Safari 11.1.2 on Mac OS Sierra 10.12.6:
If you are in a local catalog /vf-xyz/ and enter a search term in the box and choose "All I-Share Libraries" and click Find, the search should run in the /all/vf-xyz/ view.  It does not, it remains in the /vf-xyz/ view.  Opposite behavior is true if you are in I-Share and want to run a new search in local.

Replication steps:

1. Start in any local catalo

[2018-08-29 15:11] cedelis commented on #374
Unfortunately, I was unable to reproduce this issue using Safari 11.1.2 on Mac OS Sierra 10.12.6 (which is the OS and web browser I happen to have installed on my MacBook).

For whoever currently experiences this issue, it would be interesting to see if there are any Javascript errors. To see the Javascript console, you can select the "Develop" menu in Safari, then select "Show JavaScript Console"

[2018-08-29 15:34] gibsonjc commented on #374
Ah ha, unbeknownst to me, JavaScript was disabled in my Safari browser. Once I enabled JavaScript, the catalog choice box worked as expected.  Good to know.  I saw no warnings or errors or notifications about it being disabled or being required by the New VuFind catalog from the browser or when using the Console.  I'll close this, thanks

[2018-08-29 15:34] #374 closed, assigned to nobody

[2018-08-29 15:37] cedelis commented on #373
I performed the following one-liner hotfixes (in devel/test/prod):

replace
    startsWith()
with
     indexOf()==0

for IE compatibility

$ git show 54e24ea34855719af1d954df71a63906cbadf807
commit 54e24ea34855719af1d954df71a63906cbadf807
Author: Chris Delis (CARLI) <cedelis@uillinois.edu>
Date:   Wed Aug 29 10:33:22 2018 -0500

    IE Bug: change startsWith() to indexOf() for IE-compatibility

di

[2018-08-29 15:37] #373 closed, assigned to nobody

[2018-08-29 16:10] cedelis commented on #372
In TEST.

commit 16fdf7bbb5c9bcc637f2c19a4525824c1f968967

[2018-08-29 19:52] gibsonjc commented on #184
All of these changes look good in my testing in various scenarios and browsers!  Ready for Prod.

[2018-08-30 13:09] gibsonjc commented on #372
Testing shows this loophole has been fixed. Ready for Prod!

[2018-08-30 15:49] gibsonjc opened #375 "In IE only, Request Item pop-up box not displaying from "Request This Item" links"
In Internet Explorer, the Request Item pop-up box is not displaying from the "Request This Item" link on the individual items.  (It does properly display when using the Request buttons in local and I-Share.)

Replication steps:
1.	Go to https://i-share.carli.illinois.edu/all/vf/
2.	Log in
3.	Look up an item - for example, https://i-share.carli.illinois.edu/all/vf-uiu/Record/349654193
4.	Click on “

[2018-08-30 17:12] cedelis commented on #375
In PROD. Hotfix commit 941d2aaddf7b20ecb7d5529210f71cfb4ef45874

[2018-08-30 17:12] #375 closed, assigned to nobody

[2018-08-30 19:48] cedelis commented on #372
In PROD.

[2018-08-30 19:48] #372 closed, assigned to nobody

[2018-08-30 19:52] cedelis commented on #184
In PROD.

[2018-08-30 19:52] #184 closed, assigned to nobody

[2018-08-30 20:07] gibsonjc opened #376 "Improve deduplication of choices in Select Item box when requesting"
A possible enhancement to future request functionality is to improve the logic and deduplication of the items that appear in the Select Item box.  These data are pulled from Voyager Item Record's  Enumeration and Chronology fields.  These fields are free text and libraries have entered variable data in them.

[2018-08-30 20:10] gibsonjc opened #377 "Make Select Item box re-sizeable by user"
KNX - ...the select item box is not re-sizable by the use. For example, this box has a lot of items and it would be handy to resize the box allowing me to see more than one or two items at a time.
<img width="481" alt="screen shot 2018-08-30 at 3 08 24 pm" src="https://user-images.githubusercontent.com/17598357/44876383-91f20880-ac66-11e8-9e75-e45ce8121067.png">

Screenshot from Chrome 68.0.x.

Th

[2018-08-31 13:02] gibsonjc commented on #364
These data were provided as requested on the two Support tickets mentioned above and those tickets were closed. We now know how to run a report like this for the future, so I am closing this Issue.

[2018-08-31 13:02] #364 closed, assigned to gibsonjc

[2018-08-31 13:21] gibsonjc opened #378 "Saved Items from the I-Share union catalog are not hotlinked/capitalized in the list in local catalog view"
Items saved from a user's local catalog appear hotlinked in their Saved Items lists in the local catalog view and the I-Share union catalog view.

Items saved from the I-Share union catalog only appear hotlinked in their Saved Items list in the I-Share catalog.  When in the local catalog view, the title of such items appears in all lowercase and not hotlinked.

Local view (first and fourth items w

[2018-08-31 16:34] eschell commented on #350
I think I have it please take a look

https://vufind4-mockup.carli.illinois.edu/vf-eiu/ <- local dropdown yes

https://vufind4-mockup.carli.illinois.edu/all/vf-eiu/ <- local dropdown yes

https://vufind4-mockup.carli.illinois.edu/all/vf/ <- local dropdown no

Is this what you're looking for?

[2018-08-31 18:52] gibsonjc opened #379 "Cite/Text/Email/Export/Save options do not appear under MFHDs without call numbers"
These options are not displaying when the MFHD doesn't have a call number in it.
![screen shot 2018-08-31 at 1 51 52 pm](https://user-images.githubusercontent.com/17598357/44930785-0c815d80-ad25-11e8-8e80-f3e45821bf15.png)

Expected result:
These options should display beneath each MFHD in local catalogs and the I-Share union catalog whether or not there is a call number in it.  The link created b

[2018-09-04 16:18] gibsonjc commented on #350
@eschell Yes, this is behaving as we want it to!

[2018-09-04 19:58] gibsonjc opened #380 "Add note to New Items page that 1000 items are retrieved"
Please add a note to the text of the New Items page for every library
https://i-share.carli.illinois.edu/vf-___/Search/NewItem

Put this new text after the existing text "Select a range, then click the Find button." :

Select a range, then click the Find button.  If more than 1000 new items are found, only the most recent 1000 new items will be displayed.

[2018-09-05 14:54] gibsonjc commented on #255
@eschell The New Items link in /all/vf-xxx/ seems to have been made smarter.  I can close this Issue, but do you know by chance about when it went in to production for the record?

[2018-09-05 14:54] gibsonjc commented on #254
@eschell The Course Reserves link in /all/vf-xxx/ seems to have been made smarter.  I can close this Issue, but do you know by chance about when it went in to production for the record?

[2018-09-05 14:56] eschell commented on #255
June or July.

On Wed, Sep 5, 2018 at 9:55 AM, gibsonjc <notifications@github.com> wrote:

--
'Travel is fatal to prejudice, bigotry, and narrow-mindedness, and many of
our people need it sorely on these accounts. Broad, wholesome, charitable
views of men and things cannot be acquired by vegetating in one little
corner of the earth all one's lifetime'  — Mark Twain.

Ed Schell
cell 217-778-3359

[2018-09-05 15:00] eschell commented on #350
This has been moved to production.

[2018-09-05 17:08] #350 closed, assigned to eschell

[2018-09-05 17:08] #255 closed, assigned to eschell

[2018-09-05 17:08] gibsonjc commented on #254
June or July

[2018-09-05 17:08] #254 closed, assigned to eschell

[2018-09-10 14:16] gibsonjc commented on #325
Instead of a search box, you can also create a pre-limited URL to I-Share for in a link on a website.  Replace the xxx in vf-xxx with your library's three-letter I-Share code in lowercase:

`https://i-share.carli.illinois.edu/all/vf-xxx/Search/Results?filter[]=building%3A*`

The effect is that the user by-passes the I-Share welcome page and lands immediately on a Results page, where the result lis

[2018-09-10 19:46] nmswanson opened #381 "Default title sort for Reserves Searches"
KNX- I noticed that in the new VuFind the results lists for a Reserves Course
search, the Reserves Instructor search, and Reserves Department search does not present the results in
alphabetical order. It is very much preferable, IMO, to have the results
lists in alpa-by-title order as in the old VuFind. The default sort order
of 'relevance' really doesn't make a whole lot of sense in the case of a

[2018-09-11 17:50] gibsonjc commented on #332
LFC - I don't think there is a way for me to tell which item is which .... I have three items with the same title and author checked out from Bradley: the textbook, the CD, and a DVD. One of the items renewed, but not the others. Is there an easy way for me to figure out which item renewed?
![screen shot 2018-09-11 at 12 48 47 pm](https://user-images.githubusercontent.com/17598357/45377752-132f908

[2018-09-12 19:44] cedelis commented on #172
commit a90ced547f80dd6773d9826841386d9bac10c94b

[2018-09-12 20:00] dmcmpbll commented on #172
Does this commit mean the status hierarchy list was also applied on the Charged Items list on devel?

[2018-09-12 20:04] cedelis commented on #172
@dmcmpbll It was for a brief moment. I created a separate branch for this issue on DEVEL. I then switched branches to work on other stuff. When I am able to, I will merge this into TEST and change the status of this issue to "Ready for Testing"

[2018-09-14 16:38] cedelis commented on #274
This is (again) "Ready for Testing"

We now page through all of the checked out items on the client-side 50 at-a-time.

[2018-09-14 17:41] gibsonjc commented on #365
Chris upgraded PROD to 4.1.3 on 9/13/2018 at 9:30pm. We let the system do it's own natural reboot overnight so there was no downtime. Closing.

[2018-09-14 17:41] #365 closed, assigned to nobody

[2018-09-18 19:15] eschell commented on #380
Is this what you're looking for?

https://vufind4-mockup.carli.illinois.edu/vf-uiu/Search/NewItem

[2018-09-18 20:50] cedelis commented on #359
In PROD (one-liner fixes).

[2018-09-18 20:50] #359 closed, assigned to nobody

[2018-09-19 13:16] gibsonjc commented on #380
@eschell Yes, that's great, thank you!

[2018-09-19 19:13] cedelis commented on #380
In PROD.

[2018-09-19 19:13] #380 closed, assigned to eschell

[2018-09-19 19:34] cedelis commented on #172
in TEST.

[2018-09-19 21:04] cedelis commented on #341
In TEST.

[2018-09-20 13:56] gibsonjc commented on #344
@cedelis Given your recent work on #172 would it be easy to change the status words displaying "Charged" on the record pages to display as "Checked Out" instead?

Examples on TEST:
https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.3910116
https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.5436242

[2018-09-20 16:27] cedelis commented on #234
@gibsonjc @dgree1 , can you share example bibs containing more than one 856:

"If more than one 856 field with appropriate indicators exists in the Bibliographic record,
the first 856 that has appropriate indicators is the link from the “Get it online” text and a
hyperlinked "(More...)" leads the user to the Record page to access all 856 fields."

??

Thanks!

[2018-09-20 18:12] gibsonjc commented on #234
Here's one with quite a few:
https://i-share.carli.illinois.edu/vf-knx/Record/KNXdb.304425

Here is one with a couple:
https://i-share.carli.illinois.edu/vf-knx/Record/KNXdb.304767

[2018-09-20 19:17] cedelis commented on #234
In TEST.

[2018-09-20 19:18] cedelis commented on #235
In TEST.

[2018-09-20 19:21] cedelis commented on #362
@dmcmpbll or @gibsonjc  Can you set up scenarios in DEVEL? Thanks!

[2018-09-20 19:29] cedelis commented on #344
In TEST.

[2018-09-24 13:45] gibsonjc commented on #281
LFC - When there’s a failed search, could the information below the search box (in the blue area) in I-Share be contextual? Or expanded in some way? Currently, for a failed ISBN search, this is the display:

No Results!

Your search - 1527505782 - did not match any resources.

You may be able to get more results by adjusting your search query.

* Performing a fuzzy search may retrieve terms with s

[2018-09-24 19:59] dmcmpbll commented on #362
I have sent @cedelis some examples via email.

[2018-09-24 21:23] dmcmpbll commented on #344
I have tested this on i-share-test; it looks good to me!

[2018-09-24 21:25] dmcmpbll commented on #172
I have run through all of the scenarios I'd checked on devel also on test.
It looks good to me!

[2018-09-25 14:02] gibsonjc commented on #320
@cedelis UIC has more updated code for StackMap in VuFind 4 per RT 102169.  Please replace what is currently on TEST for UIC with the following:

[code]

[2018-09-25 14:26] ErikaWS opened #382 "Search results including irrelevant terms"
Searches are returning items that match only a portion of the search term. This is true regardless or the search field (it is worst with Title searches), or whether the search is put in quotes.

For example, a search for "Animals" is returning a large number of irrelevant results with "Anime" and "Animation" highlighted.

[2018-09-25 17:32] cedelis commented on #320
@gibsonjc : I added the new css and js references to UIC on TEST. BTW, I accomplished this not by adding in the script and link reference tags noted above (STACKMAP CHANGES BEGIN HERE), but instead by configuring theme.config.php to include those reference. NOTE: I had to do this because otherwise VuFind would load two copies of jquery.min.js (CARLI's version is 2.1.1 and UIC's older version 1.11.

[2018-09-25 17:55] gibsonjc commented on #320
@cedelis Thank you! It looks like the problem with the "Exclude" checkboxes not being checked or looking odd (see entry above on July 25) is no longer occurring in any browser version I have tried.  I will ask UIC to review this on TEST.

[2018-09-25 17:55] cedelis commented on #362
In TEST.

[2018-09-25 17:57] cedelis commented on #320
@gibsonjc BTW, just a reminder that DPU still does not work. Their js and css files are wreaking havoc with our javascript (open a javascript console and notice the error messages).

[2018-09-25 19:26] cedelis commented on #344
In PROD.

[2018-09-25 19:26] #344 closed, assigned to nobody

[2018-09-25 19:27] cedelis commented on #274
In PROD.

[2018-09-25 19:27] #274 closed, assigned to nobody

[2018-09-25 19:27] cedelis commented on #172
In PROD.

[2018-09-25 19:27] #172 closed, assigned to nobody

[2018-09-26 18:48] gibsonjc commented on #234
Problem Report 1:
I am finding some inconsistencies in behavior with the SFX button vs. Bib 856 fields on TEST.  My initial search is showing search results in which the SFX button displays and the bib 856s are suppressed. This is good and expected behavior because the SFX button should take precedence over 856s.

![screen shot 2018-09-25 at 3 09 50 pm](https://user-images.githubusercontent.com/17

[2018-09-26 18:50] gibsonjc commented on #234
Problem Report 2: When a Bib 856 link does display in the Results list (based on the spec above from 7/20), the text should read "Get it online" (instead of "Get full text")

[2018-09-26 19:55] gibsonjc commented on #332
@cedelis Is there an SQL query or similar that pulls the data for display in the Checked Out Item list?  If so, do you think we could add ITEM_ENUM, ITEM_CHRON, LOCATION, and some form of the Call Number to the information that displays?

[2018-09-26 20:01] gibsonjc opened #383 "Text messages too short, cut off information"
SIC - Is there a character limit on the text call number feature in Vufind 4.0? We are only getting partial location info coming through the text message for our LC location. Granted, the location is very long:
LC Books: (A-HG: 6th fl.) (HJ-T: 5th fl.) (TA-Z: 4th fl.)

This comes through in the text message as LC Books: (A-HG: 6th fl.) (H.. the rest is cut off

See example: https://i-share.carli.i

[2018-09-26 20:03] gibsonjc commented on #383
In Issue #154 we found that there appears to be a hard-coded limit on the number of characters in a text message that is sent by New VuFind:  147 (or 148) characters.  We limited the number of characters in the Title and Location fields so that the URL at the end is not cut off and therefore unusable.  Is there anything different that can be done to force the system to send more than one text mess

[2018-09-26 21:11] cedelis commented on #347
In TEST.

[2018-09-27 13:53] gibsonjc commented on #283
@cedelis While you are working with Checked Out Item data displays for #332 , can you have a look at this one?

Let's keep the date and time on a single line and change the label to:
**Due Date and Time:**

I'm not sure if changing the time format from military to AM/PM is possible given the way the data are returned from the Voyager API, so if it isn't, at least adjusting the label will be an imp

[2018-09-27 18:28] cedelis commented on #332
In TEST.

[2018-09-27 18:28] cedelis commented on #283
In TEST

[2018-09-27 20:40] cedelis commented on #234
@gibsonjc , I believe I have addressed Problem Reports 1 & 2 in TEST.

[2018-09-28 17:57] gibsonjc commented on #381
@cedelis The default sort order for results from the Course Reserves search is Relevance.  We want this to be Title.

In ...vufind/config/vufind/**reserves.ini**, can we try to change

[General]
default_sort = relevance

to

default_sort = sort_title

and see if that will sort the Course Reserves results (only) by Title instead?

[2018-09-28 18:01] gibsonjc commented on #381
@cedelis Correction! I think In ...vufind/config/vufind/reserves.ini we want

[General]
default_sort = relevance

to

default_sort = title

; Values on the **left of the equal sign** are either the reserved term "relevance"
; or the **name of a Solr index to use for sorting**; asc and desc modifiers may be
; used in combination with index names, but not relevance.  To allow secondary
; sorting, yo

[2018-09-28 19:22] gibsonjc commented on #281
After much research on the 'no results' messages, I am fairly impressed with how contextual they already are.  We can debate the wording of each message at a later time, but to start, let's work on an improvement to the nohit_lookfor_html message in languages/en.ini.  By default it reads:

`nohit_lookfor_html = "Your search - <strong>%%lookfor%%</strong> - did not match any resources."`

Quest: Fo

[2018-10-01 14:12] gibsonjc commented on #320
UIC staff report on RT 102169 that their StackMap code on TEST is ready to be moved to PROD at our convenience.

[2018-10-01 18:43] cedelis commented on #320
UIC's changes are now in PROD.

[2018-10-01 20:07] dgree1 commented on #234
Looks good to me. Consistent text now.
Denise

[2018-10-01 20:14] dgree1 commented on #283
What did you change? Looks same to me. See attached.
![datedueoct1](https://user-images.githubusercontent.com/29785703/46313179-bfdfab00-c58c-11e8-8b37-3e8b8456d83c.GIF)

[2018-10-01 20:22] dgree1 commented on #283
Oh never mind, it was changing time display and including AM or PM.

[2018-10-02 15:31] cedelis commented on #377
In TEST.

Note: adding the "resizable" functionality from jquery-ui has a layout side-effect. The 'Select Item' label, list control, and submit button are on separate rows. Previously, they were all on the same row. I don't think this is a show-stopper (I sort of like it better this way, personally). What do you think?

[2018-10-02 16:21] gibsonjc commented on #320
@cedelis DPU says that StackMap has also worked on their code and provided these new URLs:

https://www.stackmap.com/integration/depaul_vufindv4/StackMap.css
https://www.stackmap.com/integration/depaul_vufindv4/StackMap.js

Can you implement these for DPU on TEST as you did for UIC?  Thanks!

[2018-10-02 16:34] cedelis commented on #320
@gibsonjc I have made the changes and it does not look good. It breaks a lot of stuff. See attached image showing javascript errors.
![stackmap_dpu_errors](https://user-images.githubusercontent.com/6808751/46362900-19041900-c637-11e8-84c2-ec1f730a309c.png)

[2018-10-02 19:51] gibsonjc commented on #369
Problem statement: If a MFHD is suppressed in Voyager, the details of the MFHD (like Location and Call number) do not display, just as one would expect; however, any issues checked in via Acquisitions client > Serials Check In and set to "Display in OPAC=YES" DO display in the Holdings Tab in New VuFind under the label "Most Recently Received Issues".

Expected behavior: If a MFHD is suppressed, a

[2018-10-03 14:05] gibsonjc opened #384 "HAT, EBL, and OTL holdings do not have Library name so holdings look like they are for other libraries"
HAT, EBL, and OTL holdings in RESdb do not have Library name line above them--only the Location line--so these holdings tend to blend in with other Library holdings and make it look like they belong to the library listed above them.  Examples:

(On Prod) https://i-share.carli.illinois.edu/all/vf-uiu/Search/Results?lookfor=cat&type=AllFields&filter%5B%5D=institutions%3A%22OTL%22
![screen shot 2018-

[2018-10-03 14:11] gibsonjc opened #385 "Can HAT, EBL, and OTL e-book holdings be prioritized at the top in the I-Share union catalog?"
In the I-Share union catalog, a user's local library affiliation causes holdings from their local library to be at the top of the holdings display list, and then the remaining holdings are listed in a random order.  Could HAT, EBL, and OTL holdings also be given priority to float to the top of a list of holdings?  A user's local library should be first in the holdings list, if present, then HAT/EB

[2018-10-03 15:01] cedelis commented on #384
@gibsonjc We can assign them any value we wish. For now, on TEST, I set the "Library" name to be the same as its location for HAT/EBL/OTL.

[2018-10-03 15:04] cedelis commented on #385
@gibsonjc Yes, that is possible.

[2018-10-03 15:44] dmcmpbll commented on #377
I agree that having the label, list control, and submit button on separate rows seems fine to me too.

I checked in Chrome, IE, and Firefox and it resized and functioned as I expected.

On my phone in Safari on Prod (so without the edits) the display box shows the first item in the list, so "any item", then when you tap on the list it shows all entries in the list and the user can select one or mu

[2018-10-03 16:26] cedelis commented on #377
@dmcmpbll Can you look at TEST now? For mobile devices, I set an initial height for the resizable list control (large enough for the 'any item' option to display).

[2018-10-03 16:37] dmcmpbll commented on #377
yes, that looks great on TEST on my phone now- the "any item" option displays.

As expected, there was no change on my computer for IE, Firefox, or Chrome.

[2018-10-03 16:40] dmcmpbll opened #386 "On mobile, there is no "x" to close the Request Item Screen."
On my phone using Safari, there is no "x" available to close the Request Item Screen if a patron changes their mind about placing the request.

The patron can use the "back" button to get off of the request screen, but that takes them back to the search results list, rather than to the specific record they were reviewing.

[2018-10-03 16:45] cedelis commented on #386
@dmcmpbll I can look into this further (it could be a "lightbox" bug, https://en.wikipedia.org/wiki/Lightbox_(JavaScript) ), but in the meantime, it is possible to "close" the dialog box by touching ("clicking") anywhere outside the dialog box.

[2018-10-03 16:53] dmcmpbll commented on #362
Yes- your fix appeared to appropriately limit which requests I could cancel. Yay!

Thoughts on removing the "Cancel All Requests" button and leaving only the "Cancel Selected Requests" button?

I note that the "Cancel All Requests" button did function properly in that it correctly did NOT allow me to cancel the "AAA On Hold" or "AAA In Transit On Hold" items in my list, but I am not sure the butto

[2018-10-03 17:01] dmcmpbll commented on #386
Well look at that! :)

[2018-10-03 18:59] cedelis commented on #281
In TEST.
E.g., https://i-share-test.carli.illinois.edu/vf-uiu/Search/Results?lookfor=noresults&type=Title&limit=20&sort=relevance

[2018-10-03 19:03] dmcmpbll commented on #347
Yes, this fix worked great.

Checked in Firefox, Chrome, IE, and Safari for a patron with preferences set, and one using the defaults.
In all tests, the Request button did not display until the Pick-Up location field was populated.

[2018-10-03 20:37] gibsonjc commented on #337
This Issue is being broadened to be a comprehensive review of the item status hierarchy information displaying for items on the Checked Out Items page.  (Similar to #172 but for a different page in the system.)

Examples will need to be set up on DEVEL and TEST.  @dmcmpbll will work on this.

[2018-10-03 20:43] cedelis commented on #369
@gibsonjc @fellowsgl @jenhm

Below is the SQL VuFind uses to gather this data (e.g., SICdb.1460319).

Does anyone know how (or if it's possible) to modify it to suit our needs?

select
 LINE_ITEM_COPY_STATUS.MFHD_ID,
 SERIAL_ISSUES.ENUMCHRON from SICDB.SERIAL_ISSUES,
 SICDB.COMPONENT,
 SICDB.ISSUES_RECEIVED,
 SICDB.SUBSCRIPTION,
 SICDB.LINE_ITEM,
 SICDB.LINE_ITEM_COPY_STATUS
where
 SERIAL_ISSUES.C

[2018-10-03 21:02] gibsonjc commented on #155
Handled by the getTOC function in SolrMARC.php?

[2018-10-03 21:03] gibsonjc commented on #155
Preferred behavior: line breaks (new bullets) only occur when two consecutive hyphens appear in the string

(examples above)

[2018-10-03 22:00] fellowsgl commented on #369
I think this should work (three added lines):

select
LINE_ITEM_COPY_STATUS.MFHD_ID,
SERIAL_ISSUES.ENUMCHRON

from

SICDB.SERIAL_ISSUES,
SICDB.COMPONENT,
SICDB.ISSUES_RECEIVED,
SICDB.SUBSCRIPTION,
SICDB.LINE_ITEM,
SICDB.LINE_ITEM_COPY_STATUS,

SICDB.MFHD_MASTER  <-------------Added line
where
SERIAL_ISSUES.COMPONENT_ID = COMPONENT.COMPONENT_ID
and ISSUES_RECEIVED.ISSUE_ID = SERIAL_ISSUES.ISSUE_ID

[2018-10-04 14:53] gibsonjc opened #387 "Add image to log in screen explanation text?"
UIC would like to add an image of their campus ID pointing out where the barcode is located to the log in page.  If this is possible, we should make it a customization option for all libraries and update the customization form.

Also Note: UIC is a single sign-on library.  Options are probably different for single sign-on libraries vs. lastname/barcode libraries given that different log in pages a

[2018-10-04 14:55] gibsonjc commented on #387
Other notes:
Libraries will have to host the image locally and provide us with the location.

These images can't be in the pop-up version of the login screen.

If this will be allowed, for single sign-on libraries it would mean a library-hosted image could be displayed in the text area of #3 and/or #4 on
https://www.carli.illinois.edu/newvufind-shibboleth-login-customization

If this will be allow

[2018-10-04 15:15] gibsonjc commented on #362
@cedelis Yes, please remove the "Cancel All Requests" button completely.  Thanks!

[2018-10-04 15:26] cedelis commented on #384
In TEST (for real this time)

[2018-10-04 15:35] cedelis commented on #362
'Cancel All Requests' button has been removed (in TEST).

[2018-10-04 16:30] cedelis commented on #369
I've made the changes above to the SQL. In TEST.

[2018-10-04 20:40] cedelis commented on #385
In TEST.

[2018-10-04 21:10] cedelis commented on #155
In TEST

[2018-10-05 18:12] gibsonjc commented on #341
Holdings tab 856 improvements are Ready for Prod!

[2018-10-05 18:38] gibsonjc commented on #234
Ready for Prod

[2018-10-05 18:38] gibsonjc commented on #235
Ready for Prod

[2018-10-05 18:39] gibsonjc commented on #347
Ready for Prod

[2018-10-05 18:41] gibsonjc commented on #369
Looks good, Ready for Prod

[2018-10-05 18:41] gibsonjc commented on #377
Ready for Prod

[2018-10-05 18:51] gibsonjc commented on #384
Ready for Prod

[2018-10-05 18:51] gibsonjc commented on #385
Ready for Prod

[2018-10-05 18:54] gibsonjc commented on #332
Ready for Prod

[2018-10-05 19:39] gibsonjc commented on #155
Ready for Prod

Other examples that were improved:
https://i-share-test.carli.illinois.edu/vf-whe/Record/WHEdb.816222#toc
https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.8268592#toc
https://i-share-test.carli.illinois.edu/vf-uiu/Record/UIUdb.1467568#toc

[2018-10-05 19:45] ErikaWS commented on #382
![illinois college irrelevant search results](https://user-images.githubusercontent.com/43578326/46556786-583b9f80-c8ad-11e8-8882-1aae7c37a76e.PNG)

[2018-10-05 19:55] ErikaWS commented on #382
![irrelevant results](https://user-images.githubusercontent.com/43578326/46557152-95ecf800-c8ae-11e8-8d70-f4c75c7b98b3.PNG)

All of the results in this example, from #3 on down, have nothing to do with the search.

[2018-10-08 15:06] dmcmpbll commented on #283
Yes, this looks good to me on TEST.
And what is shown matches what is in Voyager.

[2018-10-08 15:26] gibsonjc commented on #283
Ready for Prod

[2018-10-08 15:27] gibsonjc commented on #362
Ready for Prod

[2018-10-08 16:13] gibsonjc commented on #281
"Repeat search in I-Share catalog?" addition is Ready for Prod

[2018-10-08 16:19] cedelis commented on #155
In PROD.

[2018-10-08 16:19] cedelis commented on #234
In PROD.

[2018-10-08 16:19] cedelis commented on #235
In PROD.

[2018-10-08 16:20] cedelis commented on #281
"Repeat search in I-Share catalog?" addition In PROD.

[2018-10-08 16:20] cedelis commented on #283
In PROD.

[2018-10-08 16:21] #283 closed, assigned to nobody

[2018-10-08 16:21] cedelis commented on #385
In PROD

[2018-10-08 16:22] #155 closed, assigned to nobody

[2018-10-08 16:22] #234 closed, assigned to nobody

[2018-10-08 16:23] cedelis commented on #332
In PROD

[2018-10-08 16:23] #332 closed, assigned to nobody

[2018-10-08 16:23] cedelis commented on #341
In PROD

[2018-10-08 16:23] #341 closed, assigned to nobody

[2018-10-08 16:23] cedelis commented on #347
In PROD

[2018-10-08 16:23] #347 closed, assigned to nobody

[2018-10-08 16:24] cedelis commented on #362
In PROD

[2018-10-08 16:24] #362 closed, assigned to nobody

[2018-10-08 16:24] cedelis commented on #369
In PROD

[2018-10-08 16:24] #369 closed, assigned to nobody

[2018-10-08 16:25] cedelis commented on #384
In PROD

[2018-10-08 16:25] #384 closed, assigned to nobody

[2018-10-08 16:26] cedelis commented on #377
In PROD

[2018-10-08 16:26] #377 closed, assigned to nobody

[2018-10-08 17:09] #235 closed, assigned to nobody

[2018-10-08 17:17] gibsonjc commented on #332
In addition to adding serial volume information, we also added Location and Call Number to the Checked Out Items page display.
![screen shot 2018-10-08 at 12 15 57 pm](https://user-images.githubusercontent.com/17598357/46623702-17819780-caf4-11e8-9719-129343783a20.png)

[2018-10-08 21:26] cedelis commented on #385
In TEST (again).

[2018-10-08 22:07] dmcmpbll opened #388 "Unfilled call slips that are not yet promoted or archived should not present the "cancel" checkbox option"
In Voyager, when a call slip has been unfilled by the library whose database it currently sits in, there is a period of limbo between when the call slip is unfilled by library staff/expires, and when the call slip is either promoted on to the next I-Share library by Circjob 32, or, if the call slip is unable to be promoted--until the request is archived in Voyager.

In VuFind 0.6, requests in this

[2018-10-09 18:06] cedelis commented on #385
In PROD.

[2018-10-09 18:06] #385 closed, assigned to nobody

[2018-10-10 16:22] gibsonjc commented on #71
Current New VuFind facet order is:

Location or Institution (local or uc)
Format
Author
Topic
Language
Genre
Era
Region
Year of Publication

Reorder these to be:

**Format**
**Year of Publication**
**Location or Institution** (local or uc)
Author
Topic
Language
Genre
Era
Region

[2018-10-10 17:06] gibsonjc commented on #117
@cedelis Could you look into this enhancement and see what it would take? Having the user's name display somewhere obvious like it did in 0.6 might help avoid the problems at shibboleth-enabled libraries where User A is logged in but hasn't input their barcode yet, and User B doesn't realize User A is logged in not User B, so User B inputs/syncs their barcode with User A's single sign-on account.

[2018-10-10 19:26] cedelis commented on #117
In TEST

[2018-10-10 20:03] cedelis commented on #71
In TEST

[2018-10-11 15:42] cedelis commented on #379
In TEST

[2018-10-11 15:47] gibsonjc commented on #336
When the individual checkboxes disappear, the user's only choice on mobile is to click the "Renew All Items" button, which we know can time out if there are too many items to be renewed, and that causes confusion and trouble.

[2018-10-11 16:59] cedelis commented on #336
In TEST

[2018-10-11 21:31] cedelis commented on #381
In TEST

[2018-10-12 14:01] gibsonjc commented on #265
ALP - We have this issue with our Lincoln Periodical Files. Notice the OPAC record vs the OCLC record....

https://i-share.carli.illinois.edu/vf-alp/Record/ALPdb.41324
http://www.worldcat.org/oclc/50084811

The key to finding the file was in the 773 field which shows up as "Source" on OCLC. Is there a way that can display on the OPAC for our periodical files?

RT 102458

[2018-10-12 16:37] cedelis commented on #150
In TEST

[2018-10-12 18:03] gibsonjc commented on #150
That's even better than I expected! Ready for PROD!

[2018-10-12 18:04] gibsonjc commented on #117
I have tried this with single sign-on and barcode/lastname logins in all different browsers and it looks great.  Ready for PROD.

[2018-10-12 18:25] cedelis commented on #150
In PROD

[2018-10-12 18:25] #150 closed, assigned to nobody

[2018-10-12 18:25] cedelis commented on #117
In PROD

[2018-10-12 19:29] cedelis commented on #252
Currently, we are using the default "Course Reserves" setup, called "Driver-Based Reserves" (see: https://vufind.org/wiki/configuration:course_reserves#driver-based_reserves_default ). This search relies on realtime lookups via the Voyager ILS driver (runs SQL against Voyager tables, basically), the results of which are rather simplistic: the bib IDs are returned from the ILS driver, which are the

[2018-10-12 19:50] dmcmpbll commented on #336
Yes, this looks and functions correctly on TEST on Safari on my cell phone.
I checked both as a Shibboleth patron (with 2 charged items), and as last name/barcode patron (with more than 100 charged items).

Things remain looking fine on my computer in Chrome, Safari, and Firefox.
Also, it remains that if the patron has > the set number of items, only the "Renew Selected" button shows; if they have

[2018-10-12 19:52] dmcmpbll commented on #336
Oh-I should make sure I checked charged items with a cover image to make sure. One moment.

[2018-10-12 19:56] dmcmpbll commented on #336
Nevermind- looks like we don't have cover images show in the Checked Out items list.

[2018-10-15 13:53] gibsonjc commented on #336
Ready for Prod

[2018-10-15 17:19] gibsonjc commented on #381
This title sort is working as expected on TEST. Ready for Prod.

[2018-10-15 17:30] gibsonjc commented on #71
New order looks good. Ready for Prod.

[2018-10-15 18:01] gibsonjc commented on #379
Current fix creates a Call Number: line with N/A
![screen shot 2018-10-15 at 12 59 57 pm](https://user-images.githubusercontent.com/17598357/46968982-51b1e280-d07a-11e8-8f7a-9bc312c32969.png)

[2018-10-15 18:16] cedelis commented on #379
@gibsonjc The "N/A" was added by me. It was an easy way to "solve" this issue. If this is not acceptable, then I will go back to the drawing board :)

[2018-10-15 18:49] cedelis commented on #379
@gibsonjc I added code that checks for and ignores these dummy (N/A) call numbers. They should no longer show up.

[2018-10-15 19:29] gibsonjc commented on #136
@cedelis The URL examples in the original entry for this Issue are still good examples in TEST and Prod.

Ideally, in the Results list the Title would display the 245 $a $b $n $p subfields in that order.
Right now in New VuFind it is only displaying the 245 $a $b in the Results list.

[2018-10-15 19:43] gibsonjc commented on #227
@cedelis Do we have the capability to index MFHD data? If not currently, would it be something we could try to set up?  (Demian mentioned in response to me on the email list back in Oct. that if we needed any help indexing bibs + MFHDs to let him know and he will be happy to share details.)

[2018-10-15 19:50] gibsonjc commented on #232
@cedelis What is current sort mechanism to display multiple MFHDs?
Do we have the ability to change it to alphabetical by Location Name (or anything else)?

[2018-10-15 19:52] cedelis commented on #136
@gibsonjc Unfortunately, I would need to update our indexing properties to include 245  $n and $p for 'title'.  This would require a complete re-index.

Or, instead, I could configure VuFind to show 'title_full' instead of 'title' in the Results list. I have temporarily made this change to DEVEL. Not sure if that would be better or worse than what's there now. It seems better for this example, any

[2018-10-15 19:55] cedelis commented on #227
@gibsonjc Yes, we should be able to index MFHD data. The fields get attached to the Solr record (which is mostly bib data). This is how we added call number searching capability.

[2018-10-15 20:03] cedelis commented on #136
@gibsonjc EDIT: I moved this change to the TEST server (need DEVEL to do other work):

https://i-share-test.carli.illinois.edu/vf-isu/Search/Results?lookfor=Units+of+study+in+argument%2C+information%2C+and+narrative+writing.&type=Title&limit=20&sort=relevance

[2018-10-15 20:12] gibsonjc commented on #136
@cedelis Thanks.  Hmmm, 'title_full' helps to display the $np but it also includes the 245$c, which we don't need to show because it is already showing on the next line in the Results list (and it nice there because the author is a clickable link).

I have reservations about changing 'title' to include $n and $p because I don't know all of the places that the 'title' field may be being used.  For

[2018-10-15 21:17] cedelis commented on #232
@gibsonjc Currently, everything is grouped by MFHD ID. There is no sorting. Looking into sorting by Location Name...

[2018-10-15 21:31] cedelis commented on #232
I believe they are now sorted by Location Name (preserving Institution sort in the "I-Share" catalog). They are still grouped by MFHD ID, so there's a possibility that there will be duplicate Location Names, (as was the case before making this change; this is not a defect, but done for a reason that I can't think of at the moment).

In TEST

[2018-10-16 15:25] cedelis commented on #381
In PROD.

[2018-10-16 15:25] #381 closed, assigned to nobody

[2018-10-16 15:25] cedelis commented on #336
In PROD

[2018-10-16 15:25] #336 closed, assigned to nobody

[2018-10-16 15:25] cedelis commented on #71
In PROD

[2018-10-16 20:03] cedelis commented on #252
@gibsonjc I have a pilot on DEVEL for all local catalogs. It is pretty well isolated, therefore it should remain fairly stable while I work on other issues. Have a look when you get the chance. Thanks

[2018-10-16 20:37] cedelis commented on #252
Now in TEST

[2018-10-18 16:19] cedelis commented on #252
@gibsonjc The initial Course Reserves page now sorts by Course by default. And the ultimate search results page now sorts by Title

[2018-10-19 18:44] gibsonjc commented on #219
This was resolved with issue #71 on Oct. 16, 2018. Closing.

[2018-10-19 18:44] #219 closed, assigned to nobody

[2018-10-19 18:48] gibsonjc commented on #90
Have not been able to reproduce this.  Closing.