[2017-06-06 14:48] gibsonjc opened #190 "Sort Call Number search results by call number rather than relevance"
When doing a call number search, currently the default sort of the results is "Relevance".  Can this be changed to "Call Number" sort for call number searches?

[2017-06-06 14:54] gibsonjc commented on #190
This looks like it is controlled in the [DefaultSortingByType] stanza of searches.ini.  Can we simply uncomment this entry for CallNumber so that it is active to make a Call Number search default to sorting by call number instead of relevance?

; This section allows you to specify the default sort order for specific types of
; searches.  Each key in this section should correspond with a key in the

[2017-06-06 16:23] gibsonjc opened #191 "Default Reserve location and status language is not appropriate for all libraries"
ADL - title: "Feedback that sticks : the art of communicating neuropsychological assessment results"  On the results page, the books is listed as being Available… well… yes, it is.  To our Vancouver campus users.  Here in Chicago, our copy is checked out, but you can’t see that until you click on the title for more information.

![screen shot 2017-06-06 at 11 07 25 am](https://user-images.githubus

[2017-06-06 16:49] gibsonjc commented on #191
Another example: https://vufind3-test.carli.illinois.edu/vf-adl/Search/Results?lookfor=the+great+ideas+of+clinical+science++17+principles&type=Title&limit=20&sort=relevance

[2017-06-06 19:04] gibsonjc opened #192 "improve MFHD 856 field display to use $3 $y and $z properly"
WHE - In VuFind 3, display of holdings for e-journals is problematic, in my view. Currently the setting for display of the link in the holdings area is taken from the $z of the 856 rather than $3 or $y. This seems to contradict what is recommended in the "Final Report of the Cataloging Electronic Resources/Electronic Resources Display In the OPAC Task Force” document. In our case, as an example, t

[2017-06-06 19:05] gibsonjc commented on #192
Example: https://vufind3.carli.illinois.edu/vf-whe/Record/WHEdb.865814

856 	40 	$3 Project Muse  $u http://sfx.carli.illinois.edu/sfxwhe/sfx_local?genre=journal&sid=Voyager:WHE&sfx.ignore_date_threshold=1&svc.fulltext=yes&issn=1527-1897&rft.object_portfolio_id=110978628679529  $z Available to Wheaton College users only

[2017-06-06 19:15] gibsonjc opened #193 "can all bib/MFHD 5XX fields display, at least at local level"
NBY - At this point for the Newberry to use this interface as its catalog we would need the following: 1. This was sent last year (#80717)
I've noticed that in the "More details" display for bibliographic records in VuFind that only some of our 5XX fields display. I've looked over the VuFind Record document for the More details tab and find missing 5XX tags, that for us, contain information about

[2017-06-06 19:18] gibsonjc opened #194 "Aeon request links"
NBY - At this point for the Newberry to use this interface as its catalog we would need the following: 5. Implementing our Aeon request links as a dynamic link or button instead of the static urls in the holdings record
Example: https://vufind3.carli.illinois.edu/vf-nby/Record/NBYdb.833320

Aeon request system: https://www.atlas-sys.com/aeon/
University of Chicago uses VuFind and uses Aeon for req

[2017-06-07 13:08] gibsonjc commented on #42
SXU - Missing some of our local Locations
We created a few complex locations <see below example> such as Print Books… which is a combination of various other locations, but they do not appear on the new VuFind interface. Is this something we need to recreate under a new tool?  We use this because the Book designator does not distinguish between print book and ebook.

Location

HathiTrust eResource

[2017-06-07 13:11] gibsonjc opened #195 "HathiTrust records not in vufind3"
The set of HathiTrust records and holdings have not yet been loading into VuFind 3.

[2017-06-07 13:16] gibsonjc opened #196 "Sort Facets alphabetically"
SXU - Facets – sort by alpha in addition to frequency?
Is it possible to have the search result facets also be sortable by alpha?
Many users know they want a specific author name/title/location … so it is not reasonable to have to scroll through a frequency list to have to find specific results.

[2017-06-07 19:54] gibsonjc opened #197 "better descriptions of Export options"
SXU - Is there going to be a better description of the available export options? Using RefWorks and EndNote is fine, but it doesn’t help folks using other popular tools such as Zotero and Mendeley … they need to know the actual format if you don’t include the names beside the options.

[2017-06-08 13:19] gibsonjc commented on #92
@cedelis Is this still an open problem?

[2017-06-08 13:20] gibsonjc commented on #110
@cedelis Is this still an open problem?

[2017-06-08 13:25] gibsonjc opened #198 "SFX "Get full text" links appear in I-Share /all/vf/ Results List but do not work"
Example:
Results 1-4 at: https://vufind3.carli.illinois.edu/all/vf/Search/Results?lookfor=american+libraries&type=Title&limit=20&sort=relevance

[2017-06-08 13:29] gibsonjc commented on #195
Duplicate of #105 . Closing.

[2017-06-08 13:29] #195 closed, assigned to nobody

[2017-06-08 14:10] cedelis commented on #110
I can't replicate it myself.

[2017-06-08 16:07] gibsonjc commented on #174
GF reported on 6/2:   The EBL bibs loaded into OAI last night and they did load into vufind3 UC.  However, holdings do not display and there is no bib id on the results page, but there is an EBL 035 in the staff view.  See

Personality in Adulthood, Second Edition A Five-Factor Theory Perspective
https://vufind3.carli.illinois.edu/all/vf/Record/328370661

https://vufind3.carli.illinois.edu/all/vf/

[2017-06-12 20:49] gibsonjc commented on #43
ICC - Will there be something similar to “Request 1st Available”

[2017-06-12 20:52] gibsonjc opened #199 "View email address in Your Profile"
ICC - will there be a way to see in “Your Profile” in the account area to see your email --- preferably the one that courtesy/ overdue / fine emails get sent to?

[2017-06-13 19:10] cedelis commented on #59
I just wanted to update this ticket since circumstances have changed since this was initially opened.

We are now using a subclassed VoyagerRestful ILS driver (in place of the XCNCIP2 driver).

[2017-06-13 20:26] cedelis commented on #59
The following two steps seem to address this issue. I've tested it in development for a single library. Next, I will need to add this configuration to our administrative scripts (once this has been completed, I will change the status to "Ready for Testing.")

1. to remove link, comment out the [ILLRequests] stanza in VoyagerRestful.ini (actually, since we're using MultiBackend, you need to edit th

[2017-06-15 14:35] gibsonjc commented on #188
We've discovered a bug in the solrmarc loading process that caused most of Newberry's records not to load into VuFind 3.  When the load hit a particular malformed character in one record, it caused the whole load to die rather than skipping that record and continuing to load the rest of the records.  Our developer is working on this bug with the solrmarc developers, and we hope to have it correcte

[2017-06-15 14:41] gibsonjc opened #200 "New Facet for Topic"
SXU - What happened to the Subject facet on the results page?
There used to be a facet for subjects, just like there are now facets for Genre, Author, etc.

I see there are some suggested subject headings at the top of the page, but those are probably only those top headings generated by frequency results.
We would like to see all subject headings as we had before … that is the way to narrow to sp

[2017-06-15 14:52] gibsonjc commented on #192
WRH -
1. VuFind 3 is incorrectly using MARC field 856, subfield z as the display text for records containing a URL in the 856 field. Subfield z is for any public notes (such as access restrictions or subscription information). The correct subfield to use for masking the URL in the OPAC display is subfield y (“ǂy Link text. The link text that is used for display in place of the URI in subfield ǂu”-

[2017-06-15 16:06] gibsonjc opened #201 "barcode number check?"
NPU - Our patrons really struggle to know the difference between their student ID number (0123456, for example) and their barcode (27012000123456, for example). I'm wondering if it would be possible to check to see if the number they input started with 2701200 and, if not, either add that information for them or prompt them with a special error message.

RT 89387

[2017-06-15 17:45] gibsonjc opened #202 "custom help text on login page"
Is it possible to include custom help text on the login page for each library using ILS authentication describing what their library barcode is or where to find it? See Issue #201

[2017-06-15 19:51] gibsonjc commented on #152
SIE - It appears that you have to be at a list to see the link for Get full text.  I did a search on Journal of medicinal chemistry and got a list.
https://vufind3.carli.illinois.edu/vf-sie/Search/Results?lookfor=journal+of+medicinal+chemistry&type=AllFields&limit=20&sort=relevance
When I click on no. 1, the Journal of medicinal chemistry (a record for a print journal, that we also have electronic

[2017-06-15 19:51] gibsonjc commented on #146
SIE - I also prefer the SFX button that we now have to the Get full text button.  But, maybe that’s just me, and our patrons will know that is the same as the SFX button we now have:
https://vufind.carli.illinois.edu/vf-sie/Search/Home?search=new&start_over=1&lookfor=journal+of+medicinal+chemistry&type=all
https://vufind.carli.illinois.edu/vf-sie/Record/sie_76631

[2017-06-15 19:53] gibsonjc commented on #169
SIE - Serial holdings are still not showing up correctly.  See holdings  for Facts on file: https://vufind3.carli.illinois.edu/vf-sie/Record/SIEdb.374518
We have 2 holdings records: 1 for the book collection and a suppressed holding record that was for the Ref collection.  I’m not sure why the holdings are showing up twice and what all those copy numbers are.  We only have copy ones.
APSS yearbook

[2017-06-15 19:55] gibsonjc opened #203 "One MFHD with holdings displays twice as if two MFHDs"
SIE - Serial holdings are still not showing up correctly.  See holdings  for Facts on file: https://vufind3.carli.illinois.edu/vf-sie/Record/SIEdb.374518
We have 2 holdings records: 1 for the book collection and a suppressed holding record that was for the Ref collection.  **I’m not sure why the holdings are showing up twice** and what all those copy numbers are.  We only have copy ones.
APSS year

[2017-06-16 13:02] gibsonjc opened #204 "Authority search is not linked from the VuFind interface"
We have loaded the LC authority records into VuFind 3, but the Authority search option itself is not linked from anywhere so one could only use it if they know the URL.  Do we want to link this from VuFind 3?

https://vufind3.carli.illinois.edu/vf-xxx/Authority/

[2017-06-16 13:44] gibsonjc opened #205 "Calls to SFX not using ISSN in search"
The behavior of how the "Get full text" link queries SFX seems to have changed for the worse since our staff testing in February.  At that time, we observed queries to SFX using the ISSN in the URLs in constructed, which is a very precise search.  Today in version 3.1.3 we observe the queries to SFX always using a title search in the URLs constructed, which is much less precise and often does not

[2017-06-16 16:21] gibsonjc commented on #54
Current examples in I-Share union catalog:
https://vufind3.carli.illinois.edu/all/vf-uiu/Search/Results?lookfor=harvard+business+review&type=Title&filter%5B%5D=format%3A%22Electronic%22

shows results with links like

"Available only to UIC users"
"Access may be restricted to RUMC users only."
"Available for Chicago State University via EBSCO. Click here to view book."

which are not appropriate f

[2017-06-16 18:31] gibsonjc commented on #200
See also #187 about label/terminology if facet(s) is(are) added.

[2017-06-16 19:20] gibsonjc commented on #200
Current "Narrow Search" elements in VuFind 3 local catalogs are:
Location
Format
Author
Language
Genre
Era
Region
Year of Publication
(in facets.ini as generated by create_local_vufind_instances.sh)

In VuFind 0.6 local catalogs:
Format
Location
Author
Topic
Subject Area
Language
Genre
Era
Region
Title

[2017-06-16 19:21] gibsonjc commented on #145
Thanks for submitting the suggestion.  The "Narrow Search" facets are maintained at the consortial level across all databases in VuFind 3, so unfortunately, a specialized facet for one library is not currently possible.

385 - Audience Characteristics
A category of persons for which a resource is intended or a category of persons representing the intellectual level for which the content of a resou

[2017-06-16 20:46] gibsonjc commented on #197
https://www.zotero.org/support/getting_stuff_into_your_library
https://www.mendeley.com/

From config.ini:

export.ini "controls the formats which can be used to export data" and also controls the label (and order) that displays in the dropdown (section name used unless label is specifically defined).

[2017-06-19 14:03] gibsonjc commented on #41
SXU - I-Share library locations display (layers and codes)
Is it correct to have the codes show to the public as in the example below?
Will users know what they are and that they should click into them?
Are we expecting them to guess that the CARLI entry will show all holdings?
Perhaps we could at least have a HOLDINGS header for that area?

(CARLI) (Other Sources: (CODdb)251208, (COLdb)498914, (E

[2017-06-20 14:15] gibsonjc commented on #203
TRN - There are multiple holdings appearing on everything that has multiple volumes (e.g. https://vufind3.carli.illinois.edu/vf-trn/Record/TRNdb.1158, https://vufind3.carli.illinois.edu/vf-trn/Record/TRNdb.59121) and the copy numbers are completely messed up (all of the items attached to those records are correctly entered in Voyager as copy 1). It’s a confusing mess. My students will have no idea

[2017-06-20 14:15] gibsonjc commented on #169
TRN - There are multiple holdings appearing on everything that has multiple volumes (e.g. https://vufind3.carli.illinois.edu/vf-trn/Record/TRNdb.1158, https://vufind3.carli.illinois.edu/vf-trn/Record/TRNdb.59121) and the copy numbers are completely messed up (all of the items attached to those records are correctly entered in Voyager as copy 1). It’s a confusing mess. My students will have no idea

[2017-06-20 14:17] gibsonjc commented on #146
TRN - Our SFX button doesn’t display in the results list like it does presently—there’s just a “Get full text” link

[2017-06-20 14:18] gibsonjc commented on #152
TRN - there is no link whatsoever to SFX on the record page (e.g. https://vufind3.carli.illinois.edu/vf-trn/Record/TRNdb.12834), which is especially problematic when we have electronic holdings available. I find the absence of an SFX link on the record page to be most problematic, as it will cause our users to believe we do not have content available that is, in fact, available (and that we’re pay

[2017-06-20 14:51] gibsonjc commented on #192
TRN - Our 856 $y display text is not displayed in electronic resource records (e.g. https://vufind3.carli.illinois.edu/vf-trn/Record/TRNdb.103509). While this is technically functional, I would expect some confusion—especially from students—about the links because the proxy prefix formulation is unfamiliar to them.

[2017-06-20 14:54] gibsonjc commented on #154
TRN - When using the “Text this” option, the URL sent in the text appears to be truncated, which makes it nonfunctional. If it’s a character limit issue, it would be more helpful to have as much of the title as will fit instead of the record URL (though keeping the URL--if you can make the whole thing show up in the text--would be nice).

[2017-06-20 15:01] gibsonjc commented on #57
TRN - I have to question the relevance ranking on the I-Share search when an [All Fields search for social work](https://vufind3.carli.illinois.edu/all/vf-trn/Search/Results?lookfor=social+work&type=AllFields&limit=20&sort=relevance) produces a top result entitled [Waiting to happen : HIV/AIDS in South Africa : the bigger picture](https://vufind3.carli.illinois.edu/all/vf/Record/276200167). Even u

[2017-06-20 15:05] gibsonjc commented on #81
TRN - I am still holding out hope that there can be some sort of functionality similar to the current “Hide eResources to which I don’t have access” checkbox. Student confusion abounds when they come across ebooks that they can’t log into.

[2017-06-20 15:06] gibsonjc commented on #43
TRN - Will there be a “request first available” sort of functionality at all? My users are accustomed to using that feature rather than try to pick from the list of holding libraries. If that feature will not be present, then the order of display for the holding libraries will be important, as I would expect patrons will fairly consistently pick from the top of the list (however the top of the lis

[2017-06-20 15:11] cedelis commented on #174
One-liner fix.

[2017-06-20 16:13] cedelis commented on #158
Ready to test (on vufind3-devel server)

[2017-06-20 16:16] gibsonjc opened #206 "UB items cannot be renewed"
Reports suggest that local items can be renewed by a user in the local database, but UB items cannot be renewed.

Error message received: “This item could not be renewed: Not Renewed”

The same UB items were able to be renewed successfully in VuFind 0.6.

[2017-06-20 16:19] gibsonjc commented on #41
As @cedelis suggested in today's meeting, please comment out the html display of the 035 fields in the Results list displays of the I-Share union catalog.  This way CARLI staff can still "view source" to easily see the records in the match sets.

[2017-06-20 16:52] cedelis commented on #41
Ready for testing (on vufind3-devel server)

[2017-06-20 18:03] gibsonjc commented on #89
TRN - In the current catalog, a user’s preference for pick-up library defaults to their home library so that location automatically appears when requesting an item from I-Share. In VuFind 3, there is no place to specify pick-up library preferences, so **the system appears to default to the home library for the item. Can it be changed to default to the home library for the patron?** Since a patron

[2017-06-20 18:28] gibsonjc commented on #54
TRN - Why are those links [bib records 856 links] displaying on the results screen? I can see why the results screen might include 856_40 entries, since that’s theoretically a link to the item, but why would ToC links display? They’re 856_41 entries.

I maintain my comment from the last time around that it is bizarre to have links displayed on the results screen that appear nowhere on the record s

[2017-06-20 18:28] gibsonjc opened #207 "Presence of bib 856 field seems to suppress Available/Checked Out indicator in results list"
TRN - Some items mysteriously do not display the Available/Checked Out notation on my search results page (e.g. https://vufind3.carli.illinois.edu/vf-trn/Search/Results?lookfor=judaism&type=AllFields&limit=20&sort=relevance, https://vufind3.carli.illinois.edu/vf-trn/Search/Results?lookfor=jewish&type=AllFields&limit=20&sort=relevance), even though that information is available within the record.

[2017-06-20 18:31] gibsonjc opened #208 "Visually differentiate the institution name and location name in holdings display"
TRN - Is there a way to visually differentiate the name of the college and the holdings location on the record screen (e.g. https://vufind3.carli.illinois.edu/vf-trn/Record/TRNdb.11712)? Right now they’re the same size and weight, so my eye skims right over it and I expect students will not pay close enough attention to know where an item is located (especially for periodicals, since they lack a c

[2017-06-20 18:35] gibsonjc opened #209 "Search box autocomplete feature"
TRN - The autocomplete suggestions take longer to appear that my users are accustomed to (like in EBSCO databases), so I’m not sure that function is going to be helpful. Also, when I typed social work into the search box for all I-Share libraries, the system suggested Socialism : what it means for man (46 questions and answers about the social position of workers in the USSR) /, which is rather fa

[2017-06-20 18:35] gibsonjc commented on #209
https://vufind.org/wiki/configuration:autocomplete

[2017-06-20 18:39] gibsonjc opened #210 "Menu icon in mobile-sized view unnecessary?"
TRN - In the mobile version of VuFind 3, there is a menu icon (the three horizontal lines, whatever that’s called) above the library branding, but all that’s revealed when you click it is the Login link (or My Account and Log Out). It might take up less room to just have the account-related links display all the time…

[2017-06-20 20:56] bgant commented on #197
I found the following info which is useful (scroll to the bottom):
http://vufind.2307425.n4.nabble.com/Zotero-Mendeley-td4662791.html

I recommend that we go ahead and enabled BibTex and RDF in the config.ini on all servers so users know that those two options exist.

I am checking to see if we should copy the BibTex stanza in the export.ini and add two new ones named Zotero and Mendeley (with the

[2017-06-20 21:01] bgant commented on #41
Commenting out the html is a good stopgap solution for now. Eventually we will most likely want to avoid the "Location" calls in the Search Results page entirely to improve performance. I'm not sure about the trade-off between performance and staff being able to "view source" right now.

[2017-06-20 21:26] bgant commented on #209
It seems like we have reached a point where it is time to disable features in VuFind 3.x that people do not find useful. We can always turn those features back on temporarily in Test if other libraries want to try them out again.

I recommend disabling this feature for now.

[2017-06-20 21:53] cedelis commented on #41
There aren't any "location" calls being made. This info is coming from the solr record (the 035s are indexed already; no further lookups are occurring).

[2017-06-21 14:57] gibsonjc commented on #41
This looks good, "Other Sources" can be seen in the "view source" of the results page.  Ready to be put on vufind3-test for the final check.

[2017-06-21 14:58] bgant opened #211 "UC "Call Number" and "Located" fields"
When doing UC searches, the "Call Number:" and "Located:" fields briefly appear in each record with the word "Loading..." next to them. They are then hidden from the user when the Search Results page finishes loading.

For performance reasons, I just wanted to check to see if those fields are actually being populated by separate system calls to Solr or Oracle before they are hidden.

If so, eventu

[2017-06-21 15:04] gibsonjc commented on #168
I re-checked this on prod and test with the example provided on the email list and the correct titles and fines are displaying, so this has been done and I will close this Issue.

[2017-06-21 15:04] #168 closed, assigned to cedelis

[2017-06-21 15:39] gibsonjc commented on #174
Today, holdings for CARLI eBooks are appearing in the VuFind 3 production I-Share union catalog. A search for carli.ebib.com
https://vufind3.carli.illinois.edu/all/vf/Search/Results?lookfor=carli.eblib.com&type=AllFields&limit=20&sort=relevance
yields 3833 records, some of which are part of appropriate match sets.  The 035 field (EBL)nnnnn appears in the bibliographic record.  CARLI eBooks does no

[2017-06-21 15:39] #174 closed, assigned to nobody

[2017-06-21 17:54] gibsonjc commented on #59
@cedelis just to confirm for testing: this is in place now on devel in all local catalogs of institutions that we know at present do not support local requesting in VuFind 0.6, correct?  I believe the list of institutions is in create_local_vufind_instances.sh under "my %not_requestable", but please correct me if that's not right.  Thanks!

These libraries are:
my %not_requestable = (
"adl" => 1,

[2017-06-21 18:09] cedelis commented on #59
Correct, @gibsonjc

[2017-06-21 19:40] cedelis commented on #206
Fix applied to vufind3-devel.

[2017-06-21 19:44] dmcmpbll opened #212 "Patron record suspension does not list library where suspended"
When a patron's record is suspended, the alert in VuFind3 does not denote which library has applied the suspension.

On VuFind3-devel, I have suspended my account at both SAI (6-30-17) and MRT (7-13-17).

When reviewing my Checked Out Items, I can see that my account is listed as suspended, but not where. The suspension date listed is the furthest date (the MRT suspension).

![furthestsuspensionda

[2017-06-22 14:14] gibsonjc opened #213 "Suspension at non-home library should not prevent transactions at all libraries"
[moved second section of Issue #212 to new Issue here]

On VuFind3-devel,  @dmcmpbll has suspended her account at both SAI (6-30-17) and MRT (7-13-17).

When I attempt a renewal of a UIU item despite my suspensions at MRT and SAI, I was a little surprised my UIU renewal did not go through (I got a new popup with the suspensions listed in 2 colors). UIU does not "block local transaction" for I-Shar

[2017-06-22 14:27] dmcmpbll commented on #213
I will do more testing on how suspensions currently work and will respond here (to make sure my memory is accurate).

Also, I'm not sure it's necessarily a bad thing that suspensions are applied universally. If suspended at any library means suspended at all, that would prompt faster reaction on the part of the patron and would make the "please suspend your patron" letters that some libraries send

[2017-06-22 16:11] gibsonjc commented on #210
@eschell  What are your thoughts?  I'm not sure if this would go against standard practices for responsive design or be a good idea.  We want to limit unnecessary customizations, of course.

[2017-06-22 16:20] eschell commented on #210
I'm willing to experiment and see how the suggestion looks like. The 'hamburger' icon (that's what it's call, I had nothing to do with that) is pretty standard across the web in responsive design right now.

We might be able to extend that menu in the mobile version to include the Course Reserves and New Items. Because I'd like to remove the footer from the mobile version.

[2017-06-22 17:30] gibsonjc commented on #202
The barcode/last name boxes to login are in a pop-up made with javascript if you click to it with the "Login" link in the upper right corner, but an actual login page can also be accessed at
https://vufind3.carli.illinois.edu/vf-knx/MyResearch/
Libraries may create links to this login page directly, and this is the page you are taken to when you log OUT of VuFind 3 in a non-Shibboleth institution,

[2017-06-22 18:10] gibsonjc opened #214 "Not all patron groups at Shibboleth-enabled library have credentials"
UIS - The new VuFind update is super rad and a much needed improvement to the interface. I especially love the Shib integration but since that’s the only option people who don’t have Shib credentials, like friend groups, won’t be able to log in. Might I suggest implementing something like Springshare uses where you can give both options of logging in with either your VuFind account or Shib.

[2017-06-22 18:26] gibsonjc commented on #81
BHC - In the All I-Share Libraries catalog, the “Hide eResources to which I don't have access” check box seems to have disappeared.  I thought it was very useful.  The local codes list displayed in the record would not help my students identify whether or not they have access.

[2017-06-22 19:01] gibsonjc commented on #214
I asked UIS: Regarding the UIS patron groups that do not have Shibboleth-level credentials on your campus, what functions do they need to be able to use in the catalog?  For example:
•         place local requests?
•         place requests for materials from other I-Share libraries?
•         be able to look up their account online for fines, etc.?
•         be able to renew books they have checke

[2017-06-22 19:33] gibsonjc commented on #89
ONU - I will add (or hopefully reiterate what was already said) that the current functionality most concerning to me from a procedural standpoint involves the I-Share request. When a patron makes a request in VuFind 3, it appears that the LENDING library defaults as the pickup library. In the current VuFind it is the home library of the patron requesting the item which seems to make much more sens

[2017-06-22 19:34] gibsonjc commented on #135
ONU - When you do a search, the search results page seems cluttered and distracting with the search term highlighted multiple times for every result.  Do we really need a partial excerpt from the table of comments showing where my search word was found?

[2017-06-22 19:39] gibsonjc opened #215 "no option to “request item” until/unless you are logged in is confusing"
ONU - I do NOT like how (seemingly) there is no option to “request item” until/unless you are logged in.  Most people searching the catalog are not logged in so it will be very confusing for them to not see an option to request the item.  (Currently, when one clicks on “request item” it takes them to the login page; we like this)

ONU - There is no request option without signing in. It does not pr

[2017-06-22 19:40] gibsonjc commented on #42
ONU - My favorite part (so far) is that all of the item locations are available as options on the right side.  Before there were only specialty locations available.  You could always limit by format (book) – but that would include print books and ebooks.  Now we can actually see what lives in the library.

ONU - Yes—all physical locations are nice!  Also, book –v- electronic (format)

[2017-06-22 19:51] gibsonjc commented on #208
ONU - The call number and location are pretty clear and obvious from the search page – but the location seems to be a bit obscured on the actual record page for the item.  I’d like it to be stacked right over/under the call number like it is on the current VuFind.

[2017-06-22 19:53] gibsonjc commented on #77
ONU - I wish the sort by said “newest first” instead of “descending”

[2017-06-22 19:53] gibsonjc commented on #76
ONU - I like the “suggested topics” (they must be LCSH) at the top of the page

[2017-06-22 19:54] gibsonjc commented on #58
ONU- “Similar items” tab is really cool—especially when cover image is available!

[2017-06-22 21:10] bgant commented on #197
SXU agrees with setting "BibTeX = true" and "RDF = true" in the config.ini.

They also agree with adding [Zotero] and [Mendeley] stanzas to the export.ini using the BibTeX settings and setting them to "true" in the config.ini as well.

[2017-06-23 13:13] gibsonjc commented on #42
SXU - Location facet on the right of results -- where too many odd things appear. We need to reduce but not remove all locations.

[2017-06-23 13:48] gibsonjc commented on #85
ONU - The login credentials for VuFind3 are currently Barcode and Last Name.  Reading through the FAQs it seems like that’s the way it will stay.  Apparently there is capability for single sign-on depending on whether it’s compatible with the technology we have.  Otherwise, it will make accessing patron accounts easier for us and less complicated in terms of explaining the steps to patrons.  (It w

[2017-06-23 13:55] gibsonjc opened #216 "Format and Availability icons look clickable but aren't"
ONU - The icons in the bibliographic info (on results page) look like something clickable (book, available) but they aren’t.

[2017-06-23 13:56] gibsonjc opened #217 "Add "return to results" link to record page"
ONU - When looking at the detailed view of an item there is no “return to results” link must click back button on browser.  I guess this is okay, since I usually used the back button anyway. But…

[2017-06-23 14:32] gibsonjc commented on #217
There is already a link called "Search" that returns you to the results page. Perhaps we can rename it.
![screen shot 2017-06-23 at 9 30 54 am](https://user-images.githubusercontent.com/17598357/27486637-db04a5b6-57f6-11e7-8844-3d8e8a1f83ad.png)

[2017-06-23 14:33] gibsonjc commented on #216
![screen shot 2017-06-23 at 9 32 58 am](https://user-images.githubusercontent.com/17598357/27486695-044fc658-57f7-11e7-916d-e0f054290adf.png)

[2017-06-23 15:15] gibsonjc commented on #209
IWU - autofill form in the standard search box seems to always cover up the first result. Poor design.

[2017-06-23 15:17] gibsonjc opened #218 "Institution facet in I-Share"
IWU - On the right, results by institution is displayed at the top.  This seems useless to me. Usually you want to search by your home institution or all of CARLI.

![screen shot 2017-06-23 at 10 16 32 am](https://user-images.githubusercontent.com/17598357/27488555-11b5bec8-57fd-11e7-8d5b-fe26e7f09e3c.png)

[2017-06-23 15:19] gibsonjc opened #219 "Year of Publication facet is buried"
IWU - Date range is quite useful and commonly used.  It is buried all the way at the bottom on the right.

![screen shot 2017-06-23 at 10 18 49 am](https://user-images.githubusercontent.com/17598357/27488649-65a75014-57fd-11e7-9d91-44177e3658e9.png)

[2017-06-23 15:33] gibsonjc commented on #72
IWU- There are a lot of colors that seem to distract from the content. Is it necessary to have yellow highlighting of terms?

[2017-06-23 15:35] gibsonjc commented on #72
ONU - When you do a search, the search results page seems cluttered and distracting with the search term highlighted multiple times for every result.  Do we really need a partial excerpt from the table of comments showing where my search word was found?

ONU - I don’t mind the highlighting

[2017-06-23 15:44] gibsonjc commented on #216
IWU - ...  I also don't see what is gained by the format displaying alongside availability. The thumbnails on the left side seem like good enough indicators. ...  Also, with highlighting the format and availability info look like clickable buttons. If there were fewer colors (even just no highlighting or format "button") I think the availability info would be more prominent...possibly more helpful

[2017-06-23 15:46] gibsonjc opened #220 "Repeat search in I-Share for items that are not available"
IWU - [Regarding the status availability indicators on the results page:] It would be even more helpful if something that was not available was actually a button that could lead to an I-Share interface or if there was some indicator like "GetThis".

[2017-06-23 15:49] gibsonjc commented on #81
IWU - How is this system handling e-books? Including ebooks from other CARLI libraries is my biggest pet peeve. It is useless and frustrating information.  If the default can always be to exclude ebooks from other libraries unless it is a consortial title that would be my preference.

[2017-06-23 18:18] gibsonjc commented on #59
@cedelis Please put this on vufind3-test when possible and I'll ask staff to have a look for any unexpected results.

[2017-06-23 18:20] gibsonjc commented on #206
@cedelis Please apply this fix to vufind3-test and we'll do a final check there.

[2017-06-23 18:38] gibsonjc commented on #158
Close but not quite there yet.  These two lines:

**Please contact the Library Reference Department for assistance.
noreply@carli.illinois.edu**

need to be replaced with this one line:

**Please contact the Library for assistance.**

You can check the output with any invalid record number, like:
https://vufind3-devel.carli.illinois.edu/vf-onu/Record/11111111111111111

![screen shot 2017-06-23 at

[2017-06-26 15:40] cedelis commented on #158
Changed:

Please contact the Library Reference Department for assistance.

to:

Please contact the Library for assistance.

[2017-06-26 21:45] cedelis commented on #181
Change noreply@carli.illinois.edu to what exactly?

[2017-06-26 21:49] cedelis commented on #166
In vufind3-devel

[2017-06-27 12:30] gibsonjc commented on #181
Change noreply@carli.illinois.edu to support@carli.illinois.edu

[2017-06-27 13:20] gibsonjc commented on #192
Specification for the display of 856 subfield y, z, and 3 data in the Holdings tab of the VuFind 3 record page: _(same as that used in VuFind 0.6)_

The **linking text** should be taken from the $y.
In the absence of the $y, use the $3.
In the absence of the $y or $3, use the $u.

The **target** of the hyperlink is always the URL in the 856 $u.

After the linking text, insert a space and display t

[2017-06-27 14:38] cedelis commented on #181
In vufind3-devel.

diff --git a/LOCAL_VF_TEMPLATE/config/vufind/config.ini b/LOCAL_VF_TEMPLATE/config/vufind/config.ini
index 07da8bd..beeef24 100644
--- a/LOCAL_VF_TEMPLATE/config/vufind/config.ini
+++ b/LOCAL_VF_TEMPLATE/config/vufind/config.ini
@@ -19,7 +19,7 @@ autoConfigure = true
 ; Base URL is normally auto-detected, but this setting is used when autodetection is
 ; not possible (i.e. durin

[2017-06-28 16:20] gibsonjc commented on #103
TIU- If we don't pay for images, is it still possible to hide the "no image available" image? Could we have this hidden until we get cover images straightened out?

RT 89662

[2017-06-28 17:45] gibsonjc commented on #202
TIU - Is it possible to customize the login window? Right now it asks for barcode and our users are confused by "barcode" but understand "campus id" number (which is only 6 digits). Our other vufind customization has a note field for TIU users to use their student id.

[2017-06-28 17:49] gibsonjc commented on #169
TIU - Can CARLI edit the way holdings for journal items show? https://vufind3.carli.illinois.edu/vf-tiu/Record/TIUdb.148823 is an example of how journal items show in VuFind 3 (saying we have multiple copies for volumes). [This is critical before TIU can use VuFind 3.]

[2017-06-29 12:31] gibsonjc commented on #143
"This is fixed.  The answer was making sure the bib id in the 004 of the MFHD matched the bib it was following in the interleaved file and the fix for that was added to the export script.  In the case of bound with's, the 004 in the MFHD sometimes was for a different bib it was linked to, not the one it was following." Closing.

[2017-06-29 12:31] #143 closed, assigned to nobody

[2017-06-29 13:13] gibsonjc commented on #197
I believe the changes needed here are as follows:

1. In config.ini, please change these two options from "false" to "true"
RDF = false
BibTeX = false

2. The second part of the needed changes seems to involve three parts:
Editing the export.ini to copy the [BibTeX] stanza twice, renaming one [Zotero] and one [Mendeley],

then adding
Zotero = true
Mendeley = true
to the [Export] stanza in config.i

[2017-06-29 14:21] gibsonjc commented on #146
SIC - I see that UC's VuFind3 has the SFX button enabled (https://catalog.lib.uchicago.edu/vufind/Search/Results?lookfor=american+journal+of+psychology&type=Title).  Can you replace the Get Full Text text links for SIC VuFind3 with our SFX button the button, http://sfx.carli.illinois.edu/sfxsic/sfx.gif ?

[2017-06-29 14:23] gibsonjc commented on #42
SIC - We have lots of e-resource location codes used in the catalog but we will not want all of those locations to be used as facets under the location facet. Can we assign several location codes to one location facet?

[2017-06-29 15:55] cedelis commented on #169
@gibsonjc , The following is the raw data we currently have to work with for example (the first few records, anyway; not all of them:

https://vufind3-devel.carli.illinois.edu/vf-tiu/Record/TIUdb.148823

The easiest "solution" to this problem is to simply remove the "Copy 0" labels from the display (these numbers are simply enumerated, i.e., they don't come from the holdings data).

**************

[2017-06-29 15:58] gibsonjc commented on #153
As discussed at our 6/29 meeting, we will solve the immediate need of removing nouc records from VuFind 3 by having GF send those records through as deletes to OAI.  If we need OAI feeds of records in the future, we will address that at that time.

[2017-06-29 17:55] gibsonjc commented on #166
Looks good on test; ready for prod

[2017-06-29 17:58] gibsonjc commented on #181
Looks good on test; ready for prod

[2017-06-29 18:00] gibsonjc commented on #158
Looks good on test; ready for prod

[2017-06-29 19:08] gibsonjc commented on #41
Looks good on vufind3-test, ready for prod

[2017-06-29 20:50] dmcmpbll commented on #59
Checking this on vufind3-test, it appears that all EIU items are not requestable, to either EIU patrons or to I-Share patrons when in the "All I-Share Libraries" view.

Logged in as myself on UIU and as a request-eligible DPU patron, the "request link" does not show for the EIU versions of requestable titles.  So I-Share patrons cannot place I-Share requests for EIU books.

The in-use calendar for

[2017-06-29 21:04] dmcmpbll commented on #59
Noticed the "Requested Items" tab is missing in the "Your Account" for the libraries that do not allow local call slip. See screenshot for COD login (no local call slip) vs DPU login (allows local call slip).

![cod-vufind3test-norequesteditemstab](https://user-images.githubusercontent.com/20848151/27710217-8aab0b8a-5ce4-11e7-85a0-93923ceab3cb.PNG)

![dpu-vufind3test-requesteditemstab](https://use

[2017-06-29 21:17] cedelis commented on #59
Thanks, @dmcmpbll

It is apparent that simply turning off ILLRequesting capabilities via configuration options is not an acceptable solution here.

Back to the drawing board...

[2017-06-29 21:38] cedelis commented on #59
Just to be clear:

For institutions such as EIU, is the following the

in their local catalog (/vf-eiu), which searches only EIU items: Requesting is (completely) disabled

in the "universal" catalogs (/all/vf and /all/vf-xxx), which search all I-Share items (including EIU items): Requesting for EIU items is disabled for EIU patrons only; other I-Share libraries may request them.

Apparently, disa

[2017-06-29 21:40] dmcmpbll commented on #206
In vufind3-test, my tests this afternoon show that UB items are able to be renewed.

[2017-06-29 21:47] dgree1 commented on #206
For me too. In https://vufind3-test.carli.illinois.edu/vf-uiu/MyResearch/CheckedOut

[2017-06-29 21:48] cedelis commented on #59
I reverted the code changes I've made since they did not solve this issue (and also added an additional issue).

The status of this issue is back to Accepted, Enhancement, Priority Issue.

More analysis will need to be done.

[2017-06-30 14:20] dmcmpbll opened #221 "Some titles listed twice in Checked Out Items list for some patrons"
Occasionally in vufind3-prod/test/devel, the same title will be listed twice in a patron's Checked Out items list, once with a shortened hyperlinked title and no library ownership name, and then again with a non-hyperlinked full title and the library's ownership name.

![listtwice](https://user-images.githubusercontent.com/20848151/27739768-585a1bee-5d75-11e7-8e37-f10a7e48439d.PNG)

[2017-06-30 14:43] slknight commented on #59
Chris has accurately described the need. EIU needs request functionality in I-Share and we need Requested Items in My Account. Request functionality needs to be suppressed for EIU owned items in both the local and I-Share catalogs.

Sorry to hear that this was not a simple .ini fix. If you need me to test anything let me know.

Stacey Knight-Davis
Head of Library Technology Services
Booth Library

[2017-06-30 15:19] gibsonjc commented on #188
Reindex completed on devel and swapped to production the evening of June 29. All updates ran successfully overnight.  All NBY records now appear in vufind3.carli.illinois.edu. Closing.

[2017-06-30 15:19] #188 closed, assigned to nobody

[2017-06-30 16:11] gibsonjc commented on #105
As of June 2017, the original set of HathiTrust records are displaying in local VuFind 3 catalogs for:
my %hathi_enabled = (
"aru" => 1,
"con" => 1,
"dom" => 1,
"eiu" => 1,
"erk" => 1,
"isu" => 1,
"lfc" => 1,
"mil" => 1,
"nby" => 1,
"sxu" => 1,
"uiu" => 1,
);

HathiTrust records are currently not available in the VuFind 3 deduplicated uc. CARLI staff are working on a new, updated set of HathiTrust

[2017-06-30 18:22] gibsonjc commented on #206
Ready to move to production

[2017-07-03 13:53] gibsonjc commented on #95
NBY - We'll begin evaluating it [vufind 3]. Not being able to exclude effectively the HathiTrust titles presents a bit of a challenge. The current VuFind at least allows a user to exclude them from searches in Advanced Search.

[2017-07-05 12:49] gibsonjc opened #222 "rebuild index on vufind3-test"
vufind3-test's index is a copy made from production on June 26.  It was created prior to us having the fix in place for #188 and does not contain all records, particularly for NBY.

GF can export records from voyager-test on demand and @cedelis can then rebuild the index.  Indexing time should take about two days.

[2017-07-05 12:53] gibsonjc opened #223 "rebuild index on vufind3-devel"
vufind3-devel's index is the rebuilt production index from June 29. Production's index was rebuilt on devel and swapped into production to include the fix for #188 without downtime on production.  This means devel's index does not match voyager-devel.

GF can export records from voyager-devel on demand and @cedelis can then rebuild the index. Indexing time should take about two days.

[2017-07-05 16:02] gibsonjc commented on #197
TIU - Another question we have about VuFind 3 is about citation data exported to Zotero. Our Reference Librarians have been instructing our users to use the Classic WebVoyage interface when building their Zotero library because when they try to use VuFind the data has punctuation added to the fields (Looks like the ISBD slashes and colons). Looks like VuFind 3 is also pulling in the punctuation wh

[2017-07-06 13:04] gibsonjc commented on #153
6/30 update from GF: The daily export for oai has been modified to move nouc's to the delete file.

7/2 update from CD: The morning of Jun 30th, the MST finished processing ~70K records relatively late.  The daily update scripts on vufind3 (which harvest from the MST) wait until 6:00am for the night's processing to finish; otherwise it gives up and tries again tomorrow (so that it doesn't process

[2017-07-06 16:02] gibsonjc commented on #153
7/6 update: GF reported The short record deletes for the bib ids whose full records were invalid ran last night and only 4 were found and deleted.  The remaining 5613 were not in OAI.   GF will spot-check results in prod vs. test for standalones and matchsets.

[2017-07-06 16:12] gibsonjc opened #224 "send nouc records as deletes to test and devel"
Perform the same steps as #153 on vufind3-test and vufind3-devel.

[2017-07-06 16:20] gibsonjc opened #225 "Some results have "Get full text" link when they should not"
RSH - In the database for the  Library of Rush University Medical Center, several records that are for print resources should not indicate “Get full text” in brief record. The link goes to SFX instructions – very confusing.

Title examples:
2-D page map analysis : methods and protocols  **RSHdb.109192**
https://vufind3.carli.illinois.edu/vf-rsh/Search/Results?lookfor=2-D+page+map+analysis+%3A+meth

[2017-07-06 16:22] gibsonjc commented on #225
This unwanted behavior may be related to #205 .  What is triggering the "Get full text" link to display, and when it does display, what governs the content of the search link that it builds?

[2017-07-06 16:26] gibsonjc commented on #192
RSH - Field 856 $3 is not enabled so that only a link shows up in holdings of full record description. Does show up in brief as link “Internet Archives” – can it appears as it does in VuFind 0.6?
Title examples:
[Yearbook collection, St. Luke's Hospital School of Nursing (Chicago, Ill.)](https://vufind3.carli.illinois.edu/vf-rsh/Search/Results?lookfor=Yearbook+collection%2C+St.+Luke%27s+Hospital+S

[2017-07-06 18:35] gibsonjc opened #226 ""All Fields" search does not search all fields"
marc.properties file includes this definition:

allfields = custom, getAllSearchableFieldsAsSet(100, 900)

which according to https://code.google.com/archive/p/solrmarc/wikis/CustomIndexingRoutines.wiki sets 100 as the lower bound field and 900 as the upper bound field for an allfields search.  No 0XX fields and no 9XX fields (other than 900) are being searched.

According to https://www.carli.ill

[2017-07-06 18:36] gibsonjc commented on #226
Changing the allfields definition would also allow searching for OCLC numbers as strings, Issue #138

I assume changing this would require a reindex.

[2017-07-06 18:39] gibsonjc commented on #226
NBY - [Searching] the phrase "Gift 2008" retrieves some records based on the 910 tag, but if I extend the phrase to "gift 2008 jlg" I get no hits, though the phrase is present: https://vufind3.carli.illinois.edu/vf-nby/Record/NBYdb.815685

[JG: I don't think this record is being found because of the 910 tag, I think it's being found because of the string in the 541 field:
541 1  |a McCormick Theol

[2017-07-06 18:42] gibsonjc opened #227 "Want ability to search MFHD notes fields"
NBY - We include in our MFHDs the following tags. Since they are also used in bibliographic records, we need to be able to search both MFHDs and bibs for the best retrieval of the information they contain:

506 - Restrictions on Access Note (Repeatable)
538 - System Details Note (Repeatable)
541 - Immediate Source of Acquisition Note (Repeatable)
561 - Ownership and Custodial History (Repeatable)

[2017-07-06 18:49] gibsonjc commented on #42
NBY - A comparison on how our Voyager locations appear in the current VuFind and in VuFind I hope will demonstrate how much more fragmented and unhelpful VuFInd 3. I can pinpoint in Vufind the following, but not in VuFind 3. Each of these locations contain certain types of material that when selected provide useful more focused faceting.
Ayer Collection (All)
Wing Collection (All)
MapRecon
French

[2017-07-06 18:59] gibsonjc commented on #200
NBY - For subjects the current VuFind uses the LC classification conspectus from tags in the bibliographic records. In VuFind 3 the "Suggested topics" at the head of the retrieved list is a strange mix drawn from subfields of 6XX fields. While these can be helpful, the broader LC classes are better for collocating a large group of related material.

[2017-07-06 19:21] gibsonjc commented on #202
@eschell Would you say that we know how to handle this customization request now? If so, can you please comment a bit about the resolution (what you did, which files are affected, etc.) as to how this customizable text is being handled?  Thanks!

[2017-07-06 19:27] gibsonjc opened #228 "update Syndetic Solution subscriptions as of July 1, 2017"
Remove/change/add subscriptions as needed on prod, test, and devel

[2017-07-06 19:28] gibsonjc opened #229 "update SFX libraries list"
Some libraries have dropped SFX.  Update VuFind 3 prod, test, and devel as needed.

[2017-07-06 19:37] gibsonjc commented on #198
"Get full text" links to SFX should not display in the VuFind 3 I-Share uc.  If possible, please turn off these links from display or hide them.

Seems similiar to Issue #152 but that's for local catalogs.  This is for the uc so slightly different settings are required:

In the [Open URL] stanza, there is a setting to indicate where to display the Open URL links. We'd like to have it display in th

[2017-07-06 19:47] fellowsgl commented on #229
Schools that have dropped SFX as of July 1: BHC, JJC,JKM,  NPU, TRT

[2017-07-06 19:49] fellowsgl commented on #228
Schools not renewing Syndetics subscriptions: ARU, CTU, LFC, ONU, ROU, USF

[2017-07-06 19:56] eschell commented on #202
I added an extra field to loginfields.phtml in the theme templates just before the login form. That extra field will pull from the individual institution theme config.php file to populate with text, if any. I've also added this as an option on the VuFind customization form as well.

[2017-07-07 00:57] gibsonjc commented on #169
Yes, I agree, go ahead and do what you suggested ("The easiest "solution" to this problem is to simply remove the "Copy 0" labels from the display (these numbers are simply enumerated, i.e., they don't come from the holdings data).") and let's see what that looks like.  Seems like it can't be worse!

[2017-07-07 19:51] ameyer24 commented on #192
NPU - Was about to submit this same issue - glad it is on your radar!

[2017-07-10 16:07] dmcmpbll commented on #213
Used a BHC test patron in Voyager-test and associated VuFind records
https://vufind-test.carli.illinois.edu/all/vf/Record/13788072
https://vufind3-test.carli.illinois.edu/all/vf-bhc/Record/299780553
Book is held by UIU and by SVC; UIU copy is in a non-requestable location.

Workflow:
1) Request SVC copy of book; cancel request.
2) Suspend patron in BHC.
3) (Attempt) request SVC copy of book.
4) Un

[2017-07-10 21:08] cedelis commented on #198
It appears that the "Open URL" functionality is making use of the bib's 856 data. This is most likely not what we want to display to the user in the "uc" catalog. I believe the deduped record aggregates all of the matching (source) records' 856 data which results in a collection of URLs (many/most of which) are library-dependent). I will supply a screen shot of an example. This doesn't appear to b

[2017-07-10 21:10] cedelis commented on #198
This is the reason we previously commented out the "Open URL" links (this question was asked in a different issue: https://github.com/CARLI/vufind/issues/152#issuecomment-283770373 ). I've temporarily un-commented-out this section so you could see the screen shots below:

![openurl_using_bib856](https://user-images.githubusercontent.com/6808751/28040077-28034dae-658a-11e7-9f09-1ba79192f268.png)
![

[2017-07-11 16:00] bgant commented on #189
Principia College would also like access to the VuFind 4.x API when it becomes available (see RT #89872).

[2017-07-11 19:27] cedelis commented on #197
@gibsonjc , I agree with step 1 above (enabling RDF and BibTeX support). However, I don't believe Zotero or Mendeley depend (or even make use of) the Export options; instead, they rely on browser plugins which integrate with their respective products (I've tested this myself, for both Zotero and Mendeley). As for TIU's issue with the "data exported to Zotero" and its data having "punctuation added

[2017-07-12 19:59] cedelis commented on #181
Pulled carli-release-3.1.3 changes into Prod server.

[2017-07-12 19:59] #181 closed, assigned to nobody

[2017-07-12 20:00] cedelis commented on #166
Pulled carli-release-3.1.3 changes into Prod server.

[2017-07-12 20:00] #166 closed, assigned to nobody

[2017-07-12 20:00] cedelis commented on #158
Pulled carli-release-3.1.3 changes into Prod server.

[2017-07-12 20:00] #158 closed, assigned to nobody

[2017-07-12 20:01] cedelis commented on #41
Pulled carli-release-3.1.3 changes into Prod server.

[2017-07-12 20:01] #41 closed

[2017-07-12 20:01] cedelis commented on #206
Pulled carli-release-3.1.3 changes into Prod server.

[2017-07-12 20:01] #206 closed, assigned to nobody

[2017-07-12 20:20] dgree1 commented on #225
Possibly the SFX link is being triggered by a MARC fields related to series or serials in a more technical sense.
Above example Veterinary Infection has these 490 fields in bib:

490 | 1 |   | |a Methods in molecular biology, 
  |x 1064-3745 ; 
  |v 1247
-- | -- | -- | --
1 |   | |a Springer protocols

"How to overcome the antibiotic..." similarly has

490 | 1 |   | |a Current topics in microbiolo

[2017-07-13 15:39] cedelis opened #230 "Block/Suspension messages do not show to which library they were applied"
The VoyagerRestful driver is assuming a single Voyager instance when dealing with Block/Suspension messages, i.e., it does not mention the library for which the Block was applied.

E.g., the following messages do not specify the library to which they pertain,

You have 15 Universal Borrowing lost items. The limit for your patron group is 3.
Your borrowing privileges are suspended until 2027-05-25.

[2017-07-17 19:54] gibsonjc commented on #197
@cedelis Ok, to start, please change the config.ini as in step 1 to enable the additional two formats and let's at least see what that looks like.  Thanks!

[2017-07-17 20:03] cedelis commented on #197
Done! Ready for Testing.

[2017-07-18 17:35] gibsonjc commented on #75
TIU - Would it be possible to add icons for format (as the old vufind does now)? The colored tags for format in VuFind 3 are smaller and not as quick to recognize as the icons. Some of my colleagues here are worried users won't see which records are electronic, microform, etc.

[2017-07-18 17:36] gibsonjc commented on #81
TIU - We have not seen an option for searching the I-Share VuFind 3 that can "hide e-resources I don't have access to". Will this feature be added to VuFind 3?

[2017-07-18 17:49] gibsonjc commented on #103
TIU - is there a timeline for developing a solution for hiding the "no image available"? This issue seems to be a critical one for us to begin using VuFind 3. We received a quote for the cost of image subscription, but we won't be able to subscribe to this service longterm.

[2017-07-18 17:52] gibsonjc commented on #103
I just realized there were two Issues for the same problem, so I'm consolidating to the older one and closing newer Issue #144 as a duplicate.

In the config.ini, in the [Content] stanza:

; path relative to the base of your theme directory for a static image to display.
noCoverAvailableImage = images/noCover2.gif

Please get the blank image from VuFind 0.6 (called 1x1.gif) and copy it to vufind3

[2017-07-18 17:52] gibsonjc commented on #144
duplicate of #103 . Closing.

[2017-07-18 17:52] #144 closed, assigned to nobody

[2017-07-18 18:06] gibsonjc commented on #173
ISU - major concern that Milner Library has before making a switch to VuFind3

[2017-07-18 18:06] gibsonjc commented on #169
ISU - major concern that Milner Library has before making a switch to VuFind3.  ISU would prefer no copy number display, particularly the “0” and duplicate #’s

[2017-07-18 18:14] gibsonjc commented on #226
ISU - major concern that Milner Library has before making a switch to VuFind3. All Fields search returns fewer results than Subject search or Keyword in previous version

[2017-07-18 18:15] gibsonjc commented on #146
ISU - major concern that Milner Library has before making a switch to VuFind3.

[2017-07-18 18:17] gibsonjc commented on #192
ISU - major concern that Milner Library has before making a switch to VuFind3.  Electronic Resources online access link displaying standard text (Available on ISU campus or via ISU ULID) rather than database name (Project Muse).  Example: https://vufind.carli.illinois.edu/vf-isu/Record/isu_1873686

[2017-07-18 18:20] gibsonjc commented on #42
ISU - major concern that Milner Library has before making a switch to VuFind3.  In the Location Facets on the search results page, we would like to drop Floor designations from unique collections like Special Collections (SpecColl) and Teaching Materials Center (TMC)

Example: https://vufind3.carli.illinois.edu/vf-isu/Search/Results?lookfor=children%27s+literature&type=AllFields

[2017-07-18 18:52] gibsonjc opened #231 "Want ability to put link to library floor maps in item records"
ISU - We would like to include Floor Maps in the item records, ideally like those utilized by [Wayne State](http://elibrary.wayne.edu/search~S30?/Xfood&searchscope=30&SORT=DZ/Xfood&searchscope=30&SORT=DZ&SUBKEY=food/1%2C465%2C465%2CB/frameset&FF=Xfood&searchscope=30&SORT=DZ&1%2C1%2C) (see Floor Map link in Right column), but could work with a Banner map similar to [EIU](https://vufind.carli.illino

[2017-07-18 18:55] gibsonjc commented on #153
GF looked at 12 different bibs from the nouc delete files and they all were in vufind3-test.  The single school cases were not in voyager-prod and the multiple school cases has the correct school dropped from the match set.

This seems complete on production. Closing.

[2017-07-18 18:55] #153 closed, assigned to gibsonjc

[2017-07-18 19:50] cedelis commented on #59
@gibsonjc This is available on DEVEL at the moment. If it looks okay, I can promote it to TEST.

[2017-07-18 20:17] cedelis commented on #103
Ready for testing on DEVEL. If all looks well, I can then promote to TEST.

[2017-07-19 13:04] gibsonjc commented on #163
Is this true, or is it because only A-Z are listed as options?  I found this in the config.ini:

; setting controls the maximum number of results that may display in any given
; result box on the Browse screen.  You can set to -1 for no limit; however,
; setting a very high (or no) limit may result in "out of memory" errors if you
; have a large index!
[Browse]
result_limit    = 100
tag

[2017-07-19 13:12] gibsonjc commented on #103
Yes, looks good to me, please move to TEST!

[2017-07-19 13:26] gibsonjc opened #232 "Want multiple holdings sorted alphabetically by Location Name"
ISU - major concern that Milner Library has before making a switch to VuFind3.  For items with multiple locations we need to be able to display them alphabetically by location [in the Holdings tab area]

Example from 0.6: https://vufind.carli.illinois.edu/vf-isu/Record/isu_194168
vs. https://vufind3.carli.illinois.edu/vf-isu/Record/ISUdb.194168

[2017-07-19 14:04] gibsonjc opened #233 "Do not want to see each Item listed individually"
ISU - major concern that Milner Library has before making a switch to VuFind3. We would prefer to see a range of items listed v.1(1900)-v.100(1999) rather than each item individually

[2017-07-19 14:06] gibsonjc commented on #231
It is already possible to include a link to maps in the custom banner/header, so I recommended they start with that.

[2017-07-19 14:39] gibsonjc opened #234 "Standardize link text to electronic resources on the Results page of local catalogs"
MIL - Things we view as obstacles to adopting VF3--eBooks- mixed language for connecting to eBooks is confusing. Example: keyword searched for “nutrition” and there are many results marked “Book” “Electronic.”

To connect to some ([CARLI eBooks like “Nutrition for Dummies) it has a link on the results screen that says “Connect to eBook](https://i-share.carli.illinois.edu/vf-mil/Search/Results?look

[2017-07-19 14:40] gibsonjc commented on #234
The difference in link text is due to the fact that these links are coming from different places.
- Nutrition for dummies: bib 856 with $y Connect to eBook
- Hypertension and nutrition: has bib 856 but without any other display subfields (so “Get full text” is the default, I think?)
- Nutrition and Metabolism: bib 856 with $z Available Online to Millikin Users: Click Here

[2017-07-19 14:43] gibsonjc commented on #57
MIL - Things we view as obstacles to adopting VF3--Searching:  Librarian 1:  The relevance factor seems to always favor eBooks or other electronic items, which is frustrating, as they are not necessarily the most relevant items.  Search “Jane Austen” as author, and the first result  is an eBook “Gordost’ I predubeazhenie” (a Russian translation of Pride and Prejudice?  Why is that the most relevan

[2017-07-19 14:43] cedelis commented on #163
No, this is not "simple."

Setting alphabet_letters seems to have no effect for Call Number browsing. I'm guessing it is being ignored completely.

For all other Browse searches, however, this setting does seem to take effect. In fact, it appears that VuFind is already either:  a) prepending the digits, in the case of Era; b) or appending the digits, for all others. (code: https://github.com/vufin

[2017-07-19 14:47] gibsonjc commented on #81
MIL - Things we view as obstacles to adopting VF3--IShare hide eResources feature:  The “Hide eResources to which I don’t have access” option is gone when searching IShare.  Would definitely need this feature back.

[2017-07-19 14:48] gibsonjc commented on #215
MIL - Things we view as obstacles to adopting VF3--Request tab:  I wasn’t able to see the option to request an item either in the local or union catalog until I was logged in.  I found that confusing.

[2017-07-19 14:54] gibsonjc commented on #209
MIL - suggested search results is very aggressive and often block my view of the actual results.

[2017-07-19 14:56] gibsonjc commented on #76
MIL --Suggested searches: Librarian 1: like this feature, but seems to be entirely based on title word matches, with no inclusion of author or subject matches, which I have seen matched in similar features in other databases (e.g., Ebsco’s ASC or CINAHL). Therefore, if I search an author (e.g., Mark Twain or Jane Austen), I am getting suggested items about them rather than any by them.

[2017-07-19 15:12] cedelis commented on #163
With respect to the two Call Number Browse options (LC and Dewey) in VuFind, there is obviously an indexing component, where decisions are made as to how each one is indexed (and searched). These are configured via the following settings (any changes to these require a COMPLETE re-index of Solr, i.e., it's an expensive change):

callnumber-first = 852h[0], callnumber_map.properties, first
callnumb

[2017-07-19 15:17] gibsonjc commented on #135
MIL - personally prefer cleaner look of search results screen on current VF version, though I appreciate the attempt to highlight where the search term(s) are being found (TOC, subjects, etc.).

[2017-07-19 15:19] gibsonjc commented on #207
MIL - why does the availability not show up next to the format (book) icon when these extra links appear, as it does for the other books on my search results screen (search for “nutrition”)?

[2017-07-19 15:39] gibsonjc opened #235 "Only links to the resource should appear in the results list"
MIL - I don’t think “extra links need to show up on the search results screen (e.g., on [“Nutrition: a Very Short Introduction](https://i-share.carli.illinois.edu/vf-mil/Search/Results?lookfor=nutrition+a+very+short&type=AllFields&limit=20&sort=relevance)”, links to TOC, Publisher Description, and Contributor biographical information show up under the call number and location)…these sort of links

[2017-07-19 15:40] gibsonjc commented on #65
MIL - Would still like language to be “text call number” and think this feature would be more noticeable next to the actual call number.

[2017-07-19 15:49] gibsonjc commented on #120
This general error message was improved in Issue #158 to provide a working address (support@carli) but this is not yet customized to direct users to their individual library like is possible in VuFind 0.6, so this issue remains open.

The Issue for truncated texts is at Issue #154 .

[2017-07-19 16:00] gibsonjc commented on #115
MIL - I still think this could be edited to make the holdings move up on the screen.  The addition of the preview of the item description on newer titles (e.g., “[On Human Nature](https://vufind3.carli.illinois.edu/vf-mil/Record/MILdb.422323)”) only makes the screen longer, but I actually kind of like that addition.

[2017-07-19 16:09] gibsonjc commented on #190
MIL - I still don’t understand how a call number search can be sorted by relevance.  What is the system using to determine that PS3556 .O645 is more relevant than PS3556 .A76 when searching PS3556? Librarian 2: This seems to be working better, but it still defaults to relevance rather than pure call # order.

[2017-07-19 16:12] gibsonjc commented on #117
MIL - I would still prefer to see my name rather “your account” appear when I logged in (current VF feature).

[2017-07-19 16:20] cedelis commented on #190
I agree that Relevance sorting is not very useful for Call Number searches.

I think it makes sense to default to "Sort by Call Number" (callnumber-sort), which is accomplished by editing config/searches.ini:

; This section allows you to specify the default sort order for specific types of
; searches.  Each key in this section should correspond with a key in the
; [Basic_Searches] section above.

[2017-07-19 16:23] cedelis commented on #190
In DEVEL and TEST.

[2017-07-19 17:13] gibsonjc commented on #95
MIL - would like the option to remove HathiTrust results back.

[2017-07-19 17:29] gibsonjc opened #236 "Why does Browse the Catalog show results that don't begin with the letter chosen?"
MIL - I also find the author browse feature strange…browse by author-alphabetical, A- there are very few authors with A last names in this list (Gershwin, Puccini, Debussy, NASA, etc.)??
https://vufind3.carli.illinois.edu/vf-mil/Browse/Author?findby=alphabetical&category=&query=A%2A&query_field=author_facet&facet_field=author_facet

Same with author-call number browse- D or author-topic-history, e

[2017-07-19 17:52] gibsonjc commented on #224
7/19 update from GF: The nouc’s were not removed from oai-devel last night due to a flaw in the load script that only ran the load if it saw update files.  If there were only delete files, the load didn’t run.  I have fixed the script for tonight.

[2017-07-19 18:00] gibsonjc commented on #213
@cedelis is this fix for the change in suspension behavior on DEVEL or TEST or both? Thanks!

[2017-07-19 18:00] gibsonjc commented on #230
@cedelis is this fix for the suspension messages on DEVEL or TEST or both? Thanks!

[2017-07-19 18:26] cedelis commented on #213
@gibsonjc It's on both now. I've merged all changes into carli-release.3.1.4 on vufind3-test.

[2017-07-19 21:02] cedelis commented on #205
This appears to be an unintended consequence of https://github.com/CARLI/vufind/issues/111

VuFind apparently assumes the following format values as it constructs the Open URL (SFX, in our case). E.g., when we changed format "Journal" to "Journal / Magazine" in issue #111 , VuFind no longer treated the record as a Journal and did not pick up the ISSN field.

Here are the 3 formats (Book, Article,

[2017-07-20 14:32] gibsonjc commented on #234
For further context, the results page (local catalogs only) display spec for 856 fields in VuFind 0.6 was:
- Only Bibliographic 856 fields with first indicator 1, 4 or 7 AND second indicator 0 or 1 are included on the VuFind Results page.

1. The linking text for one Bibliographic 856 field is "Get it online".
1. If more than one 856 field with appropriate indicators exists in the Bibliographic re

[2017-07-20 14:33] gibsonjc commented on #235
For further context, the results page (local catalogs only) display spec for 856 fields in VuFind 0.6 was:
- Only Bibliographic 856 fields with first indicator 1, 4 or 7 AND second indicator 0 or 1 are included on the VuFind Results page.

1. The linking text for one Bibliographic 856 field is "Get it online".
1. If more than one 856 field with appropriate indicators exists in the Bibliographic re

[2017-07-20 18:41] gibsonjc commented on #59
@slknight Stacy, please feel free to test our second try for suppressing local requesting for libraries that do not support it (like EIU) on the TEST server at https://vufind3-test.carli.illinois.edu and let us know how it goes (and if you find any unintended consequences) by commenting directly on this Issue! Thanks!

[2017-07-20 19:17] cedelis commented on #205
@gibsonjc Actually, it seems to make more sense to subclass SolrMarc (whose parent is SolrDefault) which gives us finer control over things. Plus, we might want to add/change/remove some of the fields we are sending the the SFX server.

So, to summarize:

Based on a record's format type, VuFind decides on a set of fields it sends to the OpenURL resolver (SFX, in our case). There is a set of basic

[2017-07-20 19:38] cedelis commented on #205
In vufind3-test now, too.

[2017-07-20 19:46] gibsonjc commented on #205
Thanks for the explanation and links to appropriate areas of the config file @cedelis. What you've explained makes sense as far as subclassing goes, and I see that the URLs/searches are including the ISSN for Journals now.

I'll talk to @dgree1 about the fields question.  Do all of these parameters/fields that are sent in the URL to SFX get OR'ed together? It doesn't seem like they are AND'ed, but

[2017-07-20 21:09] cedelis commented on #225
OpenURL links are built based on Format. See the following comment for details:

https://github.com/CARLI/vufind/issues/205#issuecomment-316803179

[2017-07-20 21:39] cedelis commented on #225
OpenURL links are displayed according to the following documentation:

https://vufind.org/wiki/configuration:openurls#defining_openurl_rules

By default,  "OpenURLs for any record returning anything but false for getCleanISSN" will display.

Here is the relevant getCleanISSN() method:

https://github.com/vufind-org/vufind/blob/d5a020a7bbadb1f9b5d16b6706ffa23e3c14fd7b/module/VuFind/src/VuFind/Recor

[2017-07-21 13:02] slknight commented on #59
Thanks, I will look this over today. Do you want the Whislers to have a go as well?

Stacey Knight-Davis

[2017-07-21 14:29] gibsonjc opened #237 "VuFind 3.1.4 update"
TEST and DEVEL have been updated to 3.1.4.  Please test for any unintended consquences.

[2017-07-21 14:40] slknight commented on #197
I would suggest having this open in a new window if possible.

I can confirm that Mendeley uses a screen scraper. Screenshot pasted below. Mendeley appears to be working as expected.

![image](https://user-images.githubusercontent.com/15163837/28468232-f2ef6366-6df7-11e7-9992-9192dc8d7fa4.png)

[2017-07-21 14:43] slknight commented on #198
SFX link is still there and still going to a 404

![image](https://user-images.githubusercontent.com/15163837/28468571-fd82225e-6df8-11e7-8cea-8b35f7c4d5fc.png)

[2017-07-21 14:48] cedelis commented on #198
@slknight Thanks for testing and confirming the issue still persists on the Sesrch Results page. I believe it has been removed from the Detailed Record page, at least. Keeping this issue open.

[2017-07-21 14:53] gibsonjc commented on #197
@slknight Can you elaborate on what you mean by "I would suggest having this open in a new window if possible."  Do you mean the "Export Record" drop down or ?  (I've never seen it open a window, it seems to download a file or auto import it into Zotero or similar.)  Thanks!

[2017-07-21 14:55] gibsonjc opened #238 "Export to Zotero contains unwanted punctuation"
TIU - Another question we have about VuFind 3 is about citation data exported to Zotero. Our Reference Librarians have been instructing our users to use the Classic WebVoyage interface when building their Zotero library because when they try to use VuFind the data has punctuation added to the fields (Looks like the ISBD slashes and colons). Looks like VuFind 3 is also pulling in the punctuation wh

[2017-07-21 14:57] gibsonjc commented on #238
[Asked TIU to test new export options enabled in #197 and give feedback]:

So far I see one slash at the end of the title and one comma at the end of the publisher (see attached image). It does seem better to me though, only two points instead of several.

From my colleague:
"So I exported four books... two of them still had punctuation issues and two didn't. Not sure why it worked differently all

[2017-07-21 15:19] slknight commented on #197
The behavior I'm seeing may be unique to my overly-customized Firefox. Please recruit other Firefox users to be sure.

What happens for me in Firefox 54 on Win 7 when I click on Export to RDF is that the XML file opens in the browser. It opens in _self, so there is no way to get back to the catalog record without hitting the back button.

In Chrome I get a download, which I assume is the expected

[2017-07-21 15:25] slknight commented on #205
Open URL included ISSN when checked.  URL generated for Western Journal of Nursing Research from EIU. Marked with ** because bold does not seem to work in a URL...

https://sfx.carli.illinois.edu/sfxeiu?url_ver=Z39.88-2004&ctx_ver=Z39.88-2004&ctx_enc=info%3Aofi%2Fenc%3AUTF-8&rfr_id=info%3Asid%2FEndeavor%3Agenerator&rft.title=Western+journal+of+nursing+research.&rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3

[2017-07-21 15:35] slknight commented on #205
You might pull Denise Green in on this. She can run a report of what is configured in SFX targets across CARLI. Denise can tell you more about how many members have ebook targets configured.

I can't think of a case where Article would be valid.

[2017-07-21 15:50] slknight commented on #190
Still defaulting to relevance with a completely naive browser. Checked in Firefox, Chrome, and IE.

There seems to be a cookie or something in play though, because if the user switches to call number sort, that holds through restarting the browser.

![image](https://user-images.githubusercontent.com/15163837/28470994-30ba9dd8-6e01-11e7-90c8-1a8bdfa6ab4c.png)

[2017-07-21 15:57] slknight commented on #152
Working as a text link. Graphical SFX buttons would be preferable if possible.

![image](https://user-images.githubusercontent.com/15163837/28471608-52d56086-6e03-11e7-91c6-ca4b1bb9898f.png)

[2017-07-21 16:13] cedelis commented on #190
@slknight I cannot replicate this, I'm afraid.

I've attached 3 screenshots: 1) initial page at EIU's local catalog; 2) After having entered Call Number search values (before clicking Find button); 3) The Search Results confirming that the default Sort is by Call Number.

Can you compare the URL strings in the browser at the various steps?

Thanks

![part1](https://user-images.githubusercontent.co

[2017-07-21 17:43] slknight commented on #190
I can't duplicate it now either, so let's call is a temporary glitch.

[2017-07-21 21:19] dgree1 commented on #190
New default sort working well in my tests in vufind3-test.carli.illinois.edu with three different libraries.

[2017-07-21 21:23] dgree1 commented on #103
Looks fine in test to me.

[2017-07-21 21:31] dgree1 commented on #205
Looks much better to me.
I tested the Open URLs in some of the comments from libraries like  Harvard Library Bulletin in UIU in VuFind 3:
https://vufind3-test.carli.illinois.edu/vf-uiu/Search/Results?lookfor=harvard+library+bulletin&type=Title&limit=20&sort=relevance

Tested a few other titles.  Ex. https://vufind3-test.carli.illinois.edu/vf-whe/Search/Results?lookfor=quarterly+review+bank+&type=T

[2017-07-21 21:39] dgree1 commented on #152
Yes, me too see in holding rec.
Ex. https://vufind3-test.carli.illinois.edu/vf-trn/Record/TRNdb.12834

or https://vufind3-test.carli.illinois.edu/vf-whe/Record/WHEdb.434590

Agree the graphical button would be preferable. Or even changing the text "Internet" to something like "Find it?" or "Get it full text?"

And tested for library NOT on SFX and link and "Internet" not show,
ex. https://vufind3-

[2017-07-21 21:45] dgree1 commented on #198
Jessica, is there research needed? What exactly?
Denise

[2017-07-24 15:19] gibsonjc commented on #81
SIC - One of our reference librarians had a question. Will we still be able to filter out other library’s e-resource holdings, like we can now?

[2017-07-24 15:29] gibsonjc commented on #103
Ready to move to Production. This looks good to me in the Results list display. (It makes for a rather empty-looking Similar Items tab section sometimes, but I'm going to create a new Issue to turn that feature off anyway.)

[2017-07-24 15:32] gibsonjc commented on #190
@cedelis Ok to move call number sort change to production!

[2017-07-24 16:28] gibsonjc commented on #225
A few thoughts/questions:

1) https://vufind.org/wiki/configuration:openurls#defining_openurl_rules says that "Custom [record driver](https://vufind.org/wiki/development:plugins:record_drivers) code can be used to control whether or not specific types of records provide OpenURLs."  Vague!

2) I believe the default definition of "issn" in marc.properties is as broad as it is for general searching o

[2017-07-24 20:08] gibsonjc commented on #205
Ready for production.

The original problem that this Issue represents has been addressed with fix "e302a48".  The "Get full text" links for Journals are now sending the ISSN in the URL to SFX when they are present.

We do not have any formats that would correspond to "Article" or articles cataloged in our catalogs, so we can ignore that format.

I've done some more reading about Open URLs, and I

[2017-07-24 20:30] slknight commented on #59
I've checked this while logged in as me. I have a requested items option in Your Account. However, I do not see request links on most of the titles I've checked in the UC. The one I did get a request button for was a Oak Street.

![image](https://user-images.githubusercontent.com/15163837/28543165-82e33b80-7084-11e7-877f-a991d72e4904.png)

No request link here
![image](https://user-images.githubus

[2017-07-24 20:36] gibsonjc commented on #198
I introduced multiple things in this Issue by referencing two changes in the config.ini (and then making a further reference to #152 ), so I've changed the Issue subject to limit this one to the Results List in the I-Share uc.  I don't see any evidence in the commit of the config.ini changes being tried yet, but I might be missing something.  I want to know if we can eliminate the "Get full text"

[2017-07-24 21:01] gibsonjc commented on #152
When a bib generates an SFX "Get full text" link and also has a standalone bib 856$u in it, it appears to only display the "Get full text" link in the Internet section, which I think is good (I'm hoping that the presence of the "Get full text" link means that the bib 856$u doesn't display there on purpose?).
Example: https://vufind3-test.carli.illinois.edu/vf-uiu/Record/UIUdb.8212940

But when a b

[2017-07-25 13:55] gibsonjc commented on #208
@eschell Could you take a look at this one and try out some maintainable styling suggestions for differentiating the institution name and the location name?  Thanks!

I think this is in /usr/local/vufind/themes/carli/templates/RecordTab/holdingsils.phtml

![screen shot 2017-07-25 at 8 47 38 am](https://user-images.githubusercontent.com/17598357/28575325-39800d14-7116-11e7-97e7-df8f49dad176.png)

(

[2017-07-25 14:40] gibsonjc opened #239 "Need note to display when there are no holdings attached to a bib"
When a bib record exists but has no MFHDs attached, the Holdings tab area should display a general message about it.  Can we have the following message display?

**The catalog cannot display location or copy information at this time. Please ask a library staff member for assistance.**

_Research:_

In VuFind 0.6, the message in the local catalog is different from the message in the I-Share catalog

[2017-07-25 14:40] cedelis commented on #198
@gibsonjc The "show_in_results = false" setting seems to work, but the "show_in_holdings = false" did not for whatever reason (guessing a bug somewhere in vufind). In any case, I have put in a workaround in the 'carli' template that will comment-out OpenURLs in /all/vf

[2017-07-25 15:01] slknight commented on #198
Confirming this is suppressed in /all/vf/
![image](https://user-images.githubusercontent.com/15163837/28578335-1341cc6a-711f-11e7-81ca-c45c4cb25104.png)

Active in /all/vf-XXX and directing to the correct SFX instance

![image](https://user-images.githubusercontent.com/15163837/28578355-21fe8d4c-711f-11e7-9378-746ffe0e3555.png)

Inactive for UIC and UIS as expected

![image](https://user-images.gi

[2017-07-25 15:06] gibsonjc commented on #198
@cedelis Ok thanks, I think I'm following now!  As of this morning in vufind3-test:

- I do not see "Get full text" links to SFX (that go to the 404 not found) in the results list of an /all/vf/ search ->_YAY, the scope of this Issue 198 appears to be fixed to eliminate those 404 errors. I will do a bit more testing today before declaring this Ready for Prod to make sure we didn't miss anything._

[2017-07-25 15:10] slknight commented on #239
EIU has a form that users fill out to request these materials that references the status messages in the catalog. http://www.library.eiu.edu/requests/on-order.html

Exact text for no MFHD is

The catalog cannot display location or copy information at this time. Please ask a library staff member for assistance, or try again later.

[2017-07-25 15:19] slknight commented on #231
The banner works, but once major functionality for VF3  is worked out it would be wonderful if the map link could be fully integrated. The Map It! system was designed to pull the call number directly and location from the catalog into the search URL. Our workaround requires the user to copy and paste the call number and location, which is a failure point because most users can't read instructions.

[2017-07-25 15:27] slknight commented on #216
Karen Whisler at EIU has the same comment -

"Another thing I think is confusing are the format tags.  They look like buttons to me, indicating  that the title is available in both “book” (print) and “electronic” forms and I think I should be able to click on either button to access the format I desire. -- Karen"

I agree with IWU on no background color. I suggest a small icon next to the text, si

[2017-07-25 15:30] slknight commented on #215
EIU has been discussing this over Email. Majority opinion is that request should be visible regardless of login status.

[2017-07-25 15:46] gibsonjc commented on #72
MIL  - personally prefer cleaner look of search results screen on current VF  version, though I appreciate the attempt to highlight where the search  term(s) are being found (TOC, subjects, etc.).

[2017-07-25 15:47] slknight commented on #164
I did some test searches in the UIUC catalog for 636.8 and then limited to S. It gets 1 result. The book has both an LC and Dewey number in he holdings.  Maybe this could search 050 and 082 as well as the holdings?

![image](https://user-images.githubusercontent.com/15163837/28580940-8712f23e-7126-11e7-8799-c292ac49d0cd.png)

[2017-07-25 16:13] cedelis commented on #54
The SolrMarc record driver now returns no URLs for universal catalog, e.g., /all/vf*.

[2017-07-25 18:05] gibsonjc commented on #173
KNX provided another example where a bib with a MFHD (it's an on order MFHD from Acq, so it only contains 852$b hslnewbks) and an Item with status "In Process" (and without a barcode) displays as "Checked Out" in the results list.  It would be more accurate to have it say "Not Available" in the Results list.
Example: https://vufind3.carli.illinois.edu/vf-knx/Record/KNXdb.305459
![screen shot 2017-

[2017-07-25 18:18] slknight commented on #197
I tested RDF menu link on a fresh install of Firefox 54 on a fresh install of Win7. The XML opens in the browser without opening a new window.

[2017-07-25 19:58] cedelis commented on #192
In devel and test.

[2017-07-25 20:53] dmcmpbll commented on #59
What distinction is VuFind3-test making as the distinction between "Not Charged" and "Available"?
The "Not Charged" items seem to be missing the request links; the "Available" items have the request links.

In record: https://vufind3-test.carli.illinois.edu/all/vf-cod/Record/284574999, it initially looked like the screenshot below before I charged both TRT items to a COD test patron. Both copies (

[2017-07-25 20:56] cedelis commented on #59
@dmcmpbll I was able to reproduce the problems @slknight has been experiencing. And I believe it might be related to what you are now seeing in TEST.

I recently - a few minutes ago - created a bug fix which I think will solve these issues. It's currently in DEVEL, but I'm in the process of pulling down the bug fix on TEST soon (in a few minutes).

[2017-07-25 20:57] dgree1 commented on #152
Jessica, do you need anything more from me about making a new Issue for
"2. Changing the word "Internet" to something else will also be a new Issue..."

Denise

[2017-07-25 21:03] dgree1 commented on #198
Confirm tests,
For ex. no SFX links https://vufind3-test.carli.illinois.edu/all/vf/Record/281528072
Same title in NIU has links
https://vufind3-test.carli.illinois.edu/vf-niu/Record/NIUdb.773895

[2017-07-25 21:17] dmcmpbll commented on #213
Have re-tested workflow from above using a COD patron, using same title:
https://vufind3-test.carli.illinois.edu/all/vf-cod/Record/299780553

1. Request SVC copy of book; cancel request.
2. Suspend patron in COD.
3. (Attempt) request SVC copy of book.
4. Unsuspend patron in COD.
5. Suspend patron at UIU (who has second copy of book).
6. (Attempt) request SVC copy of book.

VuFind3-test worked as e

[2017-07-25 21:47] tschwitz commented on #78
It seems to be retrieving 7XX data from records that contain the same heading as the author searched. For example, a search on "Augustine, Saint, Bishop of Hippo." (in NBT) sends back a number of personal names that aren't see references, then a couple corporate names, including "NetLibrary, Inc."

As a librarian, I probably expect that area to return authority data, such as other name headings th

[2017-07-25 22:12] dmcmpbll commented on #230
Have tested multiple patrons on test; this appears to be working/displaying as expected for all tested patrons.

[2017-07-26 12:40] gibsonjc commented on #230
Ready for production

[2017-07-26 12:43] gibsonjc commented on #213
Ready for production

[2017-07-26 12:46] gibsonjc commented on #198
Ready for production

[2017-07-26 14:39] slknight commented on #59
Much improved. Request is suppressed for local material, shows for UC material.

![image](https://user-images.githubusercontent.com/15163837/28626925-f3df259e-71e5-11e7-9f17-bc65263d9993.png)

Retest of earlier test showing request links

![image](https://user-images.githubusercontent.com/15163837/28627061-56fa1fa8-71e6-11e7-8ae1-a6135c31fb03.png)

[2017-07-26 15:12] slknight commented on #239
I asked John Whistler about this, and we believe that #224 will eliminate this issue in the UC. Items without MFHDs should be marked "nouc" and therefore suppressed in the UC.

[2017-07-26 15:23] dmcmpbll opened #240 ""Discharged" status is not available for request"
In VuFind3-test, items with a "Discharged" status are not available for request, where as Voyager does allow "Discharged" status materials to be requested.

VuFind3: https://vufind3-test.carli.illinois.edu/all/vf-cod/Record/284574999, see TRT items.
VuFind0.6: https://vufind-test.carli.illinois.edu/all/vf/Record/13471038#name_TRT_108761

[2017-07-26 15:44] dmcmpbll commented on #59
Agreed. I reviewed as a COD-test patron and it appears to be working as expected.

Any COD item viewed in the I-Share catalog or in the local displays with a status of "Not Charged" with no Request Item link. Other library's items are listed with a status of "Available" and a Request Item link.

[2017-07-26 15:58] dmcmpbll commented on #194
Am I correct that when I see a NBY item in the catalog, that it does not have an item status listed is as a result of how it is entered as an E-Resource for Aeon functionality?

https://vufind3-test.carli.illinois.edu/vf-nby/Record/NBYdb.518268
https://vufind3-test.carli.illinois.edu/vf-nby/Record/NBYdb.87228
https://vufind3-test.carli.illinois.edu/vf-nby/Record/NBYdb.457241

[2017-07-26 16:22] gibsonjc opened #241 "automate location translation file updates"
See email thread 7/19-20 and 7/26 Subj: "location translations files for VuFind 3".

Ready for production and documentation on the staff wiki.

[2017-07-26 17:28] gibsonjc opened #242 "Item barcode required to display MFHD data and item status in Holdings tab"
KNX discovered some items are not displaying items status.  Is it because the item doesn't have a barcode?

This KNX item has an "In Process" status but it does not have a barcode yet.
https://vufind3.carli.illinois.edu/vf-knx/Record/KNXdb.305459
![screen shot 2017-07-26 at 12 18 25 pm](https://user-images.githubusercontent.com/17598357/28634502-015abbb8-71fd-11e7-8276-88ddfcdbf40b.png)

But other

[2017-07-26 17:41] gibsonjc commented on #194
@dmcmpbll I have a feeling it might be related to #242 (which needs more research).  These three items and the original example above don't have barcodes in NBYdb.

https://vufind3-test.carli.illinois.edu/vf-nby/Record/NBYdb.518268
https://vufind3-test.carli.illinois.edu/vf-nby/Record/NBYdb.87228
https://vufind3-test.carli.illinois.edu/vf-nby/Record/NBYdb.457241

[2017-07-26 18:12] cedelis commented on #229
Those five libraries are already configured without SFX support.

[2017-07-27 15:51] gibsonjc commented on #239
@slknight Just fyi, #224 is for test and devel which we are in the process of removing nouc's from; nouc records have already been removed from production VuFind 3 uc. "On Order" MFHD display is a separate Issue-to-be, coming soon based on library feedback [EDIT: #245 ].  I created this Issue because a default message needs to display when there is no MFHD to display.

[2017-07-27 16:01] gibsonjc commented on #240
@dmcmpbll I don't think "Discharged" is the only status that does not behave requestability-wise as Voyager does.  I am moving the following text from #172 that seems related:

In VuFind 0.6 and Voyager, items with a status of "Damaged" "Circulation Review" and "Cataloging Review" are able to be requested. In vufind3-devel, the Request link does not display for any item where the status is not "Av

[2017-07-27 16:05] gibsonjc commented on #219
Order of facets controlled by [facets.ini](https://github.com/CARLI/vufind/blob/master/config/vufind/facets.ini)

[2017-07-27 16:11] gibsonjc commented on #212
I think #230 "Block/Suspension messages do not show to which library they were applied" covers this one.  Closing as duplicate.

[2017-07-27 16:11] #212 closed, assigned to nobody

[2017-07-27 16:14] gibsonjc commented on #202
[VuFind 3 Customization form](https://www.carli.illinois.edu/vufind3-customization) has been released and has this option.  Closing.

[2017-07-27 16:14] #202 closed, assigned to nobody

[2017-07-27 18:26] gibsonjc commented on #163
https://vufind3-devel.carli.illinois.edu/vf-uiu/Browse/Topic?findby=alphabetical&query_field=topic_facet
alphabet_letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"

@cedelis You can undo this temp change to uiu and devel.  It makes no sense to have 0-9 show up in the Alphabetic lists, that's not going to help anything.  Thanks for trying it out!  I'll think on this some more.

[2017-07-27 18:37] gibsonjc commented on #51
In the results list of I-Share uc, I think if you want to see what is in your local library, you should redo the search to be in the local library, rather than in I-Share uc.  Changing the sorting of the Institution facet (Narrow Search) from frequency to alphabetical seems unnecessary when an easier solution is at hand.  Marking this Issue Inactive.

(Side note: In the Holdings tab of a record pa

[2017-07-27 18:41] gibsonjc commented on #39
Moving the comment that created this Issue to #57 because I don't think it is about sorting but rather about how relevance determined which results to return and in which order.  Closing this as duplicate.

[2017-07-27 18:41] #39 closed

[2017-07-27 18:41] gibsonjc commented on #57
Moved from #39 ; originally submitted June 2, 2016:
SIC - Is it possible to change the order in which a search results display? When I did a title search for “journal of higher education” (without the quotes), the microfilm record displayed first, then a different title, then the print record. The record for the online version was number 16!

[2017-07-27 18:47] gibsonjc commented on #66
After no results of tag search:
![screen shot 2017-07-27 at 1 44 43 pm](https://user-images.githubusercontent.com/17598357/28686768-fe69796e-72d1-11e7-91ce-1813e32c4bca.png)

After no results of regular search:
![screen shot 2017-07-27 at 1 45 18 pm](https://user-images.githubusercontent.com/17598357/28686776-04ddcb4c-72d2-11e7-8807-4130ef612da4.png)

[2017-07-27 22:10] dgree1 commented on #207
Here's another example.
https://vufind3-test.carli.illinois.edu/vf-bhc/Record/BHCdb.27253

Has links to Table of Contents, Bio info, etc.
The call number isn't showing either, weird! In both vuf3 test and prod.
https://vufind3.carli.illinois.edu/vf-bhc/Record/BHCdb.27253

Different bib for same title:
https://vufind3.carli.illinois.edu/vf-bhc/Record/BHCdb.11836

Key word search done to find these

[2017-07-28 18:17] gibsonjc opened #243 "Would like 520$c to display in More Details"
MIL - From RT 93252
VuFind 3 Example: https://vufind3.carli.illinois.edu/vf-mil/Record/MILdb.421839#description

Recently, we’ve noticed that, on the “More Details” tab in VU Find, the summary information is getting cut off. Specifically, the name/source of the summary is being left out. The double dash suggesting there is a source appears, but the source itself is gone. See for example https://vu

[2017-07-28 21:00] nmswanson opened #244 "CD-ROM format facet request"
CD-ROM format facet request:

(RecType=m and 008/23=q) OR (007/00=c AND 007/01=o) OR (007/00=c AND 007/04=g) OR (006/00=m AND 006/06=q) OR 245h=”computer file” OR 337a=”computer” OR 337b=c OR 338b=“computer disc”
OR 338b=cd OR (300c=4/3/4 in. OR 12 cm) OR (the terms “computer laser optical disc” OR “computer optical disc” OR “computer disc” appear in 300a, 300b)

AND
The term “CD-ROM…” appears in

[2017-07-31 15:22] gibsonjc commented on #54
I confirm that 856 fields are no longer displaying in the /all/vf/ results list.  **Ready for Prod.**

Photographic evidence:

Before: (the "Click here for ebook" and "Available online to SIUC..." entries)
![screen shot 2017-07-31 at 9 57 14 am](https://user-images.githubusercontent.com/17598357/28784563-6b724784-75d9-11e7-8d93-6c385a620883.png)

After: (also with # 198 hiding "Get full text" and

[2017-07-31 17:10] tschwitz commented on #192
Some testing in WRH and ISU on vufind3-test...

On holdings display within records, all text from $3, $y, and $z are contained in the hyperlink.
When subfield y is present, the search results screen includes a link to the URL, using the subfield y text.
When subfield y is present, the holdings display includes a holding block for "Internet" that only includes a link using the subfield y text.

In

[2017-07-31 17:23] tschwitz commented on #192
Separating this example out, because there are several urls in one MFHD. It's less than optimal cataloging, but also could result in unintended consequences.

[ISU bib 1812646](https://vufind3-test.carli.illinois.edu/vf-isu/Record/ISUdb.1812646), Overdrive streaming media title
856 40 $3 Overdrive $u URL $z Available to University High School students and faculty
856 4_  $3 Excerpt $u URL for mp3

[2017-07-31 19:14] gibsonjc commented on #192
@tschwitz The "Internet" labeled section in the Holdings tab (above the MFHDs) is driven by the Bib 856, not the MFHD 856.  (That's why ISU doesn't have them in your examples since they still do that 596 thing with URLs in their Bibs.)  I think that so far Chris has only done work on the MFHD 856 display.  I'm not sure yet if we'll need a new Issue for the Bib displays and/or if some of this may b

[2017-07-31 19:23] gibsonjc commented on #192
@cedelis Here is a summary of MFHD 856 displays after commit 38e9540:

What's working right:
- $u by itself displays as the hyperlink.
- $y by itself displays as the hyperlink.
- $3 by itself displays as the hyperlink.

What needs more work:

* $z is always incorrectly displaying as part of the link; it should always be plain text:
    - $u and $z present are displaying as a single long hyperlink.

[2017-07-31 19:25] gibsonjc commented on #197
Enabling the RDF and BibTeX export options is Ready for Production.

[2017-07-31 20:46] tschwitz commented on #228
Tested all six with the same titles that have images for subscribers.
All six have no images present.
Looks good.

[2017-07-31 20:51] gibsonjc commented on #228
@cedelis The FY18 spreadsheet SyndeticsSubscribersFY18.xls is available on the internal staff wiki  (can send link/file in email if needed).  Has that been accounted for in VuFind 3?  The create_local_vufind_instances.sh script on test and devel seems to still be referring to FY17
`my $SYNDETICS_SUBSCRIPTIONS_FILE="${VUFIND_LOCAL_DIR}/carli_scripts/SyndeticsSubscribersFY17.txt"` so I wasn't sure.

[2017-07-31 20:56] gibsonjc commented on #229
Just out of curiosity, where is this controlled? I thought it was in create_local_vufind_instances.sh but I don't see these institutions (BHC, JJC,JKM, NPU, TRT) listed on test or devel in the thing that I thought indicated no SFX:
`my %no_sfx = (
"aug" => 1,
"ben" => 1,
"col" => 1,
"con" => 1,
"csc" => 1,
"dac" => 1,
"dom" => 1,
"dpu" => 1,
"hrt" => 1,
"icc" => 1,
"iec" => 1,
"ims" => 1,
"ken" =>

[2017-07-31 21:01] tschwitz commented on #59
Checking in CSU-test right now. For materials in their "ROVER" storage location, the Request Item link appears correctly. Both for copy 1 and copy 0.

[2017-07-31 21:02] gibsonjc commented on #204
There was an initial load, but the set of records is currently static.  Updates have not yet been automated.  Next step is for @fellowsgl to figure out what needs to be sent (date range) to update the set and then talk to CD about setting up a regular load process.

[2017-08-01 13:24] gibsonjc commented on #59
Suppression of request link for libraries that do not support it is Ready for Production.

[2017-08-01 14:02] gibsonjc commented on #225
Previous examples are in the local catalog; here is an example seeing a "Get full text" link when it isn't useful in the I-Share uc: I'm logged as UIU and I view this record https://vufind3-test.carli.illinois.edu/all/vf-uiu/Record/323458429 which has a one UIC MFHD, but I am offered the "Get full text" link to UIU's SFX where the resource is not found.

"Get full text" is also presented in the Re

[2017-08-01 16:15] gibsonjc commented on #152
We have accomplished the purpose of this Issue: to get SFX links to display on the single record page in the Holding tab. Let's move this to Production and then work on the other unintended results of this change on new Issues (which I will create shortly):

1. Right now by default that means with the label "Internet"
2. any Bib 856s will also display with label "Internet" in the local catalogs
3.

[2017-08-01 16:20] gibsonjc commented on #237
I have not seen anything unusual myself, nor have I heard of any concerns, so this is Ready for Production.

[2017-08-01 16:24] cedelis commented on #237
Upgraded to 3.1.4 on production server.

[2017-08-01 16:24] #237 closed, assigned to nobody

[2017-08-01 16:44] cedelis commented on #192
@gibsonjc

OK, I believe I have fixed the grouping issue (of why the 8 MFHDs weren't showing up together, instead of being split into 7 and 1).

Also, I think I have fixed the free text issue (856$z field). I simply misinterpreted the spec on that one.

[2017-08-01 18:33] gibsonjc commented on #196
If you click "more ..." at the bottom of a facet box, and then click "see all ..." at the bottom of that, a pop-up window will appear with all facet values, and at the top of that there is the option to sort by "Result Count" or "Alphabetical".

[2017-08-01 19:41] gibsonjc opened #245 "Items that are "On Order" in Acquisitions should display order information"
"On order" information is currently not displaying so users cannot see that an item has been ordered.

KNX - ...currently [in VuFind 0.6] for "On Order" items - where there isn't an Item record yet - the detail screen says on order with a date.  We would really want the new VuFind to have this same functionality.  Folks need to be able to see the detail status of items on order and in process.

Ex

[2017-08-01 20:17] gibsonjc opened #246 "Multiple MFHDs are grouping together in display"
Moved details on this from #192 where it was first discovered:

https://vufind3-devel.carli.illinois.edu/vf-whe/Record/WHEdb.316400

JG: In this example, I do NOT understand why it is grouping seven of these together and showing one alone making them look like two MFHDs (one with seven one with one). I also do NOT understand why if I add an ninth MFHD, the display of these changes yet again (eight

[2017-08-01 20:19] gibsonjc commented on #192
@cedelis Almost on the MFHD 856 displays! First and third filled-in bullets are fixed now but the middle one remains:

- When $3 and $y are present but without $z, the $3 is incorrectly displaying as the hyperlink. The $y should display as the hyperlink, not the $3.  Right now the $3 is displaying.

As for the grouping problem, I've created Issue #246 so please see questions there!

[2017-08-01 20:35] tschwitz commented on #245
So that's acquisitions data, associated with the mfhd on mfhd_id via the LINE_ITEM_COPY_STATUS table.

[2017-08-02 14:06] gibsonjc opened #247 "Parsing and display problems in MFHD holdings data"
Sometimes I see other MFHD fields/subfields displaying in the "Volume Holdings" area of the Holdings tab like the system is incorrectly parsing the data.

Not sure if it is related in part to whatever mechanism is artificially combining MFHD data for display #246 ?  (The example Voyager bib has four MFHDs but only three MFHDs display.)

https://vufind3.carli.illinois.edu/vf-uiu/Record/UIUdb.355656

[2017-08-02 17:08] gibsonjc commented on #72
We have decided to leave the highlighting feature on and "as is" for now.

[2017-08-02 17:09] #72 closed

[2017-08-02 17:11] gibsonjc commented on #209
We decided to disable the autocomplete feature in the search box entirely for now.

In searches.ini, change

[Autocomplete]
; Set this to false to disable all autocomplete behavior
enabled = true

to

enabled =false

[2017-08-02 17:28] gibsonjc commented on #58
We decided to turn off the Similar Items tab with book carousel for now.

[2017-08-02 17:46] gibsonjc commented on #76
We decided to turn off Suggested Topics above the search results for now.

Does this just require commenting out this line in facets.ini?

; Facets that will appear at the top of search results when the TopFacets
; recommendations module is used. See the [TopRecommendations] section of
; searches.ini for more details.
[ResultsTop]
topic_facet = "Suggested Topics"

[2017-08-02 17:50] gibsonjc commented on #78
We decided to turn off the "Author Results" above the search results list for now.

Could this be accomplished by commenting out the Top Recommendations in searches.ini?

[TopRecommendations]
Author[] = AuthorFacets
Author[] = SpellingSuggestions
;Author[] = WorldCatIdentities
CallNumber[] = "TopFacets:ResultsTop" ; disable spelling in this context

[2017-08-02 17:59] gibsonjc commented on #200
We decided to add a new facet on the side for Topic.

Let's locate it it under Author and above Language (similar to 0.6 placement).

Is this just matter of adding a line like this in facets.ini?

; The order of display is as shown below
; The name of the index field is on the left
; The display name of the field is on the right
[Results]
institution        = Institution
building           = Libra

[2017-08-02 20:10] cedelis commented on #246
@gibsonjc , VuFind is currently designed to group by MFHD's location:

https://github.com/CARLI/vufind/blob/release-3.0/module/VuFind/src/VuFind/ILS/Logic/Holds.php#L104

So, this appears to be according to the design of VuFind (i.e., nothing new here; this is how it's been working all along).

I'll cut and paste the comments here (link to source code is above):

    /**
     * Support method to r

[2017-08-03 15:01] cedelis commented on #228
@gibsonjc I can't find the SyndeticsSubscribersFY18.xls on the internal staff wiki. Please send me the link or file. Thanks

[2017-08-03 15:06] gibsonjc opened #248 "Alphabrowse not displaying "see also" references in prod"
Production isn't showing "see also" references:
https://vufind3.carli.illinois.edu/vf-jud/Alphabrowse/Home?source=author&from=twain%2C+mark

But TEST is:
https://vufind3-test.carli.illinois.edu/vf-jud/Alphabrowse/Home?source=author&from=twain%2C+mark

[2017-08-03 15:15] gibsonjc commented on #117
NIU asked about this. They are releasing the name with Shibboleth can it be displayed here.

[2017-08-03 16:53] dmcmpbll commented on #242
These KNX example may have changed; they have barcodes now:
https://vufind3.carli.illinois.edu/vf-knx/Record/KNXdb.305291
https://vufind3.carli.illinois.edu/vf-knx/Record/KNXdb.302950

-----------------------------------------------------------------------
From my initial tests it looks like the item needs to have a barcode for the status and copy number to display. The call number display does no

[2017-08-03 19:00] dmcmpbll commented on #242
Was going to test the effects of adding a barcode, to double-check whether adding a barcode makes the status and copy number appear.

However, the titles look different between devel and prod, and between test and prod. (test and devel look the same). The basic data on the items as listed above appears unchanged between test/devel/prod.

129132 on Devel:
![129132devel](https://user-images.githubus

[2017-08-03 19:50] dmcmpbll commented on #238
The Zotero plugin does seem to do screen scraping rather than exporting.

Here are three screenshots showing how the different sources looked after imported into Zotero via the FireFox Browser plugin. I do not know why they have different data. For all three, I looked at the local record from MRT's local catalog.

VuFind3 Prod

![zoterovufind3prodsnag](https://user-images.githubusercontent.com/208

[2017-08-03 20:06] cedelis commented on #242
@dmcmpbll Can you set up an example on DEVEL?

There are 2 Oracle SQL calls that are made to retrieve Holdings information for a particular bib.

The first SQL statement is used to gather information for bibs which contain item records. The second one is used to gather those which have no item records. I have a feeling that the second SQL statement is not doing its job (in our environment, anyway)

[2017-08-03 20:13] dmcmpbll commented on #236
I think an Author > By Call Number> "D- World History" search is supposed to return items with call numbers in the "D" range, rather than authors with a name starting with D.

---------------------

For Author > By Alphabetical > 0 (zero), I notice that 01 Distribution is first in the list, and then there are many others that don't begin with zero. When I click on 01 Distribution, there is one fil

[2017-08-03 20:17] dmcmpbll commented on #236
Hmmm but for the number 5 limit, the 58th Infantry didn't also bring in a listing for co-author George Morrow.
![browseauthoralphabetical5](https://user-images.githubusercontent.com/20848151/28941807-cf2c7dbc-785e-11e7-9d3d-11165d86439a.PNG)

![58infantry](https://user-images.githubusercontent.com/20848151/28941810-d2574422-785e-11e7-8d80-0f8c490b74e3.PNG)

[2017-08-03 20:22] cedelis commented on #228
@gibsonjc Thanks for the SyndeticsSubscribersFY18.xls file. I've updated vufind3-devel and vufind3-test with these new settings.

[2017-08-03 21:48] dmcmpbll commented on #242
on ARU-devel, testing with https://vufind3-devel.carli.illinois.edu/vf-aru/Record/ARUdb.144810
![before](https://user-images.githubusercontent.com/20848151/28945085-a5b15528-786a-11e7-90d5-04b4ec5c6c1f.PNG)
     1 item
     not suppressed
     Call Number of Lloyd
     copy 0
     no barcode
     not on reserves

1) Adjust Copy number to "1" in Circ
--No change in appearance from starting photo.

[2017-08-03 21:55] cedelis commented on #242
Thanks, @dmcmpbll

This seems to confirm the lack of barcode results in a missing display.

Can you please set up another example of a missing item barcode and leave it in that state?

Also, re: the copy number discrepancy, there is already an open issue: https://github.com/CARLI/vufind/issues/169

[2017-08-03 22:23] dmcmpbll commented on #242
This ARU item does not have a barcode: https://vufind3-devel.carli.illinois.edu/vf-aru/Record/ARUdb.407433
It is not suppressed, has a copy number of 1, and only one item on the bib.

The BIB_ID is 407433
MFHD_ID is 417349
ITEM_ID is 165650

[2017-08-04 19:34] gibsonjc opened #249 "HathiTrust records not in vufind3-test"
They are in production and devel, but somehow not in test.

[2017-08-04 19:40] gibsonjc commented on #163
At the 8/2 meeting, we discussed suppressing the "Browse the Catalog" Call Number function because it is limited to a single classification scheme and instead redirecting it to the "Browse Alphabetically" by Call Number function page since Alphabrowse treats all call number data the same regardless of classification system.

https ://vufind3.carli.illinois.edu/vf-xxx/Alphabrowse/Home **?source=lcc

[2017-08-04 19:44] gibsonjc commented on #196
For the Institution and Location facets, the alphabetical sort is by library three-letter CODE or Location CODE, respectively, not by the display name.

[2017-08-04 19:47] gibsonjc opened #250 "Results page for "Browse Alphabetically by call number" still says LC in heading"
Remove the (LC) from the column heading after Call Number:

![screen shot 2017-08-04 at 2 45 04 pm](https://user-images.githubusercontent.com/17598357/28984472-b93630e6-7923-11e7-99a5-05dfd57e30a4.png)

[2017-08-07 17:04] dmcmpbll commented on #183
After creating my account, when I changed my barcode and logged in the next time, I was prompted to re-enter my barcode/last name to view my Voyager data.

Same for changing my last name.

Seems to be working as anticipated.

[2017-08-07 17:45] gibsonjc opened #251 "Can Table of Contents URLs in 856 show in ToC tab?"
RSH - Is it possible to indicate a “Table of contents” no matter where (856 bib or MFHD) or in what format (505) it is presented?

From RUMC database:
EX: BIB 100635 (Plant map kinases)
TOC only in bib record 856 42 |3Table of contents|uhttp://www.loc.gov/catdir/enhancements/fy1410/2014939315-t.html

VuFind .06 (production)
Viewable in new browser window: Table of contents (Opens in a new window)

[2017-08-07 17:46] gibsonjc commented on #251
In 2013, we added an enhancement to VuFind 0.6 that displays 856 42 URLs in the Table of Contents tab.

[2017-08-07 17:57] gibsonjc commented on #203
DOM - In looking at our journal display in VuFind3, it appears as all our journal holdings appear twice. What would be causing this and is there something we can do o fix this? The Journal of Applied Psychology is an example, but every journal I have tried has a double holding entry.
https://vufind3.carli.illinois.edu/vf-dom/Record/DOMdb.54094

[2017-08-07 18:23] cedelis commented on #203
Interesting that TEST lists them only once:

https://vufind3-test.carli.illinois.edu/vf-dom/Record/DOMdb.54094

[2017-08-07 18:39] dmcmpbll commented on #203
Might this be similar to the difference in display that I reported in https://github.com/CARLI/vufind/issues/242, so may not be a serials issue specifically?

[2017-08-08 16:01] cedelis commented on #229
@gibsonjc yes, that is where SFX subscriptions are controlled.

I've added the 5 libraries to the no_sfx list, and then re-created the vufind instances:

cedelis@vufind3-devel:/usr/local/vufind/carli_scripts$ git diff
diff --git a/create_local_vufind_instances.sh b/create_local_vufind_instances.sh
index bfc3dd7..44549be 100755
--- a/create_local_vufind_instances.sh
+++ b/create_local_vufind_instan

[2017-08-08 16:12] gibsonjc commented on #228
Those that I've spot-checked look good, Syndetics changes are Ready for Prod.

[2017-08-08 16:44] gibsonjc commented on #229
Spot checking SFX links or not looks good, Ready for Prod

[2017-08-09 18:43] cedelis commented on #192
@gibsonjc

For example: https://vufind3-devel.carli.illinois.edu/vf-whe/Record/WHEdb.316400

Can you verify that the MFHD ID of 972261 is encoded properly?

The reason I ask is because the PHP library File_MARC may have a bug in it (or perhaps I'm using it incorrectly).

Because, for MFHD 972261, it appears that subfield 'u' actually contains within it the following text (as part of the 'u' subfie

[2017-08-10 13:19] gibsonjc commented on #192
@cedelis You're absolutely right, this was a stupid typo on my part. My apologies for wasting your time.  This is ready for prod!

[2017-08-10 14:31] gibsonjc commented on #164
LNC - On Advanced Search, Limit to call numbers contains only LCC identifiers. We’re mixed LCC and DDC right now, although our plan is to convert everything to LCC.

[2017-08-10 14:32] gibsonjc commented on #42
LNC - I had to change the OPAC descriptions for a couple of locations (electronic and ebsco) to provide useful descriptions to use in the facets.

[2017-08-10 15:24] #54 closed

[2017-08-10 15:24] #59 closed

[2017-08-10 15:24] #103 closed

[2017-08-10 15:24] #152 closed, assigned to nobody

[2017-08-10 15:24] #190 closed, assigned to nobody

[2017-08-10 15:24] #192 closed, assigned to gibsonjc

[2017-08-10 15:24] #197 closed, assigned to nobody

[2017-08-10 15:24] #198 closed, assigned to nobody

[2017-08-10 15:24] #205 closed, assigned to nobody

[2017-08-10 15:24] #213 closed, assigned to nobody

[2017-08-10 15:24] #228 closed, assigned to cedelis

[2017-08-10 15:24] #229 closed, assigned to cedelis

[2017-08-10 15:24] #230 closed, assigned to nobody

[2017-08-10 19:18] cedelis commented on #246
@gibsonjc In replying to your following comment:

"JG: When there are eight MFHDs in Voyager, I would actually expect to see eight individual entries for Location + Call number + link (one for each). You did fix the grouping issue that I saw so that one is not randomly called out on its own, but my real question is: why is the system artificially grouping the MFHDs together for display at all? Wha

[2017-08-10 21:10] gibsonjc commented on #203
None of these examples are displaying two anymore.  This is great, but it would be nice to know why.  Was it due to work on #246  or #242 or something else entirely?

[2017-08-10 21:15] gibsonjc commented on #224
8/10 Update: removing nouc's from devel is still in progress.  We restarted marc aggregation on devel from scratch because they were not processing correctly.

[2017-08-10 21:17] gibsonjc commented on #221
@dmcmpbll do you have any example patrons/items with this problem you can send information about to the vu-it list?  Thanks!

[2017-08-10 21:26] gibsonjc commented on #183
Thanks for the testing @dmcmpbll , this is what we were anticipating would happen. I'll close this Issue!

[2017-08-10 21:26] #183 closed, assigned to nobody

[2017-08-10 21:35] cedelis commented on #247
@gibsonjc For whatever reason we had the following config setting for Holdings/summary:

summary = "863abiz:866az"

The default setting was commented-out:

https://github.com/CARLI/vufind/blob/carli-release-3.1.4/config/vufind/VoyagerRestful.ini#L269

I do not recall when or why we un-commented it out (note: it was set up this way when I first added the VoyagerRestful.ini template file into our br

[2017-08-10 21:44] cedelis commented on #203
It was fixed in commit 48ad65c652e0aa951da1b1c5fdb03576fa728048

[2017-08-10 22:59] dmcmpbll commented on #221
Thanks Jessica! I've sent an email to vu-it with 2 examples.

[2017-08-14 19:53] gibsonjc commented on #241
@cedelis This was closed with the batch last week which I think means that the mechanisms have been moved to prod but I do not yet see documentation on the staff wiki page for VuFind 3.1 about how this location feed works so I am reopening this Issue until that has been done.

[2017-08-14 20:24] gibsonjc commented on #249
Example:

These return a bib:
https://vufind3-devel.carli.illinois.edu/vf-uiu/Record/HAT.1172304
https://vufind3.carli.illinois.edu/vf-uiu/Record/HAT.1172304

This does not:
https://vufind3-test.carli.illinois.edu/vf-uiu/Record/HAT.1172304

[2017-08-15 13:32] gibsonjc commented on #247
This section of the VoyagerRestful.ini does not look like it allows for much detail, which is disappointing because holdings are full of details! Is there any other file or place that influences holdings that you know of?

I believe that we want to keep

summary = "863abiz:866az"

and, in fact, maybe even expand it to include more subfields that are missing, unless we have some other mechanism for

[2017-08-15 15:13] cedelis commented on #241
@gibsonjc I've amended the staff wiki to include this information.

[2017-08-15 15:27] gibsonjc commented on #43
LFC - The “request first available” feature that is in the current version of VuFind is very popular with our patrons.  Will that option be possible in the new version, or will patrons need to select which library’s copy of an item they want to request?

[2017-08-15 16:32] cedelis commented on #247
@gibsonjc

Yes, it appears that VuFind (in general, i.e., across all ILS Drivers, not just VoyagerRestful) simply concatenates all of the summary fields/subfields and lists them line by line.  To be more precise, VuFind treats a group of certain holdings fields (which it calls 'textual fields' in source code) similarly. This group of fields consists of 'holdings_notes', 'summary', 'supplements', '

[2017-08-15 16:34] gibsonjc commented on #241
@cedelis Looks good, thanks! Closing again!

[2017-08-15 16:34] #241 closed, assigned to cedelis

[2017-08-16 18:54] #203 closed, assigned to nobody

[2017-08-16 19:29] gibsonjc commented on #199
VuFind 0.6 shows:
Name: [First Middle Last]
Address: [all lines in patron for Street, then City, State, Zip]
Email:

VuFind 3 shows:
First name:
Last name:
Preferred Library:
Address 1: [line 1 only, it seems]
Zip:
City:
Group: [patron group]

[2017-08-16 19:40] gibsonjc commented on #164
I think we can easily remove the Call Number Limit in facets.ini:

; These facets will be displayed as limiters on the advanced search search screen
; NOTE: To make changes take effect immediately, you may need to clear VuFind's
; cache after changing this section.
[Advanced]
callnumber-first = "Call Number"
language         = Language
format = Format

[2017-08-16 19:46] gibsonjc commented on #135
Turns out this was a duplicate of #72 . We have decided to leave the highlighting feature on and "as is" for now. Closing.

[2017-08-16 19:46] #135 closed

[2017-08-18 20:28] dgree1 commented on #225
Jessica, do you need any more testing on this issue 225?
The SFX committee  is available to test or help as they are able.

[2017-08-18 20:29] dgree1 commented on #123
Jessica, do you need any more testing on this issue 123?
The SFX committee  is available to test or help as they are able.

[2017-08-18 20:34] dgree1 commented on #234
What research is needed? SFX committee might help.

[2017-08-18 21:28] dgree1 commented on #57
Jessica, I'd like to help with this FAQ. I looked at the two links you put in June 3 comment.

[2017-08-18 21:34] dmcmpbll commented on #172
To double-check: since Devel and Prod are understandably in slightly different configurations, I should test these statuses on Devel, correct?

[2017-08-21 12:39] gibsonjc commented on #172
@dmcmpbll yes, I think starting on DEVEL is ok. thanks!

[2017-08-22 18:50] cedelis commented on #248
@gibsonjc This is not a code issue. Instead, it's a processing error. The authority index on vufind3-prod is basically empty, which means that for whatever reason (it was re-imaged and not re-initialized?) the initial import data is not there. I've set up a full reindexing for tonight, therefore the problem should be resolved tomorrow.

[2017-08-24 17:09] gibsonjc commented on #169
LFC - “Copy 0” is very confusing.  Can it be removed?

[2017-08-24 17:24] gibsonjc commented on #159
LFC

[2017-08-24 17:28] gibsonjc opened #252 "Course Reserves search results do not indicate which course or instructor"
LFC - For Course Reserves, the course that the item is on reserve for isn’t displaying [in the results list].  Compare:
https://vufind3.carli.illinois.edu/vf-lfc/Search/Reserves?course=&inst=380&submit=Find&dept=
And
https://vufind.carli.illinois.edu/vf-lfc/Search/Reserves?course=&inst=380&dept=&submit=Find

[2017-08-24 17:38] gibsonjc commented on #95
LFC - I find the advanced search not as useful as the old one.  You cannot exclude HathiTrust items or government documents.  I really loved the version line

[2017-08-24 17:38] gibsonjc commented on #94
LFC - I find the advanced search not as useful as the old one.  You cannot exclude HathiTrust items or government documents.  I really loved the version line

[2017-08-24 17:38] gibsonjc commented on #81
LFC - Are they getting rid of: Hide eResources to which I don't have access?

[2017-08-24 19:04] cedelis commented on #248
@gibsonjc After having rebuilt the authority index, 'see also' references seem to be appearing again. Chris

[2017-08-25 13:18] gibsonjc commented on #248
I concur that this is working correctly now in PROD, TEST, and DEVEL.  Closing.

Some examples:
https://vufind3.carli.illinois.edu/vf-eiu/Alphabrowse/Home?source=author&from=rowling%2C+j

https://vufind3.carli.illinois.edu/vf-uiu/Alphabrowse/Home?source=topic&from=Americana

https://vufind3.carli.illinois.edu/vf-niu/Alphabrowse/Home?source=author&from=king%2C+stephen

[2017-08-25 13:18] #248 closed, assigned to nobody

[2017-08-25 13:26] gibsonjc opened #253 "Browse Alphabetically counts do not include HathiTrust records when present"
Not sure if this needs to be changed but will record the scenario in an Issue to keep track of it for now.

The "Browse Alphabetically" results will be different for each library because they are based on the data in their bib records.  The Alphabrowse indexer counts only the library’s bibs in its results list, but will display the library bibs plus HathiTrust bibs if they are included for that da

[2017-08-25 13:41] gibsonjc opened #254 "Course Reserves link in footer of /all/vf/ and /all/vf-xxx/"
1.  The link to Course Reserves should be removed from the footer of the /all/vf/ catalog, or configured to ask you which institution you want to see and take you there.

2.  The link to Course Reserves should either be removed from the footer of each of the /all/vf-xxx/ catalogs, or it should be configured to return results.  Right now it seems to display the correct course reserves information f

[2017-08-25 13:46] gibsonjc commented on #254
I had the wrong URLs in the original statement of this Issue.  I have edited the comment to correct them above.

[2017-08-25 13:48] gibsonjc opened #255 "New Items link in footer of /all/vf/ and /all/vf-xxx/"
1. The link to New Items should be removed from the footer of the /all/vf/ catalog, or configured to ask you which institution you want to see and take you there instead.

2. The link to New Items should either be removed from the footer of each of the /all/vf-xxx/ catalogs, or it should be configured to return results for the xxx library. Right now it never returns any results. Example:
https://v

[2017-08-31 19:35] gibsonjc commented on #138
Discovered that the OCLC number is already indexed in oclc_num, so these three URLs all work to find an the same OCLC number in 035a:

https://vufind3.carli.illinois.edu/vf-eiu/Search/Results?lookfor=(OCoLC)ocm02597226&type=oclc_num

https://vufind3.carli.illinois.edu/vf-eiu/Search/Results?lookfor=ocm02597226&type=oclc_num

https://vufind3.carli.illinois.edu/vf-eiu/Search/Results?lookfor=02597226&

[2017-08-31 21:14] dmcmpbll commented on #59
Is this fix also on devel?
Asking re: testing I'm doing for https://github.com/CARLI/vufind/issues/240

[2017-08-31 21:17] cedelis commented on #59
@dmcmpbll It should be fixed on devel if it's already in prod.

[2017-08-31 21:21] dmcmpbll commented on #59
thanks!

[2017-09-01 18:28] gibsonjc opened #256 "Author-related search redirects from record page don't work"
The system automatically hotlinks the Main Author, Corporate Author, and Other Author in the display on the single record page.  Those hotlinks seem to be designed to run a search on the author name (much like the hotlinked Subjects do just below it), but the search for authors always returns an error.

Examples:

https://vufind3.carli.illinois.edu/vf-uiu/Record/UIUdb.3556566
click on American Lib

[2017-09-01 18:28] gibsonjc commented on #256
What is this /vf-xxx/Author/ page that exists, anyway?
https://vufind3.carli.illinois.edu/vf-uiu/Author/
Here I can enter a name in the second smaller search box Author Results for: Sandberg, Sheryl and get
https://vufind3.carli.illinois.edu/vf-uiu/Author/Search?lookfor=Sandberg%2C+Sheryl
but when I click on Sandberg, Sheryl in this list, it takes me to the error page again
https://vufind3.carli.i

[2017-09-01 19:43] cedelis commented on #256
@gibsonjc Interestingly enough, I get error messages in the vufind demo too: https://vufind.org/demo/Author/Home?author=American+Library+Association.

[2017-09-01 20:03] cedelis commented on #256
@gibsonjc OK, at least I figured out how to solve the errors. I had to enable a Zend configuration for the Http module in vufind/config.ini:

; Default HTTP settings can be loaded here. These values will be passed to
; the \Zend\Http\Client's setOptions method.
[Http]
sslcapath = "/etc/ssl/certs" ; e.g. for Debian systems

[2017-09-05 13:56] gibsonjc commented on #256
Ok, that's progress. Now it displays results instead of an error page. And wow, it automatically pulls in information from Wikipedia at the top of the results page.

Relevant default settings are probably these:

**config.ini**
; You can select from Wikipedia
; See also the AuthorInfo recommendation module setting in searches.ini; this
; includes notes on improving the accuracy of Wikipedia retrie

[2017-09-05 19:41] dmcmpbll commented on #240
I have checked the request link availability all of the item statuses. There are 4 that are not requestable in VuFind3 that are requestable in VuFind 0.6/Voyager.

I don't know that it is necessarily "bad" that items with these statuses are not requestable in VuFind3, but it is something that is inconsistent with how the OPAC currently works (and libraries would need to be made aware if the behavi

[2017-09-05 20:21] cedelis commented on #240
@dmcmpbll There is a mechanism in the Voyager Driver (a method named determineAvailability, which I can override) which will allow me to treat those 4 statuses as if they were available ('Not Charged'). However, the status will show up as 'Available' instead of the actual status (Discharged, Damaged, etc.)

I've put this in place on DEVEL in case you wanted to look it over. Not sure if this is acc

[2017-09-06 14:04] gibsonjc commented on #209
The autocomplete is off in TEST and off in PROD already.  Both are working in that the "Loading..." message and dropdown do not appear, which is what we want.  Ready for Prod.

[2017-09-06 14:31] gibsonjc commented on #173
"Checked Out" is now displaying as "Not Available" in the results list as desired in TEST and PROD.  Ready for Prod.

[2017-09-07 12:40] gibsonjc commented on #200
The topic facet in "Narrow Search" is working as expected on DEVEL and TEST and PROD. Ready for Prod.

[2017-09-07 13:23] gibsonjc commented on #151
Indexes are displaying correctly now in TEST. Haven't been able to find a native example in PROD but this change might already be there with the others that slipped in. Ready for Prod.

[2017-09-12 14:33] #151 closed, assigned to nobody

[2017-09-12 14:33] #209 closed, assigned to nobody

[2017-09-12 14:34] #200 closed, assigned to nobody

[2017-09-12 14:36] gibsonjc commented on #173
@cedelis For future reference, can you note as a comment here what change you made in which file(s) to accomplish this wording change? Thanks!

[2017-09-12 15:41] cedelis commented on #173
Add to languages/en.ini, the following translation:

Checked Out = "Not Available"

[2017-09-12 15:57] #173 closed, assigned to nobody

[2017-09-13 21:02] dgree1 commented on #146
SFX Systems Committee discussed today. Any way they can assist with making the individual libraries' buttons appear in their catalogs? Andrea said was a significant concern that SIUC had before making a switch to VuFind3.
If it would assist, I can ask ExLibris SFX support if they have any ideas from working with VuFind3.

[2017-09-13 21:12] cedelis commented on #146
@dgree1
I don't think we'll need ExLibris support for this. I just haven't been able to get to this issue yet.

@gibsonjc is correct: it's a matter of setting up the config.ini file

I've put together a quick proof of concept here:

https://vufind3-devel.carli.illinois.edu/vf-uiu/Search/Results?lookfor=journal+of+number+theory&type=Title

Next, I will need to add this new setting (e.g., graphic =

[2017-09-13 21:14] dgree1 commented on #146
Thanks @cedelis

[2017-09-14 14:04] gibsonjc commented on #256
Since the original problem has been corrected, I'm going to close this issue.  (Whether or not we want the wikipedia data to display with an Author search is another question altogether!)

[2017-09-14 14:04] #256 closed, assigned to nobody

[2017-09-14 14:10] gibsonjc opened #257 "Set up VuFind 4 devel server"
vufind4-devel on Ubuntu 16.04 created Sept. 5.

[2017-09-21 16:11] dmcmpbll commented on #240
Discharged status items should be requestable, so it would be good to have that one adjusted.

For Damaged, Cat Review, and Circ Review, I'm still torn in that I don't know that it is necessarily "bad" that items with these statuses are not requestable in VuFind3 because those statuses mean something is going on with the item.  But it is something that is inconsistent with how the OPAC currently w

[2017-09-21 16:17] dmcmpbll commented on #172
The [Status Rankings] stanza in VoyagerRestful.ini looks very promising.
Are we currently using the default as show in the link that Jessica linked to above, or has ours been modified to include more statuses?

[2017-09-21 20:03] cedelis commented on #172
@dmcmpbll

We are currently using the default settings for StatusRankings:

; Status rankings can be used to either promote or demote certain item statuses when
; determining the status to be displayed. The lower the rank, the higher the
; priority. The sample values below make "Missing" most important and drop request
; statuses below others so that e.g. "On Hold" is displayed instead of
; "Hold

[2017-10-05 19:59] dmcmpbll commented on #240
With the complicated workflow needed to process requests for "Damaged" material in Voyager, I recommend that the Damaged status NOT be masked by the "determineAvailability override" to Available. The other three should be set to "Available."

11-Discharged  - yes, set to "Available"
16-Damaged - no, leave as "Damaged" status display, so not available.
19-Cataloging Review - yes, set to "Available"

[2017-10-05 20:10] dmcmpbll commented on #172
Here's my first draft at ranking status display order.
Comments on this order?

Debbie Draft RANK | ITEM_STATUS_TYPE-ITEM_STATUS_DESC
1 | 14-Lost--System Applied
2 | 13-Lost--Library Applied
3 | 17-Withdrawn
4 | 12-Missing
5 | 5-Recall Request
6 | 4-Overdue
7 | 3-Renewed
8 | 15-Claims Returned
9 | 2-Charged
10 | 7-On Hold
11 | 10-In Transit On Hold
12 | 9-In Transit Discharged
13 | 6-Hold Request

[2017-10-05 20:45] cedelis commented on #154
There's not much I can do other than put a cap on some of the fields, which is what I decided to do, for now:

limit TITLE to 30 chars
limit LOCATION to 30 chars

When those two fields reach the limit, I cut out the middle part of the string and replace it with two dots (..)

Commit 1ccfe5f7ec3494f0e9a3cce27dd193107c3fd2af

BTW, this is available on vufind4-devel (not vufind3)

[2017-10-06 20:46] dmcmpbll commented on #154
The truncation you did worked well to make the full URL send to my messages!
I also like the shortening of "Location" to "Loc"; that saved some characters too I imagine.

Here is the title I used for testing:
https://vufind3-devel.carli.illinois.edu/vf-prc/Record/PRCdb.795300
https://vufind4-devel.carli.illinois.edu/vf-prc/Record/PRCdb.795300

See attached PDF for screenshots from my phone.

Is it

[2017-10-23 14:04] gibsonjc opened #258 "Course Reserves showing inactive lists"
NPU - It seems like VuFind3 is pulling information from both active and inactive course reserve lists. For example, the course "AMUS 1300: Violin" comes up in the VuFind3 search but the corresponding list was set to expire in 2015 and the item is not "on reserve.

https://vufind3.carli.illinois.edu/vf-npu/Search/Reserves
<Choose AMUS 1300>
https://vufind3.carli.illinois.edu/vf-npu/Search/Reserves?

[2017-10-23 14:06] gibsonjc commented on #252
NPU - it would be great to see the course information within the reserve list display.  Displaying the course and instructor information on the results page would be very helpful.

[2017-10-26 18:31] dmcmpbll opened #259 "Collapse "Holds & Recalls" Tab into Requested Items Tab"
In VuFind3, the "Holds and Recalls" tab was collapsed into the "Requested Items" tab (back in 10/2016).

Could this be redone for VuFind4?

VuFind3 screenshot:
![vufind3screenshot](https://user-images.githubusercontent.com/20848151/32070420-de083378-ba51-11e7-9be0-950544c73e05.png)

VuFind4 screenshot:
![vufind4screenshot](https://user-images.githubusercontent.com/20848151/32070429-e4a18194-ba51-1

[2017-10-26 19:58] dmcmpbll commented on #221
Noting this exists in VuFind4-devel as well:

![doublelist171026](https://user-images.githubusercontent.com/20848151/32074164-2723a806-ba5e-11e7-8516-b82e1986a807.PNG)

[2017-10-30 16:17] dmcmpbll opened #260 "Cover images not showing in Requested Items list"
In VuFind4-devel, cover images are not showing in the Requested Items list.
Instead of showing (or deliberately not showing/being blank), there is a link that says “Cover image” that connects to a generic URL.

![coverimageblank](https://user-images.githubusercontent.com/20848151/32182107-edbb69c4-bd63-11e7-8f56-fe604174759f.png)

[2017-11-13 15:42] gibsonjc commented on #136
Research:  I think I can explain why 245np do not display in the results list, but I'm not sure how to change it.

The results list is generated by
/themes/bootstrap3/templates/RecordDriver/SolrDefault/result-list.phtml
Which contains function getTitleHtml starting at line 24:

    <?=$this->recordLink()->getUrl($this->driver)?>" class="title getFull" data-view="
    <?=$this->params->getOptions()

[2017-11-13 21:34] gibsonjc commented on #244
@nmswanson We are working on getting this into VuFind 4 on a short timeframe and have some questions about your spec:

1. You wrote: **300c=4/3/4**
Is this a typo?  Do you mean all combinations of "4 3/4" like we did in a previous format specification?

2. You wrote: **CD-ROM…**
Does this mean a substring, a literal ellipsis, a wildcard for anything that starts CD-ROM*, something else?  Clarificat

[2017-11-13 22:40] nmswanson commented on #244
1.	Yes, that was a typo. I mean all combinations of "4 3/4".

<You wrote: 300c=4/3/4
Is this a typo? Do you mean all combinations of "4 3/4" like we did in a previous format specification?>

2.	There will likely be other data before or after "CD-ROM" within the fields is all I meant. I wasn't sure how to indicate that, but we are specifically looking within those fields for "CD-ROM".

<You wrote:

[2017-11-15 14:57] gibsonjc commented on #113
Looks like Syndetic Summaries are planned in version 5.0! https://vufind.org/wiki/changelog

[2017-11-15 14:58] gibsonjc commented on #114
Looks like Syndetic TOCs are planned in version 5.0! https://vufind.org/wiki/changelog

[2017-11-15 22:43] cedelis commented on #244
commit 6e9fa652a21bbd51c16a5e6f8e8d336ddfe4a9cf

[2017-11-28 18:41] gibsonjc commented on #105
The new OCLC Collection Manager set of HathiTrust public domain bib records were loaded into production RESdb in mid October and appear in production vufind3 and production vufind4 for the 11 local catalogs ARU, CON, DOM, EIU, ERK, ISU, LFC, MIL, NBY, SXU, and UIU (as previously requested) and the I-Share union catalog.

The initial set of records contained 487,623 bibs.  The weekly update feed fo

[2017-11-28 18:41] #105 closed

[2017-11-28 18:44] gibsonjc opened #261 "public log files for vufind4"
We need to generate, anonymize, and post vufind4 logs to https://www.carli.illinois.edu/logs/ and https://i-share.carli.illinois.edu/acrlstats/

[2017-11-28 18:57] gibsonjc commented on #257
New vufind4-devel server made--a copy from prod--on 11/20/2017. Closing.

[2017-11-28 18:57] #257 closed, assigned to nobody

[2017-12-01 19:48] gibsonjc commented on #169
WHE - We have two copies, copy 1 and copy 2 of Letters by Saint Ambrose. In VuFind, they display properly as copy 1 and copy 2:

https://vufind.carli.illinois.edu/vf-whe/Record/whe_27108

In VuFind3, they display incorrectly as copy 1 and copy 1:

https://vufind3.carli.illinois.edu/vf-whe/Record/WHEdb.27108

[2017-12-01 21:44] gibsonjc commented on #215
BRA - ...on the see-no-request-until-after-login
issue. We all agree that it is important to see request link without login
and that Bradley would not switch to a new VuFind before this is resolved.

[2017-12-06 17:00] dmcmpbll opened #262 "Matrix entry call slip & UB checkboxes affect request-ability"
VuFind 3+ has a different relationship with the matrix entry UB & Call Slip check-boxes than other versions of the OPAC.

VuFind 3+ appears to be ignoring the “Call Slip” checkbox completely an relying on the “UB” checkbox for its request decisions.

- Using a the test patron for local requests in ISU's db, in the matrix entry:
- - If only Charge/Renew was selected; the request attempt failed.
- -

[2017-12-06 18:19] dmcmpbll opened #263 "Patron account tag list (when tags are listed, when they are not)"
If you add a tag to an item as a part of adding it to a "list" (either public or private), or by editing an item on a list to now include the tag, the tag shows in your "tag list."

If you add a tag to an item individually, not as a part of adding it to a list, the tag does not show in your "tag list," but if you remember it another way, you can search for it to remove/edit it.

VuFind4-devel scre

[2017-12-06 18:21] dmcmpbll commented on #261
Will we also begin generating them for here?: https://www.carli.illinois.edu/logs/

[2017-12-06 18:45] gibsonjc commented on #81
IIT - Can we get a button that hides eresources that we don't have access to
when doing an ishare search?

[2017-12-06 18:48] gibsonjc opened #264 "Remove Search Alternatives"
IIT - Is it possible to remove the 'Search Alternatives' popup?

[2017-12-06 18:49] gibsonjc commented on #77
IIT - Is it possible to change the language in the search sort from "ascending" and "descending" to something else (say, "newest" and "oldest")?

[2017-12-08 22:21] gibsonjc opened #265 "bib field display suggestions"
ROU - it looks like the fields that are specific to music items will not display. 246 (needs to display for music records, many parallel titles in other languages), 254, and the 300 fields (336, 337, 338, 380, 381, 382, 383, 384, 344, etc.) and 505...no contents??? These are vital to music records, especially sound recordings. We must have either the 505 or 740 fields displaying. Roosevelt Univers

[2017-12-12 20:52] gibsonjc commented on #164
DPU - DePaul University Library is a primarily Dewey call number library and as the staff here have been looking at the new VuFind 4 test instance they have been asking whether there are options to either:  a)      Switch the call number classification in the Advanced Screen to Dewey classification  b)      Remove the option Limit to the LC Call Number Classification from the Advanced search scree

[2017-12-12 21:21] cedelis commented on #164
Just wanted to add:

Call Number limits are based on the "callnumber-first" Solr field, which is currently defined in https://github.com/CARLI/vufind/blob/carli-master/import/marc_dedup_local.properties#L55

and the mapping of this is defined in https://github.com/CARLI/vufind/blob/carli-master/import/translation_maps/callnumber_map.properties

[2017-12-13 15:45] gibsonjc opened #266 "Email and Text default reply-to is support@carli"
Please change the default From address to noreply@carli.illinois.edu

[Mail] stanza of the config.ini currently has:
default_from = "support@carli.illinois.edu" ; CARLI

Replication steps:
Choose Email this or Text this on any record and send it to yourself. It comes from support@carli, so if people reply it will come to RT.  And apparently if people mistype their phone number when texting it will

[2017-12-13 16:25] gibsonjc commented on #266
We already customized this From address in VuFind 3 but somehow the change got lost: #139

[2017-12-13 18:20] gibsonjc opened #267 "Collapse facets by default?"
SIC - Currently all I-Share Vufind3 facets open up listing the top 6 filtering options and then “more…” link.  Since all facet boxes are open by default users can’t easily see all available facets requiring a lot of scrolling. Example: https://vufind3.carli.illinois.edu/all/vf-sic/Search/Results?lookfor=hitchcock&type=AllFields&limit=20&sort=relevance . I could not capture all 9 facets in a screen

[2017-12-13 18:21] gibsonjc commented on #219
SIC - move up the year of publication facet.  Currently the year of publication facet is the last facet displayed requiring a lot of scrolling.  This is an often used facet.

[2017-12-13 18:22] gibsonjc opened #268 "Add Journal Title to search options"
SIC - Add journal title as an option to the pull down menu.  University of Chicago has implemented a solution: https://catalog.lib.uchicago.edu/vufind/Search/Results?lookfor=hitchcock&type=AllFields

[2017-12-13 18:23] gibsonjc commented on #218
SIC - The ability to easily switch between local catalog and the I-Share catalog is an important feature for our users at SIUC as  we use the I-Share catalog as our default catalog. https://vufind.carli.illinois.edu/all/vf-sic/Search/Home?lookfor=hitchcock&type=all&start_over=0

The new Vufind3 I-share catalog displays the top 6 libraries with relevant hits.  In most cases UIUC pops up on top foll

[2017-12-13 18:42] gibsonjc commented on #43
CSC - I-Share “Request 1st available” option

[2017-12-13 18:42] gibsonjc commented on #81
CSC - Option to check mark “Hide eResources to which I don’t have access”

[2017-12-13 19:02] gibsonjc commented on #161
SIC - RT 96245
I was testing the new VuFind and came across a strange button that
prompted me to investigate what is happening.

Here is a sample result set:
https://i-share-test.carli.illinois.edu/vf-sic/Search/Results?lookfor=american+history+in+video&type=AllFields&filter%5B%5D=collection%3A%22SICdb_wwvid%22

There is a button appearing on records 1, 3, 4 on the results list with
a live status

[2017-12-13 19:07] gibsonjc opened #269 "Remove links in Footer?"
ISL - On the initial Landing page for the new VuFind interface, can any of the links under Search Options, Find More, etc. be edited or removed? The reason I ask is because the State Library does not have course reserves. Just wondering if that link may simply be removed from our instance of the new VuFind. If so, is it just a matter of including in customization form?

[2017-12-13 19:11] gibsonjc commented on #43
SWI - Just wondering if there is a "Request first Available" in the new VuFind like we had in the old VuFind?

[2017-12-14 17:52] gibsonjc opened #270 "customize "Local Catalog Only" search box choice"
SWI - I've just submitted a customization form for the new VuFind. I didn't see an option to change this language in the window. Could we change this from: Local Catalog Only, to: SWIC Library Only

[2017-12-14 18:09] gibsonjc commented on #75
DAC - I'm curious to know if there are plans to replace the format type icons. I
think these are helpful for users and their absence will be significant
loss.

[2017-12-14 20:39] gibsonjc opened #271 "how to make banners with image maps that work in responsive design"
BEN - RT 95702  now that the new VuFind interface is responsive, is there a way we can make our banners responsive?

BEN - 12/14 conf call
(Nancy at LFC had some thoughts)

[2017-12-14 20:50] gibsonjc opened #272 "API is not open by default"
RT 95628
It's not open to the world by default. We would need to configure an IP address range.

for i-share-test/vf-eiu (and /all/vf-eiu), also prod, i-share.carli/vf-eiu and i-share.carli/all/vf-eiu, it's temporarily set it to open to the world

e.g.,  https://i-share.carli.illinois.edu/vf-eiu/api/v1/record?id=EIUdb.54969

Is this something we want to permanently set (allow) for all catalogs?

[2017-12-15 13:43] gibsonjc commented on #66
Noting that this is still a problem in 4.1.

[2017-12-15 15:24] gibsonjc commented on #43
MON - 12/14/2017 open call

[2017-12-15 15:25] gibsonjc commented on #169
MON - 12/14/2017 open call

[2017-12-15 15:27] gibsonjc commented on #89
TIU - 12/14/2017 open call

[2017-12-15 15:28] gibsonjc commented on #58
TIU - 12/14/2017 open call

[2017-12-15 15:28] gibsonjc commented on #76
LFC - 12/14/2017 open call

[2017-12-15 15:34] slknight commented on #271
EIU commenting so I can follow.

The EIU banner is mapped and the map resizes with the image. It's not usable at small sizes though.

[2017-12-15 20:05] dmcmpbll commented on #259
Once this ticket is completed, look into the ABA info. display issue (where Voyager has the correct BIB_ID information behind the scenes, but displays the patron's home library's bib information for the BIB_ID, instead of the item's home library's bib information for the BIB_ID.

See RT 96440

[2017-12-18 19:25] gibsonjc commented on #259
@cedelis Can you take a look at this and see if combining the "Holds & Recalls" section in Your Account again is something we might be able to fix this week before any libraries go live? Debbie and I are afraid this will cause users concern and confusion when it is displaying items they have never heard of.  Debbie is working on setting up an example in Devel for you to work with and will share in

[2017-12-18 19:28] gibsonjc commented on #207
KIS - For some reason the item that is shown (Cambridge companion to crime fiction) is not showing as being available [...] Our item record shows that we have 1 copy and the item is not charged. We have seen this same issue with other titles in our collection. Other books that have copy 1 and are not charged show up as being available in the new VU find.

Example:
https://vufind4.carli.illinois.ed

[2017-12-18 19:29] gibsonjc commented on #169
KIS - KIS - For some reason the item that is shown (Cambridge companion to crime fiction) is  showing [...] that the copy is 0 in the new VU find. Our item record shows that we have copy 1 [...]

Example:
https://vufind4.carli.illinois.edu/vf-kis/Search/Results?lookfor=cambridge+companion+to+crime+fiction&type=AllFields&limit=20&sort=relevance
https://vufind4.carli.illinois.edu/vf-kis/Record/KISdb

[2017-12-18 19:44] gibsonjc commented on #270
IMS - Is there a way in the pull down menu in VuFind that the wording could be "IMSA Catalog Only" instead of "Local" catalog only?

[2017-12-18 19:49] gibsonjc commented on #89
NPU - When I try requesting items, the default pickup location seems to be the library that holds the item and not the patron’s institution. For example, if I request an UIC item the default pickup location seems to be UIC and not NPU. I think that many patrons would miss this and would use the wrong pickup location. Is it possible to change this so that it defaults to the patron’s home library (o

[2017-12-18 20:26] gibsonjc opened #273 "Add note on Checked Out Items page that items without check boxes can't be renewed"
NPU - The checked out items page looks rough… it seems that if an item cannot be renewed there is no checkbox there. Would it be possible to add a message to the non-renewable items – something like “cannot be renewed”.

[2017-12-18 20:28] gibsonjc opened #274 "Sort items on Checked Out Items page"
NPU - [On the Checked Out Items page] The ability to sort by due date and/or title would be awesome (but might not be possible)

[2017-12-18 20:31] gibsonjc commented on #42
NPU - Location Facet Questions: does the location facet feature work the same in VuFind 4? I think I’m seeing all locations (and not the location groups I defined in SysAdmin).

[2017-12-19 14:28] gibsonjc opened #275 "Display temporary location in Narrow Search facet when present instead of MFHD location"
ISU - ...we are using three new locations as temporary locations for materials that we used to have in onsite storage when the remainder of our onsite storage materials became "Location: Unavailable until 2018: Building improvements in process". In these cases, we very much need the Temporary location, not the Permanent location, to be present in the Location facet so that the patron knows that th

[2017-12-19 14:29] gibsonjc commented on #42
ISU - While the display of the Location facets in the New VuFind search for ISU is technically correct, we've used the same 'OPAC Location Name' for several different 'Voyager Location Name's and each Voyager Location Name is being displayed as a separate Location facet but with its respective OPAC location name. This presents as many as 8 different location facets - all with the same name but wit

[2017-12-19 14:49] gibsonjc opened #276 "Author info retrieved from Wikipedia is not always the correct author"
ISU - See author bio link tied to Mark Schmitt here https://i-share.carli.illinois.edu/vf-isu/Record/ISUdb.1672714

Description for cataloging staff:
When there is no Wikipedia page for an individual, then clicking on that author's name in a bib record, returns a retrieval set of catalog records for all the titles we own by that author. No problem there. Examples: Maureen Brunsdale, John Freed, Sa

[2017-12-19 14:51] gibsonjc commented on #276
This feature in on by default and appeared after fixing author-related search redirects in #256

There may be a way to make it "smarter" if we follow the recommendation notes in searches.ini.  We have authority records loaded, after all.

In config.ini:
[Content]
; You can select from Wikipedia
; See also the AuthorInfo recommendation module setting in searches.ini; this
; includes notes on improv

[2017-12-19 17:20] gibsonjc commented on #215
@cedelis I see this was marked Ready for Testing but no comment was made so an email was not sent out so I didn't know it was here.  Is this on DEVEL and TEST?  I think that's where I see it.  (But we can't currently test it on DEVEL.)

[2017-12-19 17:21] cedelis commented on #215
@gibsonjc I'll try to remember to also add a comment next time. sorry. It's on both TEST and DEVEL.

[2017-12-19 17:22] gibsonjc commented on #266
From address now correct.  This is Ready for Production.

[2017-12-19 17:22] cedelis commented on #259
Commit 0c656ef46c8bab7ad0f05c699fe8375ae80cfa9c applied.

[2017-12-19 17:23] gibsonjc commented on #244
This new format was incorporated into the release of VuFind 4.1.  Closing.

[2017-12-19 17:23] #244 closed, assigned to nobody

[2017-12-19 17:32] gibsonjc commented on #240
I don't think that "Damaged" has been changed back to NOT showing as Available (if I'm looking in the right file), so I think that change recommendations is still to be acted on, but correct me if I'm wrong!

@dmcmpbll The "all" uc examples above have changed in VuFind 4 since VuFind 3 because "all" was rebuilt.  Do you have title name examples or local catalog example (where IDs shouldn't change)

[2017-12-19 17:34] gibsonjc commented on #215
Open call 12/15/2017:
UIC -
EIU -
JUD -
LFC -
CSC -
MRT -

[2017-12-19 17:36] gibsonjc commented on #155
LFC - open call 12/15/2017 - Enhanced TOCs in 505 are worse than unenhanced TOCs in 505.  Enhanced have even more bullets.

[2017-12-19 17:37] gibsonjc commented on #169
EIU - 12/15/2017 open call - display real copy number

[2017-12-19 17:38] gibsonjc commented on #247
EIU - 12/15/2017 open call - show both the enumeration and chronology of holdings data (major stumbling block to implementation)

[2017-12-19 17:40] gibsonjc commented on #157
UIC - 12/15/2017 open call

[2017-12-19 17:42] gibsonjc commented on #89
UIC - 12/15/2017 open call

[2017-12-19 17:45] cedelis commented on #240
@gibsonjc "Damaged" is currently configured to have a status of 'Not Charged':

https://github.com/CARLI/vufind/blob/carli-master/module/CARLI/src/CARLI/ILS/Driver/VoyagerRestful.php#L23

In fact, the following four statuses are treated as if they were 'Not Charged'

            case 'Discharged':
            case 'Damaged':
            case 'Cataloging Review':
            case 'Circulation Revie

[2017-12-19 17:53] cedelis commented on #157
This was an easy fix: override languages/en.ini setting:

You do not have any interlibrary loan requests placed = "You do not have any requests placed"

[2017-12-19 18:06] gibsonjc commented on #42
CSC - 12/15/2017 open call (recommended contacting CARLI support for reports instead of using location facets)

[2017-12-19 18:06] gibsonjc commented on #58
LFC - 12/15/2017 open call

[2017-12-19 18:44] gibsonjc commented on #240
@cedelis Sorry, my double negatives were confusing!  Above on Oct. 5, Debbie commented and recommended that "Damaged" be reverted back to the way it was (to display as Damaged and not be requestable).

Keep the other three (Discharged, Cataloging Review, Circulations Review) as you have changed them.  Thanks!

[2017-12-19 18:47] gibsonjc commented on #214
UIC - 12/15/2017 open call

[2017-12-19 19:00] dmcmpbll opened #277 "Created date on Requested Items tab"
Each requested item listed on the Requested Items tab contains a date row labeled "Created". The label remains consistent (as "Created") even as the date itself is updated to represent other dates in Voyager.

Phases:
1) When a request is first placed (or first promoted into a database), the label "Created" is accurate enough.
2) When the call slip request is then printed by library staff, the dat

[2017-12-19 19:13] gibsonjc opened #278 "Search Help does not include using quotes for phrases"
MON - 12/14/2017 open call - The help page doesn't specifically mention using quotes around phrases (though some do appear in other examples) and some inconsistencies were found when using them.  Are they still the correct way to search with phrases?  Can we figure out how they are to be used and add information to the built-in Help page?

[2017-12-19 19:14] dmcmpbll commented on #214
I asked UIU for input on this on 2/20/2017:
"Courtesy card holders  (LOCAL LOPRV, LOCAL HIPRV, LOCAL BUO) and  LIBRARYUSE cards (possibly ILLINETLIB ? ) aren’t able to claim NetIDs and set up passwords. There may be exceptions, but it would be a handful of the +/-400 cards that we issue throughout the year (looking back to FY13-14 through FY15/16."

This would mean that they would be unable to pla

[2017-12-19 19:21] gibsonjc commented on #146
@cedelis The demo of UIU's button that you did in September looked good to me when I saw it, but that was on vufind3-devel.  Setting up the whole script to do all institutional buttons is certainly more work, so maybe a quicker stopgap measure could be to set up ONE graphical button for all SFX libraries in the meantime, so at least it is a button rather than a link that tends to get lost in all t

[2017-12-19 19:36] cedelis commented on #240
Done.
Commit ba46bd131b1b1e762ee96668a344cd655f62a599

[2017-12-19 19:37] gibsonjc opened #279 "SFX "Get full text" links no longer showing on record page in version 4.1"
We worked on getting SFX full text links to display on the record page on Issue #152 (has screenshots of what it looked like) which has been closed, but the problem has resurfaced in version 4.1.

In VuFind 3.1.4, SFX Get Full Text links were showing in the "Internet" section of the Holdings tab.  The "Internet" section is no longer displaying in any Holdings tab that I can find.

Example:
In thes

[2017-12-19 19:39] dmcmpbll commented on #240
Examples in the WHE-test local catalog
11-Discharged: https://i-share-test.carli.illinois.edu/vf-whe/Record/WHEdb.1586 (6 copies; one is this status)
16-Damaged: https://i-share-test.carli.illinois.edu/vf-whe/Record/WHEdb.98923 (copies; one is this status)
19-Cataloging Review: https://i-share-test.carli.illinois.edu/vf-whe/Record/WHEdb.45331 (one copy)
20-Circulation Review: https://i-share-test.

[2017-12-19 19:42] gibsonjc opened #280 "Is there a spellchecking feature?"
asked at 12/14/2017 open call

[2017-12-19 19:44] gibsonjc commented on #280
Short answer is that is it not configured in our environment because it relies on solr optimization to be run, and we can not run this because our index is so large that it has always failed.

See email on 12/14/2017 at 2:41pm for detailed analysis.

[2017-12-19 19:50] cedelis commented on #280
slightly longer answer: the spellchecker index is configured to be built on optimize:

https://github.com/vufind-org/vufind/blob/release-4.1/solr/vufind/biblio/conf/solrconfig.xml#L498

I suspect we could try changing this to buildOnCommit, instead.

[2017-12-19 20:18] gibsonjc opened #281 "more helpful text in the "no results" message after a search"
UIC- 12/15/2017 open call - The default text when you get no results would ideally include some locally configurable text that libraries could use to help instruct their users about other options like ILL, contact info, etc.

It could also be written to sound more supportive/encouraging.

Perhaps add link to retry search in I-Share like 0.6.

Default text:

 # No Results!
 Your search - asdfasdf -

[2017-12-19 21:35] cedelis commented on #279
Commit 5570ed4ae631e247710ac5df8f0350ebbaba643f

[2017-12-19 21:41] cedelis commented on #146
@gibsonjc Does the graphical button URL follow the same pattern for all libraries?  https://sfx.carli.illinois.edu/sfx[XXX]/sfx.gif
EIU => https://sfx.carli.illinois.edu/sfxeiu/sfx.gif

If so, that would be trivial to do for all instances.

Otherwise, we'd need to create and maintain a mapping of instance to URL (and, in the meantime, I can put in the static IIT image)

[2017-12-19 21:47] dgree1 commented on #146
Yes, that’s the pattern for all of the libraries. There is one SFX library not in I-Share, ICO and one HRT that doesn’t use SFX in their OPAC. In case you go down the list on https://www.carli.illinois.edu/products-services/link-resolver-sfx/sfx_compare

From: cedelis [mailto:notifications@github.com]
Sent: Tuesday, December 19, 2017 3:42 PM
To: CARLI/vufind <vufind@noreply.github.com>
Cc: Green,

[2017-12-19 22:03] cedelis commented on #146
Done.

Ready for Testing.

[2017-12-19 22:07] dgree1 commented on #146
Great, may I share with SFX Committee?
Looks good after a few searches in https://i-share-test.carli.illinois.edu/vf-XXX

Yippie!
Denise

From: cedelis [mailto:notifications@github.com]
Sent: Tuesday, December 19, 2017 4:03 PM
To: CARLI/vufind <vufind@noreply.github.com>
Cc: Green, Denise D <dgree1@uillinois.edu>; Mention <mention@noreply.github.com>
Subject: Re: [CARLI/vufind] Configure SFX (Open

[2017-12-19 22:10] dgree1 commented on #146
And even better, is back displaying on individual bib recs.
Ex. https://i-share-test.carli.illinois.edu/vf-llc/Record/LLCdb.81562

From: Green, Denise D
Sent: Tuesday, December 19, 2017 4:08 PM
To: 'CARLI/vufind' <reply@reply.github.com>; CARLI/vufind <vufind@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [CARLI/vufind] Configure SFX (OpenURL) settings to use a graphical

[2017-12-19 22:12] cedelis commented on #146
@dgree1 The sfx links display on individual bibs because I fixed a bug (different issue): https://github.com/CARLI/vufind/issues/279

[2017-12-20 00:17] gibsonjc commented on #157
This looks good to me. Ready for Prod!

[2017-12-20 00:22] gibsonjc commented on #240
This display change looks good to me using the examples in WHEdb.

@dmcmpbll did you want to retest that items with Discharged, Cat Review, and Circ Review can be requested and Damaged cannot?  Please comment here either way to let us know. (Side note: the Damaged behavior change is probably a good one for the What are the Differences? web page!) Thanks!

If that testing goes as expected, or if yo

[2017-12-20 00:36] gibsonjc commented on #215
I was able to do some basic testing tonight as myself and it seemed to work correctly by prompting me to log in and then either initiating the request or telling me I didn't have sufficient privs to place the request.   I'd appreciate it if others could do testing with additional libraries.  I also think we should retest specifically for libraries that do not allow local requesting to make sure th

[2017-12-20 00:45] gibsonjc commented on #146
I looked at some SFX libraries tonight and saw custom SFX buttons in the results list and the corresponding record page as expected.  (I even saw UIU SFX buttons on the results list when I was logged in and viewing /all/vf-uiu/ which seems right.)

Unless @dgree1 sees any problems, I think this is Ready for Prod.

[2017-12-20 00:45] gibsonjc commented on #279
I looked at some SFX libraries tonight and saw the Internet section with the SFX link (now custom button) displaying in records that also were also showing it on the results list.

Unless @dgree1 sees any major problems, I think this is Ready for Prod.

[2017-12-20 00:53] gibsonjc opened #282 "Cover images from source other than Syndetic Solutions"
IIT - Is it possible to add cover images to our records in VuFind without a subscription to Syndetics Solutions? In looking over VuFind documentation <https://vufind.org/wiki/configuration:external_content>, it seems that covers can be imported from a variety of other sources; however the CARLI website only mentions Synditics Solutions as an option.

Follow-up: I think that Google Books would be o

[2017-12-20 00:58] gibsonjc commented on #282
RT 96530

"Book Covers - Currently resources that have an ISBN number will have a cover image displayed along with it. The cover image can come from a number of places such as Amazon.com, Syndetic Solutions, OpenLibrary, LibraryThing, Google Book Search, or your own collection of images. The decision as to which to use can be made by you, the implementor, by editing the VuFind configuration file."

[2017-12-20 14:21] slknight commented on #215
I am seeing the request button when not logged in to TEST

![image](https://user-images.githubusercontent.com/15163837/34211284-34b7ca9e-e55e-11e7-8803-0a9053838a01.png)

Clicking request invokes LOGIN.

Request window pops up after login with appropriate pickup location.

Place request works.

Cancel request works.

All appears to work as expected.

[2017-12-20 14:25] slknight commented on #282
Related to this, can a local source be added in addition to Syndetics? The logic would be

if ISBN match in Syntedits, then use Syndetics
if no ISBN match in Syndetics, check local image collection

I'm asking because EIU has a big collection of 3D objects that would greatly benefit from a cover image but are not in Syndetics.

[2017-12-20 15:41] slknight commented on #215
John Whisler checked this in TEST and it also worked as expected for him.

"I tried it in test and it seemed to work just fine.  I didn’t actually place the request, but it gave me the request button in the bib display, and clicking it prompted me to enter my barcode and name, gave me the pickup location options and the Place Request button.  So it looks good to me.

--jw
"

[2017-12-20 15:49] slknight commented on #215
I'm not seeing a request link for items that are held locally but not available. Is that supposed to be working?

![image](https://user-images.githubusercontent.com/15163837/34215453-fc6d88d8-e56a-11e7-8187-09ea2f885d42.png)

[2017-12-20 15:50] slknight commented on #215
Request is not suppressed for locally held available items

![image](https://user-images.githubusercontent.com/15163837/34215535-380bdce6-e56b-11e7-932d-709ff0afdb66.png)

[2017-12-20 17:37] dgree1 commented on #279
I agree, ready for Prod.

[2017-12-20 17:39] dgree1 commented on #146
I agree, ready for Prod. Have asked SFX committee to view in test and comment but issue 146 is resolved in my opinion.

[2017-12-20 20:36] cedelis commented on #89
The pickup location now defaults to the patron's home institution.

Also, since the "Preferred Library" pickup is not being honored, I have removed it from the Profile settings page (since it can only cause confusion).

[2017-12-20 20:42] dmcmpbll commented on #240
Yes, I did a few more tests and this is ready for prod!

[2017-12-20 22:13] dgree1 commented on #215
from Denise and Debbie-
Regarding    " I also think we should retest specifically for libraries that do not allow local requesting to make sure this hasn't circumvented what was put in place to stop that before. @dgree1 @dmcmpbll"

We did several tests in DOM-test. For libraries that don't allow local call slip the request item link is showing both when logged in and when not.  Here's screen shot

[2017-12-20 22:55] dmcmpbll commented on #215
Update: We know that the steps being worked on in this ticket to make the "Request item" show when the patron is not logged in, are affecting the setup that had previously been set in https://github.com/CARLI/vufind/issues/59 to only show the "Request item" link when the library allowed local call slip requesting.

[2017-12-21 00:30] cedelis commented on #215
Another Update: I *think* I have fixed Issue #59 that got reintroduced in this issue.

[2017-12-21 13:57] slknight commented on #215
Checked several records in different locations for EIU in TEST and did not see the Request link for locally held items.

[2017-12-21 17:11] cedelis commented on #89
Looks like I figured out a solution to the "Preferred Library" issue. It has been reinstated.
Commit dd1cc528f90a2b0bc6f32fd23355482251d14a52

[2017-12-21 18:02] dmcmpbll opened #283 "Enhancement to make "due time" on checked out items tab more obvious"
IIT - [On the Checked Out Items tab/page] Having the due time listed on the checked out items tab is valuable for patrons at libraries where overdue fines are assessed for materials.

Making the "due time" portion of the due date more evident to patrons would be great.

Would it be possible to:
- Move the due time to its own line below the Due Date, so both are listed separately,
OR, adjust the la

[2017-12-21 18:38] dmcmpbll commented on #215
Yes, the fix for 59 appears to have worked, while keeping the link displaying while not logged in (fix for this ticket, 215).

@dgree1 - are your tests the same?
Denise, if your tests also work as expected, I'd think this means ready for prod (both issues- 215 and fix for 59).

Examples with screenshots:
For DOM-local on test; not logged in: link does not show.
For DOM-local on test, logged in: li

[2017-12-21 19:32] dmcmpbll commented on #89
In i-share-test for UIU, I can see the drop-down menu for "Preferred Library", but I do not see the drop-down for the preferred institution.
![image](https://user-images.githubusercontent.com/20848151/34271706-1de43d16-e653-11e7-8a06-509adea0514b.png)

In i-share-test for MIL, I do not see either drop-down menu.
![image](https://user-images.githubusercontent.com/20848151/34271740-423be57e-e653-11e

[2017-12-21 19:35] dmcmpbll commented on #89
For the record, VuFind 0.6 allows patrons to set both library and location in preferences. Some patrons may live closer to another I-Share library than their home library, and may wish to pick up there.

![image](https://user-images.githubusercontent.com/20848151/34271883-c404e25e-e653-11e7-8a3a-91d14c2c71aa.png)

[2017-12-21 19:49] cedelis commented on #89
@dmcmpbll I understand that it makes sense for pick-up library to also exist on this form, but as of now, this feature does not yet exist in vufind4+. I would need to add this feature, i.e., this would technically be a feature request.

[2017-12-21 19:54] dmcmpbll commented on #89
Gotcha- so adding "pick-up library" would be an enhancement. I will create a new Git Hub ticket for this enhancement and connect it to this ticket.

Should "pick-up location" be currently showing in all libs in i-share-test? I saw it in UIU, but not in MIL.

[2017-12-21 19:56] cedelis commented on #89
@dmcmpbll Currently, the form is designed to only show the pick-up library control if an institution has more than one to choose from. It hides this information completely, otherwise.

[2017-12-21 21:05] dgree1 commented on #215
My tests were the same.
For UIU-test, request link show both NOT logged in and logged in.

For CTU-test,
The historical setting of the Old Testament /
https://i-share-test.carli.illinois.edu/vf-ctu/Record/CTUdb.22151
no request , not logged in

![ctu_test_not_logged in](https://user-images.githubusercontent.com/29785703/34274891-5a8c532c-e660-11e7-8b96-2f37974f2e43.GIF)

no request, logged in.

![

[2017-12-21 21:32] dmcmpbll commented on #89
@cedelis ah yes! Millikin has only one pick-up location. That would make sense! thanks.

I'll add info about this to the https://www.carli.illinois.edu/products-services/i-share/opac/opac_differences page once you move the change to prod.

It correctly passed my UIU "preference-set" pick-up location through with my call slip.

[2017-12-21 21:35] dmcmpbll commented on #215
Seems ready for prod, @cedelis
(both issues- 215 and fix for 59).

[2017-12-21 21:42] #89 closed

[2017-12-21 21:42] #146 closed, assigned to cedelis

[2017-12-21 21:42] #215 closed, assigned to cedelis

[2017-12-21 21:42] #240 closed, assigned to nobody

[2017-12-21 21:42] #259 closed, assigned to nobody

[2017-12-21 21:42] #266 closed, assigned to nobody

[2017-12-21 21:42] #279 closed, assigned to cedelis

[2017-12-21 21:44] cedelis commented on #89
@dmcmpbll This was put into prod.

[2017-12-21 22:33] dmcmpbll opened #284 "Add additional preference setting for preferred pick-up library"
Add an additional preference setting to allow patrons to set another I-Share library as their default pick-up library. Some patrons may live closer to another I-Share library than their home library, and may wish to pick up there.

In https://github.com/CARLI/vufind/issues/89#event-1398743049, if the patron's home library has more than one pick-up location, the patron can set their preferred defau

[2017-12-21 23:24] dmcmpbll commented on #258
This persists in VuFind4.
Course Reserves is showing lists with in-active dates.

The status of the items on the list does not determine whether the list shows or not (whether the item is turned ON for reserves or OFF for reserves has no effect). Lists with no items show: https://i-share-test.carli.illinois.edu/vf-mil/Search/Reserves?course=703&submit=Find&inst=&dept=

To navigate to link above:
h

[2017-12-22 21:48] dmcmpbll commented on #4
The cancel requests functionality appears to be working correctly from tests, but it falsely reports that it was successful in canceling requests that it did not cancel.

For the four items below, two are in "In Transit- On Hold" status, and two are in "On Hold" status (aka "Available for Pickup"). These statuses should (and do) prevent the patron from canceling their request in the OPAC.

Both th

[2017-12-22 21:49] dmcmpbll commented on #4
@gibsonjc, please reopen this ticket when you have the chance after the holidays. thanks!

[2018-01-02 15:16] gibsonjc commented on #210
IIT - Is it possible to remove the hamburger menu from the mobile view of the site? It appears that the only thing that touching it does is reveal the login button- maybe it would be easier if that just displayed from the start instead of the hamburger.   RT 96508

[2018-01-02 20:51] gibsonjc commented on #163
LAC - Is there a way to change the new browse feature in the New VuFind from LC to Dewey call numbers for our local collection?   RT 96647

[2018-01-03 14:12] gibsonjc opened #285 "E-Resource links in the holdings record should open in a new tab or window"
EIU - I suggest that eresource links in the holdings record open in a new window in Vufind 4.1. I've been using 4.1 heavily for several days to look at ebooks, and it is difficult to get back to the search after getting several clicks into an ebook.

[2018-01-03 14:25] gibsonjc commented on #285
URL links in the Results list open in a new browser tab, but on a single record page the URL links open in the same browser tab when clicked from:
1) "Online Access" of the bibliographic display
2) "Internet" section
3) Holdings tab

Can we make it so these links on the single record page also open in a new tab instead of the same tab?

Example search with ebooks to see the behavior on the results

[2018-01-03 21:35] dmcmpbll commented on #42
SXU - SXU remains interested in being able to view Voyager's location limit groups in new VuFind. See comments above on June 7, 2017 and June 3, 2016 for additional details. RT 96677

[2018-01-11 19:48] gibsonjc commented on #157
This Issue was closed but I do not see the change on Production so I am reopening it.

On 1/11/2018 the wording is still "You do not have any interlibrary loan requests placed."
On TEST the wording is correct "You do not have any requests placed."

[2018-01-11 19:52] gibsonjc commented on #75
UIC - Ebook format doesn't seem to be as recognizable now. If I look up the title "Eyewitness to Genocide" I see the top two entries are actually eBooks when I click on them. This is not immediately obvious despite the tiny blue boxes that say "book" and "electronic". Ebook format was clearer before. Maybe an icon for eBooks could be returned so users don't try requesting them? RT96877

[2018-01-11 20:03] gibsonjc commented on #260
UIC - Book cover image is not displaying after I request an item (I'm looking at "Requested Items" area and see a broken image symbol. Would it make sense to NOT display book cover images in this area?  RT96877

[2018-01-11 20:05] gibsonjc commented on #156
UIC - We had asked that any instance of "Interlibrary Loan" be removed from I-Share since this can cause confusion among users, especially those who use ILLiad/OCLC. The "Interlibrary Loan" text also still appears in the "Requested Items" area if you don't have any transactions pending. If the text could be wiped out completely  or replaced with "I-Share requests" that would lessen patron confusio

[2018-01-12 21:00] gibsonjc opened #286 "Location name displaying in Pick Up Location dropdown"
UIC - open call 12/15/2017

In WebVoyage and VuFind 0.6, the Pick Up Location name that displays during a request transaction is the Location's "Name" in Voyager Sys Admin.  (See also page 6 of https://www.carli.illinois.edu/sites/files/i-share/documentation/secure/system.pdf)

In New VuFind, the Pick Up Location name that displays during a request transaction is the Location's "OPAC Display Name"

[2018-01-12 21:24] gibsonjc commented on #286
@dmcmpbll   This behavior differs from 0.6 and WebV, but I'm also not sure about this choice of OPAC Display Name.  I'd appreciate your opinion on if we should try to change what New VuFind does (not sure how easy or hard that would be) or recommend that libraries implement OPAC Display Names that are meaningful (when they do choose to use them) because New VuFind is going to use them here.

[2018-01-12 21:49] gibsonjc opened #287 "Trailing punctuation causes multiple results when using Browse Alphabetically with authors/topics"
Author:
![screen shot 2018-01-12 at 3 44 01 pm](https://user-images.githubusercontent.com/17598357/34896598-0017b812-f7b0-11e7-91e9-78abee0ec47a.png)

Topic:
![screen shot 2018-01-12 at 3 45 19 pm](https://user-images.githubusercontent.com/17598357/34896637-1f95929a-f7b0-11e7-9559-cfedc63c9be6.png)

[2018-01-12 21:50] gibsonjc commented on #287
LFC - open call 12/15/2017

[2018-01-16 15:25] gibsonjc opened #288 "Update "repeat search in I-Share" links in WebVoyage"
WIU - Will the "repeat search in I-Share" links in WebVoyage be updated [to New VuFind]?

RT 96897

This link "Repeat search in the I-Share catalog?" appears when you do a search and retrieve zero results.

This also applies to the  "Find copies in other I-Share libraries." link that appears in the holdings area when a local item is unavailable.

[2018-01-16 15:35] gibsonjc commented on #225
@dgree1 Now that the ISSN indexes have been updated in New VuFind to only 022a and 022l (no longer including 440x, 490x, 730x, 773x, 776x, 780x, 785x), can you help with retesting this Issue?  Thanks!

[2018-01-16 16:23] gibsonjc commented on #272
To start, let's enable access to the API for all TEST catalogs (local and uc) to allow people to try it out.

Also remove the EIU production access so that it is consistent for all dbs.

[2018-01-16 17:36] dgree1 commented on #225
Looks fine so far using examples in earlier comments. Will keep testing.

[2018-01-16 17:46] dgree1 commented on #225
Looks good after further testing.

[2018-01-16 18:06] dmcmpbll commented on #286
Background from the CARLI SysAdmin documentation:
- Location Name: This name will display alphabetically in drop-down lists in the Voyager staff clients. Unless you enter an OPAC Display Name, Voyager will also display this name as your OPAC holdings location descriptions. [...] For the Circulation HAPPENING locations... this Location Name will be shown in the OPAC in the list of available pick-up

[2018-01-16 21:09] dmcmpbll commented on #286
Additional thought about the OPAC display name: It is nice to use because for Circ Happening Location Name, our consortial convention is to have libraries enter the name in all caps, so like ".CIRCULATION DESK". Using the OPAC display name would allow libraries to be more deliberate about what the patrons see while being able to keep with the consortial convention for the name, so "Name of Library

[2018-01-16 21:18] gibsonjc commented on #265
We are likely to start customizing displays by bringing them more in line with the VuFind 0.6 displays that we are all used to, though I note that 246 does not currently display in VuFind 0.6. 505 Contents do display in New VuFind the "Table of Contents" tab after "Holdings" and "Description" tab.

[2018-01-17 17:43] dmcmpbll commented on #214
UIU- remains interested in the affects of only offering the Institutional-affilliated login for such-enabled institutions; UIU has ~400 new cards each year where the patron will not have an institutional login account.

[2018-01-18 16:52] dmcmpbll opened #289 "New Items list search functionality enhancement?"
Is there a way to make it more evident that you have to click "Find" before the New Items lists will display?
I assumed clicking the "yesterday", "Past 5 days", "Past 30 days" would do the search for me, rather then also needing to click Find.

Is there a way to either add wording to make it more evident you need to click "Find",
Or to make clicking on the date range the submission?

https://i-sha

[2018-01-18 19:47] gibsonjc commented on #288
Also the "I-Share Catalog" button URL within WebVoyage needs to be updated to the new VuFind URL. (This button sits alongside the "New Search", "Renew Books" etc. row of buttons across the top/bottom of each Webvoyage page).

[2018-01-22 15:05] gibsonjc commented on #77
Let's rename "Date Descending" to "Newest First"
and
rename "Date Ascending" to "Oldest First"
in the **Sort** drop down list on the search results page

![screen shot 2018-01-22 at 9 01 17 am](https://user-images.githubusercontent.com/17598357/35227260-3891aacc-ff53-11e7-95ec-747f590ade5b.png)

[2018-01-22 15:07] gibsonjc commented on #88
Closing this older Issue about slowness in vufind 3 from 2016.

[2018-01-22 15:07] #88 closed

[2018-01-22 15:10] gibsonjc commented on #91
Documentation on the index has been posted on the FAQ at:
https://www.carli.illinois.edu/products-services/i-share/opac/new-vufind-faq#index

Closing this Issue.

[2018-01-22 15:10] #91 closed

[2018-01-22 15:12] gibsonjc commented on #94
An option to include/exclude Govt publications may be possible in future now that we are indexing the 008 byte 28 in the "gpub" solr field.

[2018-01-22 15:20] gibsonjc commented on #123
SFX buttons display in the results list and the single record page.  Closing this older Issue.

[2018-01-22 15:20] #123 closed

[2018-01-22 15:22] gibsonjc commented on #124
NS has been in touch with them to try to get a specification for a data/dataset format, but one has not yet been established.  Changing to Inactive for now.

[2018-01-22 15:28] gibsonjc commented on #138
In addition to the URLs using the type=oclc_num in the previous comment, OCLC numbers can also be searched as "All Fields" in any of these forms to find a record:
(OCoLC)ocm02597226
ocm02597226
02597226

So, OCLC numbers can be searched, there just isn't a specific search type for them in the simple or advanced search dropdowns.  If that is desired, a new Issue will be opened.  Closing this Issue.

[2018-01-22 15:28] #138 closed, assigned to cedelis

[2018-01-22 15:30] gibsonjc commented on #226
In New VuFind (4.1) the "All Fields" solr field "allfields" has been changed to include 010-999 MARC fields including all subfields.  Closing this Issue.

[2018-01-22 15:30] #226 closed, assigned to nobody

[2018-01-22 16:27] gibsonjc commented on #157
Production is showing the correct wording "You do not have any requests placed." today (not sure what I saw before), so I will close this Issue again.  Sorry for false alarm.

[2018-01-22 16:27] #157 closed, assigned to cedelis

[2018-01-22 16:42] gibsonjc commented on #189
Replied to EIU on RT 95628.
Sent email to Michael Norman at UIUC.
Replied to PRC on RT 89872.

Documented availability on TEST at https://www.carli.illinois.edu/products-services/i-share/opac/new-vufind-faq#api

[2018-01-23 15:21] gibsonjc commented on #272
This appears to be working as desired on i-share-test.  It has been documented on the FAQ at:
https://www.carli.illinois.edu/products-services/i-share/opac/new-vufind-faq#api

I'm going to close this Issue but we'll be keeping #189 open.

[2018-01-23 15:21] #272 closed, assigned to nobody

[2018-01-23 16:39] gibsonjc opened #290 "Footer too close to content above"
On several pages, the CARLI footer does not leave any space between the content above it and its dark horizontal line, making the content at the very bottom of the page look very cramped.  This occurs in all local catalog views and all union catalog views.

@eschell Can some space be added before the footer line?

Examples:
https://i-share.carli.illinois.edu/all/vf/Browse/Home
https://i-share.carl

[2018-01-23 16:41] eschell commented on #290
Yes. I'll work on this and try and get it into production sometime this week.

Ed

[2018-01-23 20:17] spicer66 opened #291 "Non-Circ Item is Requestable"
It appears Special Collections items with "Non-Circulating" status are requestable in VuFind4.

Here is an example title for a Special Collections item from UIC:

Children of the settlement houses

https://i-share.carli.illinois.edu/all/vf-uic/Record/279971794

[2018-01-23 21:18] katieediger commented on #291
It could be an issue with the matrix entries. Check out https://github.com/CARLI/vufind/issues/262

We (at IIT) noticed that some of our reserve items were suddenly requestable in VuFind 4 (that weren't requestable in .6). It turned out that we had UB turned on for some roles/ item types in the matrix. It hadn't been a problem in VuFind .6 because if charge/renew and UB were selected for an item t

[2018-01-23 22:04] spicer66 commented on #291
Thanks Katie,

Someone here checked our matrix and reported back:

"Doesn’t seem to be the problem.  NOCIR item type isn’t configured in the matrix and the (all) (all) catch-all entry only has charge/renew checked."

[2018-01-23 22:11] dmcmpbll commented on #291
Hi @spicer66, I just sent an email to Gwen @ UIC- she'd submitted a ticket through support@carli.illinois.edu.
The example item is shelved in a location that falls under the Main Reference Group policy definition's set of matrix entries, rather than those in the Main policy definition.

The issue that @katieediger tagged is the cause for that item. I forwarded Gwen a list of the matrix entries in

[2018-01-24 13:37] gibsonjc commented on #262
ISU - feedback email 7/24/2017

UIC - RT 97184 / #291 (Closed)

[2018-01-24 19:18] gibsonjc commented on #291
Duplicate issue to #262 ; closing.

[2018-01-24 19:18] #291 closed, assigned to nobody

[2018-01-24 19:52] cedelis commented on #170
This is ready for testing

[2018-01-24 20:22] cedelis commented on #167
I'm looking at this issue again.

We still need to somehow enhance the SQL so that it includes EITEM information.

Can someone improve upon it? @tschwitz ? @fellowsgl ? @dmcmpbll ?

The SQL below (which returns no rows) is used in the SFMdb.5976 example:

SELECT
    BIB_ITEM.BIB_ID,
    MFHD_ITEM.MFHD_ID,
    ITEM_BARCODE.ITEM_BARCODE,
    ITEM.ITEM_ID,
    ITEM.ON_RESERVE,
    ITEM.ITEM_SEQUENCE_

[2018-01-24 21:01] dmcmpbll commented on #170
![image](https://user-images.githubusercontent.com/20848151/35356726-dca63be0-0116-11e8-8dd4-6c40dc96f76d.png)

On I-Share-test I did a search for "cat" and then sorted the institutional facet by alphabetical so that I could check the names of IMS and LAC; they had ampersands as anticipated. (https://i-share-test.carli.illinois.edu/all/vf-uiu/Search/Results?lookfor=cat&type=AllFields)

[2018-01-24 21:04] dmcmpbll commented on #170
Making a note that the menu where you select the Pick-Up Library must be populated by different data because in that list, LAC has the word "and" instead of an ampersand.

LAC in pick-up lib list (word "and"):
![image](https://user-images.githubusercontent.com/20848151/35356996-b881d408-0117-11e8-9fbf-bd177a86dded.png)

LAC in the facet list (ampersand):
![image](https://user-images.githubusercont

[2018-01-24 23:22] gibsonjc commented on #170
Yes, this fix is ready for Prod.  (Pick-up Library list problem which I also saw is new Issue which I have made: #292 .)

[2018-01-24 23:25] gibsonjc opened #292 "Ampersand for LAC displaying incorrectly in Pick-up library list"
Ampersand for LAC displaying as incorrectly in Pick-up library list when placing a request:
(Illinois Math & Science Academy is fine though!)

![screen shot 2018-01-24 at 5 23 28 pm](https://user-images.githubusercontent.com/17598357/35362571-7a2746ac-012b-11e8-997a-d66b621b4458.png)

[2018-01-24 23:39] gibsonjc commented on #43
DAC - We were taking a look at the New VuFind interface and noticed that there
doesn't appear to be a Request 1st Available link or button. Is this option
gone for good? Does that mean that requests will no longer be possible by
record, but only by specific copy? I hope not, unless the system also will
send an email if a request is unfilled... RT 97217

[2018-01-25 00:17] gibsonjc commented on #4
@dmcmpbll can you set up a patron record with examples of requested items in states that cannot be canceled but say that they are when you use the cancel function so that @cedelis can troubleshoot?  (Please provide patron info to him via email not on this Issue.)

@cedelis Since this is request-related, should examples be set up on TEST or DEVEL?

[2018-01-25 01:05] cedelis commented on #4
@gibsonjc probably TEST

[2018-01-25 18:42] cedelis commented on #170
In production. Closing Issue.

[2018-01-25 19:57] dmcmpbll commented on #4
I have a new batch of requests set up on TEST.
I will email @cedelis with the patron and item information.

![image](https://user-images.githubusercontent.com/20848151/35409398-b362d272-01d7-11e8-8ed7-d527e97b5d6c.png)

[2018-01-26 15:55] gibsonjc opened #293 "Some requests display as successfully canceled when they are not actually canceled"
[Transferred this conversation from #4 into new Issue]

_Dec. 22, 2017, DMC wrote:_
The cancel requests functionality appears to be working correctly from tests, but **it falsely reports that it was successful in canceling requests that it did not cancel**.

For the four items below, two are in "In Transit- On Hold" status, and two are in "On Hold" status (aka "Available for Pickup"). These status

[2018-01-26 15:58] gibsonjc commented on #4
Transferred the 2017-2018 conversation to new Issue: #293
Re-Closing this one.

[2018-01-26 15:58] #4 closed

[2018-01-29 15:39] cedelis commented on #214
I've put together a proof-of-concept on DEVEL for UIU: https://vufind4-devel.carli.illinois.edu/vf-uiu/

If you click on the "Login" link, you will automatically be taken to the campus site login page (Shibboleth) via some javascript "magic." You might notice the loading of intermediary page as it takes a fraction of a second for the javascript to take you to the landing (campus site) login page.

[2018-01-29 19:26] gibsonjc opened #294 "Preferred Library displaying in Your Account is confusing if you haven't set it yet"
IIT - All of our users have the Galvin circ desk [IIT-Galvin Circulation Desk] as their default pickup location when they [place a request but] haven't selected a pickup location in their profile, which is how it should be.

However, when they open their profile settings the Downtown Campus location [DTC SERVICE DESK] appears to be selected (I believe because it is first on the list).

![screen sh

[2018-01-29 19:31] gibsonjc commented on #294
Ideally, the system default pick-up location [IIT-Galvin Circulation Desk] would be the one displayed when you go into Your Account Profile the first time.  But if it can't be, can the selection be a blank line to show that a Preferred location hasn't been set?

IIT has three locations, and I think Katie @katieediger is right that it's defaulting to show the first alphabetically (based on the OPAC

[2018-01-30 13:47] gibsonjc commented on #95
WHE - In VuFind 0.6, in advanced search, there is the ability to define whether or not to include HathiTrust public domain results in the search. I don’t see that capability in VuFind 4.x and wondered if that is a deliberate choice, if I overlooked something, or if this is in the works? Sorry if I’ve missed a prior communication about it.

[2018-01-30 19:52] gibsonjc commented on #270
LFC - we would like to request as an enhancement that in the basic search screen, for the second drop-down menu, that the "Local Catalog Only" option reflect the selected library's name and/or academic institution's name.

[2018-01-30 20:10] eschell commented on #270
I could add a variable in /themes/carli/templates/search/searchbox.phtml that leave 'Local Catalog Only' as the default but if something else is set in the individual institution theme config.php file it uses that instead.

[2018-02-01 15:18] gibsonjc commented on #270
@eschell Yes, please look into this and lets see if it is sustainable.  This is currently customizable in 0.6: https://www.carli.illinois.edu/products-services/i-share/opac/VuFcustom (number 7)

[2018-02-01 15:20] gibsonjc commented on #290
Fix in production 1/30/2018. Closing.

[2018-02-01 15:20] #290 closed, assigned to nobody

[2018-02-01 16:32] eschell commented on #208
The way this head is set right now we can't isolate the location. But it looks like the head is being manipulated somewhat. Could we go a step further and put a span or spans around the separate parts?

Code for the head now:
[code]

Maybe something like this:
[code]

[2018-02-01 17:49] cedelis commented on #208
@eschell The location is defined in two places:

It is either an a "href":

https://github.com/CARLI/vufind/blob/carli-release-4.1/themes/carli/templates/RecordTab/holdingsils.phtml#L78

or static text:

https://github.com/CARLI/vufind/blob/carli-release-4.1/themes/carli/templates/RecordTab/holdingsils.phtml#L80

Feel free to manipulate these two any way you see fit.

[2018-02-01 20:42] gibsonjc commented on #260
I don't know if we need cover images here or not.  If actual cover images cannot be easily displayed on this screen, I think that's ok, but then let's replace the generic "Cover Image" link with the same blank.gif that displays when there is no cover image in regular results lists.

[2018-02-01 20:53] gibsonjc commented on #277
Let's see if we can duplicate the functionality of VuFind 0.6 where a request displays one of four different statuses rather than a single misleading label "Created" and a changing date.  The date really is only useful to display when the item is available to be picked up to let people know how long they have to go get it.

1. When a request is first placed (or first promoted into a database), sho

[2018-02-01 20:57] gibsonjc commented on #154
@cedelis Is it an option to have the ellipse [...] for longer phrases at the end of the phrase, rather than in the middle?
This example isn't the best for illustrating this, but:
Location: ebrary eBooks [Online for Pr..
might make more sense to patrons than:
Loc: ebrary eBooks ..e Patrons Only]

[2018-02-01 20:59] gibsonjc commented on #239
@cedelis I'm not sure about the status of this Issue.  Is the following possible?

When a bib record exists but has no MFHDs attached, the Holdings tab area should display a general message:

**The catalog cannot display location or copy information at this time. Please ask a library staff member for assistance.**

[2018-02-01 21:47] cedelis commented on #154
Ready for TESTing:

e.g., https://i-share-test.carli.illinois.edu/vf-prc/Record/PRCdb.795300

[2018-02-01 22:39] cedelis commented on #239
Ready for TEST, e.g., https://i-share-test.carli.illinois.edu/all/vf-uiu/Record/UIUdb.638524

[2018-02-02 14:25] slknight commented on #239
Looks good to me

https://i-share.carli.illinois.edu/vf-eiu/Record/EIUdb.1531767
https://i-share.carli.illinois.edu/vf-eiu/Record/EIUdb.1531746

I really like that the form link is in the results display. Nice!

![image](https://user-images.githubusercontent.com/15163837/35737716-1442382e-07f2-11e8-9966-4a852714d6c8.png)

I pulled an on-order report for titles ordered on Jan 24 to find these examp

[2018-02-02 16:12] cedelis commented on #156
Ready for Testing

[2018-02-02 18:40] gibsonjc commented on #239
@slknight I can't promise that that link will always be there as it is now, that's something else, but thanks for looking.

[2018-02-02 18:41] gibsonjc commented on #239
@cedelis Looks goos, this is ready for Prod!

[2018-02-02 18:48] gibsonjc commented on #156
@cedelis Looks good, also ready for Prod!

[2018-02-02 18:49] jenhm commented on #154
@gibsonjc asked me to test this and this is what my text on AT&T looked like for the holding above:

Call#:QL737.P98 W95 2008eb
Loc:ebrary eBooks (Online for Pr..
Elephant

It might be nice to have the Title label on there?

[2018-02-02 18:52] gibsonjc commented on #154
@jenhm thanks for testing!  Thanks for the suggestion, though I think the Title label will just eat up 7 more characters without a lot of added value, so let's leave as is for now.

@cedelis Go ahead and push to production as is, thanks!

[2018-02-02 20:16] cedelis commented on #239
In production

[2018-02-02 20:16] #239 closed, assigned to nobody

[2018-02-02 20:17] cedelis commented on #156
In production

[2018-02-02 20:17] #156 closed, assigned to nobody

[2018-02-02 20:17] cedelis commented on #154
In production

[2018-02-02 20:17] #154 closed, assigned to nobody

[2018-02-05 16:54] cedelis commented on #260
Ready for Testing.

Our ILS driver, VoyagerRestful, never returns the bib ID in the getMyILLRequests() routine.
Therefore we should never attempt to show a cover image (since it will always fail).

[2018-02-05 18:27] cedelis commented on #214
Ready for Testing.

[2018-02-06 16:43] cedelis commented on #214
Shibboleth library example on TEST: https://i-share-test.carli.illinois.edu/vf-uiu/MyResearch/UserLogin?auth_method=ILS

[2018-02-07 02:35] dmcmpbll commented on #214
I tested the link above as myself, and as a "LOCAL LOPRV" patron for UIU-test.

For myself, I was able to log in both with my campus credentials, and/or my barcode/name.
For the LOCAL LOPRV patron, I could log in with their barcode/name (since they have no credentials).

It seemed to work great!

We may want to work a little on the wording on the screen to make it it more evident that these are bo

[2018-02-07 02:57] dmcmpbll commented on #260
The test is on test, correct?

If so, it looks good. The cover image placeholder is not displaying in my requested items list.

![image](https://user-images.githubusercontent.com/20848151/35896119-522979d6-0b80-11e8-832a-3d2cd536fa02.png)